@include export-module('inplaceeditor-highcontrast-dark-icons') {

  /*! inplaceeditor icons */
  .e-inplaceeditor,
  .e-inplaceeditor-tip {

    .e-save-icon::before {
      content: '\e614';
    }

    .e-cancel-icon::before {
      content: '\ebe8';
    }

    .e-editable-overlay-icon::before {
      content: '\e97c';
    }
  }
}
