@import 'definition.scss';

$btn-border-color: $border-fg;
$btn-color: $content-font;
$btn-bgcolor: $bg-base-0;
$btn-hover-bgcolor: $hover-bg;
$btn-hover-color: $hover-font;
$btn-hover-border-color: $hover-border;
$btn-focus-border-color: $border-fg;
$btn-focus-bgcolor: $btn-bgcolor;
$btn-focus-color: $content-font;
$btn-active-border-color: $selection-bg;
$btn-active-bgcolor: $selection-bg;
$btn-active-color: $selection-font;
$btn-disabled-color: $disable;
$btn-disabled-bgcolor: $btn-bgcolor;
$btn-disabled-border-color: $disable;
$btn-primary-color: $selection-font;
$btn-primary-hover-color: $hover-font;
$btn-primary-focus-color: $selection-font;
$btn-primary-focus-bgcolor: $selection-bg;
$btn-primary-active-color:  $selection-font;
$btn-primary-bgcolor: $selection-bg;
$btn-primary-hover-bgcolor: $hover-bg;
$btn-primary-active-bgcolor: $selection-bg;
$btn-primary-border-color: $selection-bg;
$btn-primary-hover-border-color: $hover-border;
$btn-primary-focus-border-color: $selection-bg;
$btn-primary-active-border-color: $selection-bg;
$btn-primary-disabled-bgcolor: $btn-bgcolor;
$btn-primary-disabled-color: $disable;
$btn-primary-disabled-border-color: $disable;
$btn-flat-color: $btn-color;
$btn-flat-bgcolor: $btn-bgcolor;
$btn-flat-border-color: $btn-bgcolor;
$btn-flat-hover-bgcolor: $hover-bg;
$btn-flat-hover-color: $hover-font;
$btn-flat-focus-color: $btn-focus-color;
$btn-flat-focus-bgcolor: $btn-bgcolor;
$btn-flat-active-color: $selection-font;
$btn-flat-active-bgcolor: $selection-bg;
$btn-flat-active-border-color: $selection-bg;
$btn-flat-active-box-shadow: $btn-flat-box-shadow;
$btn-flat-primary-disabled-color: $disable;
$btn-flat-disabled-border-color: $btn-bgcolor;
$btn-round-bgcolor: $btn-bgcolor;
$btn-round-color: $content-font;
$btn-round-border-color: $btn-border-color;
$btn-round-hover-bgcolor: $hover-bg;
$btn-round-hover-border-color: $hover-border;
$btn-round-hover-color: $hover-font;
$btn-round-focus-color: $content-font;
$btn-round-active-color: $selection-font;
$btn-round-height: 36px;
$btn-round-width: 36px;
$btn-round-bigger-height: 46px;
$btn-round-bigger-width: 46px;
$btn-round-font-size: 16px;
$btn-small-round-font-size: 14px;
$btn-bigger-round-font-size: 20px;
$btn-bigger-small-round-font-size: 18px;
$btn-round-icon-line-height: 26px;
$btn-small-round-icon-line-height: 16px;
$btn-outline-bgcolor: $btn-bgcolor;
$btn-outline-color: $content-font;
$btn-outline-hover-bgcolor: $hover-bg;
$btn-outline-hover-color: $content-font;
$btn-outline-hover-border-color: $hover-border;
$btn-outline-focus-bgcolor: $btn-bgcolor;
$btn-outline-focus-color: $content-font;
$btn-outline-active-color: $selection-font;
$btn-outline-active-bgcolor: $selection-bg;
$btn-outline-active-border-color: $selection-bg;
$btn-outline-border-color: $btn-border-color;
$btn-outline-primary-disabled-color: $btn-disabled-color;
$btn-outline-success-disabled-color: $btn-disabled-color;
$btn-outline-info-disabled-color: $btn-disabled-color;
$btn-outline-warning-disabled-color: $btn-disabled-color;
$btn-outline-danger-disabled-color: $btn-disabled-color;
$btn-outline-primary-disabled-border-color: $btn-disabled-border-color;
$btn-outline-success-disabled-border-color: $btn-disabled-border-color;
$btn-outline-info-disabled-border-color: $btn-disabled-border-color;
$btn-outline-warning-disabled-border-color: $btn-disabled-border-color;
$btn-outline-danger-disabled-border-color: $btn-disabled-border-color;
$btn-outline-active-box-shadow: $btn-flat-box-shadow;
$btn-outline-hover-border-color: $btn-outline-border-color;
$btn-outline-focus-border-color: $selection-bg;
$btn-outline-active-border-color: $selection-bg;
$btn-outline-primary-hover-border-color: $btn-outline-border-color;
$btn-outline-primary-focus-border-color: $selection-bg;
$btn-outline-primary-active-border-color: $selection-bg;
$btn-outline-default-focus-border-color: $content-font;
$btn-danger-bgcolor: $error-bg;
$btn-danger-color: $content-font;
$btn-danger-hover-bgcolor: $error-bg;
$btn-danger-hover-color: $content-font;
$btn-danger-hover-border-color: $hover-border;
$btn-danger-focus-bgcolor: $btn-danger-hover-bgcolor;
$btn-danger-active-bgcolor: $content-font;
$btn-danger-active-color: $error-bg;
$btn-danger-border-color: $btn-danger-bgcolor;
$btn-danger-focus-border-color: $error-bg;
$btn-danger-active-border-color: $content-font;
$btn-flat-danger-active-bgcolor: $btn-danger-active-bgcolor;
$btn-flat-danger-color: $btn-danger-color;
$btn-flat-danger-bgcolor: $btn-danger-bgcolor;
$btn-flat-danger-hover-color: $btn-danger-hover-color;
$btn-flat-danger-focus-color:  $btn-danger-color;
$btn-flat-danger-focus-bgcolor: $btn-danger-bgcolor;
$btn-flat-danger-active-color: $error-bg;
$btn-flat-danger-hover-border-color: $btn-danger-bgcolor;
$btn-flat-danger-focus-border-color: $btn-danger-bgcolor;
$btn-flat-danger-active-border-color: $content-font;
$btn-flat-danger-hover-bgcolor: $btn-danger-hover-bgcolor;
$btn-flat-danger-active-bgcolor: $btn-danger-active-bgcolor;
$btn-danger-disabled-bgcolor: $btn-disabled-bgcolor;
$btn-danger-disabled-color: $btn-disabled-color;
$btn-danger-disabled-border-color: $btn-disabled-border-color;
$btn-success-bgcolor: $success-bg;
$btn-success-color: $content-font;
$btn-success-hover-bgcolor: $success-bg;
$btn-success-hover-color: $content-font;
$btn-success-focus-bgcolor: $btn-success-hover-bgcolor;
$btn-success-focus-color: $btn-success-color;
$btn-success-active-bgcolor: $content-font;
$btn-success-active-color: $btn-success-bgcolor;
$btn-success-border-color: $btn-success-bgcolor;
$btn-success-hover-border-color: $hover-border;
$btn-success-focus-border-color: $success-bg;
$btn-success-active-border-color: $content-font;
$btn-flat-success-active-bgcolor: $btn-success-active-bgcolor;
$btn-flat-success-color:  $btn-success-color;
$btn-flat-success-hover-color:  $btn-success-hover-color;
$btn-flat-success-focus-color: $btn-success-hover-color;
$btn-flat-success-active-color: $btn-success-active-color;
$btn-success-disabled-bgcolor: $btn-disabled-bgcolor;
$btn-success-disabled-color: $btn-disabled-color;
$btn-success-disabled-border-color: $btn-disabled-border-color;
$btn-flat-success-hover-bgcolor: $btn-success-hover-bgcolor;
$btn-flat-success-disabled-color: $btn-disabled-color;
$btn-outline-success-disabled-color: $btn-disabled-color;
$btn-outline-success-disabled-border-color: $btn-disabled-border-color;
$btn-flat-success-bgcolor: $btn-success-bgcolor;
$btn-flat-success-focus-bgcolor: $btn-success-hover-bgcolor;
$btn-flat-success-border-color: $btn-success-border-color;
$btn-flat-success-hover-border-color: $btn-success-bgcolor;
$btn-flat-success-active-border-color: $btn-success-color;
$btn-flat-success-focus-border-color: $btn-success-bgcolor;
$btn-flat-success-disabled-border-color: $btn-success-disabled-border-color;
$btn-warning-bgcolor: $alert-bg;
$btn-warning-color: $content-font;
$btn-warning-border-color: $btn-warning-bgcolor;
$btn-warning-hover-bgcolor: $btn-warning-bgcolor;
$btn-warning-hover-border-color: $hover-border;
$btn-warning-hover-color: $btn-warning-color;
$btn-warning-focus-bgcolor: $btn-warning-hover-bgcolor;
$btn-warning-focus-color: $content-font;
$btn-warning-focus-border-color: $alert-bg;
$btn-warning-active-bgcolor: $content-font;
$btn-warning-active-border-color: $content-font;
$btn-warning-active-color: $alert-bg;
$btn-warning-disabled-bgcolor: $btn-disabled-bgcolor;
$btn-warning-disabled-color: $btn-disabled-color;
$btn-warning-disabled-border-color: $btn-disabled-border-color;
$btn-flat-warning-active-bgcolor: $btn-warning-active-bgcolor;
$btn-flat-warning-color:  $btn-warning-color;
$btn-flat-warning-hover-color:  $btn-warning-hover-color;
$btn-flat-warning-focus-color: $btn-warning-hover-color;
$btn-flat-warning-active-color: $btn-warning-bgcolor;
$btn-flat-warning-hover-bgcolor: $btn-warning-hover-bgcolor;
$btn-flat-warning-disabled-color: $btn-disabled-color;
$btn-outline-warning-disabled-color: $btn-disabled-color;
$btn-outline-warning-disabled-border-color: $btn-disabled-border-color;
$btn-flat-warning-bgcolor: $btn-warning-bgcolor;
$btn-flat-warning-focus-bgcolor: $btn-warning-hover-bgcolor;
$btn-flat-warning-border-color: $btn-warning-border-color;
$btn-flat-warning-hover-border-color: $btn-warning-border-color;
$btn-flat-warning-active-border-color: $btn-warning-active-border-color;
$btn-flat-warning-focus-border-color: $btn-warning-border-color;
$btn-flat-warning-disabled-border-color: $btn-warning-disabled-border-color;
$btn-info-bgcolor: $info-bg;
$btn-info-color: $content-font;
$btn-info-border-color: $btn-info-bgcolor;
$btn-info-hover-bgcolor: $btn-info-bgcolor;
$btn-info-hover-border-color: $hover-border;
$btn-info-hover-color: $btn-info-color;
$btn-info-focus-bgcolor: $btn-info-hover-bgcolor;
$btn-info-focus-border-color: $info-bg;
$btn-info-focus-color: $btn-info-hover-color;
$btn-info-active-bgcolor: $content-font;
$btn-info-active-border-color: $content-font;
$btn-info-active-color: $btn-info-bgcolor;
$btn-info-disabled-bgcolor: $btn-disabled-bgcolor;
$btn-info-disabled-color: $btn-disabled-color;
$btn-info-disabled-border-color: $btn-disabled-border-color;
$btn-flat-info-active-bgcolor: $btn-info-active-bgcolor;
$btn-flat-info-color:  $btn-info-color;
$btn-flat-info-hover-color: $btn-info-hover-color;
$btn-flat-info-focus-color: $btn-info-hover-color;
$btn-flat-info-active-color: $btn-info-active-color;
$btn-flat-info-hover-bgcolor: $btn-info-hover-bgcolor;
$btn-flat-info-disabled-border-color: $btn-info-disabled-border-color;
$btn-flat-info-disabled-color: $btn-disabled-color;
$btn-outline-info-disabled-color: $btn-disabled-color;
$btn-outline-info-disabled-border-color: $btn-disabled-border-color;
$btn-flat-info-bgcolor: $btn-info-bgcolor;
$btn-flat-info-focus-bgcolor: $btn-info-hover-bgcolor;
$btn-flat-info-border-color: $btn-info-border-color;
$btn-flat-info-hover-border-color: $btn-info-bgcolor;
$btn-flat-info-active-border-color: $btn-info-active-border-color;
$btn-flat-info-focus-border-color: $btn-info-bgcolor;
$btn-flat-primary-bgcolor: $btn-primary-bgcolor;
$btn-flat-primary-border-color: $btn-primary-border-color;
$btn-flat-primary-color: $btn-primary-color;
$btn-flat-primary-hover-bgcolor: $btn-primary-hover-bgcolor;
$btn-flat-primary-hover-border-color: $btn-primary-hover-bgcolor;
$btn-flat-primary-hover-color: $btn-primary-hover-color;
$btn-flat-primary-focus-color: $btn-primary-color;
$btn-flat-primary-focus-border-color: $btn-primary-bgcolor;
$btn-flat-primary-focus-bgcolor: $btn-flat-primary-bgcolor;
$btn-flat-primary-active-bgcolor: $btn-primary-active-bgcolor;
$btn-flat-primary-active-border-color: $btn-primary-active-bgcolor;
$btn-flat-primary-active-color: $btn-primary-active-color;
$btn-flat-focus-border-color: $btn-bgcolor;
$focus-outline: $border-fg 1px solid;
$focus-outline-round: none;
$focus-outline-offset: 2px;
$active-outline: $border-fg 0 solid;
$active-outline-offset: 0;
$btn-font-weight: 600;
$btn-font-size: 14px;
$btn-small-font-size: 12px;
$btn-bigger-font-size: 16px;
$btn-bigger-small-font-size: $btn-bigger-font-size;
$btn-icon-font-size: $btn-font-size;
$btn-small-icon-font-size: 11px;
$btn-bigger-icon-font-size: $btn-bigger-font-size;
$btn-bigger-small-icon-font-size: 15px;
$btn-border-radius: 0;
$btn-text-transform: none;
$btn-padding: 2px 20px;
$btn-small-padding: 3px 16px;
$btn-bigger-padding: 3px 24px;
$btn-bigger-small-padding: 1px 22px;
$btn-icon-padding: 2px 8px;
$btn-small-icon-padding: 3px 6px;
$btn-bigger-icon-padding: 3px 11px;
$btn-bigger-small-icon-padding: 1px 9px;
$top-icon-btn-padding: 8px 20px;
$top-icon-bigger-btn-padding: 10px 24px;
$icon-top-bottom-padding: 8px;
$small-icon-top-bottom-padding: 6px;
$bigger-icon-top-bottom-padding: 10px;
$btn-box-shadow: none;
$btn-hover-focus-box-shadow: none;
$btn-round-height: 2.57143em;
$btn-round-width: 2.57143em;
$btn-round-bigger-height: 2.875em;
$btn-round-bigger-width: 2.875em;
$btn-round-small-height: 2.5em;
$btn-round-small-width: 2.5em;
$btn-round-bigger-small-height: 2.5em;
$btn-round-bigger-small-width: 2.5em;
$btn-round-font-size: 16px;
$btn-small-round-font-size: 14px;
$btn-bigger-round-font-size: 20px;
$btn-bigger-small-round-font-size: 18px;
$btn-icon-margin-top: -3px;
$btn-icon-margin: -.5714em;
$btn-small-icon-margin: -.7273em;
$btn-bigger-icon-margin: -.688em;
$btn-bigger-small-icon-margin: -.5334em;
$btn-icon-width: 1.929em;
$btn-small-icon-width: 2.182em;
$btn-bigger-icon-width: 2.25em;
$btn-bigger-small-icon-width: 2.1334em;
$icon-btn-width: 1em;
$icon-small-btn-width: .91em;
$icon-bigger-btn-width: 1em;
$icon-bigger-small-btn-width: 1.0667em;
$btn-round-icon-line-height: 2.125em;
$btn-small-round-icon-line-height: 2em;
$btn-bigger-round-icon-line-height: 2.2em;
$btn-bigger-small-round-icon-line-height: 2.11111em;
$btn-text-line-height: 1.8572em;
$btn-bigger-text-line-height: 2em;
$btn-small-text-line-height: 1.5em;
$btn-bigger-small-text-line-height: 2em;
$primary-outline: $selection-bg 1px solid;
$btn-link-color: #8a8aff;
$btn-link-hover-color: #8a8aff;
$btn-outline-primary-color: $btn-primary-bgcolor;
