$image-editor-border: 1px solid $gray-900 !default;
$image-editor-background: $gray-900 !default;
$image-editor-toolbar-icon-color: $icon-color;
$img-editor-cp-preview-border-bottom-color: $black !default;
$image-editor-icon-sel-bg-color: $gray-900 !default;
$image-editor-ddbtn-margin-top: 0 !default;
$image-editor-tbar-height: 38px !default;
$image-editor-bigger-tbar-height: 48px !default;
$image-editor-tbar-btn-fontsize: 14px !default;
$image-editor-bigger-tbar-btn-fontsize: 16px !default;
