$de-title-bar-bg-clr: $primary !default;
$de-title-bar-font-clr: $grey-white !default;
$de-ctnr-bg-clr: $grey-50 !default;
$de-ctnr-height: calc(100%) !default;
$de-ctnr-tlbr-height: 77px !default;
$de-ctnr-tlbt-height-big: 82px !default;
$de-tlbr-margin-first: 12px !default;
$de-tlbr-margin-first-big: 16px !default;
$de-tlbr-margin-right: 6px !default;
$de-tlbr-margin-right-big: 8px !default;
$de-ctrnr-tblr-separator-margin: 0 5.5px  !default;
$de-ctrnr-tblr-separator-margin-big: 0 7.5px  !default;
$de-ctnr-margin-bottom: 12px !default;
$de-ctnr-margin-bottom-big: 16px !default;
$de-ctnr-tlbr-width: calc(100% - 75px) !default;
$de-spellcheck-tlbr-width: 91px !default;
$de-spellcheck-tlbr-width-big: 110px !default;
$de-spellcheck-tlbr-height: 34px !default;
$de-spellcheck-tlbr-margin-left: 7.5px !default;
$de-zoom-tlbr-margin-left: calc(100% - 362px) !default;
$de-zoom-tlbr-margin-left-big: calc(100% - 395px) !default;
$e-de-statusbar-separator-color: #ebebeb;
// Subtract toolbar & statusbar height
$de-tool-ctnr-editor-height: calc(100% - 115px) !default;
$de-tool-ctnr-editor-height-big: calc(100% - 122px) !default;
// Subtract statusbar height
$de-ctnr-editor-height: calc(100% - 40px) !default;
$de-ctnr-editor-height-big: calc(100% - 40px) !default;
$de-ctrnr-tblr-item-padding: 0 !default;
$de-ctrnr-tblr-item-margin: 0 6.5px  !default;
$de-ctrnr-tblr-item-margin-big: 0 6px  !default;
$de-group-btn-hgt: 28px !default;
$de-group-btn-hgt-big: 36px !default;
$de-prpty-btn-bg-clr: $grey-50 !default;
$de-panel-header-size: 12px !default;
$de-panel-header-color: rgba(0, 0, 0, .54) !default;
$de-header-line-color: 1px solid $grey-200 !default;
$de-panel-sub-label-color: $grey-light-font !default;
$de-group-btn-hgt: 28px !default;
$de-toc-template-content1: 78px !default;
$de-toc-template-content2: 63px !default;
$de-toc-template-content3: 55px !default;
$de-img-span-top: 6px !default;
$de-img-span-left: 8px !default;
$de-toggle-bg-color: rgba(184, 184, 184, .9584) !default;
$de-toggle-border-clr: transparent !default;
$de-toggle-btn-outline: $grey-50 0 solid !default;
$de-toggle-btn-border: none !default;
$de-panel-border: $grey-200 !default;
$de-panel-btn-bg-clr: #eee !default;
$de-page-no-width: 100px !default;
$de-page-no-width-spellout: calc(100% - 140px) !default;
$de-page-no-width-spellout-big: calc(100% - 160px) !default;
$de-font-color: $grey-light-font !default;
$de-hover-clr:  1px solid #ff8c00 !default;
$de-hover-bg: #d3d3d3 !default;
$de-pane-separator: #e0e0e0 !default;
$de-ctnr-status-bar-hgt: 36px !default;
$de-border-size-button-height-bg: 36px !default;
$de-border-size-button-width-bg: 96px !default;
$de-border-size-button-height: 28px !default;
$de-border-size-button-width: 100px !default;
$de-list-hover-bg: rgba($grey-black, .12) !default;
$de-pane-margin-right: 12px;
$de-pane-margin-right-big: $de-pane-margin-right;
$de-left-panel-width: 150px;
$de-right-panel-width: 72px;
$de-left-panel-width-big: $de-left-panel-width;
$de-text-pane-width: 262px;
$de-text-pane-width-big: 270px;
$de-left-btn-width: 154px / 4;
$de-right-btn-width: $de-right-panel-width / 2;
$de-left-btn-width-big: $de-left-btn-width;
$de-img-span-top-big: 12px;
$de-bullet-icon-font-size: 29px;
$de-bullet-icon-line-height: 26px;
$de-list-button-margin-right: 0;
$de-list-button-margin-right-bigger: 0;
$de-ctnr-padding: 12px;
$de-pageweb-toggle-color: rgba(0, 0, 0, .12) !default;
$de-pageweb-toggle-outline: #fafafa 0 solid !default;
$de-layout-btn-font-size: 14px;
$de-layout-btn-bgr-font-size: 14px;
$de-pagenumber-text-border-radius: 2px;
$de-pagenumber-text-margin-top: -2px;
$e-de-pagenumber-input-margin-left: -3px;
$e-de-ctnr-pg-no-spellout-padd-top: 8px;
$e-de-pagenumber-bg: $grey-white;
$e-de-status-bar-padding-top: 2.5px;
$e-de-status-bar-big-padding-top: 3.5px;
$e-de-review-pane-width: 400px;
$e-de-ctnr-linespacing-tick-icon: 11px;
