$de-title-bar-bg-clr: $primary !default;
$de-title-bar-font-clr: $primary-text-color !default;
$de-ctnr-bg-clr: $content-bg-color-alt2 !default;
$de-ctnr-prop-bg-clr: $content-bg-color-alt1 !default;
$de-ctnr-height: calc(100%) !default;
$de-ctnr-tlbr-height: 75px !default;
$de-ctnr-tlbt-height-big: 81px !default;
$de-tlbr-margin-first: 8px !default;
$de-tlbr-margin-first-big: 12px !default;
$de-tlbr-margin-right: 8px !default;
$de-tlbr-margin-right-big: 12px !default;
$de-ctrnr-tblr-separator-margin: 0 8px  !default;
$de-ctrnr-tblr-separator-margin-big: 0 12px  !default;
$de-ctnr-margin-bottom: 8px !default;
$de-ctnr-margin-bottom-big: 16px !default;
$de-group-btn-hgt: 31px !default;
$de-group-btn-hgt-big: 38px !default;
$de-ctnr-tlbr-width: calc(100% - 75px) !default;
$de-spellcheck-tlbr-width: 106px !default;
$de-spellcheck-tlbr-width-big: 145px !default;
$de-spellcheck-tlbr-height: 34px !default;
$de-spellcheck-tlbr-margin-left: 7.5px !default;
$de-zoom-tlbr-margin-left: calc(100% - 380px) !default;
$de-zoom-tlbr-margin-left-big: calc(100% - 435px) !default;
$e-de-statusbar-separator-color: $border-light;
// Subtract toolbar & statusbar height
$de-tool-ctnr-editor-height: calc(100% - 115px) !default;
$de-tool-ctnr-editor-height-big: calc(100% - 126px) !default;
// Subtract statusbar height
$de-ctnr-editor-height: calc(100% - 38px) !default;
$de-ctnr-editor-height-big: calc(100% - 38px) !default;
$de-ctrnr-tblr-item-padding: 0 !default;
$de-ctrnr-tblr-item-margin: 0 6.5px  !default;
$de-ctrnr-tblr-item-margin-big: 0 6px  !default;
$de-prpty-btn-bg-clr: $content-bg-color-alt2 !default;
$de-prop-pane-margin: 16px;
$de-panel-header-size: $text-sm !default;
$de-panel-header-color: $content-text-color-alt2 !default;
$de-panel-sub-label-color: $content-text-color-alt1 !default;
$de-header-line-color: 1px solid $border-light !default;
$de-table-prop-border-margin: 8px;
$de-toc-template-content1: 83px !default;
$de-toc-template-content2: 68px !default;
$de-toc-template-content3: 60px !default;
$de-img-span-top: 8px !default;
$de-img-span-left: 12px !default;
$de-toggle-bg-color: $content-bg-color-alt3 !default;
$de-toggle-btn-outline: none !default;
$de-toggle-btn-border: none !default;
$de-panel-border: $border-light !default;
$de-page-no-width: 110px !default;
$de-page-no-width-spellout: calc(100% - 152px) !default;
$de-page-no-width-spellout-big: calc(100% - 168px) !default;
$de-font-color: $content-text-color-alt2 !default;
$de-hover-clr:  1px solid #ff8c00 !default;
$de-hover-bg: #d3d3d3 !default;
$de-pane-separator: $border-light !default;
$de-ctnr-status-bar-hgt: 36px !default;
$de-border-size-button-height-bg: 38px !default;
$de-border-size-button-width-bg: 95px !default;
$de-border-size-button-height: 31px !default;
$de-border-size-button-width: 99px !default;
$de-list-hover-bg: $primary !default;
$de-pane-margin-right: 8px;
$de-pane-margin-right-big: 16px;
$de-left-panel-width: 151px;
$de-left-panel-width-big: 153px;
$de-right-panel-width: 73px;
$de-text-pane-width: 260px;
$de-text-pane-width-big: 290px;
$de-left-btn-width: 38.75px;
$de-left-btn-width-big: 155px / 4;
$de-right-btn-width: 75px / 2;
$de-img-span-top-big: 14px;
$de-bullet-icon-font-size: $text-xs;
$de-bullet-icon-line-height: 0;
$de-prop-btn-icon-clr: $icon-color;
$de-prop-btn-border-color: $secondary-border-color;
$de-prop-btn-bg-color: $secondary-bg-color;
$de-toggle-btn-color: $icon-color;
$de-list-button-margin-right: 8px;
$de-list-button-margin-right-bigger: 16px;
$de-text-pane-style-width: 235px;
$de-btn-font-size: $text-sm;
$de-btn-font-size-bigger: $text-base;
$de-toolbar-icon-clr: $icon-color;
$de-clr-picker-border-clr: $border;
$de-ctnr-padding: 12px;
$de-clr-pckr-width: 43px;
$de-pageweb-toggle-color: $content-bg-color-alt3 !default;
$de-pageweb-toggle-outline: $white 0 solid !default;
$de-prop-style-padding: 8px;
$de-prop-div-padding-top: 12px;
$de-prop-div-padding-bottom: 12px;
$de-layout-btn-font-size: $text-sm;
$de-layout-btn-bgr-font-size: $text-base;
$de-pagenumber-text-border-radius: 2px;
$de-pagenumber-text-margin-top: -3px;
$e-de-pagenumber-input-margin-left: -2px;
$e-de-ctnr-pg-no-spellout-padd-top: 8px;
$e-de-ctnr-pg-no-spellout-padd-top-big: 8px;
$e-de-pagenumber-bg: $content-bg-color;
$e-de-status-bar-padding-top: 3.5px;
$e-de-status-bar-big-padding-top: 6px;
$e-de-review-pane-width: 440px;
$e-de-ctnr-linespacing-tick-icon: 8px;
$e-de-bzr-button-border-color: #fff;
$e-de-bzr-button-font-color: #fff;
$e-de-bzr-button-bg-color: #374151;
$e-de-bzr-button-hover-bg-color: #4b5563;
$e-de-bzr-button-hover-border: none;
$e-de-bzr-button-hover-border-radius: 4px;
$e-de-bzr-button-hover-font-color: #fff;
$e-de-bzr-button-active-font-color: #fff;
$e-de-bzr-button-active-bg-color: #545b62;
$e-de-bzr-button-active-border-color: #4e555b;
$e-de-bzr-btn-font-size: 18px;
$e-de-bzr-btn-font-size-big: 18px;
$de-toolbar-font-size: $text-sm;
$de-toolbar-padding-bottom: 14px;
$de-toolbar-padding-bottom-bg: 14px;
$de-header-font-weight: $font-weight-medium;
$de-list-thmbnail-border-clr: $border-light;
$de-prop-sub-label-mrgn-btm: 4px;
$de-hdr-ftr-frst-div-mrgn-btm: 12px;
$de-hdr-ftr-top-div-mrgn-btm: 12px;
$de-ctnr-pg-no-spellout-fnt-size: $text-xs;
$de-ctnr-pg-no-spellout-fnt-size-bg: $text-sm;
$de-status-br-lbl-fnt-weight: $font-weight-medium;
$de-status-br-left: 0 !default;
$de-status-br-top: 6px !default;
$de-white-color: #fff !default;
$de-black-color: #000 !default;
