@include export-module('radiobutton-theme') {
  /*! radiobutton theme */

  #{&}.e-radio {
    +label {
      &::before {
        background-color: $background-color;
        border-color: $border-color;
      }

      &.e-focus {
        & .e-ripple-container {
          background-color: $focus-ripple-bgcolor;
        }
      }

      & .e-label {
        color: $font-color;
      }

      & .e-ripple-element {
        background-color: $checked-ripple-bgcolor;
      }

      &:active {
        & .e-ripple-element {
          background-color: $ripple-bgcolor;
        }
      }
    }

    &:focus {
      +label {
        &::before {
          border-color: $hover-border-color;
          box-shadow: $focussed-box-shadow;
        }
      }
    }

    &:hover {
      +label {
        &::before {
          border-color: $hover-border-color;
        }
      }
    }

    &:checked {
      +label {
        &::before {
          border-color: $checked-border-color;
        }

        &::after {
          background-color: $checked-color;
          color: $checked-color;
        }

        &:active {
          & .e-ripple-element {
            background-color: $checked-ripple-bgcolor;
          }
        }
      }

      +.e-focus {
        & .e-ripple-container {
          background-color: $checked-ripple-bgcolor;
        }

        &::before {
          outline: $focus-outline;
          outline-offset: $focus-outline-offset;
        }
      }
    }

    &:checked {
      &:focus {
        +label {
          &::before {
            border-color: $focus-check-border-color;
          }

          &::after {
            background-color: $focus-check-bg-color;
          }
        }
      }

      +label {
        &:hover {
          &::before {
            border-color: $hover-check-border-color;
          }

          &::after {
            background-color: $hover-check-bg-color;
          }
        }
      }
    }

    &:disabled {
      +label {
        cursor: default;
        pointer-events: none;

        &::before {
          border-color: $disabled-border-color;
          cursor: default;
        }

        & .e-ripple-container {
          background-color: transparent;

          &::after {
            background-color: transparent;
            cursor: default;
          }
        }

        & .e-label {
          color: $disabled-color;
        }
      }

      &:checked {
        +label {
          &::after {
            background-color: $disabled-checked-color;
            border-color: $disabled-checked-color;
            cursor: default;
          }

          & .e-ripple-container {
            background-color: transparent;

            &::after {
              background-color: transparent;
            }
          }
        }
      }
    }
  }
}
