$tbar-skin: 'tailwind' !default;
$border-size: 0;
$border-type: solid;
$tbar-icons-bgr-font-size: $text-xl;
$tbar-separator-bgr-mrgn: 8px 4px;
$tbar-separator-vertical-bgr-mrgn: 5px 10px;
$tbar-radius: 0;
$tbar-separator-nrml-mrgn: 7px 3px;
$tbar-pop-radius: 4px;
$tbar-separator-vertical-nrml-mrgn: 3px 7px;
$tbar-border-size: $border-size;
$tbar-separator-border-type: $border-type;
$tbar-pop-box-shadow: $shadow-lg;
$tbar-hover-border-color: $icon-color;
$tbar-pressed-border: $tbar-hover-border-color;
$tbar-btn-bgr-line-height: 24px !default;
$tbar-zero-value: 0 !default;
$tbar-btn-nrml-line-height: 22px !default;
$tbar-btn-weight: $font-weight-normal !default;
$tbar-border-radius: 4px !default;
$tbar-tab-highlight-color:  rgba(0, 0, 0, 0) !default;
$tbar-border-nav-type: solid !default;
$tbar-btn-box-shadow: none !default;

$tbar-default-bg: $content-bg-color-alt2 !default;
$tbar-default-font: $content-text-color !default;
$tbar-active-bg: $content-bg-color-alt3 !default;
$tbar-active-icon-color: $icon-color !default;
$tbar-btn-family: $font-family !default;
$tbar-press-bg: $content-bg-color-alt2 !default;
$tbar-press-border-color: $border-light !default;
$tbar-hover-bg:  $content-bg-color-alt3 !default;
$tbar-hover-font: $content-text-color-alt2 !default;
$tbar-default-icon-color: $icon-color !default;
$tbar-pressed-bg: $content-bg-color-alt2 !default;
$tbar-pressed-font: $content-text-color-alt2 !default;
$tbar-select-font: $content-text-color-alt2 !default;
$tbar-default-font-overlay: $content-text-color-alt2 !default;
$tbar-default-icon-overlay: $content-text-color-alt2 !default;
$tbar-separator-border: $border-light !default;
$tbar-default-border: $border-light !default;
$tbar-hover-border-color: $icon-color !default;
$tbar-focus-border-color: $tbar-hover-border-color !default;
$tbar-focus-bg: $tbar-hover-bg !default;
$tbar-press-font: $content-text-color-alt2 !default;

$tbar-active-font-color: $tbar-press-font !default;
$tbar-border-nav-type: $border-light !default;
$tbar-border-nav-active-type: $border-light !default;
$tbar-btn-border: none !default;

$tbar-box-shadow: none !default;
$tbar-border-type: $border-type !default;
$tbar-separator-size: 1px !default;
$tba-horizontal-separator: 0 $tbar-separator-size 0 0 !default;
$tba-vertical-separator: 0 0 $tbar-separator-size 0 !default;
$tbar-popup-border-width: 0 0 0 1px !default;
$tbar-popup-rtl-border-width: 0 $border-size 0 0 !default;
$tbar-popup-vertical-border-width: $border-size 0 0 0 !default;
$tbar-popup-vertical-rtl-border-width: 0 0 $border-size 0 !default;
$tbar-nrml-size: 38px !default;
$tbar-bgr-size: 48px !default;
$tbar-nrml-items-size: 38px !default;
$tbar-bgr-items-size: 48px !default;
$tbar-nrml-item-size: 38px !default;
$tbar-item-nrml-minwidth: 28px !default;
$tbar-bgr-item-size: 49px !default;
$tbar-btn-font-size: $text-lg !default;
$tbar-btn-txt-font-size: $text-sm !default;
$tbar-popup-btn-bg-color: transparent !default;

$tbar-item-bgr-padding: 5px 6px !default;
$tbar-item-nrml-padding: 4px !default;
$tbar-btn-nrml-padding: 0 4px !default;
$tbar-btn-bgr-padding: 0 8px !default;
$tbar-btn-icn-nrml-padding: 4px !default;
$tbar-btn-icn-bgr-padding: 4px 6px !default;
$tbar-btn-icn-right-bgr-padding: 4px 6px !default;
$tbar-btn-icn-right-nrml-padding: 4px !default;
$btn-txt-nrml-padding: 4px !default;
$btn-txt-bgr-padding: 4px !default;

$tbar-pop-bg: $flyout-bg-color;
$tbar-item-pop-nrml-padding: 0 !default;
$tbar-item-pop-bgr-padding: 0 !default;
$tbar-pop-btn-bgr-padding: 8px 18px !default;
$tbar-pop-btn-nrml-padding: 6px 12px !default;
$tbar-pop-icon-bgr-padding: 0 6px 0 0 !default;
$tbar-pop-icon-nrml-padding: 0 4px 0 0 !default;
$tbar-pop-btn-txt-nrml-pad: 0 0 0 4px !default;
$tbar-pop-btn-txt-bgr-pad: 0 0 0 6px !default;

$tbar-nav-press-border: 0 !default;
$tbar-nav-hover-border: 0 !default;
$tbar-nav-focus-border: 0 !default;
$tbar-nav-pressed-box-shadow: none !default;
$tbar-btn-border-radius: 0 !default;
$tbar-btn-pressed-box-shadow: none !default;
$tbar-btn-bgr-mrgn: 0 !default;
$tbar-btn-nrml-mrgn: 0 !default;
$tbar-v-btn-bgr-mrgn: 0 !default;
$tbar-v-btn-nrml-mrgn: 0 !default;
$tbar-popup-padding: 0 !default;
$tbar-btn-nrml-minheight: 30px !default;
$tbar-btn-bgr-minheight: 38px !default;
$tbar-btn-nrml-minwidth: 30px !default;
$tbar-btn-bgr-minwidth: 38px !default;
$tbar-btn-bgr-height: calc(100% - 11px) !default;
$tbar-btn-nrml-height: calc(100% - 10px) !default;
$tbar-separator-nrml-height: 24px !default;
$tbar-separator-bgr-height: 30px !default;
$tbar-separator-nrml-minheight: $tbar-separator-nrml-height !default;
$tbar-separator-bgr-minheight: $tbar-separator-bgr-height !default;
$tbar-btn-icon-nrml-width: 12px !default;
$tbar-btn-icon-nrml-height: 16px !default;
$tbar-btn-icon-nrml-line-height: 16px !default;
$tbar-left-item-line-height: 35px !default;
$tbar-right-item-line-height: 24px !default;
$tbar-btn-icon-bgr-width: 13px !default;
$tbar-btn-icon-bgr-height: 18px !default;
$tbar-btn-icon-bgr-line-height: 18px !default;
$tbar-btn-txt-line-height: inherit !default;
$tbar-nav-nrml-width: 28px !default;
$tbar-nav-bgr-width: 36px !default;
$tbar-item-nrml-mrgn: 8px !default;
$tbar-item-bgr-mrgn: 10px !default;
$tbar-btn-pop-nrml-minheight: 38px !default;
$tbar-btn-pop-bgr-minheight: 48px !default;
$tbar-multirow-items-mrgn-bigger: 12.5px !default;
$tbar-multirow-items-mrgn-small: 10px !default;
$tbar-multirow-item-top-btm-mrgn-bigger: 1.5px 0 !default;
$tbar-multirow-item-top-btm-mrgn-small: 1px 0 !default;
$tbar-multirow-item-mrgn: 0 !default;
$tbar-item-bgr-padding-bigger: 1.5px 0 !default;
$tbar-item-nrml-padding-small: 1px 0 !default;

@mixin tbar-btn-animation {
  content: '';
}

@mixin tbar-btn-animation-after {
  content: '';
}
