@include export-module('listview-layout') {
  .e-bigger #{&}.e-listview,
  #{&}.e-listview.e-bigger {
    .e-list-item {
      border-bottom: $listview-border-bottom solid $listview-border-bottom-color;
      border-left: $listview-border-left solid $listview-border-left-color;
      border-right: $listview-border-right solid $listview-border-right-color;
      border-top: $listview-border-top solid $listview-border-top-color;
    }

    &:not(.e-list-template) .e-list-item {
      height: $listview-touch-item-height;
      line-height: $listview-touch-item-line-height;
    }

    .e-text-content {
      font-size: $listview-touch-item-font-size;
    }

    .e-list-group-item {
      height: $listview-touch-groupheader-height;
      line-height: $listview-touch-groupheader-line-height;
    }

    .e-list-header {
      display: block;
      font-weight: $listview-touch-header-font-weight;
      height: $listview-touch-header-height;
    }

    .e-list-header > * {
      display: table-cell;
    }

    .e-list-header .e-text.header {
      display: none;
    }

    .e-list-header .e-headertemplate-text.nested-header {
      display: none;
    }

    .e-list-header .e-text {
      font-size: $listview-touch-header-font-size;
      line-height: $listview-touch-header-line-height;
    }

    .e-icons {
      margin-top: $listview-touch-header-icon-margin-top;
    }

    .e-but-back {
      padding-top: $listview-touch-back-icon-padding;
    }

    .e-icon-collapsible {
      line-height: inherit;
    }
  }

  #{&}.e-listview {
    border: $listview-border-size solid;
    display: block;
    overflow: auto;
    position: relative;
    width: 100%;

    &:not(.e-list-template) .e-list-item {
      height: $listview-item-height;
      line-height: $listview-item-line-height;
      padding: $listview-item-padding;
    }

    @at-root {
      & .e-list-item {
        border-bottom: $listview-border-size solid;
      }

      & .e-list-parent {
        margin: 0;
        padding: 0;
      }

      & .e-list-header .e-text.header {
        display: none;
      }

      & .e-list-header .e-headertemplate-text.nested-header {
        display: none;
      }

      & .e-list-header {
        border-bottom: 1px solid;
        display: block;
        font-weight: $listview-header-font-weight;
        height: $listview-header-height;
        padding: $listview-header-text-padding;
      }

      & .e-has-header>.e-view {
        top: 45px;
      }

      & .e-icons {
        margin-top: 2px;
      }

      & .e-but-back {
        cursor: pointer;
        line-height: $listview-back-icon-height;
        padding-bottom: $listview-header-padding-bottom;
        padding-right: $listview-back-padding-right;
        vertical-align: middle;
        width: 20px;
      }

      & .e-list-group-item:first-child {
        border: 0;
        border-bottom: $listview-group-first-border-bottom solid $listview-border-bottom-color;
      }

      & .e-list-group-item {
        border-bottom: $listview-group-border-bottom solid $listview-border-bottom-color;
        border-top: $listview-group-border-top solid;
        font-weight: 600;
        height: $listview-groupheader-item-height;
        line-height: $listview-groupheader-item-line-height;
        padding: $listview-item-padding;
      }

      & .e-icon-collapsible {
        cursor: pointer;
        float: right;
        font-size: 12px;
        line-height: $listview-icon-line-height;
      }

      & .e-text-content {
        height: 100%;
        position: relative;
        vertical-align: middle;
      }

      & .e-text-content * {
        display: inline-block;
        vertical-align: middle;
      }

      & .e-text-content.e-checkbox .e-list-text {
        width: calc(100% - 40px);
      }

      & .e-text-content.e-checkbox.e-checkbox-left .e-list-icon + .e-list-text {
        width: calc(100% - 90px);
      }

      & .e-text-content.e-checkbox.e-checkbox-right .e-list-icon + .e-list-text {
        width: calc(100% - 80px);
      }

      & .e-list-item.e-checklist.e-has-child {
        .e-text-content.e-checkbox.e-checkbox-right {
          .e-list-icon + .e-list-text {
            width: calc(100% - 92px);
          }
        }
      }

      & .e-checkbox .e-checkbox-left {
        margin: $listview-checkbox-left-margin;
      }

      & .e-checkbox .e-checkbox-right {
        margin: $listview-checkbox-right-margin;
      }

      & .e-list-text {
        cursor: pointer;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: top;
        white-space: nowrap;
        width: 100%;
      }

      & .e-list-icon+.e-list-text {
        width: calc(100% - 60px);
      }

      & .e-icon-wrapper .e-list-text {
        width: calc(100% - 60px);
      }

      & .e-icon-wrapper.e-text-content.e-checkbox .e-list-text {
        width: calc(100% - 60px);
      }

      & .e-list-icon {
        height: 30px;
        margin-right: $listview-icon-margin-right;
        width: 30px;
      }

      & .e-content {
        overflow: hidden;
        position: relative;
      }

      & .e-list-header .e-text {
        cursor: pointer;
        line-height: $listview-header-line-height;
        text-indent: 0;
      }

      & .e-text .e-headertext {
        display: inline-block;
      }

      &.e-rtl {
        & .e-list-icon {
          margin-left: 16px;
          margin-right: 0;
        }

        & .e-icon-collapsible {
          float: left;
          margin-left: auto;
          margin-right: auto;
        }

        & .e-but-back {
          padding-left: $listview-back-padding-right;
          padding-right: 0;
        }

        & .e-checkbox .e-checkbox-left {
          margin: $listview-rtl-checkbox-left-margin;
        }

        & .e-checkbox .e-checkbox-right {
          margin: $listview-rtl-checkbox-right-margin;
        }
      }
    }
  }
}
