$listview-font-family: $font-family !default;
$listview-text-color: $content-text-color !default;
$listview-text-disabled: $content-text-color-disabled !default;
$listview-icon-color: $icon-color !default;
$listview-icon-disabled: $icon-color-disabled !default;
$listview-icon-margin-right: 8px !default;
$listview-background: $transparent !default;
$listview-line-color: $border-light !default;
$listview-item-hover-bg: $content-bg-color-hover !default;
$listview-item-height: 38px !default;
$listview-item-line-height: 22px !default;
$listview-item-padding: 8px 9px 8px 12px !default;
$listview-rtl-item-padding: 8px 12px 8px 9px !default;
$listview-header-padding: 6px 12px !default;
$listview-text-hover-color: $content-text-color-hover !default;
$listview-item-active-bg: $content-bg-color-selected !default;
$listview-root-border-color: none !default;
$listview-root-border-radius: 0 !default;
$listview-nested-icon-collapsible: 20px !default;
$listview-icon-size: 20px !default;
$listview-text-active-color: $content-text-color-selected !default;
$listview-header-text-color: $content-text-color-alt2 !default;
$listview-header-text-padding: 12px !default;
$listview-header-text-disabled: $content-text-color-disabled !default;
$listview-header-bg: $content-bg-color-alt2 !default;
$listview-header-icon-color: $icon-color !default;
$listview-header-icon-disabled: $icon-color-disabled !default;
$listview-header-border: $transparent !default;
$listview-header-font-size: $text-xs !default;
$listview-header-height: 30px !default;
$listview-header-font-weight: $font-weight-medium !default;
$listview-header-line-height: 18px !default;
$listview-border-bottom: 0 !default;
$listview-border-top: 0 !default;
$listview-border-left: 0 !default;
$listview-border-right: 0 !default;
$listview-hover-border-color: transparent !default;
$listview-border-bottom-color: transparent !default;
$listview-border-top-color: transparent !default;
$listview-border-right-color: transparent !default;
$listview-border-left-color: transparent !default;
$listview-group-first-border-bottom: 0 !default;
$listview-group-border-top: 0 !default;
$listview-group-border-bottom: 0 !default;
$listview-groupheader-text-color: $content-text-color-alt2 !default;
$listview-groupheader-bg: $content-bg-color-alt2 !default;
$listview-groupheader-icon: $icon-color !default;
$listview-groupheader-item-height: 30px !default;
$listview-groupheader-item-line-height: 18px !default;
$listview-groupheader-font-size: $text-xs !default;
$listview-border-size: 1px !default;
$listview-font-size: $text-sm !default;
$listview-back-padding-right: 8px !default;
$listview-back-icon-size: 20px !default;
$listview-touch-item-height: 48px !default;
$listview-touch-item-line-height: 24px !default;
$listview-touch-item-size: 24px !default;
$listview-touch-item-padding: 12px 14px 12px 16px !default;
$listview-rtl-touch-item-padding: 12px 16px 12px 14px !default;
$listview-touch-item-font-size: $text-base !default;
$listview-touch-groupheader-height: 38px !default;
$listview-touch-groupheader-line-height: 22px !default;
$listview-touch-header-height: 38px !default;
$listview-touch-header-font-weight: $font-weight-medium !default;
$listview-touch-header-font-size: $text-sm !default;
$listview-touch-header-line-height: 22px !default;
$listview-touch-header-icon-margin-top: 2px !default;
$listview-touch-icon-margin-right: 12px !default;
$listview-touch-checkbox-right-margin: -2px 0 0 12px !default;
$listview-touch-checkbox-left-margin: -2px 12px 0 0 !default;
$listview-touch-rtl-checkbox-left-margin: -2px 0 0 12px !default;
$listview-touch-rtl-checkbox-right-margin: -2px 12px 0 0 !default;
$listview-checkbox-right-margin: -2px 0 0 8px !default;
$listview-checkbox-left-margin: -2px 8px 0 0 !default;
$listview-rtl-checkbox-left-margin: -2px 0 0 8px !default;
$listview-rtl-checkbox-right-margin: -2px 8px 0 0 !default;
//ListView In-built template variables
$listview-template-padding: 8px 16px !default;
$listview-template-avatar-padding-right: 16px !default;
$listview-template-avatar-padding-left: 68px !default;
$listview-template-avatar-rightposition-padding-right: 68px !default;
$listview-template-avatar-rightposition-padding-left: 16px !default;
$listview-template-avatar-size: 40px !default;
$listview-template-avatar-top: 0 !default;
$listview-template-avatar-left: 0 !default;
$listview-template-avatar-margin: 7px 16px 7px 12px !default;
$listview-template-avatar-rightposition-right: 0 !default;
$listview-template-badge-height: 18px !default;
$listview-template-badge-width: 32px !default;
$listview-template-badge-line-height: 16px !default;
$listview-template-badge-font-size: $text-xxs !default;
$listview-template-badge-right: 12px !default;
$listview-template-avatar-badge-padding-right: 10px !default;
$listview-template-avatar-badge-padding-left: 68px !default;
$listview-template-badgewithoutavatar-padding-right: 10px !default;
$listview-template-badgewithoutavatar-padding-left: 16px !default;
$listview-template-item-padding: 8px 0 !default;
$listview-template-multiline-header-color: $content-text-color !default;
$listview-template-multiline-content-color: $content-text-color-alt2 !default;
$listview-template-multiline-header-padding: 0 !default;
$listview-template-multiline-content-padding: 2px 0 0 0 !default;
$listview-template-multiline-header-font-size: $text-sm !default;
$listview-template-multiline-padding: 4px !default;
$listview-template-multiline-content-font-size: $text-sm !default;
$listview-template-multiline-avatar-top: 0 !default;
$listview-touch-template-padding: 12px 16px !default;
$listview-touch-template-multiline-padding: 7px !default;
$listview-touch-template-avatar-padding-left: 88px !default;
$listview-touch-template-avatar-size: 48px !default;
$listview-touch-template-multiline-header-font-size: $text-base !default;
$listview-touch-template-multiline-header-line-height: 24px !default;
$listview-touch-template-avatar-margin: 8px 24px 8px 16px !default;
$listview-touch-template-badge-height: 20px !default;
$listview-touch-template-badge-width: 34px !default;
$listview-touch-template-badge-line-height: 18px !default;
$listview-touch-template-badge-font-size: $text-xs !default;
