$kanban-skin: 'FluentUI' !default;

//Layout Variables Start
$kanban-icons-border-radius: $model-radius !default;
$kanban-column-bg-color: $content-bg-color-alt1 !default;
$kanban-default-font-color: $content-text-color !default;
$kanban-content-font: $content-text-color-alt1 !default;
$kanban-dialog-text-area-focus-shadow: $shadow-md !default;
$kanban-dialog-text-areas-border-color: $primary-border-color !default;
$kanban-card-selection-bg-color: $flyout-bg-color !default;
$kanban-dropped-clone-bg-color: $primary-lighter !default;
$kanban-dropped-clone-border-color: $primary !default;
$kanban-dragged-clone-border-color: $border-dark !default;
$kanban-icons-color: $icon-color !default;
$kanban-bg-color: $content-bg-color !default;
$kanban-card-bg-color: $flyout-bg-color !default;
$kanban-text-area-bg-color: $content-bg-color !default;
$kanban-text-area-color: $content-text-color-alt1 !default;
$kanban-popup-overlay-bg-color: $overlay-bg-color !default;
$kanban-min-color: $warning-light-alt !default;
$kanban-max-color: $danger-light-alt !default;
$kanban-header-border-color: $border-light !default;
$kanban-tags-bg-color: $content-bg-color-alt3 !default;
$kanban-tags-color: $content-text-color !default;
$kanban-card-selection-box-shadow: $shadow-md !default;
$kanban-border-color: $border-dark !default;
$kanban-mb-popup-container-box-shadow: $shadow-xl !default;
$kanban-table-border-spacing: 10px 1px !default;
$kanban-table-bigger-border-spacing: 10px 2px !default;
$kanban-table-swimlane-border-spacing: $kanban-table-border-spacing !default;
$kanban-table-bigger-swimlane-border-spacing: $kanban-table-bigger-border-spacing !default;
$kanban-table-col-collapse-width: 42px !default;
$kanban-table-col-collapse-bgr-width: 48px !default;
$kanban-frozen-swimlane-row-padding: 12px 0 0 0 !default;
$kanban-frozen-swimlane-row-bgr-padding: 13px 0 0 0 !default;
$kanban-frozen-swimlane-row-header-padding: 0 0 0 8px !default;
$kanban-frozen-swimlane-row-header-line-height: $leading-normal !default;
$kanban-frozen-swimlane-row-header-font-size: $text-sm !default;
$kanban-frozen-swimlane-row-header-bgr-font-size: $text-base !default;
$kanban-frozen-swl-row-head-item-count-font-size: $text-xs !default;
$kanban-frozen-swl-row-head-item-count-bgr-font-size: $text-sm !default;
$kanban-frozen-swl-row-head-item-count-line-height: $leading-tight !default;
$kanban-frozen-swl-row-head-item-count-bgr-line-height: $leading-normal !default;
$kanban-frozen-swl-row-head-item-count-padding: 3px 0 0 4px !default;
$kanban-frozen-swl-row-head-item-count-bgr-padding: 4px 0 0 4px !default;
$kanban-frozen-swl-row-head-item-count-opacity: 1 !default;
$kanban-frozen-swl-row-head-item-count-font-weight: 600 !default;
$kanban-swl-frozen-header-item-count-color: $content-text-color-alt3 !default;
$kanban-swl-frozen-header-row-icon-border: 1px solid transparent !default;
$kanban-swl-frozen-header-row-icon-height: 24px !default;
$kanban-swl-frozen-header-row-icon-margin: 0 0 0 8px !default;
$kanban-swl-frozen-header-row-icon-padding: 3px 6px !default;
$kanban-swl-frozen-header-row-icon-font-size: 16px !default;
$kanban-swl-frz-head-row-icon-hover-margin: 0 0 0 8px !default;
$kanban-swl-frz-header-row-icon-hover-padding: 3px 6px !default;
$kanban-swl-frozen-header-row-icon-hover-bg-color: $content-bg-color-alt2 !default;
$kanban-swl-frozen-header-row-icon-focus-bg-color: $content-bg-color-alt3 !default;
$kanban-swl-frozen-header-row-icon-hover-border: 1px solid $transparent !default;
$kanban-swl-frozen-header-row-icon-hover-box-shadow: none !default;
$kanban-swl-frozen-header-row-icon-focus-box-shadow: none !default;
$kanban-swl-frozen-header-row-icon-hover-color: $icon-color !default;
$kanban-header-cell-height: 42px !default;
$kanban-header-cell-bgr-height: 48px !default;
$kanban-header-cell-padding: 10px 12px !default;
$kanban-stacked-header-cell-border-btm: 1px solid $border-light !default;
$kanban-toggle-header-icon-font-size: 16px !default;
$kanban-toggle-header-icon-bgr-font-size: 16px !default;
$kanban-toggle-header-expand-icon-padding: 6px !default;
$kanban-toggle-header-collapse-icon-padding: 6px !default;
$kanban-toggle-header-collapse-width: 42px !default;
$kanban-header-text-font-size: $text-sm !default;
$kanban-header-text-font-weight: $font-weight-medium !default;
$kanban-header-text-line-height: $leading-normal !default;
$kanban-header-text-overflow: ellipsis !default;
$kanban-header-text-bgr-font-size: 16px !default;
$kanban-header-text-bgr-font-weight: $font-weight-medium !default;
$kanban-header-text-bgr-line-height: $leading-relaxed !default;
$kanban-header-text-bgr-transform: capitalize !default;
$kanban-header-item-count-font-size: $text-xs !default;
$kanban-header-item-count-font-weight: $font-weight-medium !default;
$kanban-header-item-count-line-height: $leading-normal !default;
$kanban-header-item-count-opacity: 1 !default;
$kanban-header-item-count-margin-top: 2px !default;
$kanban-header-item-count-text-transform: capitalize !default;
$kanban-header-item-count-bgr-font-size: $text-sm !default;
$kanban-header-item-count-bgr-font-weight: $font-weight-medium !default;
$kanban-header-item-count-bgr-line-height: $leading-relaxed !default;
$kanban-header-item-count-bgr-margin-top: 2px !default;
$kanban-header-item-count-bgr-text-transform: capitalize !default;
$kanban-header-min-max-count-font-size: $text-xs !default;
$kanban-header-min-max-count-font-weight: $font-weight-medium !default;
$kanban-header-min-max-count-opacity: 1 !default;
$kanban-collapse-header-text-color: $content-text-color-alt1 !default;
$kanban-collapse-header-text-font-size: $text-sm !default;
$kanban-collapse-header-text-font-weight: $font-weight-medium !default;
$kanban-collapse-header-text-padding: 12px 10px !default;
$kanban-collapse-header-text-transform: capitalize !default;
$kanban-card-container-padding: 12px 12px 0 !default;
$kanban-card-container-bgr-padding: 16px 16px 0 !default;
$kanban-empty-card-font-size: $text-sm !default;
$kanban-empty-card-line-height: $leading-normal !default;
$kanban-empty-card-padding: 50px 0 !default;
$kanban-empty-card-color: $content-text-color-alt3 !default;
$kanban-empty-card-margin: 0 auto !default;
$kanban-empty-card-display: table !default;
$kanban-card-margin-bottom: 12px !default;
$kanban-card-bgr-margin-bottom: 16px !default;
$kanban-card-border: 1px solid $transparent !default;
$kanban-card-border-radius: $model-radius !default;
$kanban-card-normal-box-shadow: $shadow-sm !default;
$kanban-card-header-padding: 16px 16px 0 !default;
$kanban-card-header-bgr-padding: 20px 20px 0 !default;
$kanban-color-card-header-padding: 16px 16px 0 16px !default;
$kanban-color-card-header-bgr-padding: 20px 20px 0 20px !default;
$kanban-card-header-title-font-size: $text-sm !default;
$kanban-card-header-title-line-height: $leading-normal !default;
$kanban-card-header-title-font-weight: $font-weight-medium !default;
$kanban-card-header-title-bgr-font-size: $text-base !default;
$kanban-card-header-title-bgr-line-height: $leading-normal !default;
$kanban-card-footer-padding: 0 16px 16px !default;
$kanban-card-footer-bgr-padding: 0 20px 20px !default;
$kanban-color-card-footer-padding: 0 16px 16px 16px !default;
$kanban-color-card-footer-bgr-padding: 0 20px 20px 20px !default;
$kanban-card-content-font-size: $text-sm !default;
$kanban-card-content-line-height: $leading-normal !default;
$kanban-card-content-padding: 4px 16px 16px 16px !default;
$kanban-color-card-content-padding: 4px 16px 16px 16px !default;
$kanban-card-content-bgr-font-size: $text-base !default;
$kanban-card-content-bgr-line-height: $leading-normal !default;
$kanban-card-content-bgr-padding: 8px 20px 20px 20px !default;
$kanban-color-card-content-bgr-padding: 8px 20px 20px 20px !default;
$kanban-color-card-tags-padding: 0 16px 16px 16px !default;
$kanban-card-tags-padding: 0 16px 16px !default;
$kanban-color-card-border: 1px solid $transparent !default;
$kanban-color-card-border-left: 3px solid !default;
$kanban-color-card-hover-border: 1px solid $transparent !default;
$kanban-color-card-hover-border-left: 3px solid !default;
$kanban-color-card-hover-box-shadow: $shadow-lg !default;
$kanban-color-card-focus-border: 1px solid $primary !default;
$kanban-color-card-focus-border-left: 3px solid !default;
$kanban-color-card-selection-border: 1px solid $primary !default;
$kanban-color-card-selection-border-left: 3px solid !default;
$kanban-color-card-selection-box-shadow: $shadow-md !default;
$kanban-color-card-selection-hover-border: 1px solid $primary !default;
$kanban-color-card-selection-hover-border-left: 3px solid !default;
$kanban-color-card-selection-hover-box-shadow: $shadow-lg !default;
$kanban-color-card-selection-hover-padding: 0 !default;
$kanban-card-selection-border: 1px solid $primary !default;
$kanban-card-selection-hover-border: 1px solid $primary !default;
$kanban-card-selection-hover-box-shadow: $shadow-lg !default;
$kanban-card-selection-hover-padding: 0 !default;
$kanban-card-hover-border: 1px solid $transparent !default;
$kanban-card-normal-hover-box-shadow: $shadow-lg !default;
$kanban-card-focus-border: 1px solid $primary !default;
$kanban-card-tag-border-radius: $model-radius !default;
$kanban-card-tag-font-size: $text-sm !default;
$kanban-card-tag-line-height: $leading-normal !default;
$kanban-card-tag-margin-right: 8px !default;
$kanban-card-tag-padding: 2px 8px !default;
$kanban-multi-card-text-bg-color: $content-bg-color !default;
$kanban-target-drag-drop-clone-margin-bottom: 12px !default;
$kanban-target-drag-drop-clone-bgr-margin-bottom: 16px !default;
$kanban-target-drag-drop-clone-border-radius: $model-radius !default;
$kanban-target-dragged-clone-bg-color: $content-bg-color-alt2 !default;
$kanban-swl-row-height: 42px !default;
$kanban-swl-row-header-padding: 0 !default;
$kanban-swl-row-header-bgr-padding: $kanban-swl-row-header-padding !default;
$kanban-swl-header-icon-border: 1px solid $transparent !default;
$kanban-swl-header-icon-color: $icon-color !default;
$kanban-swl-header-icon-height: 24px !default;
$kanban-swl-header-icon-margin: 0 0 0 8px !default;
$kanban-swl-header-icon-rtl-margin: 0 8px 0 0 !default;
$kanban-swl-header-icon-padding: 4px 6px !default;
$kanban-swl-header-icon-font-size: 16px !default;
$kanban-swl-header-icon-bgr-font-size: 16px !default;
$kanban-swl-header-icon-hover-padding: 4px 6px !default;
$kanban-swl-header-icon-hover-font-size: 16px !default;
$kanban-swl-header-icon-hover-margin: 0 0 0 8px !default;
$kanban-swl-header-icon-hover-border: 1px solid $transparent !default;
$kanban-swl-header-icon-hover-color: $icon-color !default;
$kanban-swl-header-icon-hover-background: $content-bg-color-alt2 !default;
$kanban-swl-header-icon-hover-border-radius: $model-radius !default;
$kanban-swl-header-icon-hover-box-shadow: none !default;
$kanban-swl-header-text-line-height: $leading-normal;
$kanban-swl-header-text-bgr-line-height: $leading-normal;
$kanban-swl-header-text-padding: 2px;
$kanban-swl-header-text-bgr-font-size: $text-base;
$kanban-swl-header-item-count-font-size: $text-xs;
$kanban-swl-header-item-count-bgr-font-size: $text-sm;
$kanban-swl-header-item-count-line-height: $leading-tight;
$kanban-swl-header-item-count-font-opacity: 1;
$kanban-swl-header-item-count-padding: 5px 2px 2px 2px;
$kanban-swl-header-item-count-color: inherit;
$kanban-swl-header-item-count-font-weight: $font-weight-medium;
$kanban-swl-header-item-count-bgr-line-height: $leading-normal;
$kanban-swl-header-item-count-bgr-padding: 4px 2px 2px 2px;
$kanban-content-cells-focus-border: 1px solid $transparent;
$kanban-content-cells-focus-box-shadow: none;
$kanban-dialog-form-table-td-line-height: $leading-normal;
$kanban-dialog-form-table-td-opacity: 1;
$kanban-dialog-form-table-td-padding: 8px 0;
$kanban-dialog-form-table-td-color: $content-text-color-alt2;
$kanban-dialog-form-table-td-font-weight: $font-weight-medium;
$kanban-mb-swl-name-font-size: $text-base;
$kanban-mb-swl-name-padding: 6px;
$kanban-mb-swl-name-color: $content-text-color;
$kanban-mb-swl-name-font-weight: $font-weight-normal;
$kanban-mb-swl-name-line-height: $leading-normal;
$kanban-mb-swl-menu-icon-font-size: 15px;
$kanban-mb-swl-menu-icon-bgr-font-size: 18px;
$kanban-mb-swl-menu-icon-color: $icon-color;
$kanban-mb-swl-overlay-opacity: 1;
$kanban-mb-popup-content-padding: 5px !default;
$kanban-mb-popup-content-color: inherit !default;

//Color Start
$kanban-header-text-color: $content-text-color-alt1 !default;
$kanban-header-item-count-color: $content-text-color-alt3 !default;
$kanban-header-limits-color: $content-text-color-alt3 !default;
$kanban-col-expand-collapse-bg-color: $content-bg-color-alt3;
$kanban-col-expand-collapse-color: $kanban-icons-color;
$kanban-col-expand-collapse-border: 1px solid $transparent;
$kanban-col-expand-collapse-box-shadow: none;
//Color End
