/*! Carousel component fabric-dark theme definitions and variables */

// COLORS VARIABLES
$carousel-navigator-btn-bg: transparent !default;
$carousel-navigator-btn-bg-hover: rgba($neutral-primary, .4) !default;
$carousel-navigator-icon-color: $neutral-primary !default;
$carousel-indicator-bar-bg: $neutral-primary !default;
$carousel-indicator-bar-border: 1px solid rgba($neutral-primary, .4) !default;
$carousel-indicator-bar-bg-active: $theme-primary !default;
$carousel-indicator-border-color-focus: $shadow !default;

// ANIMATION VARIABLES
$carousel-animation-duration: .6s !default;
$carousel-animation-timing-function: ease-in-out !default;

// DIMENSION VARIABLES
$carousel-navigator-btn-border-radius-hover: 50% !default;
$carousel-indicator-padding: 6px !default;
$carousel-indicator-height: 48px !default;
$carousel-indicator-bar-border-radius: 50% !default;
$carousel-indicator-bar-height: 12px !default;
$carousel-indicator-bar-width: 12px !default;
