// uploader definition styles
$zero-value: 0;
$upload-element-opacity: $zero-value;
$upload-element-width: $zero-value;
$select-file-margin: $zero-value;
$select-file-padding: $zero-value;
$upload-font-family: $font-family;
$header-padding: 10px 0 10px 12px;
$drop-area-font-size: 13px;
$drop-area-padding-left: 10px;
$list-items-font-size: 15px;
$list-item-height: 35px;
$list-item-margin-right: 90px;
$list-item-name-width: 75%;
$list-item-status-font-size: 14px;
$progress-bar-wrapper-height: 5px;
$progress-bar-wrapper-width: 98%;
$progress-bar-height: 90%;
$progress-bar-text-top: 10px;
$progress-bar-text-right: 1%;
$remove-icon-font-size: 11px;
$delete-icon-font-size: 13px;
$abort-icon-font-size: 18px;
$remove-icon-margin: 10px;
$delete-icon-opacity: 1;
$remove-icon-right: 5px;
$remove-icon-top: 8px;
$float-right: right;
$float-left: left;
$margin-rtl: 14px;
$right: 100%;
$left: 17px;
$file-status-rtl-top-margin: 7%;
$drop-zone-margin: 3px;
$list-item-margin-left: 8px;
$remove-icon-height: 20px;
$remove-icon-width: 20px;
$remove-icon-before: 4px;
$list-items-height: 50px;
$file-container-left: 5px;
$file-size-top: $zero-value;
$action-buttons-margin: 10px;
$file-status-rtl: 30px;
$progress-inner-wrap-height: 5px;
$progress-inner-wrap-top: 3px;
$progress-bar-wrap-top: 34px;
$rtl-progress-top: -2px;
$file-status-top-bigger: 35px;
$file-drop-rtl-smaller: -10px;
$file-drop-rtl-bigger: -10px;
$footer-height: 50px;
$footer-height-smaller: 30px;
$footer-buttons-height: 30px;
$footer-buttons-height-bigger: 40px;
$footer-buttons-margin: 16px;
$file-name-font-size: 10px;
$progress-bar-top-paddding: 10px;
$progress-bar-bottom-paddding: 9px;
$inner-wrap-radius: 1px;
$progress-bar-radius: 1px;
$file-name-top: $zero-value;
$file-container-top-bigger: $zero-value;
$remove-icon-rtl: 20px;
$reload-btn-right: 36px;
$icons-small-ie-padding: 18px 13px 18px 23px;
$icons-bigger-ie-padding: 20px 17px 20px 26px;

// Smaller values
$drop-area-font-size-smaller: 14px;
$drop-area-padding-left-smaller: 10px;
$list-items-font-size-smaller: 14px;
$list-items-height-smaller: 60px;
$list-item-margin-left-smaller: 12px;
$list-item-status-font-size-smaller: 12px;
$list-item-status-margin-smaller: 8px;
$progress-bar-height-smaller: 3px;
$progress-inner-wrap-height-smaller: 5px;
$progress-bar-top-smaller: $zero-value;
$progress-bar-wrapper-height-smaller: 10px;
$progress-bar-text-right-smaller: -20px;
$progress-bar-text-top-smaller: -10px;
$remove-icon-font-size-smaller: 12px;
$remove-icon-margin-smaller: 16px;
$delete-icon-font-size-smaller: 11px;
$file-container-top: -5px;
$file-status-top-smaller: 19px;
$action-buttons-margin-smaller: 8px;
$file-name-font-size-smaller: 13px;
$list-item-status-top-smaller: 10px;
$file-size-top-smaller: 10px;
$file-size-left-smaller: 10px;
$file-type-top-smaller: $zero-value;
$file-size-rtl-right: 10px;
$list-item-size-top: 30px;
$header-padding-bigger: 10px;
$file-name-padding-top: 4px;
$file-size-padding: 4px 0;
$file-name-padding-top-smaller: 1px;
$file-size-padding-smaller: 3px 0;
$file-container-height: 100%;
$li-min-height: 72px;
$progress-bar-paddding: 6px 6px;
$delete-icon-padding: 1px;
$delete-icon-padding-smaller: $zero-value;
$remove-icon-before-bigger: 15px;
$progress-bar-wrapper-width-bigger: 90%;
$header-padding-rtl-bigger: 20px 15px 30px 10px;
$margin-rtl-header: $zero-value;
$remove-icon-rtl-bigger: $zero-value;
$header-padding-rtl-smaller: 10px;
$margin-rtl-header-smaller: 10;
$file-name-font-family: $upload-font-family;

// Smaller RTL values
$margin-rtl-smaller: 12px;
$file-status-rtl-smaller: 21px;
$progress-bar-wrap-top-smaller: 23px;
$rtl-progress-left-smaller: -23px;
$remove-icon-rtl-top-smaller: 2px;
$remove-icon-top-bigger: 10px;
$remove-icon-top-smaller: 1px;
$progress-bar-width-rtl: 80%;
$rtl-progress-top: -15px;
$file-container-top: $zero-value;

// themes files
$progress-bar-transition: width 2s;
$clear-icon-font-content: '\e932';
$delete-icon-font-content: '\e82d';
$pause-icon-font-content: '\e753';
$play-icon-font-content: '\e798';
$remove-icon-margin-top-smaller: -10px;
$remove-icon-margin-top: -14px;
$remove-icon-disabled-color:  $zero-value;
$remove-icon-padding-smaller: $zero-value;
$progress-text-rtl-smaller: 0;
$pause-play-button-right-value: 36px;
$pause-play-button-right-value-bigger: 45px;
$pause-play-button-right-value-bigger-rtl: 41px;
$file-container-left: 60px;
$ie-icons-position-value: 10px;
$ie-abort-icon-position-value: 12px;
