@use 'ej2-base/styles/definition/material-dark' as *;
@forward 'ej2-base/styles/definition/material-dark';

//default
$mask-error-color: $error-font !default;
$mask-font-size: 12.5px !default;
$mask-bigger-font-size: 13px !default;
$mask-font-family: Arial, $font-family !default;

//enddefault
$mask-bigger-min-height: 40px !default;
$mask-min-height: 33px !default;

$mask-prepend-label-bottom-top: -3px !default;
$mask-prepend-label-top-top: -6px !default;
$mask-prepend-outline-label-bottom-top: -4px !default;
$mask-prepend-outline-label-top-top: -6px !default;
$mask-prepend-filled-label-bottom-top: 14px !default;
$mask-prepend-filled-label-top-top: 10px !default;
$mask-bigger-prepend-label-bottom-top: 1px !default;
$mask-bigger-prepend-label-top-top: -6px !default;
$mask-bigger-prepend-outline-label-bottom-top: -8px !default;
$mask-bigger-prepend-outline-label-top-top: -6px !default;
$mask-bigger-prepend-filled-label-bottom-top: 18px !default;
$mask-bigger-prepend-filled-label-top-top: 10px !default;
