@import 'definition.scss';

$background-color: $grey-white;
$border: 2px solid;
$border-color: $grey-600;
$bigger-font-size: 14px;
$bigger-height: 22px;
$bigger-line-height: 22px;
$bigger-padding: 34px;
$bigger-ripple-position: -10px;
$bigger-ripple-size: 42px;
$bigger-small-ripple-size: 40px;
$bigger-small-height: 20px;
$bigger-small-line-height: 20px;
$bigger-small-padding: 32px;
$bigger-small-width: 20px;
$bigger-width: 22px;
$checked-border-color: $accent;
$checked-color: $accent;
$checked-ripple-bgcolor: rgba($accent, .26);
$check-transition: transform ease 280ms, background-color ease 280ms;
$disabled-border-color: $grey-400;
$disabled-checked-color: $grey-400;
$disabled-color: $grey-400;
$focus-ripple-bgcolor: rgba($grey-black, .12);
$focussed-box-shadow: none;
$font-color: rgba($grey-light-font, .87);
$font-size: 13px;
$focussed-box-shadow: none;
$hover-bgcolor: $accent-font;
$hover-border-color: $grey-600;
$hover-check-bg-color: $accent;
$hover-check-border-color: $accent;
$height: 18px;
$width: 18px;
$small-height: 14px;
$small-width: 14px;
$icon-left: 5px;
$icon-top: 5px;
$icon-right: 5px;
$small-icon-left: 4px;
$small-icon-top: 4px;
$small-icon-right: 4px;
$bigger-icon-left: 6px;
$bigger-icon-top: 6px;
$bigger-icon-right: 6px;
$bigger-small-icon-left: 6px;
$bigger-small-icon-top: 6px;
$bigger-small-icon-right: 6px;
$icon-height: 8px;
$icon-width: 8px;
$small-icon-height: 6px;
$small-icon-width: 6px;
$bigger-icon-height: 10px;
$bigger-icon-width: 10px;
$bigger-small-icon-height: 8px;
$bigger-small-icon-width: 8px;
$line-height: 18px;
$padding: 28px;
$ripple-bgcolor: rgba($grey-black, .12);
$ripple-position: -8px;
$ripple-size: 34px;
$small-line-height: 14px;
$small-padding: 24px;
$small-ripple-position: -10px;
$focus-check-bg-color: $hover-check-bg-color;
$focus-check-border-color: $hover-check-border-color;
