$qrybldr-width: auto;
$qrybldr-height: auto;
$qrybldr-brdr: 1px solid;
$grpcon-padding: 12px;
$qrybldr-device-diaplay: inline-block;
$btn-group-fontfmly: Roboto-Regular;
$drodown-fontsize: 15px;;
$btn-group-padding: 6px 6.6px 4px;
$dropdown-menuicon-opacity: .54;
$group-action-margin: 12px;
$group-action-mrgntop: 2px;
$group-action-widthhgt: 1.7em;
$groupbody-paddingleft: 20px;
$rulecon-height: auto;
$rulecon-padding: 12px 6px 12px 6px;
$rulevalue-paddingbtm: 16px;
$hrmode-ruledlt-mrgn: 12px;
$rulecon-margin: 17px;
$vrmode-ruledlt-mrgnlft: 15.5%;
$vrmode-ruledlt-mrgntop: 7%;
$vrmode-ruledlt-mrgnpos: absolute;
$vr-rulecon-brdrrdus: 2px;
$qrybldr-grpbody-overflow: auto;
$qrybldr-grpcont-overflow: hidden;
$qrybldr-rulelist-grcon-float: right;
$qrybldr-rulelist-grcon-width: 100%;
$qrybldr-rulelist-grcon-padding: 12px 0;
$qrybldr-button-hide: none;
$qrybldr-field: left;
$ruledelete-margin: 6px;
$dropdownpopup-height: 2em;
$dropdownpopup-width: 1.46em;
$ruledelete-shadow: none;
$roundbtn-height: 2em;
$radio-wrapper-margin: 15px;
$rule-boxshadow:  0 2px 6px #d3d3d3;
$qrybldr-bigger-padding: 16px;
$qrybldr-brdr-color: rgb(215, 215, 215);
$qrybldr-grpcont-bordercolor: rgba(255, 255, 255, 1);
$qrybldr-btngroup-active-bgcolor: rgba(227, 23, 91, 1);
$qrybldr-btngroup-active-color: rgba(255, 255, 255, 1);
$bigger-group-action-margin: 16px;
$bigger-qrybldr-rulelist-grcon-padding: 16px 0;
$bigger-grpcon-padding: 16px;
$bigger-groupbody-paddingleft: 24px;
$bigger-hrmode-ruledlt-mrgn: 16px;
$bigger-rulecon-padding: 16px;
$bigger-roundbtn-height: 2.5em;
$bigger-vrmode-ruledlt-mrgnlft: 16px;
$bigger-rule-delete: right;
$qrybldr-group-container-margin-top: 10px;
$qrybldr-group-container-margin-left: 0;
$qrybldr-posn-relative: relative;
$qrybldr-rule-list-first-top: -12px;
$qrybldr-rule-list-before-top: -10px;
$qrybldr-rule-list-after-top: 50%;
$qrybldr-rule-list-after-border: 0 0 0 2px;
$qrybldr-rule-list-before-border: 0 0 2px 2px;
$qrybldr-rule-list-border-style: solid;
$qrybldr-rule-list-border-color: #ccc;
