@include export-module('dropdownbase-layout') {
  .e-bigger .e-dropdownbase,
  .e-dropdownbase.e-bigger {
    min-height: 45px;
    @at-root {
      & .e-list-item,
      & .e-list-group-item,
      & .e-fixed-head {
        line-height: 48px;
      }

      & .e-list-item .e-list-icon {
        font-size: 20px;
      }
    }
  }

  .e-dropdownbase {
    display: block;
    height: 100%;
    min-height: 36px;
    position: relative;
    width: 100%;
    @at-root {
      & .e-list-parent {
        margin: 0;
        padding: 0;
      }

      & .e-list-group-item,
      & .e-fixed-head {
        cursor: default;
      }

      & .e-list-item {
        cursor: pointer;
        overflow: hidden;
        position: relative;
        text-overflow: ellipsis;
        vertical-align: middle;
        white-space: nowrap;
        width: 100%;
      }

      & .e-list-item .e-list-icon {
        font-size: 16px;
        vertical-align: middle;
      }

      & .e-fixed-head {
        position: absolute;
        top: 0;.e-rtl & {
          left: 33px;
        }
      }
    }
  }

  .e-dropdownbase.e-content {
    overflow: auto;
    position: relative;
  }

  #{&}.e-popup.e-ddl .e-dropdownbase.e-nodata {
    color: $nodata-font-color;
    cursor: default;
    font-family: $list-font-family;
    font-size: 14px;
    padding: 14px 16px;
    text-align: center;
  }

  .e-rtl .e-dropdownbase.e-dd-group .e-list-item {
    padding-right: $group-list-padding-left;
  }

  .e-dropdownbase.e-dd-group .e-list-item {
    padding-left: $group-list-padding-left;
    text-indent: 0;
  }
}
