@import 'definition.scss';

$grid-header-bg-color: $bg-base-0;
$grid-rows-bg-color: $bg-base-0;
$grid-header-color: $content-font;
$grid-sorted-header-color: $content-font;
$grid-headerconent-font-opacity: 1;
$grid-header-border-color: $border-default;
$grid-header-border-width: 0;
$grid-headercell-line-height: 36px;
$grid-header-padding: 8px;
$grid-header-first-last-cell-padding: 10px;
$grid-headercelldiv-margin: 0;
$grid-headercell-div-padding: 0;
$grid-headecell-span-height: 26px;
$grid-headercelldiv-right-align-padding: 0;
$grid-headercelldiv-padding: 0 1px;
$grid-headercell-both-border-width: 0 0 0 1px;
$grid-filterbarcell-first-last-child-padding-left: 10px;
$grid-stackedheadercell-botttom-padding: 4px;
$grid-header-font-weight: normal;
$grid-filterbarcell-border-width: 1px 0 0;
$grid-filterbarcell-padding: 0 8px;
$grid-filterdiv-padding: 2px 0;
$grid-filterbarcell-text-indent: 10px;
$grid-sortdiv-margin: -21px 11px;
$grid-sortdiv-right-align-margin: -21px 10px 0 0;
$grid-sortnumer-line-height: 15px;
$grid-sortnumber-border-radius: 55%;
$grid-altrow-bg-color: $bg-base-10;
$grid-rowcell-broder-width: 1px 0 0;
$grid-rowcell-line-height: 21px;
$group-row-bg-color: $bg-base-10;
$grid-summary-template-row-bg-color: $bg-base-10;
$grid-summary-row-bg-color: $bg-base-10;
$grid-first-last-rowcell-padding: 10px;
$grid-content-padding: 7px;
$grid-content-right-padding: 8px;
$grid-content-font-size: 13px;
$grid-summary-cell-font-size: 14px;
$grid-summary-cell-line-height: 21px;
$grid-cell-border-color: $border-default;
$grid-drag-clone-border-color: $border-default;
$grid-drag-clone-opacity: 1;
$grid-content-font-color: $content-font;
$grid-hover-content-font-color: $hover-font;
$grid-conent-font-opacity: 1;
$grid-row-selection-bg-color: $selection-bg;
$grid-row-selection-color: $selection-font;
$grid-hover-bg-color: $hover-bg;
$grid-cell-selection-bg-color: $selection-bg;
$grid-cell-selection-color: $selection-font;
$group-droparea-bg-color: $bg-base-10;
$group-droparea-color: $content-font;
$grid-grouparea-font-size: 17px;
$group-header-border-radius: 0;
$grid-drag-clone-color: $selection-font;
$grid-drag-clone-bg-color: $selection-bg;
$grouped-droparea-bg-color: $bg-base-10;
$group-droparea-hover-bg-color: $bg-base-10;
$group-header-bg-color: $bg-base-0;
$group-header-color: $content-font;
$grid-group-height: 59px;
$grid-grouparea-margin: 8px 0 0 8px;
$group-area-padding: 16px 0 8px;
$grid-group-broder-color: $border-fg;
$grid-group-headercell-line-height: 22px;
$grid-group-text-line-height: 22px;
$grid-headecell-height: 26px;
$grid-filterbarcell-text-input: 32px;
$grid-grouped-headercell-padding: 1px 8px;
$grid-rtl-grouped-headercell-padding: 1px 0 1px 8px;
$group-sorticon-margin-right: 8px;
$grid-header-icon-color: $content-font;
$grid-grouptext-margin-right: 8px;
$grouped-text-font-size: 14px;
$group-sorticon-font-size: 12px;
$group-header-hover-bg-color: $hover-bg;
$grid-group-hover-broder-color: $hover-border;
$grid-grouptopleftcell-border-top: 1px solid;
$grid-group-caption-font-size: 15px;
$group-caption-font-color: $content-font;
$grid-group-captioncell-line-height: 20px;
$grid-group-right-arrow-icon: '\e84f';
$grid-group-down-arrow-icon: '\e85e';
$grid-grouped-sort-icon: '\e840';
$grid-grouped-sort-dec-icon: '\e83f';
$grid-bigger-groupcell-span-line-height: 29px;
$grid-bigger-group-text-line-height: 29px;
$grid-group-down-arrow-icon-font-size: 12px;
$grid-group-right-arrow-icon-font-size: 12px;
$grid-ungroup-button-line-height: 25px;
$grid-ungroup-button-font-size: 11px;
$grid-ungroup-icon-content: '\e953';
$grid-filterbar-cancel-icon-content: '\e953';
$grid-group-rtl-right-arrow-icon: '\e84f';
$grid-textwrap-sorticon-rightalign-margin: -15px 0;
$grid-textwrap-sorticon-margin: -15px -5px;
$grid-rtl-group-headercell-margin-right: 8px;
$grid-rtl-group-headercell-margin-left: 0;
$grid-sortdiv-width: 16px;
$grid-sortdiv-height: 16px;
$grid-sortnumber-margin: 9px 25px 0 2px;
$grid-sortnumber-rightalign-margin: 9px 0 0 15px;
$grid-icon-default-color: $content-font;
$grid-columnchooser-footer-border-color: $border-default;
$grid-columnchooser-footer-border-opacity: 1;
$grid-columnchooser-hover-bg-color: rgba($border-default, .2);
$grid-columnchooser-active-bg-color: rgba($border-default, .4);
$grid-columnchooser-search-border-fcolor: $selection-bg;
$grid-columnchooser-input-padding-top: 1px;
$grid-columnchooser-input-padding-bottom: 1px;
$grid-column-chooser-searchdiv: 1px;
$grid-column-chooser-search-icon-padding: 2px 2px;
$grid-column-chooser-cancel-icon-padding: 4px 2px;
$grid-columnchooser-li-padding: 7px 0 6px;
$grid-columnchooser-content-padding: 25px 25px 0 12px;
$grid-columnchooser-toolbar-button-padding: 0 20px;
$grid-columnchooser-toolbar-div-margin-top: -2px;
$grid-column-chooser-searchdiv-left: 6px;
$grid-columnchooser-search-icon-content: '\e97d';
$grid-bigger-columnchooser-li-padding: 11px 0 10px;
$grid-bigger-columnchooser-content-padding: 25px 24px 5px;
$grid-columnchooser-content-margin: 22px 0 0;
$grid-columnchooser-toolbardiv-padding: 2px 0 0;
$grid-columnchooser-toolbardiv-margin-top: -3;
$grid-cc-checkbox-padding-left: 13px;
$grid-bigger-columnchooser-content-padding: 25px 25px 5px 12px;
$grid-bigger-columnchooser-content-margin: 30px 0 20px;
$grid-bigger-cc-checkbox-padding-left: 13px;
$grid-bigger-searchdiv-padding-left: 7px;
$grid-rtl-sortnumber-margin: 9px 0 0 3px;
$grid-rtl-bigger-sortnumber-margin: 9px 0 0 3px;
$grid-rtl-sortnumber-rightalign-margin: 9px 0 0 30px;
$grid-rtl-headercell-border-width: 0;
$grid-rtl-th-firstcell-border-left: 0;
$grid-rtl-sortcelldiv-margin: -22px 0 0 10px;
$grid-rtl-sortcelldiv-right-align-margin: -22px 0 0 10px;
$grid-rtl-bigger-sortcelldiv-right-align-margin: -22px 0 0 22px;
$grid-rtl-bigger-sortcelldiv-margin: -22px 0 0 13px;
$grid-rtl-group-text-margin-left: 0;
$grid-rtl-group-text-margin-right: 8px;
$grid-rtl-group-sorticon-margin-right: 8px;
$grid-ungroup-rtl-padding-top: 0;
$grid-bigger-headercell-padding: round($grid-header-padding*1.25);
$grid-bigger-headercell-bootom-padding: round($grid-header-bottom-padding*1.25);
$grid-bigger-headercell-line-height: round($grid-headercell-line-height*1.25);
$grid-bigger-header-first-last-cell-padding: round($grid-header-first-last-cell-padding*1.25);
$grid-bigger-content-padding: round($grid-content-padding*1.25);
$grid-bigger-content-right-padding: round($grid-content-right-padding*1.25);
$grid-bigger-rowcell-line-height: round($grid-rowcell-line-height*1.25);
$grid-bigger-first-last-rowcell-padding: round($grid-first-last-rowcell-padding*1.25);
$grid-bigger-group-line-height: round($grid-group-height*1.25);
$grid-bigger-filterbarcell-text-input: 40px;
$grid-bigger-group-headercell-height: round($grid-headecell-height*1.25) - 2;
$grid-bigger-group-clone-broder-radius: round($grid-gd-clone-border-radius *1.25);
$grid-bigger-grouptext-marign: round($grid-grouptext-margin-right *1.25);
$grid-bigger-groupedcell-icons-marign-left: round($group-sorticon-margin-left *1.25);
$grid-bigger-groupcaption-line-height: 27px;
$grid-bigger-grouped-headercell-border-radius: 0;
$grid-bigger-group-headercell-margin: 10px 0 0 10px;
$grid-bigger-group-headercell-padding: 1px 10px;
$grid-bigger-ungroup-button-font-size: 13px;
$grid-bigger-ungroupbutton-icons-font-size: 13px;
$grid-bigger-ungroupbutton-icon-margin-top: 1px;
$grid-bigger-grouparea-font-size: 21px;
$grid-bigger-rtl-group-headercell-margin: 8px 10px 0 0;
$grid-bigger-rtl-group-headercell-padding: 0 10px;
$grid-bigger-rtl-ungroup-icon-margin-right: 8px;
$group-bigger-sorticon-margin-right: round($group-sorticon-margin-right*1.25);
$grid-bigger-gdownarrow-icon-font-size: 14px;
$grid-bigger-grightarrow-icon-font-size: 14px;
$grid-bigger-icons-font-size: 14px;
$grid-bigger-header-icons-font-size: 14px;
$grid-bigger-sortdiv-margin: -23px 6px;
$grid-bigger-sortdiv-rightalign-margin: -23px -4px;
$grid-bigger-headercell-font-size: 15px;
$grid-bigger-content-font-size: 14px;
$grid-bigger-font-size: 14px;
$grid-bigger-textwrap-srotnumber-margin: 3px 11px 0 2px;
$grid-bigger-textwrap-srotnumber-rightalign-margin: 3px 2px 0 10px;
$grid-bigger-textwrap-sorticon-rightalign-margin: -17px 0;
$grid-bigger-textwrap-sorticon-margin: -17px 0;
$grid-edit-cell-padding: 0;
$grid-edit-input-padding-top: 0;
$grid-edit-input-padding-bottom: 0;
$grid-edit-input-margin: 0;
$grid-batch-updated-bg-color: #d7f9c7;
$grid-val-error-color: $message-font;
$grid-val-error-bg-color: $error-bg;
$grid-resize-helper-color: $content-font;
$grid-edit-input-bigger-padding-bottom: 0;
$grid-edit-input-bigger-padding-top: 0;
$grid-edit-input-bigger-margin: 2px;
$grid-edit-input-bigger-device-padding-bottom: 0;
$grid-edit-input-bigger-device-padding-top: 0;
$grid-columnchooser-toolbartxt-padding: 0;
$grid-bigger-columnchooser-toolbartxt-padding: 0;
$grid-column-chooser-footdiv: 0;
$grid-columnchooser-content-margin: 22px 0 20px;
$grid-edit-input-margin-top: 2px;
$grid-edit-input-margin: 2px;
$grid-edit-checkbox-bigger-padding-left: 8px;
$grid-edit-checkbox-bigger-padding-top: 8px;
$grid-edit-icon: '\e97c';
$grid-add-icon: '\e7d5';
$grid-print-icon: '\e7df';
$grid-device-ungroupbutton-line-height: 31px;
$frozen-border-color: $selection-border;
$grid-headercelldiv-fltricon-margin: 0 20px 0 0;
$grid-headercelldiv-rightalign-fltricon-margin: 0 20px 0 10px;
$grid-fltrdiv-margin: -24px -7px;
$grid-rtl-fltrdiv-margin: -24px -7px;
$grid-rtl-bigger-fltrdiv-margin: -26px -7px;
$grid-icon-save: '\e954';
$grid-cell-focus-shadow: 0 0 0 1px $border-default inset;

$grid-xlfl-fieldset-padding: 9px;
$grid-xlfltd-padding: 12px;
$grid-xlfltable-border-spacing: 0;
$grid-xlfl-dropdown-padding-right: 12px;
$grid-xlfl-radio-margin-left: 13px;
$grid-xlfl-min-height: 314px;
$grid-xlfl-li-left-padding: 35px;
$grid-xlfl-li-icon-margin-right: 10px;
$grid-xlfl-dlg-padding-bottom: 5px;
$grid-xlfltd-radio-mtcase-padding: 12px;
$grid-xlfl-fieldset-font-size: 13px;
$grid-xlfl-dlgfields-font-size: 15px;
$grid-xlfl-li-height: 36px;
$grid-xlfl-radiodiv-width: 118px;
$grid-bigger-xlfl-li-height: 48px;
$grid-bigger-xlfl-fieldset-font-size: 14px;
$grid-bigger-xlfl-dlgfields-font-size: 16px;
$grid-bigger-xlfltd-radio-mtcase-padding: 6px;
$grid-bigger-xlfl-dlg-padding-bottom: 10px;
$grid-bigger-xlfl-li-icon-margin-right: 10px;
$grid-bigger-xlfl-li-left-padding: 35px;
$grid-bigger-xlfl-min-height: 372px;
$grid-bigger-xlfl-fieldset-padding: 12px;
$grid-bigger-xlfltd-padding: 16px;
$grid-bigger-xlfl-radio-margin-left: 18px;
$grid-bigger-xlfltable-border-spacing: 0;
$grid-bigger-xlfl-dropdown-padding-right: 16px;
$grid-bigger-xlfl-radiodiv-width: 138px;
$grid-filtered-color: $selection-bg;
$grid-filtermenu-icon: '\e21c';
$grid-bigger-fltrdiv-margin: -26px -7px;
$grid-checkbox-padding-topbottom: 7px;
$grid-bigger-checkbox-padding-topbottom: 12px;
$grid-sortdiv-filtericon-rightalign-margin: -21px 0 0 8px;
$grid-sortdiv-filtericon-margin: -22px 30px 0 0;
$grid-rtl-sortdiv-filtericon-rightalign-margin: -22px 0 0 22px;
$grid-rtl-sortdiv-filtericon-margin: -22px 0 0 10px;
$grid-bigger-fltricon-sortdiv-rightalign-margin: -23px 11px 0 0;
$grid-bigger-fltricon-sortdiv-margin: -23px 20px 0 0;
$grid-sortnumber-filtericon-rightalign-margin: 8px 25px 0 5px;
$grid-column-menu-sub-menu-box-shadow: 0 0 10px 0 rgba($shadow, .2);
$grid-toolbar-search-icon-content: '\e97d';
$grid-toolbar-search-margin-bottom: 0;
$grid-toolbar-search-width: 230px;
$grid-toolbar-search-icon-min-width: 30px;
$grid-bigger-toolbar-search-icon-min-width: 38px;
$grid-toolbar-search-wrapper-padding-top: 4px;
$grid-toolbar-search-wrapper-padding-bottom: 4px;
$grid-bigger-toolbar-search-wrapper-padding-bottom: 5px;
$grid-bigger-toolbar-search-wrapper-padding-top: 5px;
$grid-bigger-checkbox-filter-min-height: 370px;
$grid-checkbox-filter-min-height: 348px;
$grid-column-menu-top: 8px;
$grid-column-menu-top-touch: 10px;
$grid-rtl-bigger-fltricon-sortdiv-margin: -23px 0 0 -7px;
$grid-rtl-bigger-fltricon-sortdiv-rightalign-margin: -23px 0 0 5px;
$grid-excelmenu-filter-icon: '\e250';
$grid-excelmenu-clear-filter-icon: '\e247';
$grid-selection-font-weight: normal;
$group-hover-border: 2px solid;
$grid-drag-clone-font-weight: $grid-selection-font-weight;
$grid-resize-border-width: 2px;
$grid-grouped-headercell-hover-padding: 0 7px;
$grid-table-background-color: $bg-base-0;
$grid-sortnumber-bg-color: $bg-base-75;
$grid-sortnumber-color: $invert-font;
$grid-batch-updated-bg-color: #56b873;
$grid-content-batch-font-color: $selection-font;
$grid-bigger-group-headercell-hover-padding: 0 9px;
$grid-table-background-color: $bg-base-0;
$grid-xl-radio-padding-left: 25px;
$grid-xl-radio-padding-right: 8px;
$grid-bigger-xl-radio-padding-left: 28px;
$grid-bigger-xl-radio-padding-right: 5px;
$grid-xlfl-radio-margin-left: 2px;
$grid-header-wrap-sortfilter-div-margin: -18px 11px;
$grid-header-wrap-rightalign-sortfilter-div-margin: -17px 10px 0 0;
$grid-header-wrap-filtericon-sortfilter-div-margin: -16px 30px;
$grid-bigger-wrap-sortdiv-margin: -19px 6px;
$grid-bigger-wrap-rightalign-sortdiv-margin: -19px -4px;
$grid-bigger-wrap-fltricon-sortdiv-margin: -17px 11px;
$grid-bigger-wrap-rightalign-fltricon-sortdiv-margin: -18px 11px;
$grid-header-wrap-filtericon-rightalign-sortfilter-div-margin: -15px 8px;
