@include export-module('image-editor-layout') {

  .e-ie-toolbar-upload-div.e-hide,
  .e-ie-toolbar-upload-btn.e-hide {
    display: none;
  }
  
  .e-device.e-image-editor {
    & .e-img-font-style.e-template{
      margin-left: 0 !important; /* stylelint-disable-line declaration-no-important */
    }

    & .e-slider-container {
      margin-left: calc(50% - 70px) !important; /* stylelint-disable-line declaration-no-important */
      height: 54px !important; /* stylelint-disable-line declaration-no-important */
    }

    & .e-straighten-slider {
      margin-left: calc(50% - 70px) !important; /* stylelint-disable-line declaration-no-important */
    }

    & .e-ie-straighten-value-span {
      margin-left: 15px !important; /* stylelint-disable-line declaration-no-important */
    }

    & .e-hscroll .e-scroll-nav.e-scroll-right-nav {
      display: none !important; /* stylelint-disable-line declaration-no-important */
    }
  
    & .e-hscroll.e-scroll-device {
      padding-right: 0 !important; /* stylelint-disable-line declaration-no-important */
    }

    & .e-scroll-right-overlay {
      display: none !important; /* stylelint-disable-line declaration-no-important */
    }

    & .e-contextual-toolbar-wrapper {
      border-top: $image-editor-border;
      border-bottom: none !important; /* stylelint-disable-line declaration-no-important */
    }

    & .e-toolbar {
      border-bottom: $image-editor-border;
    }

    & .e-contextual-toolbar-wrapper .e-toolbar {
      border-bottom: none !important; /* stylelint-disable-line declaration-no-important */
    }

    & .e-bottom-toolbar .e-toolbar,
    & .e-bottom-toolbar-area .e-toolbar {
      border-bottom: none;
    }
  }

  .e-bigger .e-image-editor,
  .e-image-editor.e-bigger {

    & .e-contextual-toolbar-wrapper {
      & .e-slider-container {
        & .e-slider {
          & .e-handle {
            top: $image-editor-device-slider-handler !important; /* stylelint-disable-line declaration-no-important */
          }
        }
      }
    }
    
    & .e-toolbar {
      height: $image-editor-bigger-tbar-height !important; /* stylelint-disable-line declaration-no-important */
      min-height: $image-editor-bigger-tbar-height !important; /* stylelint-disable-line declaration-no-important */

      & .e-toolbar-items {
        @if $skin-name == 'material' {
          height: $image-editor-bigger-tbar-height !important; /* stylelint-disable-line declaration-no-important */
          min-height: $image-editor-bigger-tbar-height !important; /* stylelint-disable-line declaration-no-important */
        }
      }

      & .e-toolbar-items {
        & .e-toolbar-item {
          &.e-ie-resize-height span {
            font-size: 16px;
          }

          &.e-ie-resize-width span {
            font-size: 16px;
          }
        }
      }
      & .e-toolbar-items {
        & .e-toolbar-item {
          & .e-tbar-btn.e-btn.e-tbtn-txt {
            .e-icons.e-btn-icon {
              @if $skin-name == 'fabric' or $skin-name == 'fabric-dark' or $skin-name == 'bootstrap' or $skin-name == 'bootstrap-dark' or $skin-name == 'boostrap4' {
                padding: 0;
              }
              font-size: $image-editor-bigger-tbar-btn-fontsize;
            }
          }

          & .e-tbar-btn.e-btn {
            .e-icons.e-btn-icon {
              font-size: $image-editor-bigger-tbar-btn-fontsize;
              @if $skin-name == 'bootstrap5' or $skin-name == 'bootstrap5-dark' {
                padding-top: 4px;
                padding-bottom: 4px;
              }
            }
          }
        }

        & .e-fill.e-template,
        & .e-stroke.e-template,
        & .e-frame-stroke.e-template,
        & .e-pen-stroke-color.e-template,
        & .e-text-font-color.e-template,
        & .e-save.e-template {
          & .e-dropdown-btn {
            & .e-icons.e-caret {
              font-size: $image-editor-bigger-tbar-btn-fontsize;
            }
          }
        }

        & .e-text-font-color.e-template {
          & .e-dropdown-btn {
            & .e-icons.e-caret {
              margin-top: -4px;
            }
          }
        }

        & .e-btn-icon.e-dropdownbtn-preview {
          margin-top: $image-editor-bigger-dropdown-btn-preview-top !important; /* stylelint-disable-line declaration-no-important */
          margin-left: $image-editor-bigger-dropdown-btn-preview-left;
        }

        & .e-dropdown-btn.e-icon-btn {
          @if $skin-name == 'Material3' {
            padding: 7px 15px;
          }
        }

        & .e-dropdown-btn.e-image-popup {
          & .e-select,
          & .e-annotation,
          & .e-transform {
            font-size: $image-editor-bigger-tbar-btn-fontsize;

            & .e-icons.e-caret {
              font-size: 10px;
            }
          }
        }

        & .e-dropdown-btn {
          & .e-save {
            font-size: $image-editor-bigger-tbar-btn-fontsize;

            & .e-icons.e-caret {
              font-size: 10px;
            }
          }
        }

        &.e-tbar-pos {
          .e-toolbar-left {
            line-height: 1;
          }
        }
      }
    }
  }
  
  .e-image-editor {
    border: $image-editor-border;
    position: relative;
    display: block;

    /* stylelint-disable property-no-vendor-prefix */
    & .no-spin ::-webkit-inner-spin-button,
    & .no-spin ::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    & .e-quick-access-toolbar-area .e-toolbar {
      @if $skin-name == 'Material3' {
        border-radius: 4px;
      }
    }

    & .e-ie-drop-area {
      height: calc(100% - 18px);
      width: calc(100% - 20px);
      border: $image-editor-drop-border;
      border-radius: 10px;
      margin: 10px;
      @if $skin-name == 'highcontrast' {
        color: $hover-font;
      }

      & .e-upload {
        display: none;
      }

      & .e-image::before {
        font-size: 50px;
      }

      & .e-ie-drop-icon {
        top: calc(50% - 60px);
        left: calc(50% - 25px);
      }

      & .e-ie-drop-content {
        top: 50%;
        left: calc(50% - 160px);
        font-size: 14px;
      }

      & .e-ie-drop-content > a {
        @if $skin-name == 'highcontrast' {
          color: $hover-font;
        }
      }

      & .e-ie-drop-info {
        top: calc(50% + 40px);
        left: calc(50% - 100px);
        position: absolute;
        font-size: 14px;
      }

      & .e-ie-min-drop-content {
        left: calc(50% - 120px);
        top: 50%;
        font-size: 14px;
      }
    }

    & .e-toolbar {
      border: none;
      border-bottom: $image-editor-border;
      @if $skin-name != 'Material3' {
        height: $image-editor-tbar-height !important; /* stylelint-disable-line declaration-no-important */
        min-height: $image-editor-tbar-height !important; /* stylelint-disable-line declaration-no-important */
      }
      @if $skin-name == 'FluentUI' {
        box-shadow: none !important; /* stylelint-disable-line declaration-no-important */
      }
      & .e-toolbar-items {
        & .e-toolbar-item {
          &.e-ie-resize-height {
            margin-left: 20px;
            min-width: 28px !important; /* stylelint-disable-line declaration-no-important */
          }

          &.e-ie-resize-width {
            min-width: 28px !important; /* stylelint-disable-line declaration-no-important */
          }

          & .e-tbar-btn.e-btn.e-tbtn-txt {
            .e-icons.e-btn-icon {
              @if $skin-name == 'fabric' or $skin-name == 'fabric-dark' or $skin-name == 'bootstrap' or $skin-name == 'bootstrap-dark' or $skin-name == 'boostrap4' {
                padding: 0;
              }
              font-size: $image-editor-tbar-btn-fontsize;
            }
          }

          & .e-tbar-btn.e-btn {
            .e-icons.e-btn-icon {
              font-size: $image-editor-tbar-btn-fontsize;
              @if $skin-name == 'bootstrap5' or $skin-name == 'bootstrap5-dark' {
                padding-top: 4px;
                padding-bottom: 4px;
              }
            }
          }
        }

        & .e-upload {
          border: none;
        }

        & .e-file-select-wrap {
          padding: 0;
        }

        & .e-image-upload {
          & .e-file-select,
          & .e-file-drop,
          & .e-upload-files {
            display: none;
          }
          & .e-image-upload .e-upload {
            border: none;
          }

          & .e-icons.e-upload-icon {
            @if $skin-name == 'bootstrap5' or $skin-name == 'bootstrap5-dark' {
              padding-top: 6px;
            }
          }
        }

        & .e-fill.e-template,
        & .e-stroke.e-template,
        & .e-frame-stroke.e-template,
        & .e-pen-stroke-color.e-template,
        & .e-text-font-color.e-template,
        & .e-save.e-template {
          & .e-dropdown-btn {
            & .e-icons.e-caret {
              font-size: $image-editor-tbar-btn-fontsize;
            }
          }
        }

        & .e-text-font-color.e-template {
          & .e-dropdown-btn {
            & .e-icons.e-caret {
              margin-top: -4px;
            }
          }
        }

        & .e-btn-icon.e-dropdownbtn-preview {
          height: 18px;
          width: 18px;
          margin-top: $image-editor-dropdown-btn-preview-top !important; /* stylelint-disable-line declaration-no-important */
          margin-left: $image-editor-dropdown-btn-preview-left;
        }

        & .e-dropdown-btn.e-image-popup {
          & .e-select,
          & .e-annotation,
          & .e-transform {
            font-size: $image-editor-tbar-btn-fontsize;

            & .e-icons.e-caret {
              font-size: 10px !important; /* stylelint-disable-line declaration-no-important */
            }
          }
        }

        & .e-dropdown-btn {
          & .e-save {
            font-size: $image-editor-tbar-btn-fontsize;

            & .e-icons.e-caret {
              font-size: 10px !important; /* stylelint-disable-line declaration-no-important */
            }
          }
        }

        &.e-tbar-pos {
          .e-toolbar-left {
            line-height: 1;
          }
        }
      }
    }
    

    & .e-toolbar-area + .e-canvas-wrapper {
      & .e-textarea {
        line-height: initial !important; /* stylelint-disable-line declaration-no-important */
      }
    }

    & .e-bottom-toolbar,
    & .e-bottom-toolbar-area {
      border-top: $image-editor-border;
    }

    & .e-contextual-toolbar-wrapper {
      border-bottom: $image-editor-border;
      width: 100%;
      z-index: 1;

      & .e-toolbar {
        border-bottom: none !important; /* stylelint-disable-line declaration-no-important */
        @if $skin-name == 'Material3' {
          height: 140px !important; /* stylelint-disable-line declaration-no-important */
        }
        @else {
          height: 130px !important; /* stylelint-disable-line declaration-no-important */
        }
      }

      & .e-frame-wrapper {
        & .e-toolbar {
          height: inherit !important; /* stylelint-disable-line declaration-no-important */
        }

        & .e-toolbar-item {
          display: inline-grid;
        }

        & .e-toolbar-item > span{
          font-weight: 500;
          margin: 4px;
          text-align: center;
        }

        & .e-dropdown-btn {
          margin: 0 auto;
          width: max-content;
        }
      }

      &.e-frame-wrapper {
        & .e-toolbar {
          height: inherit !important; /* stylelint-disable-line declaration-no-important */
        }

        & .e-toolbar-item:not(.e-hidden) {
          display: inline-grid;
        }

        & .e-toolbar-item > span{
          font-weight: 500;
          margin: 4px;
          text-align: center;
        }

        & .e-dropdown-btn {
          margin: 0 auto;
          width: max-content;
        }
      }

      &.e-hide {
        display: none;
      }

      & .e-toolbar-item {
        height: auto !important; /* stylelint-disable-line declaration-no-important */

        & .filterwrapper,
        & .filter-wrapper {
          border: 2px solid transparent;
          height: 100px;
        }
      }

      & .e-toolbar-item:hover .filterwrapper,
      & .e-toolbar-item:hover .filter-wrapper,
      & .e-toolbar-item.e-selected .filterwrapper,
      & .e-toolbar-item.e-selected .filter-wrapper {
        border-top: 2px solid;
      }

      & .e-slider-container {
        margin-left: calc(50% - 137px);
        height: 54px !important; /* stylelint-disable-line declaration-no-important */

        & .e-slider {
          & .e-handle {
            @if $skin-name == 'Material3' {
              height: 16px !important; /* stylelint-disable-line declaration-no-important */
              top: calc(50% - 10px) !important; /* stylelint-disable-line declaration-no-important */
              width: 16px !important; /* stylelint-disable-line declaration-no-important */
            }
          }
        }
      }
    }
  }
  .e-ie-straighten-value-span,
  .e-ie-straighten-span,
  .e-ie-toolbar-straighten {
    font-size: 14px !important; /* stylelint-disable-line declaration-no-important */
    padding-left: 10px !important; /* stylelint-disable-line declaration-no-important */
    padding-right: 10px !important; /* stylelint-disable-line declaration-no-important */
  }

  .e-straighten .e-control-wrapper.e-slider-container.e-horizontal {
    height: auto;
    margin-left: 8px;
    padding-right: 2px;
  }

  .e-straighten .e-control-wrapper.e-slider-container.e-horizontal .e-slider {
    top: calc(50% - 20px) !important; /* stylelint-disable-line declaration-no-important */
  }

  .e-straighten .e-control-wrapper.e-slider-container.e-horizontal .e-slider-track,
  .e-straighten .e-control-wrapper.e-slider-container.e-horizontal .e-range {
    top: calc(50% - 2px) !important; /* stylelint-disable-line declaration-no-important */
  }

  .e-straighten .e-control-wrapper.e-slider-container .e-slider .e-handle {
    top: $image-editor-slider-handler !important; /* stylelint-disable-line declaration-no-important */
    @if $skin-name == 'Material3' {
      height: 16px !important; /* stylelint-disable-line declaration-no-important */
      width: 16px !important; /* stylelint-disable-line declaration-no-important */
    }
  }

  .e-ie-finetune-value-span {
    top: $image-editor-finetune-value-span !important; /* stylelint-disable-line declaration-no-important */
  }

  .e-ie-finetune-slider-label {
    top: $image-editor-finetune-span !important; /* stylelint-disable-line declaration-no-important */
  }

  .e-ie-finetune-slider-wrap {
    top: calc(50% - 15px) !important; /* stylelint-disable-line declaration-no-important */
    @if $skin-name == 'Material3' or $skin-name == 'tailwind' {
      top: calc(50% - 14px) !important; /* stylelint-disable-line declaration-no-important */
    }
  }

  .e-transparency-slider-wrap {
    top: calc(50% - 15px) !important; /* stylelint-disable-line declaration-no-important */
  }

  .e-ie-slider-wrap {
    top: calc(50% - 14px) !important; /* stylelint-disable-line declaration-no-important */
  }

  .e-bigger .e-straighten .e-control-wrapper.e-slider-container .e-slider .e-handle {
    @if $skin-name == 'Material3' {
      height: 22px !important; /* stylelint-disable-line declaration-no-important */
      width: 22px !important; /* stylelint-disable-line declaration-no-important */
    }
    top: $image-editor-bigger-slider-handler !important; /* stylelint-disable-line declaration-no-important */
  }

  .e-dropdown-popup.e-ie-crop-ddb-popup ul {
    height: 250px;
    overflow-y: scroll;
  }

  .e-dropdown-popup.e-ie-ddb-popup {
    background: none !important; /* stylelint-disable-line declaration-no-important */
  }

  .e-device.e-image-editor .e-ie-device-transparency-slider {
    margin-left: calc(50% - 80px) !important; /* stylelint-disable-line declaration-no-important */
  }

  .e-device.e-image-editor {
    .e-straighten .e-control-wrapper.e-slider-container .e-slider .e-handle {
      @if $skin-name == 'Material' {
        top: calc(50% - 6px) !important; /* stylelint-disable-line declaration-no-important */
      }
    }
  }
}
