/*! AppBar component highcontrast theme definitions and variables */

$appbar-bg-color-primary: $selection-bg !default;
$appbar-color-primary: $selection-font !default;
$appbar-border-color-primary: $selection-bg !default;
$appbar-font-size: 14px !default;
$appbar-bigger-font-size: 16px !default;
$appbar-border: 1px solid !default;
