$inplace-skin: 'FluentUI' !default;
//Layout Variable Start
$editor-big-value-text-font-size: $text-base !default;
$editor-nrml-value-text-font-size: $text-sm !default;
$editor-big-value-container-padding: 7px 12px 9px 12px !default;
$editor-nrml-value-container-padding: 4px 8px 6px 8px !default;
$editor-big-value-container-spin-padding: 12px !default;
$editor-nrml-value-container-spin-padding: 10px !default;
$editor-big-value-margin: 0 32px 0 0 !default;
$editor-nrml-value-margin: 0 30px 0 0 !default;
$editor-rtl-big-value-margin: 0 0 0 32px !default;
$editor-rtl-nrml-value-margin: 0 0 0 30px !default;
$editor-big-overlay-icon-size: $text-base !default;
$editor-nrml-overlay-icon-size: $text-sm !default;
$editor-big-overlay-icon-container-size: 20px !default;
$editor-nrml-overlay-icon-container-size: 20px !default;
$editor-big-overlay-icon-left-right: 12px !default;
$editor-nrml-overlay-icon-left-right: 8px !default;
$editor-tip-content-bdr-radius: $model-radius !default;
$editor-popup-tip-content-bdr-radius: 0 !default;
$editor-popup-tip-wrapper-bdr-radius: 0 !default;
$editor-tip-title-font-weight: $font-weight-medium !default;
$editor-big-tip-title-font-size: $text-lg !default;
$editor-nrml-tip-title-font-size: $text-base !default;
$editor-big-tip-title-padding: 8px 16px 0 16px !default;
$editor-nrml-tip-title-padding: 6px 12px 0 12px !default;
$editor-rtl-big-tip-title-padding: 8px 16px 0 16px !default;
$editor-rtl-nrml-tip-title-padding: 6px 12px 0 12px !default;
$editor-big-tip-title-container-size: 28px !default;
$editor-nrml-tip-title-container-size: 24px !default;
$editor-big-tip-wrapper-padding: 25px 16px 16px 16px !default;
$editor-nrml-tip-wrapper-padding: 18px 12px 12px 12px !default;
$editor-big-wrapper-title-with-padding: 25px 16px 16px 16px !default;
$editor-nrml-wrapper-title-with-padding: 18px 12px 12px 12px !default;
$editor-component-bottom-margin: 4px !default;
$editor-buttons-top-margin: 4px !default;
$editor-btn-save-icon-size: 12px !default;
$editor-btn-cancel-icon-size: 12px !default;
$editor-big-btn-save-margin: 0 6px 0 0 !default;
$editor-nrml-btn-save-margin: 0 4px 0 0 !default;
$editor-big-btn-cancel-margin: 0 0 0 6px !default;
$editor-nrml-btn-cancel-margin: 0 0 0 4px !default;
$editor-rtl-big-btn-save-margin: 0 0 0 6px !default;
$editor-rtl-nrml-btn-save-margin: 0 0 0 4px !default;
$editor-rtl-big-btn-cancel-margin: 0 6px 0 0 !default;
$editor-rtl-nrml-btn-cancel-margin: 0 4px 0 0 !default;
//Layout Variable End

//Theme Variable Start
$editor-value-hover-bg: $content-bg-color-alt2 !default;
$editor-value-text-color: $content-text-color !default;
$editor-overlay-icon-color: $icon-color !default;
$editor-value-text-border: 1px dashed $content-text-color !default;
$editor-background-color: $transparent !default;
$wrapper-background-color: $flyout-bg-color !default;
$editor-tip-border: none !default;
$editor-tip-bg: $flyout-bg-color !default;
$editor-tip-arrow-icon-color: $tooltip-bg-color !default;
$editor-tip-title-arrow-icon-color: $content-bg-color !default;
$editor-tip-arrow-bdr-color: $content-bg-color-alt1 !default;
$editor-tip-title-arrow-bdr-color: $border !default;
$editor-tip-box-shadow: $shadow-xl !default;
$editor-tip-title-bg: $content-bg-color !default;
$editor-tio-title-border-bottom: 0 !default;
$editor-tip-title-color: $content-text-color !default;
$editable-overlay-icon-height: inherit !default;
$editable-overlay-icon: 0 !default;
$editor-btn-icon-color: $icon-color !default;
//Theme Variable End
