/*! component's theme wise override material-definitions and variables */
$skin-name: 'material-dark';

// Generic
$grid-layout-position: relative;
$panel-position: absolute;
$panel-box-sizing: border-box;
$icon-zero: 0;
$icon-border-radius: 50%;

// Header styles

// Mouse

$panel-header-height: 28px;
$panel-header-padding: 0 12px;
$panel-header-color: rgba($grey-dark-font, .7);
$panel-header-font-size: 14px;
$panel-header-font-weight: 500;

// Touch

$panel-bigger-header-height: 30;
$panel-bigger-header-padding: 0 12px;
$panel-bigger-header-color: rgba($grey-dark-font, .7);
$panel-bigger-header-font-size: 13px;
$panel-bigger-header-font-weight: 500;

// Panel styles

$panel-background: $grey-dark;
$panel-border: 1px $grey-700 solid;
$panel-hover-border: 1px $grey-500 solid;
$panel-active-border: 1px $accent solid;
$panel-border-radius: 2px;
$panel-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .15);
$panel-full-height: 100%;
$panel-full-width: 100%;

// icons styles

$panel-resize-one-dimensional-icon-height: 8px;
$panel-resize-one-dimensional-icon-width: 8px;
$panel-resize-one-dimensional-icon-background: $grey-white;
$panel-resize-one-dimensional-icon-border: none;
$panel-resize-one-dimensional-icon-shadow: none;

$panel-resize-two-dimensional-icon-height: 16px;
$panel-resize-two-dimensional-icon-width: 16px;
$panel-resize-two-dimensional-inner-icon-height: 8px;
$panel-resize-two-dimensional-inner-icon-width: 8px;
$panel-resize-two-dimensional-icon-background: $primary;
$panel-resize-two-dimensional-icon-color: rgba($grey-dark-font, .7);
$panel-resize-two-dimensional-icon-border: 2px $grey-white solid;
$panel-resize-two-dimensional-icon-shadow: 0 0 3px rgba(0, 0, 0, .25);

// south-east-icon-styles

$panel-south-east-icon-right: -6px;
$panel-south-east-icon-bottom: -5px;

// south-west-icon-style

$panel-south-west-icon-left: -6px;
$panel-south-west-icon-bottom: -5px;


// north-east-icon-styles

$panel-north-east-icon-right: -6px;
$panel-north-east-icon-top: -5px;

// north-west-icon-styles

$panel-north-west-icon-left: -6px;
$panel-north-west-icon-top: -5px;

// droppable area border

$panel-drop-border: 2px rgba($accent, .25) dotted;
$panel-drop-background: rgba($accent, .25);
$panel-drop-border-radius: 0;

// dragging element style

$panel-dragging-cursor: move;
$panel-dragging-zindex: 1111;
$panel-drag-prevent: none;
// sass-lint:disable-all
$element-width-complete: 100% !important;
//gridlines
$gridline-background: #383838;
$gridline-border: $grey-600;


