/*! component's theme wise override material-definitions and variables */
$skin-name: 'material';

// Generic
$grid-layout-position: relative;
$panel-position: absolute;
$panel-box-sizing: border-box;
$icon-zero: 0;
$icon-border-radius: 50%;

// Header styles

// Mouse

$panel-header-height: 28px;
$panel-header-padding: 0 12px;
$panel-header-color: rgba($grey-light-font, .54);
$panel-header-font-size: 14px;
$panel-header-font-weight: 500;

// Touch

$panel-bigger-header-height: 30;
$panel-bigger-header-padding: 0 12px;
$panel-bigger-header-color: rgba($grey-light-font, .54);
$panel-bigger-header-font-size: 13px;
$panel-bigger-header-font-weight: 500;

// Panel styles

$panel-background: $grey-white;
$panel-border: 1px $grey-300 solid;
$panel-hover-border: 1px $grey-400 solid;
$panel-active-border: 1px $primary solid;
$panel-border-radius: 2px;
$panel-full-height: 100%;
$panel-full-width: 100%;
$panel-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .15);
// icons styles

$panel-resize-one-dimensional-icon-height: 20px;
$panel-resize-one-dimensional-icon-width: 20px;
$panel-resize-one-dimensional-icon-background: none;
$panel-resize-one-dimensional-icon-border: none;
$panel-resize-one-dimensional-icon-shadow: none;

$panel-resize-two-dimensional-icon-height: 20px;
$panel-resize-two-dimensional-icon-width: 20px;
$panel-resize-two-dimensional-inner-icon-height: 20px;
$panel-resize-two-dimensional-inner-icon-width: 20px;
$panel-resize-two-dimensional-icon-background: none;
$panel-resize-two-dimensional-icon-color: $grey-light-font !default;;
$panel-resize-two-dimensional-icon-border: none;
$panel-resize-two-dimensional-icon-shadow: none;

// south-east-icon-styles

$panel-south-east-icon-right: 1px;
$panel-south-east-icon-bottom: 1px;

// south-west-icon-style

$panel-south-west-icon-left: 1px;
$panel-south-west-icon-bottom: 1px;


// north-east-icon-styles

$panel-north-east-icon-right: 1px;
$panel-north-east-icon-top: 1px;

// north-west-icon-styles

$panel-north-west-icon-left: 1px;
$panel-north-west-icon-top: 1px;

// droppable area border

$panel-drop-border: 1px $primary dotted;
$panel-drop-background: rgba($primary, .2);
$panel-drop-border-radius: 2px;

// dragging element style

$panel-dragging-cursor: move;
$panel-drag-prevent: none;
// sass-lint:disable-all
$panel-dragging-zindex: 1111 !important;
$panel-drag-prevent: none;
// sass-lint:disable-all
$element-width-complete: 100% !important;
//gridlines
$gridline-background: $grey-100;
$gridline-border: $grey-400;
