@import 'definition.scss';

$dialog-bg-color: $neutral-white;
$dialog-icon-color: $neutral-light-font;
$dialog-active-icon-color: $theme-primary;
$dialog-close-button-left: 7px;
$dialog-close-button-right: 11px;
$dialog-header-border: none;
$dialog-close-icon-normal-opacity: initial;
$dialog-close-icon-active-opacity: initial;
$dialog-footer-content-border-top: none;
$dialog-border: none;
$dialog-close-icon-content: '\e7a7';
$header-content-border-radius: 1px 1px 0 0;
$dialog-close-icon-font-size: 16px;
$footer-content-border-radius: 0;
$dialog-header-line-height: normal;
$dialog-content-padding-top: 0;
$dialog-bigger-content-padding-top: 0;
$dialog-close-icon-button-padding: 0 16px;
$dialog-bigger-close-icon-button-padding: 0 20px;
$dialog-bigger-close-icon-font-size: 16px;
$dialog-hover-icon-color: $theme-darker;
$dialog-icon-bg-normal: $neutral-light-font;
$dialog-header-bg-color: $neutral-white;
$dialog-content-bg-color: $neutral-white;
$dialog-footer-bg-color: $neutral-white;
$dialog-shadow-color: 0 0 5px rgba($shadow, .4);
$dialog-header-font-size: 21px;
$dialog-header-font-weight: 100;
$dialog-header-font-color: $neutral-light-font;
$dialog-content-font-size: 14px;
$dialog-content-line-height: 1.5;
$dialog-content-font-weight: 300;
$dialog-device-content-font-size: 15px;
$dialog-content-font-color: $neutral-light-font;
$dialog-border-radius: 0;
$dialog-headericon-border-radius: 50%;
$dialog-overlay-bg-color: #383838;
$dialog-overlay-opacity: .5;
$dialog-closeicon-btn-hover-color: transparent;
$dialog-closeicon-btn-active-color: transparent;
$dialog-close-button-height: 32px;
$dialog-close-button-width: 32px;
$dialog-header-content-padding: 20px 23px 19px;
$dialog-content-padding: 28px 25px 10px;
$dialog-footer-content-padding: 20px 25px 20px;
$dialog-bigger-header-content-padding: 25px 23.25px 11px;
$dialog-bigger-content-padding: 35px 31.25px 12.5px;
$dialog-bigger-footer-content-padding: 25px 31.25px 25px;
$dialog-bigger-footer-button-margin-left: 10px;
$dialog-footer-button-margin-left: 8px;
$dialog-footer-button-margin-right: 8px;
$dialog-bigger-footer-button-margin-right: 10px;
$dialog-close-icon-margin-left: -7px;
$dialog-close-icon-height: 16px;
$dialog-close-icon-width: 16px;
$dialog-bigger-close-icon-height: 16px;
$dialog-bigger-close-icon-width: 16px;
$dialog-close-icon-top: -4px;
$dialog-bigger-close-icon-top: -10px;
$dialog-bigger-close-icon-margin-left: -8px;
$dialog-bigger-close-icon-margin-right: -1px;
$dialog-bigger-close-button-bottom: 4px;
$dialog-bigger-close-button-height: 40px;
$dialog-bigger-close-button-left: 12px;
$dialog-bigger-close-button-width: 40px;
$dialog-btn-border-color: transparent;
$dialog-btn-bg-color: transparent;
$dialog-active-btn-border-color: transparent;
$dialog-active-btn-bg-color: transparent;
$dialog-headericon-bottom: 0;
