//Layout Variables Start
//Mouse Mode Start
$toast-icon-nrml-height: 20px !default;
$toast-icon-nrml-width: 20px !default;
$toast-icon-nrml-size: $text-base !default;
$toast-icon-nrml-right-margin: 12px !default;
$toast-close-icon-nrml-height: 20px !default;
$toast-close-icon-nrml-width: 20px !default;
$toast-close-icon-nrml-size: $text-base !default;
$toast-position-nrml-distance: 10px !default;
$multitoast-nrml-gap-distance: 10px !default;
$toast-nrml-min-height: 48px !default;
$toast-nrml-padding: 18px !default;
$toast-action-btn-nrml-padding: 8px 0 0 8px !default;
$toast-action-btn-nrml-margin: 10px !default;
$toast-progressbar-nrml-height: 4px !default;
$toast-content-nrml-padding: 8px 0 !default;
$toast-nrml-border-radious: 6px !default;
$toast-font-nrml-size: $text-sm !default;
$toast-title-font-nrml-size: $text-sm !default;

//Mouse Mode End

//Touch Mode Start
$toast-icon-bgr-height: 24px !default;
$toast-icon-bgr-width: 24px !default;
$toast-icon-bgr-size: 18px !default;
$toast-icon-bgr-right-margin: 16px !default;
$toast-close-icon-bgr-height: 24px !default;
$toast-close-icon-bgr-width: 24px !default;
$toast-close-icon-bgr-size: $text-base !default;
$toast-position-bgr-distance: 10px !default;
$multitoast-bgr-gap-distance: 10px !default;
$toast-bgr-min-height: 48px !default;
$toast-action-btn-bgr-padding: 12px 0 0 12px !default;
$toast-action-btn-bgr-margin: 10px !default;
$toast-progressbar-bgr-height: 4px !default;
$toast-content-bgr-padding: 12px 0 !default;
$toast-bgr-border-radious: 6px !default;
$toast-font-bgr-size: $text-sm !default;
$toast-title-font-weight: $font-weight-bold !default;

//Touch Mode End
//Layout Variables End

//Theme Variables Start
$toast-border: 1px solid $border-light !default;
$toast-box-shadow: $shadow !default;
$toast-hover-box-shadow: $shadow !default;
$toast-progress-color: $primary !default;
$toast-bg-color: $msg-bg-color !default;
$toast-hover-bg-color: $msg-bg-color !default;
$toast-active-bg-color: $msg-bg-color !default;
$toast-font-color: $msg-color !default;
$toast-icon-color: $msg-icon-color !default;
$toast-close-icon-color: $msg-close-icon-color !default;
$toast-title-color: $content-text-color !default;
$toast-content-color: $content-text-color-alt2 !default;

// Toast Type Definitions Start
$toast-success-bg-color: $success-light-alt !default;
$toast-success-color: $msg-success-color !default;
$toast-success-title-color: $msg-success-color !default;
$toast-success-icon-color: $msg-success-icon-color !default;
$toast-success-content-color: $msg-success-color !default;
$toast-success-hover-bg-color: $msg-success-bg-color !default;
$toast-success-hover-color: $msg-success-color !default;
$toast-success-hover-box-shadow: $shadow !default;

$toast-info-bg-color: $info-light-alt !default;
$toast-info-color: $msg-info-color !default;
$toast-info-title-color: $msg-info-color !default;
$toast-info-icon-color: $msg-info-icon-color !default;
$toast-info-content-color: $msg-info-color !default;
$toast-info-hover-bg-color: $msg-info-bg-color !default;
$toast-info-hover-color:  $msg-info-color !default;
$toast-info-hover-box-shadow: $shadow !default;

$toast-warning-bg-color: $warning-light-alt !default;
$toast-warning-color: $msg-warning-color !default;
$toast-warning-title-color: $msg-warning-color !default;
$toast-warning-icon-color: $msg-warning-icon-color !default;
$toast-warning-content-color: $msg-warning-color !default;
$toast-warning-hover-bg-color: $msg-warning-bg-color !default;
$toast-warning-hover-color: $msg-warning-color !default;
$toast-warning-hover-box-shadow: $shadow !default;

$toast-danger-bg-color: $danger-light-alt !default;
$toast-danger-color: $msg-danger-color !default;
$toast-danger-title-color: $msg-danger-color !default;
$toast-danger-icon-color: $msg-danger-icon-color !default;
$toast-danger-content-color: $msg-danger-color !default;
$toast-danger-hover-bg-color: $msg-danger-bg-color !default;
$toast-danger-hover-color: $msg-danger-color !default;
$toast-danger-hover-box-shadow: $shadow !default;

$toast-close-icon-hover-bg-color: $transparent !default;
$toast-close-icon-hover-color: $icon-color !default;

// Toast Type Definitions End
//icon Variable
$toast-close-icon: '\e7e7' !default;
$toast-success-icon: '\e701' !default;
$toast-error-icon: '\e700' !default;
$toast-info-icon: '\\e704' !default;
$toast-warning-icon: '\e703' !default;

//Theme Variables End
