@include export-module('multiselect-fluent-icons') {
  .e-multiselect.e-input-group .e-ddl-icon::before {
    content: '\e729';
    font-family: 'e-icons';
  }

  .e-multi-select-wrapper .e-chips .e-chips-close::before {
    content: '\e7e7';
    cursor: pointer;
    left: $ddl-chip-close-left;
    position: relative;
    top: $ddl-chip-close-top;
  }

  .e-bigger .e-multi-select-wrapper .e-chips .e-chips-close::before,
  .e-bigger.e-multi-select-wrapper .e-chips .e-chips-close::before {
    top: 1px;
  }

  .e-multi-select-wrapper .e-close-hooker::before {
    content: '\e7e7';
    cursor: pointer;
    left: $ddl-overall-close-left;
    position: relative;
    top: $ddl-overall-close-top;
  }

  .e-small .e-multi-select-wrapper .e-close-hooker::before {
    top: 1px;
  }

  .e-small .e-multi-select-wrapper.e-down-icon .e-close-hooker::before {
    top: -1px;
  }

  .e-small.e-bigger .e-multi-select-wrapper .e-close-hooker::before {
    top: 4px;
  }

  .e-small.e-bigger .e-multi-select-wrapper.e-down-icon .e-close-hooker::before {
    top: 5px;
  }

  .e-bigger .e-multi-select-wrapper .e-close-hooker::before {
    top: 11px;
  }

  .e-bigger .e-multi-select-wrapper.e-down-icon .e-close-hooker::before {
    top: 11px;
  }

  .e-multiselect.e-input-group .e-ddl-disable-icon::before {
    content: '';
  }
}
