$ddl-input-font-size: $text-sm !default;
$ddl-zero-value: 0 !default;
$ddl-input-border: 1px $border-light !default;
$ddl-input-font-family: inherit !default;
$ddl-input-margin-bottom: 4px !default;
$ddl-input-padding: 8px $ddl-zero-value 4px !default;
$ddl-input-group-border-width: $ddl-zero-value !default;
$ddl-list-search-icon-padding: 12px 8px 8px !default;
$ddl-list-filter-text-indent: 5px 8px !default;
$ddl-bigger-list-font-size: $text-base !default;
$ddl-filter-border: 0 !default;
$ddl-filter-top-border: 0 !default;
$ddl-filter-padding: 8px !default;
$ddl-clear-icon-margin-right: 66px !default;
$ddl-back-icon-margin: 0 10px 0 -52px !default;
$ddl-back-icon-padding: 0 8px !default;
$ddl-popup-shadow: $shadow-lg !default;
$ddl-readonly-bg-color: $content-bg-color !default;
$ddl-filter-parent-border: 1px solid $flyout-border !default;
$ddl-filter-margin: 0 !default;

// Small Size
$ddl-small-list-font-size: $text-xs !default;

// touch small
$ddl-bigger-small-list-font-size: $text-sm !default;

// color

$ddl-default-border-color: $border-light !default;
$ddl-active-font-color: $flyout-text-color-selected !default;
$ddl-list-box-shadow-color: rgba(0, 0, 0, .21) !default;
$ddl-filter-box-shadow-color: rgba(0, 0, 0, .3) !default;
$ddl-popup-background-color: $flyout-bg-color !default;
$ddl-filter-background-color: $flyout-bg-color !default;
$ddl-filter-bg: $flyout-bg-color !default;
$ddl-list-icon-color: $icon-color !default;
$ddl-filter-box-shadow: none !default;

@include export-module('dropdownlist-bootstrap5') {
  #{&}.e-popup.e-ddl {
    border-radius: 4px;
    box-shadow: none;
    margin-top: 1px;
    @at-root {
      #{if(&, '&', '*')} .e-input-group {
        width: auto;

        #{if(&, '&', '*')} input {
          line-height: 15px;
        }
      }
    }
  }

  #{&}.e-popup.e-ddl .e-dropdownbase {
    min-height: 26px;
  }

  #{&}.e-popup.e-ddl .e-filter-parent .e-input-group {
    display: flex;
    width: auto;
    @at-root {
      #{if(&, '&', '*')} .e-back-icon {
        border: 0;
      }
    }
  }

  .e-bigger #{&}.e-popup.e-ddl-device-filter {
    margin-top: 0;
  }

  .e-bigger #{&}.e-popup.e-ddl {
    @at-root {
      #{if(&, '&', '*')} .e-list-item {
        font-size: 16px;
        line-height: 32px;
        padding-left: 0;
        text-indent: 16px;
      }

      #{if(&, '&', '*')} .e-list-group-item,
      #{if(&, '&', '*')} .e-fixed-head {
        font-size: 14px;
        line-height: 32px;
        padding-left: 0;
        text-indent: 16px;
      }
    }
  }

  .e-bigger #{&}.e-popup.e-ddl .e-dropdownbase {
    min-height: 40px;
  }

  .e-input-group#{&}.e-control-wrapper.e-ddl .e-input[readonly],
  .e-float-input#{&}.e-control-wrapper.e-ddl input[readonly] {
    background: transparent;
  }

  .e-input-group.e-control-wrapper.e-ddl.e-readonly .e-input[readonly],
  .e-float-input.e-control-wrapper.e-ddl.e-readonly input[readonly] {
    background: $ddl-readonly-bg-color;
  }

  .e-input-group:not(.e-disabled) .e-control#{&}.e-dropdownlist ~ .e-ddl-icon:active,
  .e-input-group:not(.e-disabled) .e-control#{&}.e-dropdownlist ~ .e-ddl-icon:hover,
  .e-control#{&}.e-dropdownlist .e-input-group:not(.e-disabled) .e-ddl-icon:active,
  .e-control#{&}.e-dropdownlist .e-input-group:not(.e-disabled) .e-ddl-icon:hover,
  .e-ddl#{&}.e-popup .e-input-group:not(.e-disabled) .e-clear-icon:active,
  .e-ddl#{&}.e-popup .e-input-group:not(.e-disabled) .e-clear-icon:hover,
  .e-ddl#{&}.e-popup .e-input-group:not(.e-disabled) .e-back-icon:active,
  .e-ddl#{&}.e-popup .e-input-group:not(.e-disabled) .e-back-icon:hover {
    background: none;
    color: $ddl-list-icon-color;
  }

  .e-input-group.e-ddl .e-input[readonly] ~ span.e-input-group-icon.e-ddl-icon,
  .e-input-group.e-control-wrapper.e-ddl .e-input[readonly] ~ span.e-input-group-icon.e-ddl-icon,
  .e-float-input.e-ddl input[readonly] ~ span.e-input-group-icon.e-ddl-icon,
  .e-float-input.e-control-wrapper.e-ddl input[readonly] ~ span.e-input-group-icon.e-ddl-icon {
    background: transparent;
    color: $ddl-list-icon-color;
  }

  .e-input-group:not(.e-disabled) .e-control#{&}.e-dropdownlist ~ .e-ddl-icon,
  .e-input-group.e-disabled.e-ddl .e-control#{&}.e-dropdownlist ~ .e-input-group-icon,
  .e-control#{&}.e-dropdownlist .e-input-group.e-disabled.e-ddl .e-input-group-icon,
  .e-control#{&}.e-dropdownlist .e-input-group.e-ddl .e-input-group-icon {
    border: 0;
  }

  .e-input-group:not(.e-disabled) .e-control#{&}.e-dropdownlist~.e-input-group-icon:active,
  .e-control#{&}.e-dropdownlist .e-input-group:not(.e-disabled) .e-input-group-icon:active,
  .e-ddl#{&}.e-popup .e-input-group:not(.e-disabled) .e-back-icon:active,
  .e-ddl#{&}.e-popup .e-input-group:not(.e-disabled) .e-clear-icon:active {
    box-shadow: none;
  }

  .e-ddl#{&}.e-popup .e-input-group:not(.e-disabled) .e-clear-icon {
    background: none;
    display: flex;
    position: relative;
  }

  .e-ddl#{&}.e-popup .e-filter-parent .e-input-group,
  .e-ddl#{&}.e-popup .e-filter-parent {
    background: $ddl-filter-bg;
  }

  .e-input-group .e-control#{&}.e-dropdownlist~.e-ddl-icon {
    font-size: 14px;
  }

  .e-bigger .e-input-group .e-control#{&}.e-dropdownlist~.e-ddl-icon {
    font-size: 16px;
  }

  .e-bigger.e-small .e-ddl#{&}.e-popup {
    @at-root {
      #{if(&, '&', '*')} .e-list-item,
      #{if(&, '&', '*')} .e-list-group-item,
      #{if(&, '&', '*')} .e-fixed-head {
        font-size: 14px;
        line-height: 34px;
        padding-left: 0;
        text-indent: 16px;
      }

      // #{if(&, '&', '*')} .e-dd-group .e-list-item {
      //   padding-left: 4px;
      // }

      #{if(&, '&', '*')} .e-input-group input,
      #{if(&, '&', '*')} .e-input-group input.e-input {
        height: 30px;
      }
    }
  }

  .e-bigger.e-small #{&}.e-popup.e-ddl .e-dropdownbase {
    min-height: 34px;
  }
}
