@import 'common/mixin.scss';
@import 'definition/highcontrast.scss';

$skin: '';
$font-family: 'Segoe UI', 'GeezaPro', 'DejaVu Serif', sans-serif, '-apple-system', 'BlinkMacSystemFont';
$font-size: 12px;
$font-weight: normal;
$font-path: 'common-images';
$header-bg-color: $bg-base-20;
$header-gradient-color: none;
$header-border-color: $border-default;
$header-font-color: $header-font;
$header-icon-color: $header-font;
$content-bg-color: $bg-base-20;
$content-border-color: $border-default;
$content-font-color: $content-font;
$default-bg-color: $bg-base-20;
$default-gradient-color: none;
$default-border-color: $border-default;
$default-font-color: $content-font;
$default-icon-color: $content-font;
$hover-bg-color: $hover-bg;
$hover-gradient-color: none;
$hover-border-color: $hover-border;
$hover-font-color: $hover-font;
$hover-icon-color: $hover-font;
$active-bg-color: $success-bg;
$active-gradient-color: none;
$active-border-color: $border-default;
$active-font-color: $content-font;
$active-icon-color: $content-font;
$error-font-color: $error-alt;
$information-font-color: $info-bg;
$warning-font-color: $bg-base-20;
$success-font-color: $success-alt;
$overlay-bg-color: #383838;
$shadow-color: rgba(0, 0, 0, .4);
$border-size: 1px;
$border-type: solid;
$border-radius: 0;
$border-left-radius: 0;
$border-right-radius: 0;
$border-top-radius: 0;
$border-bottom-radius: 0;
