@include export-module('kanban-bootstrap-icons') {
  .e-kanban {
    .e-column-expand::before {
      content: '\e765';
    }

    .e-column-collapse::before {
      content: '\e748';
    }

    .e-swimlane-row-expand::before {
      content: '\e729';
    }

    .e-swimlane-row-collapse::before {
      content: '\e748';
    }

    .e-show-add-icon::before {
      content: '\e805';
    }

    .e-swimlane-header-toolbar {
      & .e-icon-menu::before {
        content: '\e799';
      }
    }

    &.e-rtl {
      .e-column-collapse::before {
        content: '\e765';
      }

      .e-column-expand::before {
        content: '\e748';
      }

      .e-swimlane-row-collapse::before {
        content: '\e765';
      }
    }
  }

  .e-mobile-popup-wrapper .e-close-icon::before {
    content: '\e7e7';
  }
}
