@include export-module('context-menu-fluent-icons') {
  /*! contextmenu layout */
  .e-contextmenu-wrapper,
  .e-contextmenu-container {
    @at-root {
      & ul {
        & .e-menu-item  {
          & .e-previous {
            &::before {
              content: '\e7e4';
            }
          }

          & .e-caret {
            &::before {
              content: '\e7c2';
            }
          }
        }
      }
    }
  }

  .e-rtl.e-contextmenu-wrapper .e-menu-item,
  .e-rtl.e-contextmenu-container .e-menu-item {
    & .e-caret {
      &::before {
        content: '\e7c1';
      }
    }
  }
}
