@use 'ej2-base/styles/definition/fluent2' as *;
@forward 'ej2-base/styles/definition/fluent2';

$textarea-VH-textarea-padding: 3px 15px 1px 15px !default;
$textarea-outline-VH-textarea-padding: 3px 15px 1px 15px !default;
$textarea-filled-VH-textarea-padding: 3px 15px 1px 15px !default;
$textarea-VV-template-padding: 9px 13px 9px 13px !default;
$textarea-outline-VV-template-padding: 9px 13px 9px 13px !default;
$textarea-filled-VV-template-padding: 9px 13px 9px 13px !default;
$textarea-HV-textarea-padding: 11px 5px 5px 5px !default;
$textarea-HV-textarea-top: -8px !default;
$textarea-outline-HV-textarea-padding: 11px 5px 5px 5px !default;
$textarea-outline-HV-label-top: -7px !default;
$textarea-filled-HV-textarea-padding: 11px 5px 5px 5px !default;
$textarea-filled-HV-label-top: 11px !default;
$textbox-icon-template-separator-color: $border-dark;
