@use 'ej2-base/styles/common/mixin' as *;
@include export-module('grid-chart-highcontrast-icons') {

  .e-grid-chart-export-icon::before {
    content: '\e710';
  }

  .e-grid-chart-print::before {
    content: '\ebf9';
  }

  .e-grid-chart-jpeg::before {
    content: '\e1bd';
  }

  .e-grid-chart-png::before {
    content: '\e715';
  }

  .e-grid-chart-svg::before {
    content: '\e720';
  }

  .e-grid-chart-pdf::before {
    content: '\e70d';
  }

  .e-grid-chart-xlsx::before {
    content: '\e728';
  }

  .e-grid-chart-csv::before {
    content: '\e70c';
  }

  #{&}.e-grid-context-menu-dialog {

    .e-grid-chart-icon::before {
      content: '\e459';
    }

    .e-grid-bar-chart-icon::before {
      content: '\e855';
    }

    .e-grid-bar-icon::before {
      content: '\e855';
    }

    .e-grid-stacking-bar-icon::before {
      content: '\e889';
    }

    .e-grid-stacking-bar-100-icon::before {
      content: '\e863';
    }

    .e-grid-pie-icon::before {
      content: '\e141';
    }

    .e-grid-column-chart-icon::before {
      content: '\e847';
    }

    .e-grid-column-icon::before {
      content: '\e847';
    }

    .e-grid-stacking-column-icon::before {
      content: '\e888';
    }

    .e-grid-stacking-column-100-icon::before {
      content: '\e868';
    }

    .e-grid-line-chart-icon::before {
      content: '\e867';
    }

    .e-grid-line-icon::before {
      content: '\e867';
    }

    .e-grid-stacking-line-icon::before {
      content: '\e841';
    }

    .e-grid-stacking-line-100-icon::before {
      content: '\e871';
    }

    .e-grid-area-chart-icon::before {
      content: '\e883';
    }

    .e-grid-area-icon::before {
      content: '\e883';
    }

    .e-grid-stacking-area-icon::before {
      content: '\e875';
    }

    .e-grid-stacking-area-100-icon::before {
      content: '\e900';
    }

    .e-grid-scatter-icon::before {
      content: '\e1be';
    }

    .e-grid-chart-max-icon::before {
      content: '\e342';
    }

    .e-grid-chart-min-icon::before {
      content: '\e337';
    }
  }
}
