@import 'definition.scss';

$diagram-endpoint-handle-color: $theme-primary;
$diagram-endpoint-handle-connected-border: $theme-primary;
$diagram-endpoint-handle-connected-color: $theme-dark-font;


$diagram-resize-handle-color: $theme-primary;
$diagram-resize-handle-stroke: $theme-dark-font;
$diagram-border-stroke: $theme-dark;

$diagram-resize-handle-disable-color: $neutral-tertiary;
$diagram-resize-handle-disable-stroke: $grey-dark-font;
$diagram-border-stroke-disabled: $neutral-tertiary;

$diagram-rotate-handle-color: #000;

$diagram-bezier-handle-color:  $theme-primary;
$diagram-bezier-line-color: $theme-dark;

$diagram-highlighter-stroke: $theme-primary;
$diagram-selected-region-stroke: $theme-primary;
$diagram-pivot-line-stroke: $theme-primary;


$diagram-text-edit-selection-color: $theme-dark-font;
$diagram-text-edit-selection-background: $theme-primary;

$diagram-symbolpalette-hover: $neutral-light;
$diagram-symbolpalette-selected: $theme-light;

$diagram-tooltip: none;

$diagram-ruler-color: $neutral-tertiary;
$diagram-ruler-font-size: 10px;
$diagram-ruler-marker-stroke: $theme-primary;
$diagram-ruler-marker-background-color: $grey-dark-font;
$diagram-ruler-label-fill:  $neutral-tertiary;
$diagram-ruler-tick-stroke: $neutral-secondary-alt;

$diagram-background-color: transparent;

$diagram-editbox-background: #fff;
$diagram-editbox-fontcolor: #000;
$diagram-border-stroke-width: 2;
$diagram-lane-border-stroke-width: 2;
$diagram-highlighter-border-stroke-width: 2;
$diagram-border-strokes: $neutral-tertiary;
$diagram-lane-border-strokes: #0078ff;

.e-icons {
  font-family: 'e-icons';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}


@include export-module('diagram-fabric-icons') {
  .e-diagram-menu {
    .e-bringforward::before { content: '\e5a1'; }
    .e-bringfront::before { content: '\e5a2'; }
    .e-sendback::before { content: '\e5a3'; }
    .e-sendbackward::before { content: '\e5a4'; }
    .e-delete::before { content: '\ebf5'; }
    .e-ungroup::before { content: '\e5a6'; }
    .e-group::before { content: '\e5a7'; }
    .e-undo::before { content: '\e341'; }
    .e-redo::before { content: '\e354'; }
    .e-copy::before { content: '\e33d'; }
    .e-cut::before { content: '\e33b'; }
    .e-save::before { content: '\e954'; }
    .e-paste::before { content: '\e355'; }
    .e-zoomin::before { content: '\e349'; }
    .e-italic::before { content: '\e35a'; }
    .e-close::before { content: '\e60a'; }
    .e-pan::before { content: '\ebf3'; }
    .e-bold::before { content: '\eb77'; }
    .e-underline::before { content: '\ebf0'; }
    .e-zoomout::before { content: '\e351'; }
    .e-export::before { content: '\e70f'; }
    .e-print::before { content: '\e34b'; }
    .e-order::before { content: '\e4a4'; }
  }

  .e-symbolpalette {
    .e-clear-searchtext::before { content: '\e60a'; }
  }
}
