@import 'definition.scss';

$hc-theme-primary: #ffd939;
$hc-theme-dark-font: #fff;
$hc-theme-dark: rgb(0, 90, 158);
$hc-neutral-tertiary: rgb(166, 166, 166);
$hc-grey-dark-font: #fff;
$hc-neutral-light: rgb(234, 234, 234);
$hc-theme-light: rgb(199, 224, 244);
$hc-theme-secondary: #2b88d8;
$hc-neutral-secondary-alt: #767676;

$diagram-endpoint-handle-color: $content-font;
$diagram-endpoint-handle-connected-border: $content-font;
$diagram-endpoint-handle-connected-color: $selection-bg;

$diagram-resize-handle-color: $selection-bg;
$diagram-resize-handle-stroke: $selection-bg;
$diagram-border-stroke: $selection-bg;

$diagram-resize-handle-disable-color: $bg-base-75;
$diagram-resize-handle-disable-stroke: $content-font;
$diagram-border-stroke-disabled: $bg-base-75;

$diagram-rotate-handle-color: $selection-bg;

$diagram-bezier-handle-color: $content-font;
$diagram-bezier-line-color: $selection-bg;
$diagram-overview-resizer-color:$selection-bg;
$diagram-highlighter-stroke: $selection-bg;
$diagram-selected-region-stroke: $selection-bg;
$diagram-pivot-line-stroke: $selection-bg;

$diagram-helper-stroke: $selection-bg;

$diagram-text-edit-selection-color: $selection-font;
$diagram-text-edit-selection-background: $selection-bg;

$diagram-symbolpalette-hover: $bg-base-100;
$diagram-symbolpalette-shape-radius: 4px;/* stylelint-disable-line length-zero-no-unit */
$diagram-symbolpalette-selected: $selection-bg;

$diagram-tooltip: none;

$diagram-ruler-color: $bg-base-75;
$diagram-ruler-font-size: 10px;
$diagram-ruler-marker-stroke: $hc-theme-primary;
$diagram-ruler-marker-background-color: $bg-base-20;
$diagram-ruler-label-fill:  $bg-base-75;
$diagram-ruler-tick-stroke: $bg-base-75;

$palette-background-color: $bg-base-75;
$diagram-background-color:$bg-base-100;
$diagram-editbox-background: #fff;
$diagram-editbox-fontcolor: $selection-font;
$diagram-border-stroke-width: 2;
$diagram-lane-border-stroke-width: 2;
$diagram-highlighter-border-stroke-width: 2;
$diagram-border-strokes: $selection-bg;
$diagram-lane-border-strokes: #0078ff;

$diagram-multiselect-stroke: $diagram-resize-handle-stroke;

.e-icons {
  font-family: 'e-icons';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
}

@include export-module('diagram-highcontrast-icons') {
  
  .e-symbolpalette {
    .e-clear-searchtext::before{ content: '\e7a7'; }
  }
}
