@use 'ej2-base/styles/common/mixin' as *;
@include export-module('appbar-bigger') {
  .e-bigger .e-appbar,
  .e-appbar.e-bigger {
    height: $appbar-bigger-height;
    font-size: $appbar-bigger-font-size;

    &.e-dense {
      height: $appbar-bigger-dense-height;
    }

    &.e-prominent {
      height: $appbar-bigger-prominent-height;
    }
  }
}
