$stepper-ol-padding: 0 !default;
$stepper-step-radius: 9999px !default;
$stepper-step-width: 32px !default;
$stepper-icon-size: 16px !default;
$stepper-progress-bar-height: 1.6px !default;
$stepper-progress-value-height: 100% !default;
$stepper-progress-position: 50% !default;
$stepper-temp-outline-width: 2px solid !default;
$stepper-label-top: 1em !default;
$stepper-label-bottom: 4.5em !default;
$stepper-label-position: 2.5em !default;
$stepper-validation-position: .25em !default;
$stepper-text-padding: 0 6px !default;
$stepper-icon-text-padding: 0 8px !default;
$stepper-text-vert-padding: 6px 0 !default;
$stepper-label-optional: 3em !default;
$stepper-text-postion: 10px !default;
$stepper-optional-size: 12px !default;
$step-border: 2px solid !default;
$stepper-label-order: -1 !default;
$stepper-font-weight: 600 !default;
$stepper-text-size: 14px !default;
$stepper-tooltip-tip-bottom-height: 8px !default;

$stepper-small-step-width: 28px !default;
$stepper-small-icon-size: 14px !default;
$stepper-small-optional-size: 10px !default;
$stepper-small-text-size: 12px !default;

$stepper-bigger-step-width: 40px !default;
$stepper-bigger-icon-size: 18px !default;
$stepper-bigger-optional-size: 14px !default;
$stepper-bigger-text-size: 16px !default;

$stepper-bigger-small-step-width: 36px !default;
$stepper-bigger-small-icon-size: 16px !default;
$stepper-bigger-small-optional-size: 12px !default;
$stepper-bigger-small-text-size: 14px !default;

$step-selected-li-shadow: 0 0 0 2px $content-bg-color, 0 0 0 4px $primary, 0 0 0 8px $content-bg-color !default;
$step-keyboard-selected-li-shadow: 0 0 0 2px $content-bg-color, 0 0 0 4px $content-text-color, 0 0 0 8px $content-bg-color !default;
$step-valid-li-shadow: 0 0 0 2px $content-bg-color, 0 0 0 4px $success-border-color, 0 0 0 8px $content-bg-color !default;
$step-error-li-shadow: 0 0 0 2px $content-bg-color, 0 0 0 4px $border-error, 0 0 0 8px $content-bg-color !default;
$step-li-shadow: 0 0 0 8px $content-bg-color !default;
$step-border-color: $border !default;
$step-hover-text-color: $primary-text-color !default;
$step-hover-not-text-color: $content-text-color-alt2 !default;
$step-hover-border-color: $border-dark !default;
$step-active-border-color: $border-dark !default;
$stepper-outline-color: $content-bg-color !default;
$step-color: $content-text-color-alt2 !default;
$step-optional-color: $content-text-color-alt2 !default;
$step-bg-color: $content-bg-color !default;
$step-completed-color: $primary-text-color !default;
$step-completed-bg-color: $primary !default;
$step-progress-bg-color: $border !default;
$step-progress-value-bg-color: $primary !default;
$step-disabled-bg-color: $border-light !default;
$step-disabled-font-color: $content-text-color-disabled !default;
$step-disabled-color: $content-text-color-disabled !default;
$stepper-text-color: $content-text-color !default;
$step-valid-icon-only-color: $success-border-color !default;
$step-error-icon-only-color: $border-error !default;
$step-valid-completed-color: $primary-text-color !default;
$step-valid-completed-bg-color: $success-border-color !default;
$step-error-icon-color: $primary-text-color !default;
$step-error-completed-color: $border-error !default;
$step-error-completed-bg-color: $border-error !default;
$step-hover-color: $content-bg-color !default;
$step-active-color: $content-bg-color !default;
$step-selected-hover-color: $primary-bg-color-hover !default;
$step-selected-active-color: $primary-bg-color-pressed !default;
