
@include export-module('toolbar-icons') {
  /*! toolbar icons */
  #{&}.e-toolbar {

    .e-popup-down-icon::before {
      content: $tbar-popup-down-icon;
      line-height: normal;
      @if $skin-name == 'highcontrast' {
        content: '\e84f';
      }
    }

    .e-popup-up-icon::before {
      content: $tbar-popup-up-icon;
      line-height: normal;
      @if $skin-name == 'highcontrast' {
        content: '\e85e';
      }
    }
  }
}
