/*! Kanban component's material theme definitions and variables */
$kanban-skin: 'material' !default;
$kanban-column-bg-color: $grey-100 !default;
$kanban-default-font: rgba($grey-light-font, .87) !default;
$kanban-header-font: $kanban-default-font !default;
$kanban-content-font: rgba($grey-light-font, .6) !default;
$kanban-border-color: $grey-500 !default;
$kanban-focus-color: $grey-300 !default;
$kanban-card-selection: $grey-200 !default;
$kanban-primary-color: $primary !default;
$kanban-dropped-clone-bg-color: rgba($kanban-primary-color, .1) !default;
$kanban-dropped-clone-border-color: $kanban-primary-color !default;
$kanban-dragged-clone-border-color: $grey-500 !default;
$kanban-icons-color: rgba($grey-light-font, .54) !default;
$kanban-bg-color: $grey-white !default;
$kanban-popup-overlay-bg-color: #383838 !default;
$kanban-min-color: #ffe082 !default;
$kanban-max-color: #ffcdd2 !default;
$kanban-header-border-color: $grey-300 !default;
$kanban-popup-box-shadow-1: 0 24px 38px 3px rgba(0, 0, 0, .14) !default;
$kanban-popup-box-shadow-2: 0 9px 46px 8px rgba(0, 0, 0, .12) !default;
$kanban-popup-box-shadow-3: 0 11px 15px -7px rgba(0, 0, 0, .2) !default;
$kanban-popup-bg-color: $grey-800 !default;
$kanban-primary-content-font-color: $grey-dark-font !default;
$kanban-header-icons-bg-color: #eee !default;
$kanban-icons-toggle-bg-color: rgba($grey-white, .1) !default;
$kanban-icons-toggle-color: $grey-dark-font !default;
$kanban-icons-border-radius: 0% !default;
$kanban-tags-bg-color: #eceaff !default;
$kanban-tags-color: #3225c9 !default;
