//default
$treegrid-right-arrow-icon: '\e22e' !default;
$treegrid-toolbar-expand-icon: '\e555' !default;
$treegrid-toolbar-collapse-icon: '\e559' !default;
$treegrid-right-arrow-icon-color: $neutral-light-font !default;
$treegrid-right-arrow-icon-font-size: 10px !default;
$treegrid-right-arrow-icon-padding: 10px !default;
$treegrid-content-right-padding: 8px !default;
$treegrid-treecell-padding: 5px !default;
$treegrid-bigger-treecell-padding: 9px !default;
$treegrid-bigger-icon-size: 18px !default;
$treegrid-smaller-icon-size: 16px !default;
$treegrid-right-arrow-hover-color: $neutral-light-font !default;
$treegrid-toolbar-indent-icon: '\e33f' !default;
$treegrid-toolbar-outdent-icon: '\e35d' !default;
$treegrid-rowdrag-childborder-border: 1px solid $theme-primary  !default;
$childborder-color: $theme-primary;
$error-elem-color: #e3165b;
$error-elem-content: '\e22a' !default;
$treegrid-frame-icon-height: 17px !default;
$treegrid-rowdd-topbottom-border: 1px solid #0078d6 !default;
$treegrid-rowdd-boxshadow: #0078d6 !default;

