@include export-module('tree-layout') {
  .e-bigger {
    .e-treegrid {
      .e-treegridexpand,
      .e-treegridcollapse {
        height: $treegrid-bigger-icon-size;
        width: $treegrid-bigger-icon-size;
      }

      .e-rowcell.e-treerowcell {
        padding-left: $treegrid-bigger-treecell-padding;
      }

      .e-hierarchycheckbox {
        padding-left: 2px;
      }
    }
  }

  .e-treegrid {

    .e-treegridexpand::before,
    .e-treegridcollapse::before {
      vertical-align: middle;
    }

    .e-rowcell:not(.e-gridclip) {
      .e-treecolumn-container {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;

        span.e-treecell {
          display: inline;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    .e-treegridexpand:hover::before,
    .e-treegridcollapse:hover::before {
      color: $treegrid-right-arrow-hover-color;
    }

    .e-rowcell.e-treerowcell {
      padding-left: $treegrid-treecell-padding;
    }

    .e-rtl {
      .e-treegridcollapse {
        transform: scale(-1);
      }
    }

    .e-treegridexpand {
      transform: rotate(90deg);
    }

    .e-treerowexpanded {
      display: table-row;
    }

    .e-treerowcollapsed {
      display: none;
    }

    .e-treecheckbox-container {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;

      :not(.e-treecheckbox) {
        white-space: nowrap;
      }
    }

    .e-treecheckbox {
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: middle;
    }

    .e-treecolumn-container {
      span {
        display: inline-block;
        vertical-align: middle;
      }

      .e-hierarchycheckbox .e-frame {
        height: $treegrid-frame-icon-height;
      }
    }

    .e-checkselection {
      .e-frozenheader .e-rowcell,
      .e-movableheader .e-rowcell,
      .e-frozencontent .e-rowcell,
      .e-movablecontent .e-rowcell {
        line-height: 21px;
      }
    }

    .e-treegridexpand,
    .e-treegridcollapse {
      color: $treegrid-right-arrow-icon-color;
      cursor: pointer;
      font-size: $treegrid-right-arrow-icon-font-size;
      height: 16px;
      text-align: center;
      vertical-align: bottom;
      width: 16px;
    }

    .e-treecell {
      display: table-cell;
      line-height: normal;
    }

    .e-grid {
      &.e-wrap .e-rowcell .e-treecolumn-container {
        white-space: nowrap;
      }

      &.e-wrap .e-rowcell .e-treecolumn-container .e-treecell {
        display: inline-block;
        white-space: normal;
        word-wrap: break-word;
      }

      &.e-wrap .e-rowcell .e-treecheckbox-container {
        white-space: nowrap;
      }

      &.e-wrap .e-rowcell .e-treecheckbox-container .e-treecheckbox {
        display: inline-block;
        white-space: normal;
        word-wrap: break-word;
      }
   }

    .e-summarycell {
      pointer-events: none;
    }

    &.e-grid.e-print-grid-layout .e-icons {
      display: inline-block;
    }

    .e-treecheckselect,
    .e-treeselectall {
      margin: 0;
      opacity: 0;
      position: absolute;
      width: 0;
    }

    .e-detailheadercell,
    .e-headercontent .e-table .e-detail-intent,
    .e-gridcontent .e-table .e-detail-intent,
    .e-table .e-detailrow .e-detailindentcell,
    .e-table .e-detailrowexpand,
    .e-table .e-detailrowcollapse,
    .e-filterbarcell.e-mastercell {
      display: none;
    }

    .e-icons.e-errorelem {
      display: inline-block;
      padding-left: 10px;
      vertical-align: middle;
    }

    .e-errorelem::before {
      color: $error-elem-color;
      content: '\e22a';
      transform: rotate(180deg);
    }

    .e-gridcontent {
      td.e-childborder {
        border-color: $childborder-color;
        border-width: 1px 0 0;
        box-shadow: 0 1px 0 0 $childborder-color;
        position: relative;
        z-index: 1;
      }

      td.e-rowcell.e-childborder.e-dragborder,
      td.e-rowcell.e-dropbottom.e-dragborder td.e-rowdragdrop.e-dropbottom.e-dragborder {
        box-shadow: 0 1px 0 0 $childborder-color;
      }

      td.e-rowcell.e-dragborder,
      tr.e-row:first-child .e-rowcell.e-dragborder,
      .e-rowdragdrop.e-dragborder {
        box-shadow: 0 0 0 0;
      }

      td.e-childborder:first-child {
        border-left: $treegrid-rowdrag-childborder-border;
        box-shadow: 0 1px 0 0 $childborder-color;
        position: relative;
        z-index: 1;
      }

      td.e-rowcell.e-childborder:last-child {
        border-right: $treegrid-rowdrag-childborder-border;
      }

      td.e-lastrowcell.e-childborder {
        border-width: 1px 0;
      }

      td.e-lastrowcell.e-childborder:last-child {
        border-right: $treegrid-rowdrag-childborder-border;
      }

      td.e-lastrowcell.e-childborder:first-child {
        border-left: $treegrid-rowdrag-childborder-border;
      }

      td.e-dropbottom:first-child,
      td.e-rowcell.e-dropbottom,
      td.e-dropbottom {
        box-shadow: 0 1px 0 0 $childborder-color;
        position: relative;
        z-index: 1;
      }

      td.e-droptop:first-child,
      td.e-rowcell.e-droptop {
        border-top-color: $childborder-color;
      }

      td.e-lastrowcell.e-dropbottom {
        border-bottom-color: $childborder-color;
      }

      td.e-rowdragdrop.e-droptop.e-dragborder {
        box-shadow: 0 0 0 0;
      }

      .e-gridheader .e-firstrow-dragborder {
        height: 1px;
      }

      .e-lastrow-dragborder {
        height: 0;
      }
    }

    .e-gridheader .e-firstrow-dragborder {
      height: 0;
    }

    .e-droptop .e-lastrow-dragborder {
      height: 0;
    }

    .e-treegrid-relative {
      position: relative;
    }

    .e-gridheader .e-firstrow-dragborder tr:first-child.e-dropbottom {
      height: 0;
    }

    .e-gridheader .e-firstrow-border,
    .e-gridcontent .e-lastrow-border {
      background-color: $childborder-color;
      bottom: 0;
      height: 1px;
      position: absolute;
      z-index: 1;
    }
  }
}
