$skin-name: 'FluentUI' !default;
//Layout Variables Start
$rte-border-size: 1px !default;
$rte-2px-border-size: 2px !default;
$rte-border-type: solid !default;
$rte-list-btn-flex: column !default;
$rte-list-btn-line-height: 1 !default;
$rte-split-btn-line-height: 41px !default;
$rte-big-split-btn-line-height: 50px !default;
$rte-big-quick-item-btn-width: 39px !default;
$rte-quick-item-btn-width: 27px !default;
$rte-big-quick-item-btn-height: 34px !default;
$rte-quick-item-btn-height: 26px !default;
$rte-big-quick-item-padding: 0 !default;
$rte-quick-item-padding: 0 !default;
$rte-quick-item-icon-min-width: 20px !default;
$rte-big-quick-item-line-height: $leading-normal !default;
$rte-content-padding: 24px !default;
$rte-toolbar-icon-size: $text-base !default;
$rte-toolbar-big-icon-size: $text-lg !default;
$rte-big-quick-drop-btn-line-height: 33px !default;
$rte-quick-drop-btn-line-height: 24px !default;
$rte-big-quick-drop-btn-margin: 4px 0 !default;
$rte-quick-drop-btn-margin: 4px 0 !default;
$rte-big-quick-drop-btn-padding: 0 !default;
$rte-quick-drop-btn-padding: 1px 0 !default;
$rte-big-quick-drop-btn-icon-size: 16px !default;
$rte-quick-drop-btn-icon-size: 14px !default;
$rte-big-quick-drop-btn-caret-icon-size: 10px !default;
$rte-quick-drop-btn-caret-icon-size: 12px !default;
$rte-big-quick-drop-btn-caret-font-size: 12px !default;
$rte-quick-drop-btn-caret-font-size: 10px !default;
$rte-big-tb-items-margin-left: 8px !default;
$rte-tb-items-margin-left: 8px !default;
$rte-big-tb-items-padding-left: 8px !default;
$rte-tb-items-padding-left: 8px !default;
$rte-active-tb-item-btn-padding: 0 !default;
$rte-split-btn-bar-size: 0 !default;
$rte-split-btn-active-color-icon-line-height: 30px !default;
$rte-big-split-btn-active-color-icon-line-height: 37px !default;
$rte-format-btn-min-width: 72px !default;
$rte-font-name-btn-min-width: 0 !default;
$rte-font-size-btn-min-width: 37px !default;
$rte-drop-btn-padding-left: 7px !default;
$dropdown-btn-font-size: $text-sm;
$dropdown-btn-big-font-size: $text-base;
$rte-drop-btn-padding-right: 7px !default;
$rte-drop-btn-action-padding-left: 7px !default;
$rte-drop-btn-action-padding-right: 7px !default;
$rte-big-drop-btn-padding-left: 10px !default;
$rte-big-drop-btn-padding-right: 6px !default;
$rte-big-drop-btn-action-padding-left: 10px !default;
$rte-big-drop-btn-action-padding-right: 6px !default;
$rte-colorpicker-parent-padding: 0 !default;
$rte-colorpicker-parent-padding-hover: 0 !default;
$rte-colorpicker-parent-padding-active-hover: 0 !default;
$rte-font-icon-width: 30px !default;
$rte-font-arrow-width: 18px !default;
$rte-font-arrow-touch-width: 20px !default;
$rte-font-icon-line-height: $leading-tight !default;
$rte-placeholder-line-height: $leading-normal !default;
$rte-big-active-tb-item-btn-padding: 0 6px !default;
$rte-table-popup-padding: 10px !default;
$rte-insert-dialog-label-padding-top: 12px !default;
$rte-insert-dialog-label-padding-bottom: 12px !default;
$rte-big-quick-tbar-item-min-height: 34px !default;
$rte-big-quick-tbar-item-min-width: 39px !default;
$rte-content-font-size: $text-sm !default;
$rte-dropdown-caret-icon-size: $text-xs !default;
$rte-big-dropdown-caret-icon-size: $text-sm !default;
$font-weight: $font-weight-normal !default;
$rte-table-popup-bdr-radius: 0 !default;
$rte-resize-handler-width: 15px;
$rte-resize-handler-height: 15px;
$rte-resize-handler-position: 0;
$rte-big-inline-tmp-min-width: 48px;
$rte-inline-tmp-min-width: 55px;
$rte-big-inline-tmp-size-min-width: 59px;
$rte-inline-tmp-size-min-width: 66px;
$rte-big-inline-tmp-color-min-width: 50px;
$rte-inline-tmp-color-min-width: 55px;
$rte-big-color-list-span-common-padding-left-right: 0;
//Layout Variables End

//Theme Variables Start
$rte-split-btn-active-border: 0 !default;
$rte-border-color: $border-light !default;
$rte-content-bg: $content-bg-color !default;
$rte-full-screen-bg: $content-bg-color !default;
$rte-content-font-color: $content-text-color !default;
$rte-item-color: $icon-color !default;
$rte-icons-color: $icon-color !default;
$rte-img-popup-border: 1px solid $border-light !default;
$rte-img-popup-box-shadow: $shadow-lg !default;
$rte-img-popup-color: $border-light !default;
$rte-quick-item-active-bg: $content-bg-color-alt5 !default;
$rte-quick-item-active-font-color: $icon-color !default;
$rte-quick-item-border: 0 !default;
$rte-quick-item-hover-border-color: $content-bg-color-alt4 !default;
$rte-quick-item-active-border-color: $secondary-border-color-pressed !default;
$rte-quick-drop-btn-border-color: $content-bg-color-alt2 !default;
$rte-quick-drop-btn-hover-border-color: $content-bg-color-alt4 !default;
$rte-extended-toolbar-background: $content-bg-color-alt2 !default;
$rte-quick-pop-border: none !default;
$rte-quick-tb-border: 1px solid $border-light !default;
$rte-quick-pop-bg: $content-bg-color-alt2 !default;
$rte-quick-vr-line-color: $border-light !default;
$rte-quick-pop-shadow: $shadow-sm !default;
$rte-quick-pop-item-focus-bg: $content-bg-color-alt4 !default;
$rte-quick-tb-btn-hover: $content-bg-color-alt4 !default;
$rte-tb-item-active-bg: $content-bg-color-alt5 !default;
$rte-tb-active-font-color: $icon-color !default;
$rte-tb-item-active-border: 1px solid $secondary-border-color-pressed !default;
$rte-expand-tb-border-bottom: $rte-border-size $rte-border-type $border-light !default;
$rte-color-picker-active-bg: inherit !default;
$rte-drop-btn-active-bg: $secondary-bg-color-pressed !default;
$rte-drop-btn-active-color: $icon-color !default;
$rte-drop-btn-active-border-color: $secondary-border-color-pressed !default;
$rte-split-btn-active-hover-font-color: $icon-color !default;
$rte-split-btn-color: $secondary-bg-color-pressed !default;
$rte-split-btn-active-color: $icon-color !default;
$rte-split-btn-hover-bg: $content-bg-color-alt3 !default;
$rte-split-btn-active-bg: $content-bg-color-alt5 !default;
$rte-split-btn-span-hover-bg: $content-bg-color-alt3 !default;
$rte-split-btn-span-focus-bg: $content-bg-color-alt3 !default;
$rte-split-btn-span-active-bg: $content-bg-color-alt5 !default;
$rte-split-btn-bar-bg: $content-bg-color !default;
$rte-split-btn-active-bar-bg: $content-bg-color !default;
$rte-split-btn-bar-size: 0 !default;
$rte-split-btn-active-border: 0 !default;
$rte-split-btn-active-color-icon-line-height: 30px !default;
$rte-big-split-btn-active-color-icon-line-height: 38px !default;

$rte-link-valid-color: $danger !default;
$rte-upload-drag-border-clr: $border-dark !default;
$rte-img-header-clr: $content-text-color  !default;
$rte-drop-text-clr: $content-text-color-alt2 !default;
$rte-default-character-count-color: $content-text-color-disabled !default;
$rte-warning-character-count-color: $warning  !default;
$rte-error-character-count-color: $danger !default;
$rte-img-border: dashed 2px $primary !default;
$rte-font-family: $font-family !default;
$rte-content-color: $content-text-color !default;
$rte-content-blockquote-border-left-color: solid 2px $content-text-color !default;
$rte-dropdown-selection-bgcolor: $secondary-bg-color-pressed !default;
$rte-ext-tbar-overlay-icons-color: $icon-color-disabled !default;
$rte-overlay-color: $overlay-bg-color !default;
$rte-dropdown-selection-color: $secondary-text-color-pressed !default;
$rte-anchor-color: $primary !default;
$rte-ext-tbar-overlay-dropdown-color: $content-bg-color-alt4  !default;
$rte-img-resize-back-color: $primary !default;
$rte-img-resize-color: $primary-text-color !default;
$rte-table-header-color: $content-text-color-alt2 !default;
$rte-table-span-bg-color: $flyout-bg-color !default;
$rte-table-span-border: 1px solid $flyout-border !default;
$rte-table-span-active-bg-color: $primary-lighter !default;
$rte-table-span-active-border-color: $primary !default;
$rte-table-select-border-color: $primary !default;
$rte-table-popup-bg: $flyout-bg-color !default;
$rte-table-popup-color: $flyout-border !default;
$rte-table-popup-box: $shadow-lg !default;
$rte-table-border-color: $border-light !default;
$rte-table-alternate-color: $content-bg-color-alt1 !default;
$rte-table-header-bg: $content-bg-color-alt1 !default;
//Theme Variables End

$rte-tb-hover-font-color: $secondary-text-color-hover;
$transparent: $transparent;
