$bgcolor: #fff;
$bigger-check-fontsize: 17px;
$bigger-font-size: 15px;
$bigger-height: 25px;
$bigger-indeterminate-fontsize: 14px;
$bigger-indeterminate-lineheight: 28px;
$bigger-lineheight: 29px;
$bigger-margin: 12px;
$bigger-small-check-fontsize: 14px;
$bigger-small-font-size: 15px;
$bigger-small-height: 20px;
$bigger-small-indeterminate-fontsize: 10px;
$bigger-small-indeterminate-lineheight: 20px;
$bigger-small-lineheight: 24px;
$bigger-small-width: 20px;
$bigger-width: 25px;
$border: 1px solid;
$border-color: #c8c8c8;
$border-radius: 0;
$check-fontsize: 14px;
$checked-ripple-bgcolor: rgba(0, 0, 0, .3);
$checkmark-bgcolor: #fff;
$checkmark-border-color: #c8c8c8;
$checkmark-color: #179bd7;
$checkmark-content: '\e933';
$checkmark-disabled-bgcolor: #fff;
$checkmark-disabled-border-color: #e3e3e3;
$checkmark-disabled-color: #d6d7d7;
$checkmark-hover-bgcolor: #fff;
$checkmark-hover-border-color: #c8c8c8;
$checkmark-hover-color: #179bd7;
$color: #5c5c5c;
$disabled-bgcolor: #fff;
$disabled-border-color: #e3e3e3;
$disabled-color: #d6d7d7;
$focussed-bgcolor: #fff;
$focussed-border-color: #c8c8c8;
$focussed-box-shadow: 0 0 2px #cbcbcb;
$focussed-checkmark-bgcolor: #fff;
$focussed-checkmark-border-color: #c8c8c8;
$focussed-checkmark-color: #179bd7;
$focussed-color: #5c5c5c;
$focussed-indeterminate-color: #179bd7;
$font-size: 14px;
$height: 20px;
$hover-bgcolor: #fff;
$hover-border-color: #c8c8c8;
$hover-color: #5c5c5c;
$indeterminate-bgcolor: #fff;
$indeterminate-border-color: #c8c8c8;
$indeterminate-color: #179bd7;
$indeterminate-content: '\e790';
$indeterminate-disabled-bgcolor: #fff;
$indeterminate-disabled-border-color: #e3e3e3;
$indeterminate-disabled-color: #d6d7d7;
$indeterminate-fontsize: 10px;
$indeterminate-hover-color: #179bd7;
$indeterminate-lineheight: 20px;
$key-focussed-bgcolor: transparent;
$key-focussed-checked-bgcolor: transparent;
$lineheight: 21px;
$margin: 10px;
$padding: 0;
$ripple-bgcolor: rgba(0, 0, 0, .3);
$ripple-bigger-size: -15px;
$ripple-bigger-small-size: -16px;
$ripple-size: -9px;
$ripple-small-size: -13px;
$ripple-height: 36px;
$ripple-width: 36px;
$ripple-small-height: 30px;
$ripple-small-width: 30px;
$ripple-bigger-height: 38px;
$ripple-bigger-width: 38px;
$ripple-bigger-small-height: 38px;
$ripple-bigger-small-width: 38px;
$small-check-fontsize: 10px;
$small-font-size: 14px;
$small-height: 16px;
$small-indeterminate-fontsize: 8px;
$small-indeterminate-lineheight: 15px;
$small-lineheight: 16px;
$small-width: 16px;
$width: 20px;
$focus-outline: $bgcolor 0 solid;
$focus-outline-offset: 0;
