@import 'definition.scss';

$bgcolor: $neutral-white;
$bigger-check-fontsize: 14px;
$bigger-font-size: 15px;
$bigger-height: 22px;
$bigger-indeterminate-fontsize: 14px;
$bigger-indeterminate-lineheight: 18px;
$bigger-lineheight: 18px;
$bigger-margin: 8px;
$bigger-small-check-fontsize: 10px;
$bigger-small-font-size: 15px;
$bigger-small-height: 18px;
$bigger-small-indeterminate-fontsize: 10px;
$bigger-small-indeterminate-lineheight: 14px;
$bigger-small-lineheight: 15px;
$bigger-small-width: 18px;
$bigger-width: 22px;
$border: 2px solid;
$border-color: $neutral-tertiary;
$border-radius: 0;
$check-fontsize: 12px;
$checkmark-bgcolor: $theme-primary;
$checkmark-border-color: $theme-primary;
$checkmark-color: $theme-primary-font;
$checkmark-content: '\e935';
$checkmark-disabled-bgcolor: $neutral-tertiary-alt;
$checkmark-disabled-border-color: $neutral-tertiary-alt;
$checkmark-disabled-color: $grey-dark-font;
$checkmark-hover-bgcolor: $theme-dark-alt;
$checkmark-hover-border-color: $theme-dark-alt;
$checkmark-hover-color: $theme-primary-font;
$color: $neutral-light-font;
$disabled-bgcolor: $neutral-white;
$disabled-border-color: $neutral-tertiary-alt;
$disabled-color: $neutral-tertiary-alt;
$focussed-bgcolor: $neutral-white;
$focussed-border-color: $neutral-secondary-alt;
$focussed-box-shadow: none;
$focussed-checkmark-bgcolor: $theme-dark-alt;
$focussed-checkmark-border-color: $theme-dark-alt;
$focussed-checkmark-color: $theme-dark-font;
$focussed-color: $neutral-light-fontalt;
$focussed-indeterminate-color: $neutral-secondary-alt;
$font-size: 14px;
$height: 20px;
$hover-bgcolor: $neutral-white;
$hover-border-color: $neutral-secondary-alt;
$hover-color: $neutral-light-fontalt;
$indeterminate-bgcolor: $neutral-white;
$indeterminate-border-color: $neutral-tertiary;
$indeterminate-color: $neutral-tertiary;
$indeterminate-content: '\e934';
$indeterminate-disabled-bgcolor: $neutral-white;
$indeterminate-disabled-border-color: $neutral-tertiary-alt;
$indeterminate-disabled-color: $neutral-tertiary-alt;
$indeterminate-fontsize: 10px;
$indeterminate-hover-color: $neutral-secondary-alt;
$indeterminate-lineheight: 16px;
$lineheight: 16px;
$margin: 8px;
$padding: 0;
$ripple-bgcolor: rgba(0, 0, 0, .3);
$small-check-fontsize: 8px;
$small-font-size: 14px;
$small-height: 14px;
$small-indeterminate-fontsize: 8px;
$small-indeterminate-lineheight: 10px;
$small-lineheight: 10px;
$small-width: 14px;
$width: 20px;
$border-style: solid;
$focus-outline: $neutral-secondary-alt 1px solid;
$focus-outline-offset: 2px;
