@include export-module('listview-tailwind-dark-icons') {
  .e-listview {
    .e-icon-collapsible::before {
      content: '\e7b7';
    }

    .e-icon-back::before {
      content: '\e7a5';
      font-size: $listview-back-icon-size;
    }
  }
}
