@import 'definition.scss';

$datepicker-icon-hover-bg-color: none;
$datepicker-icon-color: $accent;
$datepicker-active-icon-color: $datepicker-icon-color;
$popup-box-shadow: 0 5px 5px -3px rgba($grey-light-font, .2), 0 8px 10px 1px rgba($grey-light-font, .14), 0 3px 14px 2px rgba($grey-light-font, .12);
$datepicker-input-border-style: none;
$calendar-border-style: none;
$datepicker-icon: '\e901';
$popup-bg-color: $grey-white;
$popup-border: none;
$date-icon-font-size: 16px;
$date-icon-container-min-height: 24px;
$date-icon-container-min-width: 24px;
$date-bigger-icon-container-min-height: 26px;
$date-bigger-icon-container-min-width: 26px;
$date-bigger-icon-font-size: 20px;
$datepicker-overlay: rgba($grey-black, .6);
$date-icon-normal-margin: 0 0 4px 0;
$date-icon-bigger-margin: 5px 0 6px 0;
$date-icon-hover-color: $hover-bg-color;
$date-icon-border-radius: 50%;
$popup-border-radius: 0;
$box-sizing: border-box;
$datepicker-othermonth-row: none;
$date-model-header-bg: $accent;
$date-model-header-color: $grey-white;
$date-modal-header-display: block;
$calendar-tbody-landscape-height: 130px;
