//default 
$skin-name: 'tailwind-dark' !default;
$datepicker-icon-color: $icon-color !default;
$datepicker-active-icon-color: $datepicker-icon-color !default;
$datepicker-popup-box-shadow: $shadow-lg !default;
$datepicker-input-border-style: none !default;
$datepicker-calendar-border-style: none !default;
$datepicker-icon: '\e901' !default;
$datepicker-popup-border: 1px solid $border-light !default;
$datepicker-icon-font-size: 18px !default;
$datepicker-icon-container-min-height: 18px !default;
$datepicker-icon-container-min-width: 20px !default;
$datepicker-bigger-icon-container-min-height: 18px !default;
$datepicker-bigger-icon-container-min-width: 20px !default;
$datepicker-bigger-icon-font-size: 22px !default;
$datepicker-overlay: rgba($cool-gray-300, .6) !default;
$datepicker-icon-normal-margin: 0 !default;
$datepicker-icon-bigger-margin: 0 !default;
$datepicker-icon-hover-color: $secondary-text-color-hover !default;
$datepicker-icon-border-radius: 50% !default;
$datepicker-popup-border-radius: 6px !default;
$datepicker-box-sizing: border-box !default;
$datepicker-popup-bg-color: $flyout-bg-color !default;
$datepicker-othermonth-row: none !default;
$datepicker-modal-header-bg: $icon-color !default;
$datepicker-modal-header-color: $content-bg-color-alt2 !default;
$datepicker-modal-header-display: block !default;
$datepicker-calendar-tbody-landscape-height: 130px !default;
$datepicker-popup-bigger-margin-top: 8px !default;
// mouse small icon
$datepicker-small-icon-font-size: 16px !default;
// Touch small icon
$datepicker-bigger-small-icon-font-size: 20px !default;
//enddefault
