/*! component's theme wise override definitions and variables */
@include export-module('richtexteditor-material-icons') {

  /*! richtexteditor icons */

  .e-rte-toolbar,
  .e-rte-dropdown-popup {

    .e-alignments::before {
      content: '\e7b8';
    }

    .e-justify-left::before {
      content: '\e7b8';
    }

    .e-justify-center::before {
      content: '\e813';
    }

    .e-justify-right::before {
      content: '\e719';
    }

    .e-justify-full::before {
      content: '\e721';
    }

    .e-font-name::before {
      content: '\e76f';
    }

    .e-rte-font-color::before {
      content: '\e79f';
    }

    .e-background-color::before {
      content: '\e783';
    }

    .e-bold::before {
      content: '\e737';
    }

    .e-italic::before {
      content: '\e75a';
    }

    .e-underline::before {
      content: '\e82f';
    }

    .e-strike-through::before {
      content: '\e758';
    }

    .e-clear-format::before {
      content: '\e803';
    }

    .e-clear-all::before {
      content: '\e7cc';
    }

    .e-cut::before {
      content: '\e7fb';
    }

    .e-copy::before {
      content: '\e77c';
    }

    .e-paste::before {
      content: '\e70b';
    }

    .e-unorder-list::before {
      content: '\e77e';
    }

    .e-order-list::before {
      content: '\e7cb';
    }

    .e-indent::before {
      content: '\e810';
    }

    .e-outdent::before {
      content: '\e72a';
    }

    .e-undo::before {
      content: '\e713';
    }

    .e-redo::before {
      content: '\e755';
    }

    .e-super-script::before {
      content: '\e7a7';
    }

    .e-sub-script::before {
      content: '\e80a';
    }

    .e-create-link::before {
      content: '\e757';
    }

    .e-open-link::before {
      content: '\e77a';
    }

    .e-edit-link::before {
      content: '\e722';
    }

    .e-remove-link::before {
      content: '\e80c';
    }

    .e-image::before {
      content: '\e786';
    }

    .e-audio::before {
      content: '\e894';
    }

    .e-video::before {
      content: '\e895';
    }

    .e-replace::before,
    .e-audio-replace::before,
    .e-video-replace::before {
      content: '\e710';
    }

    .e-align::before {
      content: '\e7b8';
    }

    .e-caption::before {
      content: '\e82e';
    }

    .e-remove::before,
    .e-audio-remove::before,
    .e-video-remove::before {
      content: '\e820';
    }

    .e-insert-link::before {
      content: '\e757';
    }

    .e-display::before,
    .e-audio-display::before,
    .e-video-display::before {
      content: '\e7b7';
    }

    .e-alt-text::before {
      content: '\e769';
    }

    .e-img-dimension::before,
    .e-video-dimension::before {
      content: '\e879';
    }

    .e-maximize::before {
      content: '\e81c';
    }

    .e-minimize::before {
      content: '\e7b0';
    }

    .e-zoom-in::before {
      content: '\e795';
    }

    .e-zoom-out::before {
      content: '\e825';
    }

    .e-lower-case::before {
      content: '\e746';
    }

    .e-upper-case::before {
      content: '\e793';
    }

    .e-print::before {
      content: '\e75d';
    }

    .e-formats::before {
      content: '\e844';
    }

    .e-source-code::before {
      content: '\e80e';
    }

    .e-preview::before {
      content: '\e7de';
    }

    .e-view-side::before {
      content: '\e82b';
    }

    .e-insert-code::before {
      content: '\e831';
    }

    .e-table-header::before {
      content: '\e7c3';
    }

    .e-table-remove::before {
      content: '\e820';
    }

    .e-table-rows::before {
      content: '\e77f';
    }

    .e-table-columns::before {
      content: '\e841';
    }

    .e-table-cell-ver-align::before {
      content: '\e74f';
    }

    .e-table-edit-properties::before {
      content: '\e730';
    }

    .e-create-table::before {
      content: '\e7e9';
    }

    .e-align-bottom::before {
      content: '\e7a0';
    }

    .e-align-middle::before {
      content: '\e74f';
    }

    .e-align-top::before {
      content: '\e707';
    }

    .e-insert-column-left::before {
      content: '\e78b';
    }

    .e-insert-column-right::before {
      content: '\e70e';
    }

    .e-delete-column::before {
      content: '\e714';
    }

    .e-insert-row-before::before {
      content: '\e836';
    }

    .e-insert-row-after::before {
      content: '\e801';
    }

    .e-delete-row::before {
      content: '\e7f2';
    }

    .e-style::before {
      content: '\e76e';
    }

    .e-rte-file-manager::before {
      content: '\e83c';
    }
    
    .e-rte-format-painter::before {
      content: '\e8bd';
    }
  }

  .e-richtexteditor {
    .e-south-east::before,
    .e-south-west::before {
      content: '\e761';
    }
  }

  .e-cell-merge::before {
    content: '\e83a';
  }

  .e-cell-horizontal-split::before {
    content: '\e7a4';
  }

  .e-cell-vertical-split::before {
    content: '\e732';
  }

  .e-table-cell::before {
    content: '\e7c2';
  }

  .e-rte-cursor-brush {
    cursor: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.0561 9V4C10.0561 2.35001 11.4057 1 13.0561 1C14.7065 1 16.0561 2.35001 16.0561 4V9H19.0463C20.1459 9 21.0463 9.89999 21.0463 11V22C21.0463 23.1 20.1459 24 19.0561 24H5.4057C4.77484 24 4.185 23.71 3.80609 23.2C3.42523 22.7 3.30609 22.07 3.47601 21.47C4.685 17.21 4.96625 12.67 5.02484 10.92C5.06586 9.84 5.94476 9 7.02484 9H10.0561ZM16.0561 22.0044V19C16.0561 18.45 15.6069 18 15.0561 18C14.5053 18 14.0561 18.45 14.0561 19V22.0073L11.0561 22.0117V20C11.0561 19.45 10.6069 19 10.0561 19C9.50531 19 9.05609 19.45 9.05609 20V22.0146L5.4057 22.02C5.98969 19.9657 6.36469 17.8564 6.60883 16H19.0561V22L16.0561 22.0044ZM14.0561 9V4C14.0561 3.45 13.6069 3 13.0561 3C12.5053 3 12.0561 3.45 12.0561 4V9H14.0561ZM7.03461 11C7.00922 11.664 6.95453 12.7153 6.83344 14H19.0561V11H7.03461Z" fill="black"/><path d="M6.83344 14C6.95453 12.7153 7.00922 11.664 7.03461 11H19.0561V14H6.83344Z" fill="white"/><path d="M14.0561 4V9H12.0561V4C12.0561 3.45 12.5053 3 13.0561 3C13.6069 3 14.0561 3.45 14.0561 4Z" fill="white"/><path d="M16.0561 19V22.0044L19.0561 22V16H6.60883C6.36469 17.8564 5.98969 19.9657 5.4057 22.02L9.05609 22.0146V20C9.05609 19.45 9.50531 19 10.0561 19C10.6069 19 11.0561 19.45 11.0561 20V22.0117L14.0561 22.0073V19C14.0561 18.45 14.5053 18 15.0561 18C15.6069 18 16.0561 18.45 16.0561 19Z" fill="white"/></svg>'), text;
  }
}
