
$range-bg-color:  $content-bg-color;
$range-primary-color: $theme-primary;
$range-primary-font-color: $neutral-white;
$range-presets-bg: $content-bg-color;
$range-preset-normal-font-color: $theme-light-font;
$range-font-color: $theme-primary;
$range-active-icon-color: $active-icon-color;
$range-active-state-icon-color: $theme-primary-font;
$range-hover-color: $neutral-light;
$range-today-color: $alert-bg;
$range-calendar-today-color: $theme-light-font;
$range-selection-bg: $theme-primary;
$range-other-hover-color: $content-bg-color;
$range-other-month-date: $neutral-tertiary;
$range-box-shadow: 0 0 5px 0 rgba($neutral-black, .4);
$range-box-shadow-none: none;
$range-btn-font-weight: 500;
$range-btn-width: 50%;
$range-btn-normal-height: 32px;
$range-btn-bigger-height: 40px;
$range-btn-normal-line-height: 30px;
$range-btn-bigger-line-height: 38px;
$range-max-width: 730px;
$range-device-max-width: 292px;
$range-bigger-max-width: 770px;
$range-max-height: 500px;
$range-normal-nav-icon-width: 36px;
$range-normal-nav-icon-height: 36px;
$range-calendar-dark-color: $theme-light-font;
$range-calendar-header-text-color: $theme-light-font;
$range-calendar-header-dark-color: $neutral-light-font;
$range-calendar-medium-color: $neutral-secondary-alt;
$range-calendar-light-color: $theme-light-font;
$range-calendar-medium-font-size: 17x;
$range-calendar-btn-font-size: 16px;
$range-presets-normal-list-font-size: 14px;
$range-presets-bigger-list-font-size: 15px;
$range-range-btn-font-weight: normal;
$range-calendar-small-font-size: 14px;
$range-calendar-bigger-font-size: 15px;
$range-calendar-header-padding: 10px 5px 0 5px;
$range-e-bigger-header-padding: 10px 5px 0 5px;
$range-device-control-header-margin: 20px 10px 0 10px;
$range-control-header-width: auto;
$range-font-weight-normal: normal;
$range-flex-style: flex;
$range-inline-block-style: inline-block;
$range-block-style: block;
$range-table-style: table;
$range-display-none:  none;
$range-align-center: center;
$range-float-right: right;
$range-float-left: left;
$range-float-none: none;
$range-float-clear: both;
$range-start-end-container-height: 35px;
$range-calendar-border: none;
$range-calendar-selection-border: none;
$range-calendar-hover-border: none;
$range-calendar-other-month-border: none;
$range-calendar-margin: 0;
$range-cursor-default-style: default;
$range-cursor-pointer-style: pointer;
$range-start-end-label-width: 48%;
$range-browser-select-none:  none;
$range-change-icon-width: 4%;
$range-font-weight-bold: 300;
$range-font-size: 14px;
$range-change-icon-color: $theme-light-font;
$range-indicator-label-width: 100%;
$range-device-indicator-margin: 10px 0;
$range-separator-height: 1px;
$range-border-value: 1px solid rgba($neutral-black, .12);
$range-separator-color: rgba($neutral-black, .12);
$range-separator-margin: 0 16px;
$range-footer-height: 48px;
$range-bigger-footer-height: 58px;
$range-flex-direction-row-reverse: row-reverse;
$range-btn-height: 32px;
$range-btn-padding: 0 16px;
$range-normal-footer-margin: 0 10px 0 5px;
$range-bigger-footer-margin: 0 15px 0 5px;
$range-normal-rtl-footer-margin: 0 5px 0 10px;
$range-bigger-rtl-footer-margin: 0 5px 0 15px;
$range-presets-height: 216px;
$range-bigger-presets-height: 240px;
$range-calendar-container-height: 100%;
$range-list-item-height: 36px;
$range-list-item-padding: 0 10px;
$range-listview-padding: 0;
$range-width-auto: auto;
$range-list-item-line-height: 47px;
$range-device-medium-font-size: 13px;
$range-device-small-font-size: 11px;
$range-week-header-font-size: 13px;
$range-device-header-container-height: 36px;
$range-device-header-container-width: 100%;
$range-device-list-item-padding: 0 12px;
$range-value-zero: 0;
$range-btn-border-value: 1px solid $theme-primary;
$range-today-border-color: none;
$range-btn-left-radius: 2px 0 0 2px;
$range-btn-right-radius: 0 2px 2px 0;
$range-visibility-hidden: hidden;
$range-indicator-size: 1px;
$range-text-nowrap: nowrap;
$range-background: $content-bg-color;
$range-day-span-height: 14px;
$range-direction-left: ltr;
$range-value-none: none;
$range-control-header-margin: 12px 12px 0 12px;
$range-indicator-margin: 0 0 15px 0;
$range-btn-border-transparent: 1px solid transparent;
$range-header-label-size: 18px;
$range-flex-direction-row: row;
$range-flex-justify-content: flex-end;
$range-preset-min-width: 580px;
$range-header-btn-max-width: 116px;
$range-header-btn-bigger-max-width: 132px;
$range-presets-width: 160px;
$range-hover-start-radius: 50% 0 0 50%;
$range-hover-end-radius: 0 50% 50% 0;
$range-text-overflow: ellipsis;
$range-icon-hover-color: $neutral-lighter;
$range-icon-border-radius: 0;
$range-icon-container-min-height: 30px;
$range-icon-container-min-width: 30px;
$range-icon-margin: 0;
$range-icon-bigger-margin: 0;
$range-sart-end-btn-padding: 1px 6px;
// fabric theme variable
$range-icon-font-size: 16px;
$range-icon: '\e244';
$range-icon-next: '\e85c';
$range-icon-prev: '\e98f';
$range-change-icon: '\e85f';
$range-rtl-icon-next: '\e98f';
$range-rtl-icon-prev: '\e85c';
$range-rtl-icon-change: '\e85b';
$range-popup-border: 1px solid $neutral-light;
$range-overlay: rgba($neutral-black, .6);
$range-popup-padding: 0;
$range-presets-bg-color: $theme-primary;
$range-presets-font-color: $neutral-white;
$range-calendar-normal-table-padding: 0 10px 10px;
$range-calendar-bigger-table-padding: 0 15px 15px;
$range-popup-border-radius: 0;
$range-list-border-radius: 0;
$range-presets-hover-bg: $neutral-light;
$range-bigger-nav-icon-width: 48px;
$range-bigger-nav-icon-height: 48px;
$range-btn-height: 36px;
$range-device-btn-line-height: 30px;
$range-calendar-popup-padding: 0;
$range-icon-bigger-padding: 15px;
$range-icon-normal-padding: 11px;
$range-preset-normal-list-height: 36px;
$range-preset-bigger-list-height: 45px;
$range-bigger-icon-font-size: 20px;
$range-list-hover-color: $range-calendar-header-dark-color;
$range-calendar-active-border: none;
$range-calendar-today-start-color: none;
$range-calendar-other-normal-border: none;
$range-calendar-bigger-max: 292px;
$range-active-font-color: $header-font-color;

@include export-module('daterangepicker-icons') {
  /*! component icons */
  .e-input-group-icon.e-range-icon,
  &.e-control-wrapper .e-input-group-icon.e-range-icon {
    font-size: $range-icon-font-size;
    margin: $range-icon-margin;
    min-height: $range-icon-container-min-height;
    min-width: $range-icon-container-min-width;
    outline: none;

    &::before {
      content: $range-icon;
      font-family: 'e-icons';
  }

    &:focus {
      background: $range-icon-hover-color;
      border-radius: $range-icon-border-radius;
  }
}

  .e-daterangepicker {
    & .e-calendar .e-header .e-date-icon-next::before {
      content: $range-icon-next;
    }& .e-calendar .e-header .e-date-icon-prev::before {
      content: $range-icon-prev;
    }& .e-change-icon::before {
      content: $range-change-icon;
    }& .e-calendar.e-rtl .e-header .e-date-icon-next::before {
      content: $range-rtl-icon-next;
    }& .e-calendar.e-rtl .e-header .e-date-icon-prev::before {
      content: $range-rtl-icon-prev;
    }&.e-rtl .e-start-end .e-change-icon::before {
      content: $range-rtl-icon-change;
    }
  }

  .e-bigger {
    & .e-input-group-icon.e-range-icon,
    &.e-control-wrapper .e-input-group-icon.e-range-icon,
    & .e-control-wrapper .e-input-group-icon.e-range-icon {
      font-size: $range-bigger-icon-font-size;
      margin: $range-icon-bigger-margin;
      min-height: $range-icon-container-min-height;
      min-width: $range-icon-container-min-width;
      outline: none;
    }
  }
}
@include export-module('daterangepicker-layout') {
  /*! daterangepicker layout */

  #{&}.e-daterangepicker {
    &.e-popup {
      border: $range-popup-border;
      border-radius: $range-popup-border-radius;
      box-shadow: $range-box-shadow;
      max-height: $range-max-height;
      max-width: $range-max-width;

      &.e-preset-wrapper {
        min-width: $range-preset-min-width;

        & .e-presets {
          max-height: $range-value-none;
        }
      }& .e-range-header {
        margin: $range-control-header-margin;
        width: $range-control-header-width;

        & .e-start-label,
        & .e-end-label {
          cursor: $range-cursor-default-style;
          display: $range-inline-block-style;
          font-size: $range-header-label-size;
          overflow: $range-visibility-hidden;
          text-align: $range-align-center;
          text-decoration: $range-value-none;
          text-overflow: $range-text-overflow;
          user-select: $range-browser-select-none;
          white-space: $range-text-nowrap;
          width: $range-start-end-label-width;
        }& .e-change-icon {
          font-size: $range-font-size;
          font-weight: $range-font-weight-bold;
          text-align: $range-align-center;
          width: $range-change-icon-width;
        }& .e-day-span {
          direction: $range-direction-left;
          font-size: $range-calendar-small-font-size;
          height: $range-day-span-height;
          margin: $range-indicator-margin;
          text-align: $range-align-center;
          user-select: $range-browser-select-none;
          width: $range-indicator-label-width;
        }& .e-start-end {
          align-items: $range-align-center;
          display: $range-flex-style;
          height: $range-start-end-container-height;
        }
      }& .e-separator {
        height: $range-separator-height;
        margin: $range-separator-margin;
      }& .e-calendar {
        border: $range-calendar-border;
        margin: $range-calendar-margin;
        padding: $range-calendar-popup-padding;

        & .e-content table {
          padding: $range-calendar-normal-table-padding;
        }& .e-header {
          & .e-title {
            cursor: $range-cursor-pointer-style;
            float: $range-float-none;
            font-weight: $range-font-weight-normal;
            line-height: $range-normal-nav-icon-height;
            margin-left: $range-value-zero;
            width: $range-control-header-width;
          }&.e-month,
          &.e-year,
          &.e-decade {
            padding: $range-calendar-header-padding;
          }& .e-next {
            float: $range-float-right;
          }& .e-prev {
            float: $range-float-left;
          }& .e-next,
          & .e-prev {
            height: $range-normal-nav-icon-height;
            width: $range-normal-nav-icon-width;
          }& .e-next span,
          & .e-prev span {
            padding: $range-icon-normal-padding;
          }
        }& .e-start-date.e-selected.e-range-hover {
          border-radius: $range-hover-start-radius;
        }& .e-end-date.e-selected.e-range-hover {
          border-radius: $range-hover-end-radius;
        }& .e-end-date.e-selected.e-range-hover span.e-day,
        & .e-start-date.e-selected.e-range-hover span.e-day {
          border: $range-calendar-hover-border;
        }
      }& .e-footer {
        align-items: $range-align-center;
        border-top: $range-border-value;
        clear: $range-float-clear;
        display: $range-flex-style;
        flex-direction: $range-flex-direction-row-reverse;
        height: $range-footer-height;
      }& .e-footer .e-btn {
        font-weight: $range-btn-font-weight;
        height: $range-btn-normal-height;
        line-height: $range-btn-normal-line-height;
        overflow: $range-visibility-hidden;
        padding: $range-btn-padding;
        text-overflow: $range-text-overflow;
      }& .e-footer .e-btn.e-apply {
        margin: $range-normal-footer-margin;
      }& .e-date-range-container {
        float: $range-float-left;

        &.e-range-border {
          border-right: $range-border-value;
        }
      }& .e-calendar-container {
        display: $range-flex-style;

        & .e-left-container,
        & .e-right-container {
          float: $range-float-left;
        }& .e-left-container {
          border-right: $range-border-value;
        }
      }& .e-presets {
        max-height: $range-presets-height;
        overflow: auto;
        width: $range-width-auto;

        & .e-list-item {
          border-radius: $range-list-border-radius;
          cursor: $range-cursor-pointer-style;
          line-height: $range-list-item-height;
          overflow: $range-visibility-hidden;
          padding: $range-list-item-padding;
          white-space: $range-text-nowrap;
        }& .e-list-parent {
          margin: $range-value-zero;
          max-width: $range-presets-width;
          padding: $range-value-zero;
        }& .e-text-content {
          line-height: $range-list-item-line-height;
        }& .e-ul {

          & li.e-list-item {
            font-size: $range-presets-normal-list-font-size;
            height: $range-preset-normal-list-height;
            line-height: $range-preset-normal-list-height;
          }
        }
      }& .e-hide-range {
        display: $range-display-none;
      }
    }&.e-rtl {
      & .e-date-range-container {
        float: $range-float-right;

        &.e-range-border {
          border-left: $range-border-value;
          border-right: $range-value-zero;
        }& .e-left-container {
          border-left: $range-border-value;
          border-right: $range-value-zero;
        }& .e-calendar {
          & .e-next {
            float: $range-float-left;
          }& .e-prev {
            float: $range-float-right;
          }& .e-start-date.e-selected.e-range-hover {
            border-radius: $range-hover-end-radius;
          }& .e-end-date.e-selected.e-range-hover {
            border-radius: $range-hover-start-radius;
          }
        }
      }& .e-footer {
        flex-direction: $range-flex-direction-row;
        justify-content: $range-flex-justify-content;

        & .e-btn.e-cancel {
          margin: $range-normal-rtl-footer-margin;
        }& .e-btn.e-apply {
          margin-left: $range-value-zero;
        }
      }
    }
  }

  .e-bigger #{&}.e-daterangepicker.e-range-modal,
  &.e-device#{&}.e-daterangepicker.e-range-modal {
    background-color: $range-overlay;
    height: 100%;
    left: 0;
    opacity: .5;
    pointer-events: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
  }

  //bigger style

  .e-bigger #{&}.e-daterangepicker,
  &.e-bigger#{&}.e-daterangepicker,
  &.e-device#{&}.e-daterangepicker {
    &.e-popup {
      &.e-preset-wrapper {
        max-width: $range-bigger-max-width;
        min-width: $range-width-auto;

        & .e-presets {
          max-height: $range-value-none;
        }
      }& .e-range-header {
        width: $range-control-header-width;

        & .e-start-end {
          align-items: $range-align-center;
          cursor: $range-cursor-pointer-style;
          display: $range-flex-style;
          height: $range-device-header-container-height;
          justify-content: $range-align-center;
          user-select: $range-browser-select-none;
          width: $range-device-header-container-width;

          & .e-start-btn,
          & .e-end-btn {
            border: $range-btn-border-value;
            box-shadow: $range-box-shadow-none;
            font-size: $range-calendar-btn-font-size;
            font-weight: $range-range-btn-font-weight;
            height: $range-btn-height;
            line-height: $range-device-btn-line-height;
            max-width: $range-header-btn-max-width;
            overflow: $range-visibility-hidden;
            padding: $range-sart-end-btn-padding;
            text-overflow: $range-text-overflow;
            width: $range-btn-width;
          }& .e-end-btn {
            border-left: $range-value-zero;
            border-radius: $range-btn-right-radius;
          }& .e-start-btn {
            border-radius: $range-btn-left-radius;
          }& .e-start-btn:hover,
          & .e-end-btn:hover:not([disabled]) {
            box-shadow: $range-box-shadow-none;
          }& .e-start-btn.e-active,
          & .e-start-btn.e-active:active,
          & .e-end-btn.e-active,
          & .e-end-btn.e-active:active:not([disabled]),
          & .e-start-btn.e-active:hover,
          & .e-end-btn.e-active:hover {
            box-shadow: $range-box-shadow-none;
          }& .e-start-btn,
          & .e-end-btn {
            max-width: $range-header-btn-bigger-max-width;
          }
        }
      }& .e-presets {
        max-height: $range-bigger-presets-height;

        &.e-preset-wrapper {
          max-height: $range-value-none;
        }

        & ul {
          max-width: $range-value-none;

          & li.e-list-item {
            font-size: $range-presets-bigger-list-font-size;
            height: $range-preset-bigger-list-height;
            line-height: $range-preset-bigger-list-height;
            padding: $range-device-list-item-padding;
          }
        }
      }
    }& .e-calendar {
      max-width: $range-calendar-bigger-max;
      padding: $range-calendar-popup-padding;

      & .e-content table {
        padding: $range-calendar-bigger-table-padding;
      }& .e-header {
        & .e-next,
        & .e-prev {
          height: $range-bigger-nav-icon-height;
          width: $range-bigger-nav-icon-width;

          & span {
            padding: $range-icon-bigger-padding;
          }
        }

        & .e-title {
          cursor: $range-cursor-pointer-style;
          line-height: $range-bigger-nav-icon-height;
        }&.e-month,
        &.e-year,
        &.e-decade {
          padding: $range-e-bigger-header-padding;
        }
      }
    }& .e-footer {
      height: $range-bigger-footer-height;

      & .e-btn {
        height: $range-btn-bigger-height;
        line-height: $range-btn-bigger-line-height;
        overflow: $range-visibility-hidden;
      }& .e-btn.e-apply {
        margin: $range-bigger-footer-margin;
      }
    }&.e-rtl.e-popup {
      & .e-range-header .e-start-end {
        & .e-end-btn {
          border: $range-btn-border-value;
          border-radius: $range-btn-left-radius;
          border-right: $range-value-zero;
        }& .e-start-btn {
          border-radius: $range-btn-right-radius;
        }
      }& .e-footer {
        &.e-btn.e-cancel {
          margin: $range-bigger-rtl-footer-margin;
        }& .e-btn.e-apply {
          margin-left: $range-value-zero;
        }
      }
    }&.e-device {
      &.e-popup {
        max-width: $range-device-max-width;

        & .e-range-header {
          margin: $range-device-control-header-margin;

          & .e-day-span {
            margin: $range-device-indicator-margin;
          }
        }
      }
    }
  }
}

// sass-lint:disable-all
.e-range-overflow {
  overflow: auto;
}
// sass-lint:enable-all
@include export-module('daterangepicker-theme') {
  /*! daterangepicker theme */
  .e-date-range-wrapper {
    & .e-input-group-icon.e-icons.e-active {
      color: $range-active-icon-color;
    }

    &.e-input-group:not(.e-disabled) .e-input-group-icon.e-active:active {
      color: $range-active-state-icon-color;
    }
  }

  #{&}.e-daterangepicker {
    &.e-popup {
      background: $range-background;

      & .e-calendar {
        background-color: $range-background;

        & .e-header .e-title,
        & .e-header .e-title:hover {
          color: $range-calendar-header-dark-color;
          text-decoration: none;
        }& .e-content.e-month .e-range-hover {
          background-color: $range-hover-color;
          color: $range-calendar-dark-color;
        }& .e-content.e-month .e-today.e-range-hover span {
          background-color: $range-today-color;
          border: $range-today-border-color;
          color: $range-calendar-today-color;
        }& .e-content.e-month .e-range-hover span {
          background: $range-hover-color;
          border: $range-calendar-selection-border;
          color: $range-calendar-dark-color;
        }& .e-range-hover:not(.e-selected):hover span.e-day,
        & .e-range-hover.e-focused-date:not(.e-selected) span.e-day,
        & .e-range-hover.e-focused-date.e-today span.e-day {
          background-color: darken($range-hover-color, 15%);
          border: $range-calendar-hover-border;
          color: $range-calendar-dark-color;
        }& .e-range-hover.e-today:hover span.e-day,
        & .e-range-hover.e-focused-date.e-today span.e-day,
        & .e-range-hover.e-start-date.e-selected.e-today span.e-day,
        & .e-range-hover.e-end-date.e-selected.e-today span.e-day {
          border: $range-calendar-active-border;
        }& .e-range-hover.e-selected.e-today:hover span.e-day {
          border: $range-calendar-today-start-color;
        }& .e-content.e-month .e-other-month.e-range-hover,
        & .e-content.e-month .e-other-month.e-range-hover span,
        & .e-content.e-month .e-other-month.e-range-hover:hover span.e-day,
        & .e-content.e-month .e-other-month.e-selected,
        & .e-content.e-month .e-other-month.e-selected span {
          background-color: $range-other-hover-color;
          border: $range-calendar-other-month-border;
          color: $range-other-month-date;
        }& .e-content.e-month .e-other-month.e-range-hover,
        & .e-content.e-month .e-other-month.e-selected {
          background-color: $range-other-hover-color;
          border: $range-calendar-other-normal-border;
          color: $range-other-month-date;
        }& .e-end-date.e-selected.e-range-hover span.e-day,
        & .e-start-date.e-selected.e-range-hover span.e-day {
          background-color: $range-selection-bg;
          color: $range-active-font-color;
        }& .e-start-date.e-selected.e-range-hover.e-today span.e-day {
          background-color: $range-selection-bg;
          color: $range-active-font-color;
        }& .e-other-month.e-selected span {
          color: $range-primary-font-color;
        }
      }& .e-presets {
        background-color: $range-presets-bg;
        color: $range-preset-normal-font-color;

        & .e-list-item.e-active {
          background-color: $range-presets-bg-color;
          color: $range-presets-font-color;
        }& .e-list-item.e-hover {
          background-color: $range-presets-hover-bg;
          color: $range-list-hover-color;
        }
      }& .e-start-label,
      & .e-end-label {
        color: $range-calendar-header-text-color;
      }& .e-change-icon {
        color: $range-change-icon-color;
      }& .e-day-span {
        color: $range-calendar-medium-color;
      }& .e-separator {
        background-color: $range-separator-color;
      }& .e-footer {
        background-color: $range-background;
      }
    }
  }

  //bigger style
  .e-bigger #{&}.e-daterangepicker,
  &.e-bigger#{&}.e-daterangepicker,
  &.e-device#{&}.e-daterangepicker {
    background-color: $range-bg-color;
    padding: $range-popup-padding;

    & .e-calendar th {
      color: $range-calendar-light-color;
    }& .e-start-btn,
    & .e-end-btn {
      background: $range-bg-color;
    }& .e-start-btn.e-active,
    & .e-start-btn.e-active:active,
    & .e-end-btn.e-active,
    & .e-end-btn.e-active:active:not([disabled]),
    & .e-start-btn.e-active:hover,
    & .e-end-btn.e-active:hover {
      background: $range-primary-color;
      color: $range-primary-font-color;
    }
  }
}