$border-width: 1px !default;
$border-color: $grey-300 !default;
$border: $border-width solid $border-color !default;
$tab-header-height: 36px !default;
$bigger-tab-header-height: 48px !default;
$ribbon-header-bg-color: $grey-50 !default;
$file-menu-wrap-padding: 0 !default;
$drop-icon-margin: 13px 4px !default;
$bigger-drop-icon-margin: 18px 5px !default;
$separator-border-color: #dcdcdc !default;
$expand-icon-color: #5f6368 !default;
