$range-bg-color:  $content-bg-color;
$range-primary-color: $theme-primary;
$range-primary-font-color: $neutral-white;
$range-presets-bg: $content-bg-color;
$range-preset-normal-font-color: $theme-light-font;
$range-font-color: $theme-primary;
$range-active-icon-color: $active-icon-color;
$range-active-state-icon-color: $theme-primary-font;
$range-hover-color: $neutral-light;
$range-today-color: $alert-bg;
$range-calendar-today-color: $theme-light-font;
$range-selection-bg: $theme-primary;
$range-other-hover-color: $content-bg-color;
$range-other-month-date: $neutral-tertiary;
$range-box-shadow: 0 0 5px 0 rgba($neutral-black, .4);
$range-box-shadow-none: none;
$range-btn-font-weight: 500;
$range-btn-width: 50%;
$range-btn-normal-height: 32px;
$range-btn-bigger-height: 40px;
$range-btn-normal-line-height: 30px;
$range-btn-bigger-line-height: 38px;
$range-max-width: 730px;
$range-device-max-width: 292px;
$range-bigger-max-width: 770px;
$range-max-height: 500px;
$range-normal-nav-icon-width: 36px;
$range-normal-nav-icon-height: 36px;
$range-calendar-dark-color: $theme-light-font;
$range-calendar-header-text-color: $theme-light-font;
$range-calendar-header-dark-color: $neutral-light-font;
$range-calendar-medium-color: $neutral-secondary-alt;
$range-calendar-light-color: $theme-light-font;
$range-calendar-medium-font-size: 17x;
$range-calendar-btn-font-size: 16px;
$range-presets-normal-list-font-size: 14px;
$range-presets-bigger-list-font-size: 15px;
$range-range-btn-font-weight: normal;
$range-calendar-small-font-size: 14px;
$range-calendar-bigger-font-size: 15px;
$range-calendar-header-padding: 10px 5px 0 5px;
$range-e-bigger-header-padding: 10px 5px 0 5px;
$range-device-control-header-margin: 20px 10px 0 10px;
$range-control-header-width: auto;
$range-font-weight-normal: normal;
$range-flex-style: flex;
$range-inline-block-style: inline-block;
$range-block-style: block;
$range-table-style: table;
$range-display-none:  none;
$range-align-center: center;
$range-float-right: right;
$range-float-left: left;
$range-float-none: none;
$range-float-clear: both;
$range-start-end-container-height: 35px;
$range-calendar-border: none;
$range-calendar-selection-border: none;
$range-calendar-hover-border: none;
$range-calendar-other-month-border: none;
$range-calendar-margin: 0;
$range-cursor-default-style: default;
$range-cursor-pointer-style: pointer;
$range-start-end-label-width: 48%;
$range-browser-select-none:  none;
$range-change-icon-width: 4%;
$range-font-weight-bold: 300;
$range-font-size: 14px;
$range-change-icon-color: $theme-light-font;
$range-indicator-label-width: 100%;
$range-device-indicator-margin: 10px 0;
$range-separator-height: 1px;
$range-border-value: 1px solid rgba($neutral-black, .12);
$range-separator-color: rgba($neutral-black, .12);
$range-separator-margin: 0 16px;
$range-footer-height: 48px;
$range-bigger-footer-height: 58px;
$range-flex-direction-row-reverse: row-reverse;
$range-btn-height: 32px;
$range-btn-padding: 0 16px;
$range-normal-footer-margin: 0 10px 0 5px;
$range-bigger-footer-margin: 0 15px 0 5px;
$range-normal-rtl-footer-margin: 0 5px 0 10px;
$range-bigger-rtl-footer-margin: 0 5px 0 15px;
$range-presets-height: 216px;
$range-bigger-presets-height: 240px;
$range-calendar-container-height: 100%;
$range-list-item-height: 36px;
$range-list-item-padding: 0 10px;
$range-listview-padding: 0;
$range-width-auto: auto;
$range-list-item-line-height: 47px;
$range-device-medium-font-size: 13px;
$range-device-small-font-size: 11px;
$range-week-header-font-size: 13px;
$range-device-header-container-height: 36px;
$range-device-header-container-width: 100%;
$range-device-list-item-padding: 0 12px;
$range-value-zero: 0;
$range-btn-border-value: 1px solid $theme-primary;
$range-today-border-color: none;
$range-btn-left-radius: 2px 0 0 2px;
$range-btn-right-radius: 0 2px 2px 0;
$range-visibility-hidden: hidden;
$range-indicator-size: 1px;
$range-text-nowrap: nowrap;
$range-background: $content-bg-color;
$range-day-span-height: 14px;
$range-direction-left: ltr;
$range-value-none: none;
$range-control-header-margin: 12px 12px 0 12px;
$range-indicator-margin: 0 0 15px 0;
$range-btn-border-transparent: 1px solid transparent;
$range-header-label-size: 18px;
$range-flex-direction-row: row;
$range-flex-justify-content: flex-end;
$range-preset-min-width: 580px;
$range-header-btn-max-width: 116px;
$range-header-btn-bigger-max-width: 132px;
$range-presets-width: 160px;
$range-hover-start-radius: 50% 0 0 50%;
$range-hover-end-radius: 0 50% 50% 0;
$range-text-overflow: ellipsis;
$range-icon-hover-color: $neutral-lighter;
$range-icon-border-radius: 0;
$range-icon-container-min-height: 30px;
$range-icon-container-min-width: 30px;
$range-icon-margin: 0;
$range-icon-bigger-margin: 0;
$range-sart-end-btn-padding: 1px 6px;
// fabric theme variable
$range-icon-font-size: 16px;
$range-icon: '\e244';
$range-icon-next: '\e85c';
$range-icon-prev: '\e98f';
$range-change-icon: '\e85f';
$range-rtl-icon-next: '\e98f';
$range-rtl-icon-prev: '\e85c';
$range-rtl-icon-change: '\e85b';
$range-popup-border: 1px solid $neutral-light;
$range-overlay: rgba($neutral-black, .6);
$range-popup-padding: 0;
$range-presets-bg-color: $theme-primary;
$range-presets-font-color: $neutral-white;
$range-calendar-normal-table-padding: 0 10px 10px;
$range-calendar-bigger-table-padding: 0 15px 15px;
$range-popup-border-radius: 0;
$range-list-border-radius: 0;
$range-presets-hover-bg: $neutral-light;
$range-bigger-nav-icon-width: 48px;
$range-bigger-nav-icon-height: 48px;
$range-btn-height: 36px;
$range-device-btn-line-height: 30px;
$range-calendar-popup-padding: 0;
$range-icon-bigger-padding: 15px;
$range-icon-normal-padding: 11px;
$range-preset-normal-list-height: 36px;
$range-preset-bigger-list-height: 45px;
$range-bigger-icon-font-size: 20px;
$range-list-hover-color: $range-calendar-header-dark-color;
$range-calendar-active-border: none;
$range-calendar-today-start-color: none;
$range-calendar-other-normal-border: none;
$range-calendar-bigger-max: 292px;
$range-active-font-color: $header-font-color;

