// layout variables
$slider-height: 4px !default;
$slider-handle-height: 12px !default;
$slider-handle-width: 12px !default;
$slider-handle-border-radius: 50% !default;
$slider-handle-top: -7px !default;
$slider-h-handle-margin: 0 !default;
$rtl-slider-h-handle-margin: 0 -6px 0 0 !default;
$slider-v-handle-margin: -8px !default;
$rtl-slider-v-handle-margin: 0 !default;
$slider-container-height: 4px !default;
$slider-handle-box-shadow: $shadow !default;
$slider-tooltip-padding: 2px 4px !default;
$slider-handle-after-position: relative !default;
$tick-after-height: 6px !default;
$tick-after-top: -13px !default;
$largetick-before-top: -13px !default;
$largetick-before-height: 10px !default;
$largetick-after-height: 10px !default;
$largetick-after-top: 12px !default;
$tick-before-height: 6px !default;
$tick-before-top: 9px !default;
$slider-vertical-width: 4px !default;
$slider-border-radius-handle: 10px !default;
$slider-scale-font-family: $font-family !default;
$slider-scale-font-size: $text-xs !default;
$slider-scale-tick-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAQSURBVHgBAQUA+v8A0tXa/wh/A4H6PSX0AAAAAElFTkSuQmCC');
$slider-scale-tick-image-dark: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAQSURBVHgBAQUA+v8Aa3KA/wUGAl0jqQq1AAAAAElFTkSuQmCC');
$slider-disabled-handle-show: none !default;
$slider-button-shadow: $shadow-sm !default;
$slider-button-horizon-padding: 0 28px !default;
$slider-button-vertical-padding: 28px 0 !default;
$tick-after-left: 1px !default;
$largetick-before-left: -2px !default;
$tick-before-left: 21px !default;
$largetick-after-left: 21px !default;
$slider-wrap-height: 28px !default;
$slider-center-align: -2px !default;
$slider-btn-center-align: -12px !default;
$slider-range-height: $slider-container-height !default;
$slider-range-width: $slider-vertical-width !default;
$slider-range-border-radius: 4px !default;
$slider-cursor: pointer !default;
$slider-handle-hover-cursor: pointer !default;
$slider-scale-top: 12px !default;
$slider-tab-border: 1px solid $white !default;
$slider-tab-active-box-shadow: $shadow-focus-ring2 !default;
$slider-limit-bar-horizontal-height: 4px !default;
$slider-limit-bar-top: calc(50% - 4px) !default;
$slider-limit-bar-vertical-width: 4px !default;
$slider-limit-bar-left: calc(50%) !default;

$slider-handle-mobile-height: 16px !default;
$slider-handle-mobile-width: 16px !default;
$slider-handle-mobile-top: -7px !default;
$slider-h-handle-mobile-margin: 0 !default;
$rtl-slider-h-handle-mobile-margin: 0 !default;
$slider-v-handle-mobile-margin: 0 !default;
$rtl-slider-v-handle-mobile-margin: 0 !default;
$tick-after-mobile-height: 8px !default;
$largetick-before-mobile-height: 12px !default;
$slider-mobile-scale-font-size: $text-sm !default;
$slider-button-horizon-mobile-padding: 0 36px !default;
$slider-button-vertical-mobile-padding: 36px 0 !default;

//color variables
$slider-disabled-bg-color: $content-bg-color-alt3 !default;
$slider-button-icon-color: $icon-color !default;
$slider-range-bar-color: $primary !default;
$slider-range-bar-hover-color: $primary-bg-color-hover !default;
$slider-track-color: $content-bg-color-alt3 !default;
$slider-button-bg-color: $secondary-bg-color !default;
$slider-button-icon-bg-color: $icon-color !default;
$slider-normal-handle-border-color: $primary !default;
$slider-handle-bg-color: $primary !default;
$slider-hover-color: $content-bg-color-alt3 !default;
$slider-handle-hover-border-color: $slider-normal-handle-border-color !default;
$slider-handle-start-border-color: $content-bg-color-alt3 !default;
$slider-button-border-color: $border !default;
$slider-tab-background: $primary-bg-color-hover !default;
$slider-tab-range-color: $primary !default;
$slider-tab-track-color: $content-bg-color-alt3 !default;
$slider-limit-bar-color: $overlay-bg-color !default;
$slider-tick-font-color: $content-text-color-alt1 !default;
