$input-font-size: 14px;
$input-border: $border-size $border-type;
$input-font-family: $font-family;
$zero-value: 0;
$input-margin-bottom: $zero-value;
$input-padding: 8px;
$input-group-border-width: 1px;
$bigger-list-font-size: 15px;
$clear-icon-margin-right: 0;
