@import 'definition.scss';

$skin-name: 'fabric';
$slider-bg-color: $neutral-tertiary-alt;
$slider-disabled-bg-color:  $neutral-light;
$slider-disabled-opacity: 1;
$slider-active-bg-color: $neutral-tertiary-alt;
$slider-start-handle-border-size: 2px solid $neutral-secondary;
$slider-border-radius: 4px;
$slider-height: 4px;
$slider-handle-border-size: 2px solid;
$slider-handle-height: 16px;
$slider-handle-width: 16px;
$slider-handle-mobile-height: 18px;
$slider-handle-mobile-width: 18px;
$slider-handle-border-radius: 50%;
$slider-button-icon-color: $neutral-light-font;
$slider-handle-top: -7px;
$slider-handle-mobile-top: -7px;
$slider-h-handle-margin: 0;
$slider-h-handle-mobile-margin: 0;
$rtl-slider-h-handle-margin: 0 -8px 0 0;
$rtl-slider-h-handle-mobile-margin: 0;
$slider-v-handle-margin: -8px;
$slider-v-handle-mobile-margin: 0;
$rtl-slider-v-handle-margin: 0;
$rtl-slider-v-handle-mobile-margin: 0;
$slider-range-bar-color: $neutral-secondary;
$slider-range-bar-hover-color: $theme-dark-alt;
$slider-color: $neutral-black;
$slider-handle-start-border-color: $neutral-tertiary-alt;
$slider-track-color: $neutral-tertiary-alt;
$slider-handle-focus-bg-color: rgba($neutral-black, .24);
$slider-tick-color: $neutral-secondary;
$slider-button-border-color: $neutral-light-font;
$slider-button-bg-color: $neutral-white;
$slider-button-color-border: $neutral-light-font;
$slider-btn-focus-color:  $slider-button-bg-color;
$slider-btn-focus-border-color: $neutral-light-font;
$slider-btn-focus-after-color: transparent;
$slider-container-height: 4px;
$slider-normal-handle-border-size: 2px solid;
$slider-normal-handle-border-color: $neutral-secondary;
$slider-handle-bg-color: $neutral-white;
$slider-hover-color: $theme-light;
$slider-disabled-handle-bg-color: $neutral-white;
$slider-disabled-handle-hover-color: $neutral-white;
$slider-disabled-handle-normal-border-color: $neutral-tertiary-alt;
$slider-disabled-normal-handle-border-color: $neutral-tertiary-alt;
$slider-disabled-range-bar-color: $neutral-tertiary-alt;
$slider-disabled-button-bg-color: $neutral-white;
$slider-handle-hover-color: $neutral-white;
$slider-tooltip-padding: 2px 12px;
$slider-start-transform: none;
$slider-mid-transform: none;
$slider-final-transform: none;
$slider-handle-after-position: relative;
$slider-handle-hover-start: scale(1);
$slider-handle-hover-end: scale(1);
$slider-start-handle-hover-end: scale(1);
$slider-handle-normal-border-color: $theme-primary;
$slider-handle-hover-border-color: $theme-primary;
$tick-after-height: 4px;
$tick-after-top: -13px;
$largetick-before-top: -13px;
$largetick-before-height: 7px;
$largetick-after-height: 7px;
$largetick-after-top: 12px;
$tick-before-height: 4px;
$tick-before-top: 9px;
$slider-btn-container-height: 4px;
$slider-horizontal-btn-icon-prev: '\e937';
$slider-vertical-btn-icon-prev: '\e94d';
$slider-horizontal-btn-icon-next: '\e956';
$slider-vertical-btn-icon-next: '\e20e';
$slider-vertical-width: 4px;
$slider-border-radius-handle: 50%;
$slider-border: 0;
$slider-btn-top: 0;
$slider-btn-after-height: 100%;
$slider-btn-after-width: 100%;
$slider-btn-after-padding: 10px;
$slider-btn-margin-right: 2px;
$slider-btn-margin-top: -1.5px;
$slider-vertical-left: -6px;
$slider-vertical-left-with-btn: -7px;
$slider-button-font-size: 9px;
$slider-scale-font-family: $font-family;
$slider-scale-font-size: 9px;
$slider-mobile-scale-font-size: 11px;
$slider-scale-tick-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsIAAA7CARUoSoAAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAAA1JREFUGFdjWLZs2X8ABtoC8jsAVaIAAAAASUVORK5CYII=');
$slider-disabled-handle-color: $neutral-white;
$slider-disabled-handle-show: none;
$slider-button-border-color: $neutral-light-font;
$slider-first-btn-margin: -4px;
$slider-second-btn-margin: -5px;
$slider-button-size: 18px;
$slider-handle-active-border-color: $theme-primary;
$slider-button-horizon-padding: 0 35px;
$slider-button-vertical-padding: 35px 0;
$slider-scale-value-position-top: -17px;
$slider-scale-value-position-bottom: -17px;
$tick-after-left: 1px;
$largetick-before-left: -2px;
$tick-before-left: 21px;
$largetick-after-left: 21px;
$slider-scale-value-position-left: -36px;
$slider-scale-value-position-right: -36px;
$slider-scale-value-position-both-left: -18px;
$slider-scale-value-position-both-right: -74px;
$slider-vertical-btn-right: 0;
$slider-horizon-prve-btn-left: 0;
$slider-horizon-next-btn-left: 0;
$slider-vertical-prve-btn-left: 0;
$slider-vertical-next-btn-left: 0;
$slider-handle-start-top: calc(50% - 8px);
$slider-handle-start-left: calc(50% - 8px);
$slider-wrap-height: 28px;
$slider-wrap-width: 48px;
$slider-center-align: -2px;
$tick-before-mobile-top: 0;
$tick-after-mobile-top: 18px;
$largetick-before-mobile-top: 0;
$largetick-after-mobile-top: 21px;
$slider-btn-center-align: -9px;
$slider-scale-both-bg: $neutral-white;
$tick-both-top: -6px;
$tick-both-left: 3px;
$largetick-both-top: -2px;
$largetick-both-left: -2px;
$slider-range-height: $slider-container-height;
$slider-range-width: $slider-vertical-width;
$slider-range-border-radius: $slider-border-radius;
$slider-first-btn-font-size: 8px;
$slider-first-btn-height: 24px;
$slider-first-btn-line-height: 20px;
$slider-second-btn-margin-right: -1px;
$slider-second-btn-font-size: 8px;
$slider-second-btn-height: 24px;
$slider-second-btn-line-height: 20px;
$slider-button-hover-transform: 0;
$slider-cursor: pointer;
$slider-handle-hover-cursor: pointer;
$slider-handle-active-cursor: pointer;
$slider-scale-top: 12px;
$slider-scale-right: -11px;
$slider-track-border-color: $neutral-white;
$slider-tab-border-color: $theme-primary;
$slider-tab-range-color: $theme-dark-alt;
$slider-tab-track-color: $theme-light;
$slider-button-hleft-bg-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAqFBMVEUAAAA/Pz8/Pz8qKiovLy8zMzM1NTU2NjYvLy8xMTEzMzM0NDQ1NTUxMTEyMjIzMzMzMzM0NDQxMTEyMjI0NDQxMTEyMjIyMjIzMzMyMjIzMzMzMzMyMjIzMzMyMjIyMjIyMjIzMzMzMzMyMjIzMzMzMzMyMjIyMjIyMjIzMzMzMzMyMjIyMjIyMjIzMzMzMzMyMjIyMjIyMjIzMzMzMzMyMjIyMjIzMzNiZe3EAAAAN3RSTlMABAgMEBQYHCAkKCwwNDg8QERITFhcYGRscHiAg4uTl5ufo6uzt7u/w8fLz9PX29/j5+vv8/f7e+LmjwAAAQtJREFUeAGV1clWKkEQhOG/urkNF3EARQZRGVAEmUXq/d/MpeFC4+S3jj6cTKqi+F1tm7/t/uGkF8mfWlijLO6wulmMsFonyc8TTrWT/KbESQvJfzSxniR/7mD1shhiXZ0lP8WqDpJ/L3GKleQPdayJDnyDNciih9XWgcdYjaPkF8ETsa9wimXwCkyy6AYXNAouaB5c0LrEKdeSPzawZsETUfz4gQrvv46wLAguaQJeP4sBeGOdu42X3oKbpdr/8d/5gpxBsIIfIFjytxB8Ri7wyo18sa3hNXXw14TX0TPyCN4wi3vwpvLB5yVeuYrVE9S18ZcJ79pUrHm1+uA9B0uBtAhfjp1/6sBfji+9O4SYTiDLgAAAAABJRU5ErkJggg==');
$slider-button-hright-bg-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAnFBMVEUAAAA/Pz8qKiovLy8zMzM1NTU2NjYvLy8zMzM0NDQ1NTUxMTEyMjIzMzMzMzM0NDQxMTEyMjIzMzMzMzM0NDQyMjIyMjIzMzMzMzMzMzMyMjIzMzMzMzMyMjIyMjIzMzMzMzMyMjIyMjIzMzMzMzMyMjIyMjIzMzMzMzMyMjIyMjIzMzMzMzMyMjIyMjIzMzMzMzMyMjIyMjIzMzObrWIeAAAAM3RSTlMABAwQFBgcICgsMDQ4PEBESExQVFhgZGx8gIOLj5OXn6Orr7O3u7/Hy8/X29/n6+/z9/s8lnMbAAABCklEQVR42q2VyRKCQBBDGRQV9xUVN9wVQRH+/9+8WGVunVTZ57xDMt0Z7zv+rfpN3vTsaeRA3H2C6JVAJB4xUQWzYIgtAOWQANwFiFeLIIIMiJQx3i6AODI2pmg8ZogYiQlj/ARAERKEnwKR1QmihcbPjiCGuCNrxvgCjc8YIgHg3WGM34F4hupxPJio+qUaVVSpUW3UqNxZjar2wB4J1B25OnENcyLbA5ro2vqlGNMY9StbH6Ljk+24jpmmNe3VCqLSVmJpzsRa7ry14g/Er8VdcSManjk7NNy39XM0HNn6AR7z1tY3n6C/OK2QMuLK9rgRbbFUp7Z+hPpYPPqj02ol9bXP7fXHE/gAULR68VLnBeoAAAAASUVORK5CYII=');
$slider-button-vdown-bg-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAApVBMVEUAAAA/Pz8qKiovLy8zMzM1NTU2NjYvLy8xMTEzMzM0NDQ1NTUxMTEyMjIzMzM0NDQxMTEyMjIxMTEyMjIyMjIzMzMzMzMyMjIzMzMzMzMyMjIyMjIzMzMzMzMyMjIyMjIyMjIzMzMyMjIzMzMzMzMyMjIyMjIyMjIzMzMzMzMyMjIyMjIyMjIzMzMzMzMyMjIyMjIyMjIzMzMzMzMyMjIyMjIzMzMJnqvmAAAANnRSTlMABAwQFBgcICQoLDA0OEBESExcYGRobHR8gIOHi4+Tl5ujq7O3u7/Dx8vP09fb3+Pn6+/z9/vRpbpFAAABHklEQVR4Ae3TW1PCMBAF4LOFgsj9ooCichcFoVBy/v9P0xGndktS8uT4wPeYmZPZnZPgf7h6EMCfjMF5Ad7CFUFuKvBUj0iQjNvw0jM8BcghLpMXMglwFuCCcMl0gJsb5KrtqAM8tJCje2Q2QDOAizwxAf6aBrAqLmgPcF2GRXVLV4D7Js50YqbBMM30ockjlRiNiMpELVKYU9lWgdIblfcSErcfVBZFfAkmVKIGfrRjKiPBST+zyB2+DakcO0g091TGAgRTKrsaUsprKq9h9mQZQjm7b0/lWZA1MHQyPVi0DnSI6rCqbGi1CuEQzGgxFrgNmWXu4WYp99BAPv18dFsOhblqy4OMdFt51Cc7duGttvMYXwmXHuMrIrj6Q58aX4DtQxE2xQAAAABJRU5ErkJggg==');
$slider-button-vup-bg-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAApVBMVEUAAAA/Pz8/Pz8qKiovLy81NTU2NjYvLy8xMTEzMzM0NDQ1NTUxMTEyMjIzMzM0NDQxMTEyMjIzMzMxMTEyMjIyMjIzMzMyMjIzMzMzMzMyMjIyMjIzMzMyMjIyMjIzMzMzMzMyMjIyMjIyMjIzMzMzMzMyMjIyMjIzMzMzMzMyMjIyMjIyMjIzMzMzMzMyMjIyMjIyMjIzMzMzMzMyMjIyMjIzMzM6Q6EdAAAANnRSTlMABAgMEBgcICQoLDA0OEBESExUXGBkbHR8gIOHi5Obn6Onq6+zt7u/x8vP09fb3+Pn6+/z9/tWLLgwAAABGElEQVR4Ae3UyXLyMBAE4NYvzPJDDARCyMKShbBAgo1wv/+jhSRVqhojqeRDqnLgu/nQh3GPBhd/mZ7PNSpobMhNA9HSjCd5F5FGBb8Vt4ihprRiBklWtGIG6WQU9i0EDY8sMX34qQkdxvBJlnR61nBqf9Bj24TDwNDr0EOZeqRg7PTuDmtvFHat8v+VHf5/p7ColRuUHV4bCg8KJ2pGIU/xQ91TMAO5hVYxwhf9SmHfhtXNKcz+Aa0dhWVSeknCug5DYaIg6CcKGcTncYgzYzkIRLwDh97BF1glcGpu3YGpgod+cQSKGwTcnQWyKwT1jQys6wizfcE2GGY3AnZHwuzOgcxShImtRuTRte8G1c56bYGKFC5+wyfN5oD6Q24erwAAAABJRU5ErkJggg==');
$slider-limit-bar-horizontal-height: 4px;
$slider-limit-bar-top: calc(50% - 2px);
$slider-limit-bar-vertical-width: 4px;
$slider-limit-bar-left: calc(50% - 2px);
$slider-limit-bar-color: rgba($neutral-black, .25);
