$slider-bg-color: $default-bg-color !default;
$slider-disabled-bg-color:  $disable !default;
$slider-disabled-opacity: 1 !default;
$slider-tick-font-color: $message-font !default;
$slider-active-bg-color: $active-bg-color !default;
$slider-border-radius: 4px !default;
$slider-height: 4px !default;
$slider-handle-border-size: 2px solid !default;
$slider-handle-height: 16px !default;
$slider-handle-width: 16px !default;
$slider-handle-mobile-height: 18px !default;
$slider-handle-mobile-width: 18px !default;
$slider-handle-border-radius: 50% !default;
$slider-button-icon-color: $bg-base-75 !default;
$slider-handle-top: -7px !default;
$slider-handle-mobile-top: -7px !default;
$slider-h-handle-margin: 0 !default;
$slider-h-handle-mobile-margin: 0 !default;
$rtl-slider-h-handle-margin: 0 -8px 0 0 !default;
$rtl-slider-h-handle-mobile-margin: 0 !default;
$slider-v-handle-margin: -8px !default;
$slider-v-handle-mobile-margin: 0 !default;
$rtl-slider-v-handle-margin: 0 !default;
$rtl-slider-v-handle-mobile-margin: 0 !default;
$slider-range-bar-color: $selection-bg !default;
$slider-range-bar-hover-color: $selection-bg !default;
$slider-color: $bg-base-5 !default;
$slider-handle-start-border-color: $border-alt !default;
$slider-track-color: $bg-base-75 !default;
$slider-handle-focus-bg-color: rgba($border-alt, .24) !default;
$slider-button-border-color: $bg-base-100 !default;
$slider-button-bg-color: $bg-base-0 !default;
$slider-container-height: 8px !default;
$slider-normal-handle-border-size: 2px solid !default;
$slider-normal-handle-border-color: $bg-base-100 !default;
$slider-handle-bg-color: $invert-font !default;
$slider-hover-handle-color: $bg-base-100 !default;
$slider-button-icon-color: $bg-base-100 !default;
$slider-active-handle-bg-color: $bg-base-0 !default;
$slider-tack-ticks-border-color: $bg-base-0 !default;
$slider-button-icon-font-color: $bg-base-0 !default;
$slider-hover-color: $bg-base-0 !default;
$slider-tooltip-padding: 2px 12px !default;
$slider-start-transform: none !default;
$slider-mid-transform: none !default;
$slider-final-transform: none !default;
$slider-handle-after-position: relative !default;
$slider-handle-hover-start: scale(1) !default;
$slider-handle-hover-end: scale(1) !default;
$slider-start-handle-hover-end: scale(1) !default;
$slider-handle-hover-border-color: $border-alt !default;
$tick-after-height: 4px !default;
$tick-after-top: -11px !default;
$largetick-before-top: -11px !default;
$largetick-before-height: 7px !default;
$largetick-after-height: 7px !default;
$largetick-after-top: 18px !default;
$tick-before-height: 4px !default;
$tick-before-top: 15px !default;
$slider-btn-container-height: 4px !default;
$slider-horizontal-btn-icon-prev: '\e937' !default;
$slider-vertical-btn-icon-prev: '\e94d' !default;
$slider-horizontal-btn-icon-next: '\e956' !default;
$slider-vertical-btn-icon-next: '\e20e' !default;
$slider-vertical-width: 4px !default;
$slider-border-radius-handle: 50% !default;
$slider-border: 0 !default;
$slider-btn-top: 0 !default;
$slider-btn-after-height: 100% !default;
$slider-btn-after-width: 100% !default;
$slider-btn-after-padding: 10px !default;
$slider-btn-margin-right: 2px !default;
$slider-btn-margin-top: -1.5px !default;
$slider-vertical-left: -6px !default;
$slider-vertical-left-with-btn: -7px !default;
$slider-button-font-size: 9px !default;
$slider-scale-font-family: $font-family !default;
$slider-scale-font-size: 9px !default;
$slider-mobile-scale-font-size: 9px !default;
$slider-scale-tick-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsIAAA7CARUoSoAAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAAA1JREFUGFdjWLZs2X8ABtoC8jsAVaIAAAAASUVORK5CYII=');
$slider-disabled-handle-show: none !default;
$slider-first-btn-margin: -4px !default;
$slider-second-btn-margin: -5px !default;
$slider-button-size: 18px !default;
$slider-button-horizon-padding: 0 35px !default;
$slider-button-vertical-padding: 35px 0 !default;
$slider-scale-value-position-top: -17px !default;
$slider-scale-value-position-bottom: -17px !default;
$tick-after-left: 2px !default;
$largetick-before-left: -1px !default;
$tick-before-left: 22px !default;
$largetick-after-left: 22px !default;
$slider-scale-value-position-left: -36px !default;
$slider-scale-value-position-right: -36px !default;
$slider-scale-value-position-both-left: -18px !default;
$slider-scale-value-position-both-right: -74px !default;
$slider-vertical-btn-right: 0 !default;
$slider-horizon-prve-btn-left: 0 !default;
$slider-horizon-next-btn-left: 0 !default;
$slider-vertical-prve-btn-left: 0 !default;
$slider-vertical-next-btn-left: 0 !default;
$slider-handle-start-top: calc(50% - 8px) !default;
$slider-handle-start-left: calc(50% - 8px) !default;
$slider-wrap-height: 28px !default;
$slider-wrap-width: 48px !default;
$slider-center-align: -2px !default;
$tick-before-mobile-top: 0 !default;
$tick-after-mobile-top: 18px !default;
$largetick-before-mobile-top: 0 !default;
$largetick-after-mobile-top: 21px !default;
$slider-btn-center-align: -9px !default;
$tick-both-top: -6px !default;
$tick-both-left: 3px !default;
$largetick-both-top: -2px !default;
$largetick-both-left: -2px !default;
$slider-range-height: 6px !default;
$slider-range-width: $slider-vertical-width !default;
$slider-range-border-radius: 0 !default;
$slider-first-btn-font-size: 8px !default;
$slider-first-btn-height: 24px !default;
$slider-first-btn-line-height: 20px !default;
$slider-second-btn-margin-right: -1px !default;
$slider-second-btn-font-size: 8px !default;
$slider-second-btn-height: 24px !default;
$slider-second-btn-line-height: 20px !default;
$slider-button-hover-transform: 0 !default;
$slider-cursor: pointer !default;
$slider-handle-hover-cursor: pointer !default;
$slider-handle-active-cursor: pointer !default;
$slider-scale-top: 9px !default;
$slider-scale-right: -11px !default;
$slider-track-border-color: $content-font-alt !default;
$slider-tab-border-color: $bg-base-75 !default;
$slider-tab-range-color: $slider-range-bar-color !default;
$slider-tab-track-color: $default-bg-color !default;
$slider-handle-active-color: $success-alt !default;
$slider-button-hleft-bg-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAolBMVEUAAAC/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7++vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6/v78y1pGmAAAANXRSTlMABAgMEBQYHCAkKCwwNEBESExUWFxkaGx0fICDh4ubn6Orr7O3u7/Hy8/T19vf4+fr7/P3+0e6nekAAAEFSURBVHjalZXJVgJBEASjnXHAEUQURZBFFAfZt+H/f82jedCXVpyjD1mvs4q/aR4uP1QJR7YUf1tgmYl/amEZXIRHLF31X7GUJ/E/fOB8I/46w5Hm4h9LLGPx63ssPQ08wNI+i/+GpdiLv/xH4IX4+waWqQa+w9LXwE9YOrX4ExzxCqzE3xVY3oMVGGrgHpYH9UdYWlqBuQ9cbLUCOY5UaeCS4INbPMVO19A1wdBVIli0CXhG+uIZYsui7uDJ1/Li0MRTHuXFKouOakZ0VMPwqLqBUckfiWzuTU7wNnwmgtdnDPFyxy7ouQ3hBeW50RW4SMSXrOdFg/chfCg8V1/RcjR+PXbfOBx/sErjBl8AAAAASUVORK5CYII=');
$slider-button-hright-bg-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAnFBMVEUAAAC/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7++vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6/v78I4QVcAAAAM3RSTlMABAgMEBQYHCAoLDA0ODxASExcYGRobHR8g4uTl5ufo6ert7u/w8fLz9fb3+Pn6+/z9/tbKk6UAAABBklEQVR42q2VyRKCAAxDQRBZVMAFcRdxVxD0///Nk2M8OCQz9tx3SJu0xrvWz09VXaO5rCMQN4cgOgUQB5Mg+g8glgZRoydUwhALAB4hAZg7IEqXIJwrECeLIIIKiIyRMUDhKUNMkYgZ4Vv0iM945AzExSYID4XnjEci9MiMEZ6i8CFDYDhqKhwnIAomHO5XOFoEEaLwFSNjjMInDLHEcESMR/ZA3D0mHDcgzhYBFBrQOqJtPWLbouhUjF6Mi9s09/uVdj7sC5rPbd5ZjvYmTuBMHNBQHFC31gbkFNqAzIN4wVfij0ikL6RH2S2lT6qfowwd0fv/SY2xfy6/BS0C17b42oLfjS/tEHrYzreszwAAAABJRU5ErkJggg==');
$slider-button-vdown-bg-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAApVBMVEUAAAC/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7++vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6/v7+hl97gAAAANnRSTlMABAwQFBgcICQoLDA0OEBESExcYGRobHR8gIOHi4+Tl5ujq7O3u7/Dx8vP09fb3+Pn6+/z9/vRpbpFAAABHklEQVR4Ae3TW1PCMBAF4LOFgsj9ooCichcFoVBy/v9P0xGndktS8uT4wPeYmZPZnZPgf7h6EMCfjMF5Ad7CFUFuKvBUj0iQjNvw0jM8BcghLpMXMglwFuCCcMl0gJsb5KrtqAM8tJCje2Q2QDOAizwxAf6aBrAqLmgPcF2GRXVLV4D7Js50YqbBMM30ockjlRiNiMpELVKYU9lWgdIblfcSErcfVBZFfAkmVKIGfrRjKiPBST+zyB2+DakcO0g091TGAgRTKrsaUsprKq9h9mQZQjm7b0/lWZA1MHQyPVi0DnSI6rCqbGi1CuEQzGgxFrgNmWXu4WYp99BAPv18dFsOhblqy4OMdFt51Cc7duGttvMYXwmXHuMrIrj6Q58aX4DtQxE2xQAAAABJRU5ErkJggg==');
$slider-button-vup-bg-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAApVBMVEUAAAC/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7++vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6+vr6/v7+hl97gAAAANnRSTlMABAgMEBgcICQoLDA0OEBESExUXGBkbHR8gIOHi5Obn6Onq6+zt7u/x8vP09fb3+Pn6+/z9/tWLLgwAAABGElEQVR4Ae3UyXLyMBAE4NYvzPJDDARCyMKShbBAgo1wv/+jhSRVqhojqeRDqnLgu/nQh3GPBhd/mZ7PNSpobMhNA9HSjCd5F5FGBb8Vt4ihprRiBklWtGIG6WQU9i0EDY8sMX34qQkdxvBJlnR61nBqf9Bj24TDwNDr0EOZeqRg7PTuDmtvFHat8v+VHf5/p7ColRuUHV4bCg8KJ2pGIU/xQ91TMAO5hVYxwhf9SmHfhtXNKcz+Aa0dhWVSeknCug5DYaIg6CcKGcTncYgzYzkIRLwDh97BF1glcGpu3YGpgod+cQSKGwTcnQWyKwT1jQys6wizfcE2GGY3AnZHwuzOgcxShImtRuTRte8G1c56bYGKFC5+wyfN5oD6Q24erwAAAABJRU5ErkJggg==');
$slider-limit-bar-horizontal-height: 6px !default;
$slider-limit-bar-top: calc(50% - 3px) !default;
$slider-limit-bar-vertical-width: 6px !default;
$slider-limit-bar-left: calc(50% - 3px) !default;
$slider-limit-bar-color: rgba($bg-base-0, .25) !default;
