// layout variables
$slider-height: 4px !default;
$slider-handle-height: 16px !default;
$slider-handle-width: 16px !default;
$rtl-slider-h-handle-margin: 0 -8px 0 0 !default;
$slider-v-handle-margin: -8px !default;
$slider-container-height: 4px !default;
$slider-tooltip-padding: 1px 8px !default;
$tick-after-height: 8px !default;
$tick-after-top: -12px !default;
$largetick-before-top: -12px !default;
$largetick-before-height: 12px !default;
$largetick-after-height: 12px !default;
$largetick-after-top: 12px !default;
$tick-before-height: 8px !default;
$tick-before-top: 8px !default;
$slider-border-radius-handle: 50% !default;
$slider-scale-font-family: $font-family !default;
$slider-scale-font-size: $text-sm !default;
$slider-scale-tick-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMSIgaGVpZ2h0PSIxIiB2aWV3Qm94PSIwIDAgMSAxIiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8bGluZSB4MT0iMC41IiB4Mj0iMC41IiB5Mj0iMSIgc3Ryb2tlPSIjQzhDNkM0Ii8+Cjwvc3ZnPgo=');
$slider-disabled-handle-show: none !default;
$slider-button-horizon-padding: 0 32px !default;
$slider-button-vertical-padding: 32px 0 !default;
$largetick-before-left: -4px !default;
$tick-before-left: 20px !default;
$largetick-after-left: 20px !default;
$slider-wrap-height: 28px !default;
$slider-center-align: -2px !default;
$slider-btn-center-align: -8px !default;
$slider-range-height: $slider-container-height !default;
$slider-range-border-radius: 2px !default;
$slider-cursor: pointer !default;
$slider-handle-hover-cursor: pointer !default;
$slider-scale-top: 12px !default;
$slider-small-scale-tick-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMSIgaGVpZ2h0PSIxIiB2aWV3Qm94PSIwIDAgMSAxIiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8bGluZSB4MT0iMC41IiB4Mj0iMC41IiB5Mj0iMSIgc3Ryb2tlPSIjQzhDNkM0Ii8+Cjwvc3ZnPgo=');
$slider-scale-tick-image-dark: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMSIgaGVpZ2h0PSIxIiB2aWV3Qm94PSIwIDAgMSAxIiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8bGluZSB4MT0iMC41IiB4Mj0iMC41IiB5Mj0iMSIgc3Ryb2tlPSIjNDg0NjQ0Ii8+Cjwvc3ZnPgo=');
$slider-limit-bar-horizontal-height: 4px !default;
$slider-limit-bar-top: calc(50% - 2px) !default;
$slider-limit-bar-vertical-width: 4px !default;
$slider-limit-bar-left: calc(50% - 2px) !default;
$tick-after-left: 0 !default;

$slider-touch-btn-center-align: -10px !default;

$slider-handle-mobile-height: 16px !default;
$slider-handle-mobile-width: 16px !default;
$slider-mobile-scale-font-size: $text-base !default;
$tick-after-mobile-height: 8px !default;
$largetick-before-mobile-height: 12px !default;
$slider-handle-mobile-margin-left: $slider-v-handle-margin !default;
$slider-handle-mobile-handle-top: calc(50% - 8px);

//color variables
$slider-button-icon-color: $icon-color !default;
$slider-range-bar-color: $border !default;
$slider-range-bar-hover-color: $primary !default;
$slider-track-color: $border-dark !default;
$slider-tab-border-color: $primary-border-color-focus !default;
$slider-track-border-color: $content-bg-color !default;
$slider-button-bg-color: $secondary-bg-color !default;
$slider-button-icon-bg-color: $icon-color !default;
$slider-normal-handle-border-color: $border !default;
$slider-handle-bg-color: $content-bg-color !default;
$slider-hover-color: $primary-light !default;
$slider-handle-hover-border-color: $primary-border-color-focus !default;
$slider-handle-start-border-color: $content-bg-color-alt2 !default;
$slider-button-border-color: $icon-color !default;
$slider-tab-background: $primary-bg-color-hover !default;
$slider-tab-range-color: $primary !default;
$slider-tab-track-color: $primary-light !default;
$slider-limit-bar-color: $overlay-bg-color !default;
$slider-tick-font-color: $content-text-color-alt2 !default;
$slider-hover-handle-color: $content-bg-color !default;
$slider-hover-handle-border-color: $primary !default;
