@use 'ej2-base/styles/definition/bds' as *;
@forward 'ej2-base/styles/definition/bds';
$numeric-skin-name: $skin-name !default;
$numeric-input-icon-size: 18px !default;
$numeric-input-bigger-icon-size: 22px !default;
$numric-zero-padding-margin: 0 !default;
$numeric-bigger-min-height: 40px !default;
$numeric-min-height: 33px !default;
$numeric-zero-height: 0 !default;

$numeric-prepend-label-bottom-top: 17px !default;
$numeric-prepend-label-top-top: 18px !default;
$numeric-prepend-outline-label-bottom-top: 16px !default;
$numeric-prepend-outline-label-top-top: 17px !default;
$numeric-prepend-filled-label-bottom-top: 16px !default;
$numeric-prepend-filled-label-top-top: 20px !default;
$numeric-bigger-prepend-label-bottom-top: -10px !default;
$numeric-bigger-prepend-label-top-top: -15px !default;
$numeric-bigger-prepend-outline-label-bottom-top: -10px !default;
$numeric-bigger-prepend-outline-label-top-top: -15px !default;
$numeric-bigger-prepend-filled-label-bottom-top: 18px !default;
$numeric-bigger-prepend-filled-label-top-top: -15px !default;
