@include export-module('pager-fluent-icons') {
  /*!componenticons*/

  #{&}.e-pager,
  .e-grid-menu {

    .e-icon-last::before {
      content: '\e80b';
    }

    .e-icon-first::before {
      content: '\e80c';
    }

    .e-icon-prev::before {
      content: '\e7c1';
    }

    .e-icon-next::before {
      content: '\e7c2';
    }

    &.e-rtl {
      & .e-icon-last.e-lastpage::before,
      & .e-icon-last.e-lastpage:hover,
      & .e-icon-last.e-lastpagedisabled::before {
        content: '\e80c';
      }

      & .e-icon-first.e-firstpage::before,
      & .e-icon-first.e-firstpage:hover,
      & .e-icon-first.e-firstpagedisabled::before {
        content: '\e80b';
      }

      & .e-icon-prev.e-prevpage::before,
      & .e-icon-prev.e-prevpage:hover,
      & .e-icon-prev.e-prevpagedisabled::before {
        content: '\e7c2';
      }

      & .e-icon-next.e-nextpage::before,
      & .e-icon-next.e-nextpage:hover,
      & .e-icon-next.e-nextpagedisabled::before {
        content: '\e7c1';
      }
    }
  }
}
  