

/*! component's default definitions and variables */

// @include export-module('fileexplorer-icons') {
//   /*! fileexplorer icons */
// }
@include export-module('fileexplorer-layout') {
  #{&}.e-fileexplorer {
     // sass-lint:disable-all
    -moz-user-select: none;
    -webkit-user-select: none;
    border: 1px solid;
    position: relative;

    .e-toolbar {
      border-bottom: 1px solid;

      .e-upload {
        border: 0;

        .e-file-select,
        .e-file-drop {
          display: none;
        }

        .e-file-select-wrap {
          padding: 0;
        }

        .e-btn,
        .e-css.e-btn {
          box-shadow: none;
        }

        .e-btn:hover,
        .e-css.e-btn:hover {
          box-shadow: $download-box-shadow;
        }
      }

      .search {
        width: 150px;
      }
    }

    .e-layout {
      position: relative;
    }

    .e-treeview {
      border-bottom: 1px solid;
      border-right: 1px solid;
      float: left;
      height: 353px;
      overflow: auto;
      position: relative;
      width: 297px;

      .e-list-item {
        .e-list-icon.e-folder-icon {
          background-image: url(https://js.syncfusion.com/demos/web/content/ejthemes/common-images/fileexplorer/file_icons.png);
          background-position: -196px -552px;
        }
      }
    }

    .e-grid {
      border-width: 0 0 1px;
      float: left;

      .e-gridheader {
        border-top-width: 0;
      }

      .e-content {
        // sass-lint:disable-all
        overflow-y: auto !important;
      }

      .e-rowcell {

          .e-checkbox-wrapper.e-css {
            visibility: hidden; 
          }
        }
          
      .e-row:hover {
  
          .e-rowcell {
  
            .e-checkbox-wrapper.e-css {
              visibility: visible; 
            }
          }
        }
  
      .e-rowcell.e-active {
            
          .e-checkbox-wrapper.e-css {
              visibility: visible; 
          }
      }
    }

    .e-statusbar {
      height: 25px;
    }

    .e-dialog {

      .e-fe-label {
        padding-bottom: 10px;
      }
    }

    .e-blur {
      // sass-lint:disable-all
      opacity: 0.2;
    }

    .e-large-icons {
      float: left;

      .e-list-item.e-active {
          
          .e-checkbox-wrapper.e-css {
            visibility: visible; 
          }
        }
          
        .e-list-item.e-hover {
                  
          .e-checkbox-wrapper.e-css {
            visibility: visible; 
          }
        }

      .e-list-parent {
        border-bottom: 1px solid;
        overflow: auto;
        height: 354px;
        display: block;
        margin: 0px;
        padding: 5px 0 0 10px;
      }

      .e-empty {
        margin: 0 auto;
        padding: 10px;
        text-align: center;
      }      
    }
    
    .e-large-icon {
      border: 1px solid;
      float: left;
      height: 108px;
      margin: 8px;
      padding: 5px;
      width: 120px;
      overflow: hidden;

      .e-list-icon {
        height: 80px;
        margin: 0 14px;
        width: 80px;
      }

      .e-checkbox-wrapper.e-css {
        float: left;
        position: absolute;
        visibility: hidden;
      }

      .e-list-icon.e-fe-image {
        display: inline-block;
        background-position: -21px 1342px;
        background-image: url(https://js.syncfusion.com/demos/web/content/ejthemes/common-images/fileexplorer/file_icons.png);
      }

      .e-list-icon.e-fe-music {
        display: inline-block;
        background-position: -21px 1034px;
        background-image: url(https://js.syncfusion.com/demos/web/content/ejthemes/common-images/fileexplorer/file_icons.png);
      }

      .e-list-icon.e-fe-video {
        display: inline-block;
        background-position: -21px 957px;
        background-image: url(https://js.syncfusion.com/demos/web/content/ejthemes/common-images/fileexplorer/file_icons.png);
      }

      .e-list-icon.e-css {
        display: inline-block;
        background-position: -21px 805px;
        background-image: url(https://js.syncfusion.com/demos/web/content/ejthemes/common-images/fileexplorer/file_icons.png);
      }

      .e-list-icon.e-exe {
        display: inline-block;
        background-position: -21px 573px;
        background-image: url(https://js.syncfusion.com/demos/web/content/ejthemes/common-images/fileexplorer/file_icons.png);
      }

      .e-list-icon.e-js {
        display: inline-block;
        background-position: -21px 882px;
        background-image: url(https://js.syncfusion.com/demos/web/content/ejthemes/common-images/fileexplorer/file_icons.png);
      }

      .e-list-icon.e-msi {
        display: inline-block;
        background-position: -21px 497px;
        background-image: url(https://js.syncfusion.com/demos/web/content/ejthemes/common-images/fileexplorer/file_icons.png);
      }

      .e-list-icon.e-pdf {
        display: inline-block;
        background-position: -21px 1419px;
        background-image: url(https://js.syncfusion.com/demos/web/content/ejthemes/common-images/fileexplorer/file_icons.png);
      }

      .e-list-icon.e-pptx .e-list-icon.e-ppt {
        display: inline-block;
        background-position: -21px 1573px;
        background-image: url(https://js.syncfusion.com/demos/web/content/ejthemes/common-images/fileexplorer/file_icons.png);
      }

      .e-list-icon.e-rar {
        display: inline-block;
        padding: 40px 40px 40px 50px;
        background-position: -21px 1192px;
        background-image: url(https://js.syncfusion.com/demos/web/content/ejthemes/common-images/fileexplorer/file_icons.png);
      }

      .e-list-icon.e-zip {
        display: inline-block;
        background-position: -21px 1192px;
        background-image: url(https://js.syncfusion.com/demos/web/content/ejthemes/common-images/fileexplorer/file_icons.png);
      }

      .e-list-icon.e-txt {
        display: inline-block;
        background-position: -21px 1112px;
        background-image: url(https://js.syncfusion.com/demos/web/content/ejthemes/common-images/fileexplorer/file_icons.png);
      }

      .e-list-icon.e-docx .e-list-icon.e-doc {
        display: inline-block;
        background-position: -21px 1651px;
        background-image: url(https://js.syncfusion.com/demos/web/content/ejthemes/common-images/fileexplorer/file_icons.png);
      }

      .e-list-icon.e-xlsx .e-list-icon.e-xls {
        display: inline-block;
        background-position: -21px 1496px;
        background-image: url(https://js.syncfusion.com/demos/web/content/ejthemes/common-images/fileexplorer/file_icons.png);
      }

      .e-list-icon.e-xml {
        display: inline-block;
        background-position: -21px 264px;
        background-image: url(https://js.syncfusion.com/demos/web/content/ejthemes/common-images/fileexplorer/file_icons.png);
      }

      .e-list-icon.e-xml {
        display: inline-block;
        background-position: -21px 342px;
        background-image: url(https://js.syncfusion.com/demos/web/content/ejthemes/common-images/fileexplorer/file_icons.png);
      }

      .e-list-icon.e-php {
        display: inline-block;
        background-position: -21px 650px;
        background-image: url(https://js.syncfusion.com/demos/web/content/ejthemes/common-images/fileexplorer/file_icons.png);
      }

      .e-list-icon.e-html {
        display: inline-block;
        background-position: -21px 727px;
        background-image: url(https://js.syncfusion.com/demos/web/content/ejthemes/common-images/fileexplorer/file_icons.png);
      }

      .e-list-icon.e-rtf {
        display: inline-block;
        background-position: -21px 339px;
        background-image: url(https://js.syncfusion.com/demos/web/content/ejthemes/common-images/fileexplorer/file_icons.png);
      }

      .e-list-text {
        display: block;
        padding: 0 5px;
        text-align: center;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      .e-list-icon.e-folder {
        display: inline-block;
        background-image: url(https://js.syncfusion.com/demos/web/content/ejthemes/common-images/fileexplorer/file_icons.png);
        background-position: -21px -1480px;
    }
    }
  }
}
@include export-module('fileexplorer-theme') {
  #{&}.e-fileexplorer {
    border-color: $fe-border-color;

    .e-toolbar {
      border-bottom-color: $fe-border-color;
    }

    .e-treeview {
      border-bottom-color: $fe-border-color;
      border-right-color: $fe-border-color;
    }

    .e-large-icons {

      .e-list-parent {
        border-bottom-color: $fe-border-color;
      }

      .e-large-icon {
        border-color: transparent;

        &.e-hover {
          background: $fe-hover-color;
          border-color: $fe-hover-color;
        }

        &.e-active {
          background: $fe-border-color;
          border-color: $fe-border-color;
        }

        &.e-focus {
          border-color: $fe-border-color;
        }
      }
    }

    .e-fe-error {
      color: $fe-error-color;
    }
  }
}