@import 'definition.scss';

$skin-name: 'material';
$btn-color: rgba($grey-black, .87);
$rte-border-color: rgba($grey-black, .12);
$rte-content-bg: $grey-white;
$rte-full-screen-bg: $grey-white;
$rte-content-font-color: #333;
$rte-item-color: $grey-black;
$rte-icons-color: $grey-black;

$rte-big-quick-item-btn-width: 39px;
$rte-quick-item-btn-width: 27px;
$rte-big-quick-item-btn-height: 34px;
$rte-quick-item-btn-height: 26px;
$rte-big-quick-item-padding: 0;
$rte-quick-item-padding: 0;
$rte-quick-item-icon-min-width: 24px;
$rte-big-quick-item-line-height: normal;
$rte-quick-item-line-height: 25px;
$rte-quick-item-active-bg: rgba($grey-black, .12);
$rte-quick-item-active-font-color: $grey-black;
$rte-quick-item-border: 0;
$rte-quick-item-hover-border-color: $grey-white;
$rte-quick-item-active-border-color: $grey-white;

$rte-big-quick-drop-btn-line-height: 33px;
$rte-quick-drop-btn-line-height: 24px;
$rte-big-quick-drop-btn-margin: 4px 0;
$rte-quick-drop-btn-margin: 4px 0;
$rte-big-quick-drop-btn-padding: 0;
$rte-quick-drop-btn-padding: 1px 0;
$rte-big-quick-drop-btn-icon-size: 16px;
$rte-quick-drop-btn-icon-size: 14px;
$rte-big-quick-drop-btn-caret-icon-size: 10px;
$rte-quick-drop-btn-caret-icon-size: 12px;
$rte-big-quick-drop-btn-caret-font-size: 12px;
$rte-quick-drop-btn-caret-font-size: 10px;
$rte-quick-drop-btn-border-color: $grey-white;
$rte-quick-drop-btn-hover-border-color: $grey-white;

$rte-quick-pop-border: 0;
$rte-quick-tb-border: 0;
$rte-quick-pop-bg: $grey-white;
$rte-quick-vr-line-color: rgba($grey-black, .05);
$rte-quick-pop-shadow: 0 2px 6px rgba($grey-black, .26);
$rte-quick-pop-item-focus-bg: rgba($grey-black, .12);
$rte-quick-tb-btn-hover: rgba($grey-black, .12);
$rte-mob-drop-down-pop-shadow: rgba($grey-black, .12);

$rte-big-tb-items-margin-left: 3px;
$rte-tb-items-margin-left: 7px;
$rte-big-tb-items-padding-left: 3px;
$rte-tb-items-padding-left: 7px;
$rte-big-active-tb-item-btn-padding: 0 6px;
$rte-active-tb-item-btn-padding: 0 1.5px;
$rte-hor-nav-focus-color: rgba($grey-black, .54);
$rte-hor-nav-active-color: rgba($grey-black, .54);
$rte-hor-nav-focus-bg: inherit;
$rte-hor-nav-hover-bg: inherit;
$rte-hor-nav-active-bg: inherit;
$rte-hor-nav-active-border-color: inherit;
$rte-hor-nav-border-left: 0;
$rte-hor-nav-active-border-left: 0;
$rte-tb-item-active-bg: rgba($grey-black, .12);
$rte-tb-active-font-color: $grey-black;
$rte-tb-item-active-border: 0;
$rte-expand-tb-border-bottom: $rte-border-size $rte-border-type rgb(250, 250, 250);
$rte-color-picker-active-bg: inherit;
$rte-drop-btn-active-bg: mix($btn-color, $grey-50, 32%);
$rte-drop-btn-active-color: $grey-black;
$rte-drop-btn-active-border-color: inherit;
$rte-split-btn-active-hover-font-color: $grey-black;

$rte-split-btn-color: $grey-black;
$rte-split-btn-active-color: $grey-black;
$rte-split-btn-hover-bg: rgba($grey-black, .04);
$rte-split-btn-active-bg: rgba($grey-black, .36);
$rte-split-btn-span-hover-bg: rgba($grey-black, .12);
$rte-split-btn-span-focus-bg: rgba($grey-black, .24);
$rte-split-btn-span-active-bg: rgba($grey-black, .36);
$rte-split-btn-bar-bg: transparent;
$rte-split-btn-active-bar-bg: transparent;
$rte-split-btn-bar-size: 0;
$rte-split-btn-active-border: 0;
$rte-split-btn-active-color-icon-line-height: 25px;
$rte-big-split-btn-active-color-icon-line-height: 35px;

$rte-link-valid-color: #f00;
$rte-img-popup-color: #000;
$rte-img-border-color: #ccc;
$rte-img-popup-border: 1px solid $rte-img-border-color;
$rte-img-popup-box-shadow: 0 2px 3px 1px rgba($rte-img-popup-color, .21);
$rte-upload-drag-border-clr: rgba($rte-img-popup-color, .12);
$rte-img-header-clr: rgba($rte-img-popup-color, .87);
$rte-drop-text-clr: rgba($rte-img-popup-color, .38);
$rte-default-character-count-color: #000;
$rte-warning-character-count-color: #ffb74d;
$rte-error-character-count-color: #c62828;
$rte-img-border: solid 2px #4a90e2;
$rte-font-family: $font-family;
$rte-content-color: $rte-content-font-color;
$rte-content-blockquote-border-left-color: solid 2px $rte-content-font-color;
$dropdown-selection-bgcolor: $grey-400;
$rte-format-btn-min-width: 0;
$rte-font-name-btn-min-width: 0;
$rte-font-size-btn-min-width: 0;
$rte-drop-btn-padding-left: 7px;
$rte-drop-btn-padding-right: 2.5px;
$rte-drop-btn-action-padding-left: 7px;
$rte-drop-btn-action-padding-right: 2.5px;
$rte-big-drop-btn-padding-left: 10px;
$rte-big-drop-btn-padding-right: 6px;
$rte-big-drop-btn-action-padding-left: 10px;
$rte-big-drop-btn-action-padding-right: 6px;
$rte-ext-tbar-overlay-icons-color: rgba($grey-light-font, .26);
$rte-colorpicker-parent-padding: 0;
$rte-colorpicker-parent-padding-hover: 0;
$rte-colorpicker-parent-padding-active-hover: 0;
$overlay-color: #383838;
$dropdown-selection-color: rgba($grey-black, .87);
$rte-font-icon-width: 30px;
$rte-font-arrow-width: 18px;
$rte-font-arrow-touch-width: 20px;
$rte-font-icon-line-height: 1;
$rte-colorpicker-padding: .5px 0;
$dropdown-hover-bgcolor: rgba($grey-black, .12);
$rte-anchor-color: #2e2ef1;
$rte-anchor-color: #2e2ef1;
$rte-ext-tbar-overlay-dropdown-color: rgba($rte-img-popup-color, .26);
$rte-placeholder-line-height: 16px;
$rte-img-resize-back-color: #4a90e2;
$rte-img-resize-color: #fff;
$rte-table-header-color: rgba($grey-light-font, .87);
$rte-table-span-bg-color: $grey-white;
$rte-table-span-border: 1px solid $grey-400;
$rte-table-span-active-bg-color: rgba($accent, .2);
$rte-table-span-active-border-color: $accent;
$rte-table-select-border-color: #0478d7;
$rte-table-popup-bg: $grey-white;
$rte-table-popup-color: $grey-black;
$rte-table-popup-box: 0 3px 8px 0 rgba($grey-black, .26);
$rte-table-border-color: #bdbdbd;
$rte-table-alternate-color: #f5f5f5;
$rte-table-header-bg: #e0e0e0;
