/*! recurrence editor theme wise definitions*/
$recurrence-label-bottom: 7px !default;
$recurrence-month-label-bottom: 7px !default;
$recurrence-week-label-bottom: 10px !default;
$recurrence-label-font-weight: 400 !default;
$recurrence-label-font-nrml-size: 13px !default;
$recurrence-label-font-bgr-size: 13px !default;
$recurrence-left-padding: 0 8px 10px 0 !default;
$recurrence-week-position-bgr-min-width: 130px !default;
$recurrence-day-position-bgr-min-width: 183px !default;
$recurrence-day-position-bgr-padding-left: 54px !default;
$recurrence-end-bgr-padding-right: 5px !default;
$recurrence-week-position-min-width: 90px !default;
