$ribbon-border: 1px solid !default;
$ribbon-file-menu-border: 1px solid !default;
$ribbon-file-menu-border-width: 0 0 1px 0 !default;
$ribbon-file-menu-weight: 400 !default;
$ribbon-file-menu-size: 14px !default;
$ribbon-file-menu-padding: 10px 15px !default;
$ribbon-file-menu-height: 22px !default;
$ribbon-file-menu-border-radius: unset !default;
$ribbon-help-template-padding: 12px !default;
$ribbon-help-template-height: 42px !default;
$ribbon-help-template-border: 1px solid !default;
$ribbon-toolbar-items-height: 42px !default;
$ribbon-horizontal-nav-height: 42px !default;
$ribbon-group-header-padding: 9px 11px 2px !default;
$ribbon-group-header-height: 15px !default;
$ribbon-group-header-font-size: 10px !default;
$ribbon-group-overflow-padding: 2px 8px !default;
$ribbon-group-content-padding: 0 8px !default;
$ribbon-group-content-height: 108px !default;
$ribbon-group-overflow-height: 108px !default;
$ribbon-group-header-margin: 20px !default;
$ribbon-group-content-margin: 20px !default;
$ribbon-group-padding: 6px !default;
$ribbon-group-height: 140px !default;
$ribbon-simplified-group-padding: 2px !default;
$ribbon-simplified-group-content-padding: 0 7px 0 8px !default;
$ribbon-simplified-group-content-height: 42px !default;
$ribbon-collapse-btn-padding: 2px !default;
$ribbon-collapse-btn-height: 12px !default;
$ribbon-collapse-btn-font-weight: 400 !default;
$ribbon-collapsible-content-width: 20px !default;
$ribbon-overflow-btn-content-width: 40px !default;
$ribbon-overflow-btn-font-weight: 400 !default;
$ribbon-overflow-btn-icon-padding: 8px !default;
$ribbon-overflow-btn-padding: 0 !default;
$ribbon-overflow-btn-margin: 0 !default;
$ribbon-overflow-collapse-btn-right: 25px !default;
$ribbon-overflow-item-padding: 0 !default;
$ribbon-overflow-wrapper-item-margin: 3px 8px !default;
$ribbon-overflow-item-btn-height: 18px !default;
$ribbon-overflow-item-btn-margin: 0 8px 0 0 !default;
$ribbon-overflow-btn-height: 32px !default;
$ribbon-rtl-overflow-item-btn-margin: 0 0 0 8px !default;
$ribbon-overflow-btn-border-radius: unset !default;
$ribbon-overflow-header-height: 18px !default;
$ribbon-overflow-header-padding: 3px 8px !default;
$ribbon-overflow-header-weight: 600 !default;
$ribbon-overflow-dropdown-btn-padding: 0 15px !default;
$ribbon-overall-overflow-btn-position: 5px !default;
$ribbon-dropdown-btn-padding: 0 15px !default;
$ribbon-dropdown-caret-btn-size: 12px !default;
$ribbon-dropdown-caret-btn-height: 12px !default;
$ribbon-dropdown-caret-btn-padding: 2px 4px !default;
$ribbon-items-padding: 2px !default;
$ribbon-large-items-btn-padding: 0 3px !default;
$ribbon-large-items-btn-height: 18px !default;
$ribbon-large-items-icon-size: 32px !default;
$ribbon-large-items-max-width: 10ch !default;
$ribbon-large-items-icon-padding: 8px 6px 6px !default;
$ribbon-items-border: none !default;
$ribbon-items-border-radius: unset !default;
$ribbon-items-font-weight: 400 !default;
$ribbon-items-btn-size: 12px !default;
$ribbon-items-btn-padding: 0 !default;
$ribbon-items-margin: 8px !default;
$ribbon-items-height: 18px !default;
$ribbon-items-checkbox-size: 12px !default;
$ribbon-items-checkbox-padding: 0 8px !default;
$ribbon-input-group-height: 32px !default;
$ribbon-input-padding: 5px 0 5px 8px !default;
$ribbon-input-size: 14px !default;
$ribbon-input-height: 22px !default;
$ribbon-input-weight: 400 !default;
$ribbon-input-icon-size: 12px !default;
$ribbon-input-icon-height: 12px !default;
$ribbon-input-icon-padding: 11px 1px 9px 2px !default;
$ribbon-input-icon-weight: 400 !default;
$ribbon-input-group-border-radius: unset !default;
$ribbon-input-group-margin: 4px !default;
$ribbon-tab-border: 1px solid !default;
$ribbon-tab-text-size: 14px !default;
$ribbon-tab-text-padding: 10px 15px !default;
$ribbon-tab-text-height: 22px !default;
$ribbon-tab-text-weight: 400 !default;
$ribbon-nav-arrow-size: 16px !default;
$ribbon-nav-arrow-height: 16px !default;
$ribbon-hscroll-padding: 0 !default;
$ribbon-hscroll-nav-arrow-padding: 0 4px !default;
$ribbon-hscroll-nav-arrow-weight: 400 !default;
$ribbon-hscroll-nav-border-width: 1px !default;
$ribbon-hscroll-nav-border-radius: unset !default;
$ribbon-menu-border: none !default;
$ribbon-menu-border-radius: unset !default;
$ribbon-menu-blank-icon-padding: 34px !default;
$ribbon-launcher-icon-margin: 0 7px 2px 0 !default;
$ribbon-rtl-launcher-icon-margin: 0 0 2px 7px !default;
$ribbon-ddb-popup-font-size: 14px;
$ribbon-ddb-popup-height: 36px;

$ribbon-bigger-content-height: 120px !default;
$ribbon-bigger-group-overflow-content-height: 120px !default;
$ribbon-bigger-group-height: 159px !default;
$ribbon-bigger-file-menu-height: 24px !default;
$ribbon-bigger-file-menu-padding: 16px 18px !default;
$ribbon-bigger-file-menu-size: 16px !default;
$ribbon-bigger-help-template-padding: 16px !default;
$ribbon-bigger-help-template-height: 56px !default;
$ribbon-bigger-toolbar-items-height: 56px !default;
$ribbon-bigger-horizontal-nav-height: 56px !default;
$ribbon-bigger-collapse-btn-padding: 2px !default;
$ribbon-bigger-collapse-btn-height: 20px !default;
$ribbon-bigger-collapse-btn-font-size: 20px !default;
$ribbon-bigger-collapsible-content-width: 24px !default;
$ribbon-bigger-overflow-btn-content-width: 40px !default;
$ribbon-bigger-overflow-btn-font-size: 20px !default;
$ribbon-bigger-overflow-btn-height: 20px !default;
$ribbon-bigger-overflow-btn-icon-padding: 7px !default;
$ribbon-bigger-overflow-collapse-btn-right: 28px !default;
$ribbon-bigger-overall-overflow-btn-height: 34px !default;
$ribbon-bigger-overall-overflow-btn-position: 9px !default;
$ribbon-bigger-overflow-wrapper-item-margin: 3px 8px !default;
$ribbon-bigger-group-header-padding: 11px 11px 4px !default;
$ribbon-bigger-group-header-height: 18px !default;
$ribbon-bigger-group-header-font-size: 12px !default;
$ribbon-bigger-simplified-group-content-height: 52px !default;
$ribbon-bigger-tab-text-size: 16px !default;
$ribbon-bigger-tab-text-padding: 16px 18px !default;
$ribbon-bigger-tab-text-height: 24px !default;
$ribbon-bigger-large-items-icon-padding: 12px 8px 0 !default;
$ribbon-bigger-large-items-icon-size: 36px !default;
$ribbon-bigger-large-items-btn-padding: 0 5px !default;
$ribbon-bigger-large-items-btn-size: 16px !default;
$ribbon-bigger-large-items-btn-height: 24px !default;
$ribbon-bigger-items-padding: 2px !default;
$ribbon-bigger-items-btn-size: 14px !default;
$ribbon-bigger-items-height: 22px !default;
$ribbon-bigger-items-icon-height: 20px !default;
$ribbon-bigger-items-icon-size: 20px !default;
$ribbon-bigger-items-margin: 8px !default;
$ribbon-bigger-items-checkbox-size: 16px !default;
$ribbon-bigger-items-checkbox-padding: 0 8px !default;
$ribbon-bigger-input-group-height: 36px !default;
$ribbon-bigger-input-items-size: 14px !default;
$ribbon-bigger-input-items-height: 22px !default;
$ribbon-bigger-input-items-btn-size: 16px !default;
$ribbon-bigger-input-items-btn-height: 16px !default;
$ribbon-bigger-input-padding: 7px 0 7px 13px !default;
$ribbon-bigger-input-icon-padding: 10px 2px !default;
$ribbon-bigger-input-group-margin: 4px !default;
$ribbon-bigger-dropdown-btn-padding: 0 18px !default;
$ribbon-bigger-menu-blank-icon-padding: 42px !default;
$ribbon-bigger-dropdown-btn-size: 16px !default;
$ribbon-bigger-dropdown-btn-line-height: 16px !default;
$ribbon-bigger-dropdown-caret-btn-padding: 3px 5px !default;
$ribbon-bigger-dropdown-caret-btn-size: 16px !default;
$ribbon-bigger-dropdown-caret-btn-height: 16px !default;
$ribbon-bigger-caret-dropdown-btn-padding: 0 18px !default;
$ribbon-bigger-color-picker-height: 20px !default;
$ribbon-bigger-color-picker-width: 20px !default;
$ribbon-bigger-launcher-icon-margin: 0 8px 8px 0 !default;
$ribbon-bigger-rtl-launcher-icon-margin: 0 0 8px 8px !default;
$ribbon-bigger-ddb-popup-font-size: 16px;
$ribbon-bigger-ddb-popup-height: 48px;

$ribbon-header-bg-color: $grey-50 !default;
$ribbon-border-color: $grey-300 !default;
$ribbon-group-seperator-color: $grey-400 !default;
$ribbon-group-border-color: $grey-400 !default;
$ribbon-input-group-border-color: $grey-400 !default;
$ribbon-input-group-background-color: $grey-white !default;
$ribbon-items-icon-color: rgba($grey-light-font, .54) !default;
$ribbon-items-background-color: $grey-50 !default;
$ribbon-items-hover-background-color: rgba($grey-black, .12) !default;
$ribbon-items-focus-background-color: $grey-300 !default;
$ribbon-items-hover-color: rgba($grey-light-font, .54) !default;
$ribbon-items-active-color: rgba($grey-light-font, .54) !default;
$ribbon-items-focus-color: rgba($grey-light-font, .54) !default;
$ribbon-items-active-background-color: $grey-200 !default;
$ribbon-items-hover-border-color: unset !default;
$ribbon-items-focus-border-color: unset !default;
$ribbon-items-disabled-color: $grey-600 !default;
$ribbon-collapse-btn-background: $grey-50 !default;
$ribbon-text-color: rgba($grey-light-font, .87) !default;
$ribbon-tab-text-focus-color: rgba($accent, 1) !default;
$ribbon-tab-text-hover-color: rgba($accent, 1) !default;
$ribbon-active-tab-color: $primary !default;
$ribbon-active-tab-indicator-color: $primary !default;
$ribbon-active-file-menu-color: $primary-font !default;
$ribbon-active-file-menu-background: $primary !default;
$ribbon-menu-border-color: $grey-300 !default;
$ribbon-menu-hover-background-color: $grey-200 !default;
$ribbon-menu-items-color: $grey-light-font !default;
$ribbon-menu-items-icon-color: $grey-light-font !default;
$ribbon-menu-background-color: $grey-50 !default;
$ribbon-menu-items-background-color: $grey-50 !default;
$ribbon-hscroll-border-color: $grey-400 !default;
$ribbon-hscroll-color: $grey-light-font !default;
$ribbon-hscroll-background-color: $grey-100 !default;
$ribbon-hscroll-hover-border-color: $grey-400 !default;
$ribbon-hscroll-hover-background-color: $grey-200 !default;
$ribbon-hscroll-hover-color: $grey-light-font !default;
$ribbon-hscroll-active-border-color: $grey-400 !default;
$ribbon-hscroll-active-background-color: $grey-200 !default;
$ribbon-hscroll-active-color: $grey-light-font !default;
$ribbon-hscroll-focus-border-color: $grey-400 !default;
$ribbon-hscroll-focus-background-color: $grey-300 !default;
$ribbon-hscroll-focus-color: $grey-light-font !default;
$ribbon-tooltip-background-color: $grey-700 !default;
$ribbon-tooltip-text-color: $grey-dark-font !default;
$ribbon-overflow-box-shadow: 0 5px 5px -3px rgba($grey-black, .2), 0 8px 10px 1px rgba($grey-black, .14), 0 3px 14px 2px rgba($grey-black, .12) !default;
