@include export-module('chatui-bds-icons') {
  .e-chat-send::before {
    content: '\e71d';
  }
  .e-chat-check::before {
    content: '\e8b1';
  }
  .e-chat-error::before {
    content: '\e878';
  }
  .e-chat-seen::before {
    content: '\e91a';
  }
  .e-chat-scroll-down::before {
    content: '\e7fe';
  }
}
