@include export-module('chatui-material-icons') {
  .e-chat-send::before {
    content: '\e816';
  }
  .e-chat-check::before {
    content: '\e96d';
  }
  .e-chat-error::before {
    content: '\e7e9';
  }
  .e-chat-seen::before {
    content: '\e9df';
  }
  .e-chat-scroll-down::before {
    content: '\e304';
  }
}
