$user-icon-gap: 12px !default;
$chat-scrollbar-width: 6px !default;
$chat-send-icon-size: 14px !default;
$chat-header-height: 48px !default;
$suggesstions-font-weight: 400 !default;
$message-header-size: 12px !default;
$message-time-size: 10px !default;
$message-header-font-weight: 600 !default;
$chat-status-icon-size: 16px !default;
$chat-text-font-size: 14px !default;
$text-border-radius: 0 !default;
$chat-text-padding: 6px 8px !default;
$text-margin-top: 4px !default;
$message-item-bottom: 12px !default;
$timebreak-font-size: 14px !default;
$timebreak-padding: 1px 8px !default;
$timebreak-font-weight: 400 !default;
$timebreak-border-radius: 0 !default;
$typing-user-font-size: 12px !default;
$suggestion-border-radius: 0 !default;
$chat-suggesstion-line-height: 22px !default;
$chat-suggesstions-list-padding: 1px 8px !default;
$user-status-icon-font-size: 12px !default;
$user-status-icon-border-radius: 10px !default;
$user-status-icon-border-color: $neutral-primary !default;
$user-status-icon-away-background-color: $alert-bg !default;
$user-status-icon-online-background-color: $success-bg !default;
$user-status-icon-busy-background-color: $error-bg !default;
$user-status-icon-offline-background-color: $neutral-tertiary !default;
$user-status-icon-color: $neutral-primary !default;
$chat-footer-icons-gap: 8px !default;
$chat-footer-icons-padding: 5px 10px 5px 0 !default;
$chat-footer-icons-rtl-padding: 5px 0 5px 10px !default;
$chat-textarea-min-height: 34px !default;
$chat-textarea-line-height: 22px !default;
$chat-textarea-padding: 5px 10px !default;
$chat-footer-border-radius: 0 !default;
$chat-focused-border-width: 1px !default;

$chat-footer-icons-gap-bigger: 8px !default;
$chat-footer-icons-padding-bigger: 8px 12px 8px 0 !default;
$chat-footer-icons-rtl-padding-bigger: 8px 0 8px 12px !default;
$chat-textarea-min-height-bigger: 40px !default;
$chat-textarea-line-height-bigger: 24px !default;
$chat-textarea-padding-bigger: 8px 12px !default;
$chat-suggesstion-bigger-line-height: 24px !default;
$chat-suggesstions-li-padding-bigger: 4px 12px !default;
$typing-user-font-size-bigger: 14px !default;
$chat-text-font-size-bigger: 16px !default;
$chat-text-padding-bigger: 9px 12px !default;
$timebreak-font-size-bigger: 16px !default;
$timebreak-padding-bigger: 5px 8px !default;
$chat-status-icon-bigger-size: 18px !default;
$chat-send-icon-size-bigger: 16px !default;
$chat-bigger-header-height: 56px !default;
$message-header-bigger-size: 14px !default;
$message-time-bigger-size: 12px !default;
$user-icon-bigger-gap: 16px !default;
$user-status-icon-bigger-font-size: 14px !default;

$chat-footer-border-color: $neutral-tertiary !default;
$chat-footer-border-btm-color: $neutral-tertiary !default;
$chat-footer-wave-color: unset !default;
$chat-placeholder-color: $neutral-tertiary !default;
$chat-footer-focus-bdr-color: $theme-primary !default;
$chat-footer-border-shadow: unset !default;
$chat-bg-color: $neutral-white !default;
$chat-left-text-color: $neutral-light-font !default;
$chat-left-bg-color: $neutral-lighter-alt !default;
$chat-left-text-color-hover: $neutral-light-font !default;
$chat-left-bg-color-hover: $neutral-tertiary-alt !default;
$chat-left-text-color-active: $neutral-light-font !default;
$chat-left-bg-color-active: $neutral-quintenary !default;
$chat-scrollbar-color: $neutral-tertiary-alt !default;
$chat-send-icon-color: $neutral-light-font !default;
$chat-send-icon-disabled-color: $neutral-tertiary !default;
$chat-border-color: $neutral-quintenaryalt !default;
$chat-text-color: $neutral-light-font !default;
$chat-right-text-color: $neutral-light-font !default;
$chat-right-bg-color: $theme-dark !default;
$sender-icon-bg-color: $neutral-lighter-alt !default;
$sender-icon-color: $theme-dark-font !default;
$chat-suggestion-li-color: $theme-primary !default;
$chat-suggestion-li-border-color: $theme-primary !default;
$chat-header-bg-color: $theme-primary !default;
$chat-header-color: $theme-primary-font !default;
$message-header-color: $theme-primary !default;
$message-time-color: $theme-dark-font !default;
$timebreak-bg-color: $neutral-light !default;
$timebreak-color: $theme-dark-font !default;
$timebreak-border-color: $neutral-quintenaryalt !default;
$chat-seen-color: $theme-primary !default;
$chat-error-color: $msg-danger-border-color-alt1 !default;
$typing-user-color: $theme-dark-font !default;
$timestamp-border-color: $neutral-light !default;
$chat-message-forward-color: unset !default;
$chat-message-forward-icon-color: unset !default;
$pinned-background-color: unset !default;
$reply-wrapper-bg-color: unset !default;
$reply-wrapper-border-bg-color: rgba(156, 163, 175, 1) !default;
$message-toolbar-border-color: $neutral-tertiary !default;
