$user-icon-gap: 12px !default;
$chat-scrollbar-width: 6px !default;
$chat-send-icon-size: 14px !default;
$chat-send-icon-bottom: 8px !default;
$chat-clear-icon-bottom: 8px !default;
$chat-header-height: 48px !default;
$suggesstions-font-weight: 400 !default;
$message-header-size: 12px !default;
$message-time-size: 10px !default;
$message-header-font-weight: 600 !default;
$chat-status-icon-size: 16px !default;
$chat-text-font-size: 14px !default;
$text-border-radius: 0 !default;
$chat-text-padding: 6px 8px !default;
$text-margin-top: 4px !default;
$message-item-bottom: 12px !default;
$timebreak-font-size: 14px !default;
$timebreak-padding: 1px 8px !default;
$timebreak-font-weight: 400 !default;
$timebreak-border-radius: 0 !default;
$typing-user-font-size: 12px !default;
$suggestion-border-radius: 0 !default;
$chat-suggesstion-line-height: 22px !default;
$chat-suggesstions-list-padding: 1px 8px !default;

$chat-suggesstion-bigger-line-height: 24px !default;
$chat-suggesstions-li-padding-bigger: 4px 12px !default;
$typing-user-font-size-bigger: 14px !default;
$chat-text-font-size-bigger: 16px !default;
$chat-text-padding-bigger: 9px 12px !default;
$timebreak-font-size-bigger: 16px !default;
$timebreak-padding-bigger: 5px 8px !default;
$chat-status-icon-bigger-size: 18px !default;
$chat-send-icon-size-bigger: 16px !default;
$chat-bigger-header-height: 56px !default;
$chat-send-icon-bigger-bottom: 12px !default;
$chat-clear-icon-bigger-bottom: 13px !default;
$message-header-bigger-size: 14px !default;
$message-time-bigger-size: 12px !default;
$user-icon-bigger-gap: 16px !default;

$chat-bg-color: $neutral-white !default;
$chat-left-text-color: $theme-light-font !default;
$chat-left-bg-color: $neutral-lighter-alt !default;
$chat-left-text-color-hover: $theme-light-font !default;
$chat-left-bg-color-hover: $neutral-lighter !default;
$chat-left-text-color-active: $theme-light-font !default;
$chat-left-bg-color-active: $neutral-light !default;
$chat-scrollbar-color: $neutral-secondary-alt !default;
$chat-send-icon-color: $neutral-light-font !default;
$chat-send-icon-disabled-color: $neutral-tertiary !default;
$chat-border-color: $neutral-quintenary !default;
$chat-text-color: $theme-light-font !default;
$chat-right-text-color: $theme-light-font !default;
$chat-right-bg-color: $theme-lighter-alt !default;
$sender-icon-bg-color: $neutral-light !default;
$sender-icon-color: $neutral-secondary !default;
$chat-suggestion-li-color: $theme-primary !default;
$chat-suggestion-li-border-color: $theme-primary !default;
$chat-header-bg-color: $theme-primary !default;
$chat-header-color: $theme-primary-font !default;
$message-header-color: $theme-primary !default;
$message-time-color: $neutral-light-font !default;
$timebreak-bg-color: $neutral-lighter !default;
$timebreak-color: $neutral-light-font !default;
$timebreak-border-color: $neutral-quintenaryalt !default;
$chat-seen-color: $theme-primary !default;
$chat-error-color: $msg-danger-border-color-alt1 !default;
$typing-user-color: $neutral-light-font !default;
$timestamp-border-color: $neutral-lighter !default;
