$user-icon-gap: 8px !default;
$chat-scrollbar-width: 6px !default;
$chat-send-icon-size: 14px !default;
$chat-send-icon-bottom: 10px !default;
$chat-clear-icon-bottom: 9px !default;
$chat-header-height: 50px !default;
$suggesstions-font-weight: 400 !default;
$message-header-size: 12px !default;
$message-time-size: 10px !default;
$message-header-font-weight: 600 !default;
$chat-status-icon-size: 16px !default;
$chat-text-font-size: 14px !default;
$text-border-radius: 8px !default;
$chat-text-padding: 6px 8px !default;
$text-margin-top: 4px !default;
$message-item-bottom: 12px !default;
$timebreak-font-size: 12px !default;
$timebreak-padding: 4px 6px !default;
$timebreak-font-weight: 400 !default;
$timebreak-border-radius: 4px !default;
$typing-user-font-size: 12px !default;
$suggestion-border-radius: 4px !default;
$chat-suggesstion-line-height: 16px !default;
$chat-suggesstions-list-padding: 4px 6px !default;

$chat-suggesstion-bigger-line-height: 18px !default;
$chat-suggesstions-li-padding-bigger: 5px 8px !default;
$typing-user-font-size-bigger: 14px !default;
$chat-text-font-size-bigger: 16px !default;
$chat-text-padding-bigger: 9px 12px !default;
$timebreak-font-size-bigger: 16px !default;
$timebreak-padding-bigger: 5px 8px !default;
$chat-status-icon-bigger-size: 18px !default;
$chat-send-icon-size-bigger: 18px !default;
$chat-bigger-header-height: 54px !default;
$chat-send-icon-bigger-bottom: 11px !default;
$chat-clear-icon-bigger-bottom: 10px !default;
$message-header-bigger-size: 14px !default;
$message-time-bigger-size: 12px !default;
$user-icon-bigger-gap: 12px !default;

$chat-bg-color: rgba(255, 255, 255, 1) !default;
$chat-left-text-color: rgba(36, 36, 36, 1) !default;
$chat-left-bg-color: rgba(255, 255, 255, 1) !default;
$chat-left-text-color-hover: rgba(36, 36, 36, 1) !default;
$chat-left-bg-color-hover: rgba(255, 255, 255, 1) !default;
$chat-left-text-color-active: rgba(36, 36, 36, 1) !default;
$chat-left-bg-color-active: rgba(255, 255, 255, 1) !default;
$chat-scrollbar-color: rgba(36, 36, 36, 1) !default;
$chat-send-icon-color: rgba(150, 150, 150, 1) !default;
$chat-send-icon-disabled-color: rgba(150, 150, 150, 1) !default;
$chat-border-color: rgba(150, 150, 150, 1) !default;
$chat-text-color: rgba(36, 36, 36, 1) !default;
$chat-right-text-color: rgba(150, 150, 150, 1) !default;
$chat-right-bg-color: rgba(150, 150, 150, 1) !default;
$sender-icon-bg-color: rgba(255, 255, 255, 1) !default;
$sender-icon-color: rgba(36, 36, 36, 1) !default;
$chat-suggestion-li-color: rgba(150, 150, 150, 1) !default;
$chat-suggestion-li-border-color: rgba(150, 150, 150, 1) !default;
$chat-header-bg-color: rgba(150, 150, 150, 1) !default;
$chat-header-color: rgba(150, 150, 150, 1) !default;
$message-header-color: rgba(150, 150, 150, 1) !default;
$message-time-color: rgba(36, 36, 36, 1) !default;
$timebreak-bg-color: rgba(255, 255, 255, 1) !default;
$timebreak-color: rgba(150, 150, 150, 1) !default;
$timebreak-border-color: rgba(150, 150, 150, 1) !default;
$chat-seen-color: rgba(150, 150, 150, 1) !default;
$chat-error-color: rgba(150, 150, 150, 1) !default;
$typing-user-color: rgba(36, 36, 36, 1) !default;
$timestamp-border-color: rgba(36, 36, 36, 1) !default;
