$user-icon-gap: 12px !default;
$chat-scrollbar-width: 6px !default;
$chat-send-icon-size: 14px !default;
$chat-send-icon-bottom: 8px !default;
$chat-clear-icon-bottom: 8px !default;
$chat-header-height: 48px !default;
$suggesstions-font-weight: 400 !default;
$message-header-size: 12px !default;
$message-time-size: 10px !default;
$message-header-font-weight: 600 !default;
$chat-status-icon-size: 16px !default;
$chat-text-font-size: 14px !default;
$text-border-radius: 0 !default;
$chat-text-padding: 6px 8px !default;
$text-margin-top: 4px !default;
$message-item-bottom: 12px !default;
$timebreak-font-size: 14px !default;
$timebreak-padding: 1px 8px !default;
$timebreak-font-weight: 400 !default;
$timebreak-border-radius: 0 !default;
$typing-user-font-size: 12px !default;
$suggestion-border-radius: 0 !default;
$chat-suggesstions-list-padding: 1px 8px !default;

$chat-suggesstions-li-padding-bigger: 4px 12px !default;
$typing-user-font-size-bigger: 14px !default;
$chat-text-font-size-bigger: 16px !default;
$chat-text-padding-bigger: 9px 12px !default;
$timebreak-font-size-bigger: 16px !default;
$timebreak-padding-bigger: 4px 8px !default;
$chat-status-icon-bigger-size: 18px !default;
$chat-send-icon-size-bigger: 18px !default;
$chat-bigger-header-height: 56px !default;
$chat-send-icon-bigger-bottom: 11px !default;
$chat-clear-icon-bigger-bottom: 13px !default;
$message-header-bigger-size: 14px !default;
$message-time-bigger-size: 12px !default;
$user-icon-bigger-gap: 16px !default;

$chat-bg-color: $bg-base-0 !default;
$chat-left-text-color: $content-font !default;
$chat-left-bg-color: $bg-base-0 !default;
$chat-left-text-color-hover: $selection-font !default;
$chat-left-bg-color-hover: $bg-base-75 !default;
$chat-left-text-color-active: $selection-font !default;
$chat-left-bg-color-active: $selection-bg !default;
$chat-scrollbar-color: $bg-base-75 !default;
$chat-send-icon-color: $content-font !default;
$chat-send-icon-disabled-color: $chat-send-icon-color !default;
$chat-border-color: $border-default !default;
$chat-text-color: $content-font !default;
$chat-right-text-color: $selection-font !default;
$chat-right-bg-color: $selection-bg !default;
$sender-icon-bg-color: $bg-base-0 !default;
$sender-icon-color: $content-font !default;
$chat-suggestion-li-color: $selection-bg !default;
$chat-suggestion-li-border-color: $selection-bg !default;
$chat-header-bg-color: $selection-bg !default;
$chat-header-color: $selection-font !default;
$message-header-color: $selection-bg !default;
$message-time-color: $content-font !default;
$timebreak-bg-color: $bg-base-100 !default;
$timebreak-color: $bg-base-0 !default;
$timebreak-border-color: $border-alt !default;
$chat-seen-color: $selection-bg !default;
$chat-error-color: $msg-danger-color !default;
$typing-user-color: $content-font !default;
$timestamp-border-color: transparent !default;
