@import 'definition.scss';

$split-font-family: initial;
$split-btn-padding: 0 5px;
$bigger-split-btn-padding: 0 7px;
$split-line-height: 16px;
$bigger-split-line-height: 20px;
$split-btn-icon-height: 20px;
$split-btn-icon-width: $split-btn-icon-height;
$bigger-splitbtn-font-size: 14px;
$bigger-split-btn-icon-height: 24px;
$bigger-split-btn-icon-width: $bigger-split-btn-icon-height;
$color-picker-color: $neutral-white;
$color-picker-border: 0;
$color-picker-shadow: 0 0 10px 0 rgba($neutral-black, .2);
$tile-active-border-color: $neutral-light;
$tile-outline: $neutral-light-font .5px solid;
$tiles-hover-shadow: 2px 2px 7px 2px rgba($neutral-black, .3);
$container-height: 170px;
$handler-border: 1px solid $neutral-white;
$handler-shadow: 0 0 3px rgba($neutral-black, .7), inset 0 0 2px rgba($neutral-black, .7);
$handler-radius: 6px;
$handler-height: 8px;
$handler-width: 8px;
$handler-tooltip-color: $neutral-white;
$slider-top: calc(50% - 9px);
$slider-wrapper-padding: 6px 12px;
$bigger-slider-wrapper-padding: 4px 12px;
$slider-container-height: 18px;
$slider-container-width: 83.7%;
$bigger-slider-container-width: 84.1%;
$bigger-slider-container-height: 21px;
$slider-element-height: 6px;
$slider-height: 6px;
$slider-handler-color: $neutral-white;
$slider-handler-focus-color: $theme-primary;
$slider-handler-box-shadow: 0 1px 2px rgba($neutral-black, .64);
$slider-handle-size: 14px;
$slider-handle-top: calc(50% - 7px);
$bigger-slider-handle-size: 16px;
$bigger-slider-handle-top: calc(50% - 8px);
$input-picker-padding: 0 12px 12px;
$input-palette-padding: 12px 12px;
$input-container: 90.2%;
$bigger-input-container: 90.8%;
$label-width: 15%;
$value-hidden-label-width: 15.44%;
$value-hidden-hex-label-width: 31%;
$bigger-label-width: 15.18%;
$bigger-hex-label-width: 31%;
$bigger-value-hidden-label-width: 15.59%;
$hex-hidden-width: 23.19%;
$value-hex-hidden-width: 23.64%;
$bigger-hex-hidden-width: 23.32%;
$bigger-value-hex-hidden-width: 23.75%;
$label-margin: 1.809%;
$bigger-label-margin: 1.66%;
$hex-label-width: 30%;
$palette-hex-wrapper: 28%;
$switch-btn-padding: 1px 3px;
$value-switch-btn-margin: 26px;
$bigger-switch-btn-padding: 2px 2px;
$preview-height: 16px;
$preview-size: 13.01%;
$preview-margin-left: 3.256%;
$bigger-preview-margin-left: 3.76%;
$bigger-preview-size: 12.032%;
$preview-border: 1px solid $neutral-light;
$right-icon-content: '\e429';
$mode-switch-icon: '\e432';
$type-switch-margin: 1px;
$bigger-type-switch-btn-margin: 6px;
$ctrl-btn-padding: 0 12px 12px;
$palette-ctrl-btn-padding: 20px 12px 12px;
$bigger-palette-ctrl-btn-padding: 18px 12px 12px;
$palette-value-padding: 0 12px 12px;
$switch-btn-width: 9.76%;
$bigger-switch-btn-width: 9.023%;
$ctrl-btn-width: 47.38%;
$cancel-btn-margin: 3.62%;
$tooltip-preview-size: 24px;
$bigger-tooltip-preview-size: 30px;
$opacity-hidden-hex-width: 37%;
$opacity-hidden-numeric-width: 18.58%;
$bigger-opacity-hidden-numeric-width: 18.79%;
$hex-opacity-hidden-width: 31.52%;
$bigger-hex-opacity-hidden-width: 31.67%;
$value-opacity-hex-hidden-width: 32.12%;
$bigger-value-opacity-hex-hidden-width: 32.22%;
$value-opacity-hide-hex-label-width: 36%;
$value-opacity-hide-label-width: 19.51%;
$bigger-value-opacity-hide-label-width: 19.67%;
