//default 
$skin-name: 'highcontrast';
$theme: 'HighContrast';
$spin-overlay-background: $bg-base-75;
$spin-overlay-stroke-color: $bg-base-75;
$spin-overlay-font-color: $header-font;
$spin-material-stroke-color: $bg-base-75;
$spin-boot4-stroke-color: $bg-base-75;
$spin-boot4-stroke-width: 4;
$spin-fabric-stroke-color: none;
$spin-fabric-stroke-width: 1.5;
$spin-fabric-arc-color: $selection-border;
$spin-bootstrap-stroke-color: none;
$spin-label-font-family: 'Segoe UI';
$spin-label-font-size: 14px;
$spin-label-margin-top: 10px;
$spin-label-color: $header-font;
$spin-padding: 10px;

@mixin mat-spinner-rotate {
  animation: material-spinner-rotate 1568.63ms linear infinite;
}

@mixin fb-spinner-rotate {
  animation: fabric-spinner-rotate 1.3s infinite cubic-bezier(.53, .21, .29, .67);
}

@mixin boot4-spinner-rotate {
  animation: material-spinner-rotate .75s linear infinite;
}

// sass-lint:disable no-vendor-prefixes
@keyframes material-spinner-rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

// sass-lint:disable no-vendor-prefixes
@keyframes fabric-spinner-rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
//enddefault
