@use 'ej2-base/styles/definition/fusionnew' as *;
@forward 'ej2-base/styles/definition/fusionnew';
$sidebar-box-shadow: $shadow !default;

//color variables
$sidebar-background: $content-bg-color-alt1 !default;
$sidebar-border: $transparent !default;
$sidebar-overlay: $overlay-bg-color !default;
$sidebar-height: 100% !default;
$sidebar-border-width: 1px !default;
$sidebar-margin-none: 0 !default;
