$bigger-menu-caret-font-size: $bigger-caret-font-size;
$bigger-caret-li-padding: 36px;
$bigger-caret-right: 8px;
$bigger-menu-font-size: 14px;
$menu-bigger-li-height: 52px;
$menu-bigger-li-padding: 0 16px;
$bigger-li-right-padding: 16px;
$bigger-icon-margin-right: 10px;
$menu-blank-icon: 34px;
$menu-blank-icon-bigger: 42px;
$menu-caret-font-size: 10px;
$menu-caret-icon: '\e94d';
$menu-caret-icon-rtl: '\e937';
$menu-caret-right: 6px;
$menu-caret-li-padding: 26px;
$caret-padding-left: 10px;
$menu-color: $color;
$menu-font-size: 14px;
$menu-icon-margin-right: 10px;
$menu-li-bgcolor: $li-bgcolor;
$menu-li-border-color: $li-border-color;
$li-border-style: solid;
$li-border-width: 1px;
$menu-li-height: 36px;
$menu-li-padding: 0 16px;
$menu-li-right-padding: 12px;
$menu-li-selection-bgcolor: #808080;
$menu-li-selection-font-color: $li-selection-font-color;
$icon-font-size: 14px;
$icon-bigger-font-size: 16px;
$menu-icon-width: auto;
$menu-selected-color: $selected-color;
$menu-separator-padding: 0;
$menu-separator-bigger-padding: 0;
$menu-ul-bgcolor: #fff;
$ul-border-radius: 0;
$menu-ul-padding: 0;
$ul-header-padding: $menu-ul-padding;
$menu-ul-bigger-padding: 0 20px;
$ul-bigger-header-padding: 0;
$menu-li-hover-outline: 0 solid $menu-li-border-color;
$menu-li-hover-outline-offset: 0;
$menu-li-selected-outline: 0 solid $menu-li-selection-bgcolor;
$menu-li-selected-outline-offset: 0;
