@use 'ej2-base/styles/common/mixin' as *;
@include export-module('popup-layout') {

  /*! popup layout */
  .e-popup {
    height: $popup-height;
    position: absolute;
    width: $popup-width;
    z-index: 1000;
  }

  .e-popup.e-popup-open {
    display: block;
  }

  .e-popup.e-popup-close {
    display: none;
  }
}
