@include export-module('field-list-bigger') {

  .e-bigger.e-pivot-formatting-dialog,
  .e-bigger .e-pivot-formatting-dialog {

    .e-format-label,
    .e-format-value-label {
      font-size: $format-label-bigger-font-size;
    }

    .e-format-font-color-picker {
      margin-right: 20px;
      margin-left: 0;
    }

    .e-split-preview {
      @if ($skin-name =='tailwind3') {
        width: 120%;
      }
    }

    .e-format-value-preview {
      margin: 0;
      @if ($skin-name =='tailwind') or ($skin-name =='bootstrap5') or ($skin-name =='FluentUI') or ($skin-name =='fabric') or ($skin-name =='bootstrap4') {
        padding: 0;
      }

      @if ($skin-name =='tailwind') or ($skin-name =='bootstrap5') {
        min-height: 39px;
      }
    }

    .e-format-color-picker .e-split-btn-wrapper .e-btn.e-icon-btn {
      @if ($field-list-skin =='bootstrap4') {
        padding: 4px 8px;
      }
    }

    &.e-device {
      /* stylelint-disable */
      width: 100% !important;
      /* stylelint-enable */

      .e-format-value-preview {
        min-height: $format-bigger-preview-height;
      }
    }

    &.e-rtl {
      .e-format-font-color-picker {
        margin-left: 20px;
        margin-right: 0;
      }
    }
  }

  .e-bigger.e-pivot-calc-dialog-div,
  .e-bigger .e-pivot-calc-dialog-div {
    /* stylelint-disable */
    max-height: 660px !important;
    min-width: 401px !important;
    /* stylelint-enable */

    .e-pivot-all-field-title,
    .e-pivot-field-name-title,
    .e-pivot-formula-title,
    .e-olap-hierarchy-title,
    .e-pivot-format-title,
    .e-olap-member-title {
      font-size: $field-list-bigger-header-font-size;
      padding: $pivot-calculated-bigger-header-padding 0;
      padding-bottom: 0;

      @if ($skin-name =='FluentUI') {
        font-weight: 600;
        margin-top: 16px;
      }

      @if ($skin-name =='bootstrap5') or ($skin-name =='tailwind') {
        padding-bottom: 4px;
        padding-top: 16px;
      }
    }

    .e-treeview ul {
      li {
        padding: 2px 0;
      }
    }

    .e-treeview {
      .e-list-item {
        div.e-icons {
          font-size: $field-list-bigger-icon-size;

          @if ($skin-name =='FluentUI') {
            padding-top: 12px;
          }
        }

        .e-remove-report,
        .e-edit,
        .e-edited {
          /* stylelint-disable */
          margin: 0 12px 0 0 !important;

          @if ($skin-name =='FluentUI') or ($skin-name =='bootstrap5') {
            font-size: $field-list-bigger-header-icon-size !important;
          }

          /* stylelint-enable */
        }

        span.e-icons {
          font-size: $field-list-bigger-icon-size;

          @if ($skin-name =='FluentUI') or ($skin-name =='bootstrap5') {
            position: relative;
            top: 3px;
          }

          @if ($skin-name =='fluent2') {
            font-size: 20px;
          }

          @if ($skin-name =='tailwind') {
            position: relative;
            top: 1px;
          }
        }
      }

      ul {
        li .e-list-icon {

          &.e-edit,
          &.e-edited,
          &.e-remove-report {

            @if ($skin-name =='FluentUI') {
              padding-top: 0;
            }

            @if ($skin-name =='bootstrap5') {
              padding-top: 3px;
            }

            @if ($skin-name =='tailwind') {
              padding-top: 4px;
            }
          }
        }
      }
    }

    .e-pivot-formula {
      font-size: $field-list-calc-bigger-formula-font-size;
    }

    .e-footer-content {
      @if ($skin-name !='tailwind3') {
        padding-top: $pivot-dialog-footer-padding;
      }
    }

    &.e-olap-calc-dialog-div {
      /* stylelint-disable */
      max-height: 750px !important;
      min-width: 580px !important;
      /* stylelint-enable */

      .e-pivot-calc-outer-div {
        .e-olap-field-tree-div {
          height: $olap-bigger-tree-wrapper-height;
          width: $olap-bigger-tree-width;

          .e-pivot-treeview-outer {
            .e-pivot-treeview-outer-div {
              height: $olap-bigger-tree-outer-div-height;
              width: $olap-bigger-tree-outer-div-width;
            }

            .e-pivot-all-field-title {
              padding-bottom: $pivot-calculated-bigger-header-padding;
            }

            .e-pivot-all-field-title-container {
              font-size: $field-list-bigger-header-font-size;

              @if ($skin-name =='tailwind') {
                height: 34px;
              }
            }

            .e-treeview ul {
              .e-list-icon {
                font-size: $field-list-bigger-icon-size;
              }
            }
          }
        }

        .e-pivot-calculated-div {
          margin-left: 24px;
        }
      }

      &.e-rtl {
        .e-pivot-calc-outer-div {
          .e-pivot-calculated-div {
            margin-left: 0;
            margin-right: 24px;
          }
        }
      }
    }
  }

  .e-bigger .e-field-list-tree.e-drag-item.e-treeview,
  .e-bigger .e-pivot-calc.e-drag-item.e-treeview,
  .e-bigger.e-field-list-tree.e-drag-item.e-treeview,
  .e-bigger.e-pivot-calc.e-drag-item.e-treeview {
    height: $field-list-bigger-button-height;
    padding: 6px 12px;

    @if ($field-list-skin =='bootstrap4') {
      padding: 9px 10px;
    }

    &.e-drag-restrict {
      .e-no-drop {
        &::before {
          padding: 4px;
        }
      }
    }
  }

  .e-bigger .e-button-drag-clone,
  .e-bigger.e-button-drag-clone {
    height: $field-list-bigger-button-height;
    line-height: 1.5em;
    padding: 6px 12px;

    @if ($field-list-skin =='bootstrap4') {
      border: 0;
      padding: 7px 12px;
    }

    @if ($skin-name =='tailwind') or ($skin-name =='bootstrap5') or ($skin-name =='FluentUI') {
      line-height: normal;
      padding: 0 12px;
    }
  }

  .e-bigger .e-pivotfieldlist-container,
  .e-bigger.e-pivotfieldlist-container {

    /* stylelint-disable */
    .e-member-editor-dialog {
      .e-editor-search-container {

        .e-sort-ascend-icon,
        .e-sort-descend-icon {
          font-size: 18px;
        }

        .e-level-drop {
          .e-caret {
            font-size: $field-list-bigger-icon-size !important;
          }
        }
      }

      .e-member-editor-outer-container ul {
        @if ($field-list-skin =='bootstrap4') {
          margin-left: -30px;
        }

        li {

          .e-calc-measure-icon,
          .e-calc-dimension-icon,
          .e-attributeCDB-icon,
          .e-hierarchyCDB-icon,
          .e-level-members,
          .e-namedSetCDB-icon,
          .e-measure-icon,
          .e-kpiGoal-icon,
          .e-kpiStatus-icon,
          .e-kpiTrend-icon,
          .e-kpiValue-icon {
            margin-left: 10px;
          }
        }
      }

      &.e-rtl {
        .e-member-editor-outer-container ul {
          @if ($field-list-skin =='bootstrap4') {
            margin-right: -30px;
          }

          li {

            .e-calc-measure-icon,
            .e-calc-dimension-icon,
            .e-attributeCDB-icon,
            .e-hierarchyCDB-icon,
            .e-level-members,
            .e-namedSetCDB-icon,
            .e-measure-icon,
            .e-kpiGoal-icon,
            .e-kpiStatus-icon,
            .e-kpiTrend-icon,
            .e-kpiValue-icon {
              margin-left: 10px;
            }
          }
        }
      }

      .e-dlg-content .e-member-editor-outer-container:not(.e-excelfilter) .e-member-editor-container-outer-div {
        height: $field-list-member-filter-list-bigger-height;
      }
    }

    /* stylelint-enable */

    .e-member-editor-dialog {
      .e-filter-tab-container {
        .e-tab-header {
          .e-toolbar-item .e-icon-left + .e-tab-text {
            margin: 0 0 0 6px;
          }
        }

        &.e-rtl {
          .e-tab-header {
            .e-toolbar-item .e-icon-left + .e-tab-text {
              margin: 0 6px 0 0;
            }
          }
        }
      }

      /* stylelint-disable */
      &.e-node-limit.e-excel-filter .e-excelfilter .e-member-editor-container-outer-div {
        height: $field-list-member-editor-node-limit-outer-div-bigger-height !important;
      }

      .e-excelfilter {
        @if ($skin-name =='tailwind') {
          padding-top: 16px;
        }

        .e-member-editor-container-outer-div {
          height: $field-list-excel-member-filter-bigger-height !important;
        }
      }

      .e-label-filter,
      .e-value-filter {
        height: $field-list-excel-filter-bigger-height;

        .e-filter-text-div {
          font-size: 14px;
        }

        .e-filter-option-container-1,
        .e-filter-option-container-2,
        .e-separator-div {
          padding-top: 24px;
        }

        .e-between-text-div {
          padding: 10px 0;
        }
      }

      &.e-excel-filter {
        min-width: $field-list-bigger-excel-dialog-min-width !important;
        min-height: $field-list-member-editor-bigger-height !important;

        &.e-node-limit {
          min-height: $field-list-member-editor-node-limit-bigger-height !important;
        }
      }

      @if ($skin-name =='Material3') {
        .e-filter-tab-container {
          max-width: 350px;
        }
      }
    }

    .e-adaptive-field-list-dialog,
    .e-member-editor-dialog,
    .e-value-field-settings {
      .e-dlg-header-content {
        .e-clear-filter-button.e-small {
          font-size: 14px;
          top: 0;
        }
      }
    }

    .e-value-field-settings {
      .e-value-field-div-content {
        padding: 0 $field-list-editor-search-padding-size 10px;
      }

      .e-field-name-text-container {
        display: flex;

        .e-field-name-title,
        .e-field-name-content {
          font-size: 14px;
        }
      }

      .e-caption-input-container,
      .e-type-option-container,
      .e-base-field-option-container,
      .e-base-item-option-container {
        padding-top: 24px;

        .e-base-field-option-text,
        .e-base-item-option-text,
        .e-type-option-text,
        .e-caption-input-text {
          font-size: 14px;
        }
      }
    }
  }

  .e-bigger .e-pivotfieldlist,
  .e-bigger.e-pivotfieldlist {
    .e-select-table {
      font-size: $field-list-toggle-icon-bigger-size;
      height: $field-list-toggle-bigger-size;
      max-height: $field-list-toggle-bigger-size;
      max-width: $field-list-toggle-bigger-size;
      min-height: $field-list-toggle-bigger-size;
      min-width: $field-list-toggle-bigger-size;
    }

    .e-member-editor-dialog,
    .e-olap-editor-dialog {
      max-height: 440px !important;
      min-width: 370px !important;

      .e-member-editor-container-outer-div .e-list-parent .e-ul {
        height: auto;
      }
    }
  }

  .e-bigger .e-pivotfieldlist-container,
  .e-bigger.e-pivotfieldlist-container {
    .e-field-table {

      .e-left-axis-fields,
      .e-right-axis-fields {
        padding-left: $field-list-default-bigger-padding-size;
      }

      .e-field-header {
        background: $field-list-header-background-color;
        color: $field-list-default-header-font-color;
        font-size: $field-list-bigger-header-font-size;
        font-weight: normal;
        overflow: hidden;

        @if ($field-list-skin =='bootstrap4') {
          padding-left: 16px;
        }
      }

      .e-field-header-container {
        padding-right: $field-list-bigger-header-padding;

        .e-sort-none,
        .e-sort-ascend,
        .e-sort-descend {
          font-size: $field-list-bigger-header-icon-size;
          padding: 0 0 0 $field-list-bigger-icon-to-icon-padding;
          width: 24px;
        }
      }

      .e-field-list {
        padding-left: 5px;

        &:not(.e-olap-field-list-tree) {
          ul {
            padding-left: $field-list-treeview-bigger-ul-padding;

            li.e-pivot-parent {
              @if ($skin-name =='bootstrap5') {
                padding-left: 7px;
              }

              @if ($skin-name =='FluentUI') {
                padding-left: 8px;
              }
            }

            li:not(.e-pivot-parent):not(.e-pivot-child) {
              .e-text-content {
                padding-left: $field-list-treeview-bigger-li-padding;
              }
            }
          }
        }

        ul {
          li {
            padding: 0;
          }
        }

        .e-drag {
          font-size: $field-list-bigger-icon-size !important;
          height: 24px !important;
          margin-bottom: $field-list-treeview-drag-bigger-padding !important;
          margin-right: 4px !important;
          width: 24px !important;

          @if ($skin-name =='fluent2') {
            font-size: 20px !important;
            margin-bottom: 5px !important;
            margin-right: 0 !important;
          }

          @if ($skin-name =='tailwind3') {
            margin-right: 0 !important;
          }
        }

        .e-calc-measure-icon,
        .e-calc-dimension-icon,
        .e-attributeCDB-icon,
        .e-hierarchyCDB-icon,
        .e-level-members,
        .e-namedSetCDB-icon,
        .e-measure-icon,
        .e-kpiGoal-icon,
        .e-kpiStatus-icon,
        .e-kpiTrend-icon,
        .e-kpiValue-icon {
          margin-left: 10px;
        }

        &.e-olap-field-list-tree {
          ul {
            .e-list-icon {
              font-size: $field-list-bigger-icon-size;
            }
          }
        }
      }

      /* stylelint-enable */
      .e-left-axis-fields .e-field-list-rows,
      .e-right-axis-fields .e-field-list-values {
        margin-top: $field-list-default-bigger-padding-size;
      }
    }

    .e-axis-table {

      .e-left-axis-fields .e-field-list-filters,
      .e-left-axis-fields .e-field-list-rows,
      .e-right-axis-fields .e-field-list-columns,
      .e-right-axis-fields .e-field-list-values {
        .e-axis-container {
          height: $field-list-bigger-header-height;
          padding: 0 $field-list-bigger-header-padding 0;

          .e-axis-icon-container {
            height: $field-list-bigger-header-icon-size;
            width: 24px;

            .e-axis-rows,
            .e-axis-columns,
            .e-axis-values,
            .e-axis-filters {
              font-size: $field-list-bigger-header-icon-size;
            }
          }

          .e-axis-header {
            font-size: $field-list-bigger-header-font-size;
            padding: 0 12px;
          }
        }

        .e-axis-content {
          height: $field-list-popup-axis-content-bigger-height;

          .e-pvt-btn-div {
            .e-pivot-button {
              /* stylelint-disable */
              font-size: $field-list-bigger-button-font-size;
              height: $field-list-bigger-button-height !important;
              padding: $field-list-bigger-button-padding !important;

              /* stylelint-enable */
              .e-pvt-btn-content {
                font-size: $field-list-bigger-button-font-size;
                line-height: $field-list-bigger-button-line-height;
                padding: 0 10px;
              }

              .e-draggable {
                height: 24px;
                width: 24px;
              }

              .e-sort,
              .e-pv-filter,
              .e-pv-filtered,
              .e-dropdown-icon,
              .e-edit {
                cursor: pointer;
                display: inline-block;
                font-size: $field-list-bigger-icon-size;
                height: 24px;
                width: 24px;
              }

              .e-sort {
                height: $field-list-bigger-icon-size;
              }

              .e-drag {
                font-size: $field-list-bigger-icon-size;
                width: 24px;

                @if ($skin-name =='fluent2') {
                  font-size: 20px;
                }
              }
            }
          }
        }

        .e-draggable-prompt {
          @if ($field-list-skin =='bootstrap4') {
            font-size: 16px;
          }
        }
      }
    }

    .e-calculated-field {
      font-size: $field-list-bigger-button-font-size;
    }

    &.e-static {
      max-height: 735px;

      .e-field-list-container {
        .e-center-title {
          color: $field-list-default-header-font-color;
          font-size: $field-list-bigger-header-font-size;
        }

        .e-axis-table {
          .e-right-axis-fields {
            padding-left: $field-list-default-bigger-padding-size;
          }

          .e-left-axis-fields .e-field-list-rows,
          .e-right-axis-fields .e-field-list-values {
            margin-top: $field-list-default-bigger-padding-size;
          }
        }
      }

      &.e-rtl {
        .e-axis-table {
          .e-left-axis-fields {
            padding-left: $field-list-default-bigger-padding-size;
          }

          /* stylelint-disable */
          .e-right-axis-fields {
            padding: 0 !important;
          }
        }
      }

      .e-layout-footer .e-checkbox-layout .e-checkbox-wrapper label .e-label {
        width: calc(100% - 30px);
      }
    }

    &.e-rtl {
      .e-field-table {
        .e-field-list {
          padding-left: 0;
          padding-right: 5px;

          &:not(.e-olap-field-list-tree) {
            ul {
              padding-right: $field-list-treeview-bigger-ul-padding;

              li.e-pivot-parent {
                @if ($skin-name =='bootstrap5') {
                  padding-right: 7px;
                }

                @if ($skin-name =='FluentUI') {
                  padding-right: 8px;
                }
              }

              li:not(.e-pivot-parent):not(.e-pivot-child) {
                .e-text-content {
                  padding-right: $field-list-treeview-bigger-li-padding;
                }
              }
            }
          }

          .e-drag {
            margin-left: 4px !important;
            margin-right: 0 !important;
          }

          .e-calc-measure-icon,
          .e-calc-dimension-icon,
          .e-attributeCDB-icon,
          .e-hierarchyCDB-icon,
          .e-level-members,
          .e-namedSetCDB-icon,
          .e-measure-icon,
          .e-kpiGoal-icon,
          .e-kpiStatus-icon,
          .e-kpiTrend-icon,
          .e-kpiValue-icon {
            margin-left: 0;
            margin-right: 10px;
          }

          /* stylelint-enable */
        }

        .e-field-header {
          padding-right: $field-list-bigger-header-padding;
        }

        .e-field-header-container {
          padding-left: $field-list-bigger-header-padding;

          .e-sort-none,
          .e-sort-ascend,
          .e-sort-descend {
            padding: 0 $field-list-bigger-icon-to-icon-padding 0 0;
          }
        }
      }

      .e-axis-table {

        .e-left-axis-fields,
        .e-right-axis-fields {
          padding-left: 0;
          padding-right: $field-list-default-padding-size;
        }

        .e-left-axis-fields .e-field-list-filters,
        .e-left-axis-fields .e-field-list-rows,
        .e-right-axis-fields .e-field-list-columns,
        .e-right-axis-fields .e-field-list-values {
          .e-pivot-button {

            .e-sort,
            .e-pv-filter,
            .e-pv-filtered,
            .e-remove,
            .e-dropdown-icon,
            .e-edit {
              padding-left: 0;
              padding-right: $field-list-bigger-icon-to-icon-padding;
            }
          }
        }
      }
    }

    &.e-search-mode {
      &.e-static {
        max-height: 750px;

        .e-field-list-container {
          max-height: 800px;

          .e-field-table {
            height: 270px;
          }
        }
      }

      /* stylelint-disable */
      &.e-popup {
        max-height: 600px !important;
        min-height: $field-list-search-popup-container-bigger-height !important;

        .e-field-list-container {
          height: 387px;

          @if ($skin-name =='fluent2') {
            height: 397px;
          }

          .e-field-table {
            height: $field-list-search-popup-table-bigger-height !important;

            .e-field-list-tree-outer-div {
              @if ($skin-name =='fluent2' or $skin-name =='tailwind') {
                height: 310px !important;
              }
            }
          }

          .e-axis-table {
            height: $field-list-search-popup-axis-table-bigger-height;

            .e-axis-content {
              height: $field-list-search-popup-axis-content-bigger-height !important;
            }
          }
        }
      }
    }

    .e-adaptive-field-list-dialog {
      .e-dlg-content .e-field-list-tree-outer-div {
        max-height: $field-list-adaptive-outerdiv-height;
      }
    }
  }

  /* stylelint-enable */
}
