@include export-module('pivotfieldlist-theme') {

  /*! field-list theme */

  #{&}.e-pivotfieldlist {
    .e-select-table {
      background-color: $field-list-toggle-bg-color;
      border: .5px $field-list-border-type $field-list-toggle-border-color;
      box-shadow: $field-list-toggle-shadow-color;
      color: $field-list-toggle-font-color;
      font-size: $field-list-toggle-icon-size;
      height: $field-list-toggle-size;
      max-height: $field-list-toggle-size;
      max-width: $field-list-toggle-size;
      min-height: $field-list-toggle-size;
      min-width: $field-list-toggle-size;
      padding: $field-list-toggle-padding-size;
      position: relative;
      width: $field-list-toggle-size;
      z-index: 1000;

      &.e-fieldlist-left {
        box-shadow: $field-list-toggle-left-shadow-color;
      }

      &:focus,
      &:active {
        background-color: $field-list-toggle-hover-color;
      }

      &:hover {
        background-color: $field-list-toggle-hover-color;
      }
    }
  }

  .e-bigger #{&}.e-pivotfieldlist,
  .e-bigger#{&}.e-pivotfieldlist,
  .e-bigger .e-pivotfieldlist,
  .e-bigger.e-pivotfieldlist {
    .e-select-table {
      font-size: $field-list-toggle-icon-bigger-size;
      height: $field-list-toggle-bigger-size;
      max-height: $field-list-toggle-bigger-size;
      max-width: $field-list-toggle-bigger-size;
      min-height: $field-list-toggle-bigger-size;
      min-width: $field-list-toggle-bigger-size;
    }
  }

  #{&}.e-pivotfieldlist-wrapper {
    font-family: $field-list-font-family;
    font-size: $field-list-content-font-size;
    max-width: 700px;
    min-width: 300px;

    // sass-lint:disable-all
    &.e-dialog {
      max-height: 550px !important;
    }
    // sass-lint:enable-all

    .e-dlg-header-content,
    .e-footer-content {
      border: 0;
    }

    .e-field-list-title {
      display: flex;
      font-size: $field-list-title-font-size;
      min-height: 25px;
      padding: 0 2px $field-list-title-padding-size;
      width: 100%;

      .e-title-content {
        flex: auto;
      }
    }

    .e-title-header {
      display: flex;
      padding: 2px;
      width: 100%;
    }

    .e-field-list-container {
      display: flex;
      height: 342px;
      padding: 1px;
      position: relative;

      .e-field-table {
        border: $field-list-border-size $field-list-border-type $field-list-default-border-color;
        border-radius: $field-list-default-border-radius;
        display: inline-block;
        overflow: hidden;
        width: 30%;

        .e-field-list-tree {
          .e-sibling {
            display: none;
          }
        }

        .e-field-header,
        .e-field-list, {
          width: 100%;
        }

        .e-field-header {
          background-color: $field-list-header-background-color;
          color: $field-list-default-header-font-color;
          font-size: $field-list-header-font-size;
          font-weight: normal;
          height: $field-list-header-height;
          overflow: hidden;
          padding: $field-list-tree-header-padding 0 0 $field-list-header-padding;
          text-align: left;
          text-overflow: ellipsis;
          word-break: break-all;
        }

        .e-field-list {
          height: 310px;
          overflow: auto;
          padding-left: 2px;

          ul {
            overflow: hidden;

            li {
              margin-left: $field-list-treeview-padding-size;

              .e-fullrow {
                cursor: default;
              }

              .e-drag {
                color: $field-list-drag-icon-color;
                cursor: move;
                display: inline-block;
                font-size: $field-list-icon-size;
                height: 20px;
                margin-bottom: $field-list-treeview-drag-margin;
                margin-right: 6px;
                pointer-events: all;
                text-align: center;
                vertical-align: bottom;
                width: 20px;
              }

              .e-list-selected {
                opacity: .5;
              }

              .e-selected-node {
                font-weight: $field-list-treeview-font-weight;
              }
            }
          }
        }
      }

      .e-axis-table {
        display: flex;
        overflow: hidden;
        width: 70%;

        .e-left-axis-fields,
        .e-right-axis-fields {
          padding-left: $field-list-default-padding-size;
          width: 50%;
        }

        .e-left-axis-fields .e-field-list-filters,
        .e-left-axis-fields .e-field-list-rows,
        .e-right-axis-fields .e-field-list-columns,
        .e-right-axis-fields .e-field-list-values {
          background-color: $field-list-table-background-color;
          border: $field-list-border-size $field-list-border-type $field-list-default-border-color;
          border-radius: $field-list-default-border-radius;
          fill: $field-list-default-fill-color;
          font-weight: normal;
          min-height: 165px;
          position: relative;
          width: 100%;

          .e-axis-wrapper {
            background-color: $field-list-header-background-color;
            border-bottom: $field-list-border-size $field-list-border-type $field-list-default-border-color;
            color: $field-list-default-header-font-color;
            display: flex;
            height: $field-list-header-height;
            padding: 2px $field-list-header-padding 5px;

            .e-axis-icon-wrapper {
              height: 20px;
              padding-top: $field-list-header-icon-wrapper-padding;
              width: 20px;

              .e-axis-rows,
              .e-axis-columns,
              .e-axis-values,
              .e-axis-filters {
                color: $field-list-default-header-icon-font-color;
                font-size: $field-list-header-icon-size;
              }
            }
          }

          .e-axis-header {
            flex: auto;
            font-size: $field-list-header-font-size;
            line-height: $field-list-header-content-line-height;
            margin-top: 2px;
            padding: 0 8px;
            width: 100%;
          }

          .e-axis-content {
            cursor: default;
            width: 100%;

            &.e-drag-restrict {
              cursor: no-drop;
            }

            .e-pvt-btn-div {
              .e-drop-indicator-last,
              .e-drop-indicator {
                display: block;
                pointer-events: none;
                width: 100%;

                &.e-drop-hover {
                  border-top: 2px dashed $field-list-drop-hover-color;
                  margin-top: -2px;
                }
              }

              &.e-first-btn {
                .e-drop-indicator {
                  &.e-drop-hover {
                    position: absolute;
                  }
                }
              }

              .e-pivot-button {
                border-bottom: $field-list-border-size $field-list-border-type $field-list-button-border-color;
                border-left: 0;
                border-radius: 0;
                border-right: 0;
                border-top: 0;
                box-shadow: none;
                cursor: default;
                display: flex;
                font-weight: normal;
                height: $field-list-button-height;
                line-height: 1em;
                padding: $field-list-button-padding;
                text-transform: none;
                width: 100%;

                &.e-list-selected {
                  color: $field-list-button-font-color;
                  opacity: .5;
                }

                &:hover {
                  background-color: $field-list-button-hover-color;
                }

                &:focus,
                &:active {
                  background-color: $field-list-button-focus-color;
                  color: $field-list-button-active-color;

                  .e-sort,
                  .e-pv-filter,
                  .e-pv-filtered {
                    color: $field-list-button-active-color;
                  }
                }


                .e-content {
                  flex: auto;
                  font-size: $field-list-button-font-size;
                  height: 16px;
                  line-height: 1em;
                  overflow: hidden;
                  padding: 0 8px;
                  text-align: left;
                  text-overflow: ellipsis;
                  width: 70%;
                }

                .e-draggable {
                  height: 20px;
                  width: 20px;
                }

                .e-drag {
                  color: $field-list-drag-icon-color;
                  cursor: move;
                  font-size: $field-list-icon-size;
                  height: 20px;
                  width: 20px;
                }

                .e-sort,
                .e-pv-filter,
                .e-pv-filtered {
                  color: $pivotgrid-button-icon-color;
                  cursor: pointer;
                  display: inline-block;
                  font-size: $field-list-icon-size;
                  height: 20px;
                  padding-left: $field-list-icon-to-icon-padding;
                  width: 20px;

                  &:hover {
                    color: $pivotgrid-icon-hover-color;
                  }

                  &.e-disable {
                    display: none;
                  }
                }

                .e-sort {
                  height: $field-list-icon-size;
                }

                .e-remove {
                  display: none;
                }

                &.e-rtl {
                  .e-content {
                    text-align: right;
                  }

                  .e-sort,
                  .e-pv-filter,
                  .e-pv-filtered,
                  .e-remove {
                    padding-left: 0;
                    padding-right: $field-list-icon-to-icon-padding;
                  }
                }
              }
            }
          }

          .e-sort {
            height: fit-content;
            transform: rotateX(0deg);
            transition: transform 200ms ease-in-out;

            &.e-descend {
              transform: rotateX(180deg);
            }
          }

          .e-axis-content {
            height: $field-list-axis-content-height;
            overflow: auto;
            scroll-behavior: smooth;
          }

          .e-draggable-prompt {
            bottom: 32%;
            color: $field-list-default-border-color;
            font-size: $field-list-content-font-size;
            height: 25px;
            pointer-events: none;
            position: absolute;
            text-align: center;
            width: 100%;

            &.e-disable {
              display: none;
            }
          }
        }

        .e-left-axis-fields .e-field-list-rows,
        .e-right-axis-fields .e-field-list-values {
          margin-top: $field-list-default-padding-size;
        }
      }
    }

    .e-calculated-field {
      color: $field-list-default-font-color;
      font-size: $field-list-button-font-size;
      font-weight: $field-list-button-font-weight;
      max-width: 160px;
      min-width: 145px;

      &.e-disable {
        display: none;
      }
    }

    &.e-rtl {
      .e-field-table {
        .e-field-list {
          padding-left: 0;
          padding-right: 2px;

          ul li {
            margin-left: 0;
            margin-right: $field-list-treeview-padding-size;

            // sass-lint:disable-all
            .e-drag {
              margin-left: 6px !important;
              margin-right: 0 !important;
          }
            // sass-lint:enable-all
        }
        }

        .e-field-header {
          padding-right: $field-list-header-padding-size;
          text-align: right;
        }
      }

      .e-axis-table {
        .e-left-axis-fields,
        .e-right-axis-fields {
          padding-left: 0;
          padding-right: $field-list-default-padding-size;
        }

        .e-left-axis-fields .e-field-list-filters,
        .e-left-axis-fields .e-field-list-rows,
        .e-right-axis-fields .e-field-list-columns,
        .e-right-axis-fields .e-field-list-values {
          .e-axis-header {
            float: right;
          }
        }
      }
    }

    &.e-static {
      background-color: $field-list-default-bg-color;
      border: $field-list-border-size $field-list-border-type $field-list-default-border-color;
      max-height: 670px;
      padding: $field-list-static-padding-size;
      position: relative;

      .e-title-content {
        color: $field-list-default-font-color;
      }

      .e-field-list-container {
        display: inline-block;
        height: 100%;
        width: 100%;

        .e-field-table {
          height: 210px;
          width: 100%;

          .e-field-list {
            height: 175px;
          }
        }

        .e-center-div {
          display: none;
        }

        .e-center-title {
          color: $field-list-default-header-font-color;
          font-size: $field-list-header-font-size;
          height: 25px;
          margin-top: 5px;
          overflow: hidden;
          text-align: left;
          text-overflow: ellipsis;
        }

        .e-axis-table {
          width: 100%;

          .e-left-axis-fields {
            padding: 0;
          }

          .e-right-axis-fields {
            padding-left: $field-list-default-padding-size;
          }

          .e-left-axis-fields .e-field-list-rows,
          .e-right-axis-fields .e-field-list-values {
            margin-top: $field-list-default-padding-size;
          }

          .e-left-axis-fields .e-field-list-filters,
          .e-left-axis-fields .e-field-list-rows,
          .e-right-axis-fields .e-field-list-columns,
          .e-right-axis-fields .e-field-list-values {
            .e-axis-wrapper {
              .e-axis-icon-wrapper {
                padding-top: $field-list-static-header-icon-wrapper-padding;
              }
            }
          }
        }
      }

      &.e-rtl {
        .e-center-title {
          text-align: right;
        }

        .e-axis-table {
          .e-left-axis-fields {
            padding-left: $field-list-static-padding-size;
          }

          .e-right-axis-fields {
            padding: 0;
          }
        }
      }
    }

    &.e-device {
      height: 100%;
      min-height: 500px;
      width: 100%;

      .e-disable {
        display: none;
      }

      .e-adaptive-container {
        height: 100%;
        position: relative;

        .e-tab-header {
          background-color: $field-list-header-background-color;

          .e-toolbar-item {
            .e-tab-wrap {
              border: 0;
            }
          }
        }

        .e-content {
          display: initial;

          .e-field-list-filters,
          .e-field-list-rows,
          .e-field-list-columns,
          .e-field-list-values {
            display: inline-block;
            height: 100%;
            min-height: 250px;
            padding-top: $field-list-adaptive-content-padding-size;
            position: relative;
            width: 100%;

            .e-axis-content {
              overflow: auto;
            }

            .e-pvt-btn-div {
              display: grid;

              .e-drop-indicator {
                display: none;
              }

              .e-pivot-button {
                border: $field-list-border-size $field-list-border-type $field-list-button-border-color;
                border-left: 0;
                border-radius: 0;
                border-right: 0;
                border-top: 0;
                border-width: 1px 0;
                box-shadow: none;
                display: flex;
                font-size: $field-list-bigger-button-font-size;
                font-weight: normal;
                height: $field-list-adaptive-pivot-button-height;
                line-height: normal;
                padding: $field-list-adaptive-pivot-button-padding;
                text-transform: none;
                width: 100%;

                &.e-list-selected {
                  opacity: .5;
                }

                .e-content {
                  flex: auto;
                  font-size: $field-list-bigger-button-font-size;
                  height: 100%;
                  margin-top: -2px;
                  overflow: hidden;
                  text-align: left;
                  text-overflow: ellipsis;
                  width: 70%;
                }

                .e-drag {
                  display: none;
                }

                .e-sort,
                .e-pv-filter,
                .e-pv-filtered,
                .e-remove {
                  color: $pivotgrid-button-icon-color;
                  cursor: pointer;
                  display: inline-block;
                  font-size: $field-list-bigger-icon-size;
                  height: 24px;
                  padding-left: 10px;
                  width: 24px;

                  &:hover {
                    color: $pivotgrid-icon-hover-color;
                  }
                }

                .e-sort {
                  height: fit-content;
                  transform: rotateX(0deg);
                  transition: transform 200ms ease-in-out;

                  &.e-descend {
                    transform: rotateX(180deg);
                  }
                }

                .e-remove {
                  display: inline-block;
                }

                &.e-rtl {
                  .e-content {
                    text-align: right;
                  }

                  .e-sort,
                  .e-pv-filter,
                  .e-pv-filtered,
                  .e-remove {
                    padding-left: 0;
                    padding-right: 10px;
                  }
                }
              }
            }

            .e-axis-content {
              height: 100%;
              width: 100%;
            }

            .e-draggable-prompt {
              border: 1px dashed $field-list-header-background-color;
              color: $field-list-header-background-color;
              font-size: $field-list-drag-clone-font-size;
              height: $field-list-adaptive-drag-prompt-height;
              left: 15%;
              line-height: $field-list-adaptive-drag-prompt-height;
              pointer-events: none;
              position: absolute;
              text-align: center;
              top: 25%;
              vertical-align: middle;
              width: 70%;
            }
          }

          .e-pivot-calc-outer-div {
            .e-pivot-formula {
              background-color: $pivot-formula-background;
              border: 1px solid $pivot-formula-border;
              border-radius: 4px;
              color: $field-list-default-font-color;
              height: 200px;
              margin-left: 20px;
              margin-right: 20px;
              margin-top: 25px;
              padding: 2px 3px;
              resize: none;
              width: 90%;
            }

            .e-pivot-calc-input-div {
              margin-left: 20px;
              margin-right: 20px;
              margin-top: 20px;
              width: 90%;
            }

            .e-accordion {
              margin-top: 20px;
              overflow: auto;

              .e-icons.e-frame {
                margin-right: 12px;
              }
            }

            .e-radio-wrapper {
              margin-bottom: 24px;
              margin-right: 20px;

              .e-label {
                color: $pivot-text-area-background;
                font-family: Roboto-Reguar;
                font-size: 14px;
                opacity: .87;
              }
            }

            .e-pivot-ok-button,
            .e-pivot-add-button,
            .e-pivot-cancel-button {
              float: right;
              margin-right: 20px;
              margin-top: 32px;
            }

            .e-pivot-accord {
              max-height: 290px;
            }

            .e-checkbox-wrapper .e-icons {
              height: 18px;
              width: 18px;
            }
          }
        }

        .e-field-list-footer {
          bottom: 20px;
          display: inline-block;
          position: absolute;
          vertical-align: bottom;
          width: 100%;

          .e-field-list-footer-content {
            display: inline-block;
            padding: $field-list-adaptive-footer-padding-size;
            width: 100%;

            .e-field-list-btn,
            .e-calculated-field-btn {
              float: right;
              height: $field-list-adaptive-btn-size;
              pointer-events: all;
              width: $field-list-adaptive-btn-size;
              z-index: 1000;

              .e-add-icon {
                font-size: $field-list-adaptive-btn-icon-size;
                line-height: $field-list-adaptive-icon-height;
              }
            }
          }
        }
      }

      .e-footer-content.e-field-list-footer {
        background-color: transparent;
        bottom: 0;
        display: inline-block;
        padding: $field-list-adaptive-footer-padding-size;
        pointer-events: none;
        position: absolute;
        vertical-align: bottom;
        width: 100%;

        .e-field-list-btn,
        .e-calculated-field-btn,
        .e-cancel-btn {
          float: right;
          height: $field-list-adaptive-btn-size;
          pointer-events: all;
          width: $field-list-adaptive-btn-size;
          z-index: 1000;

          .e-add-icon {
            font-size: $field-list-adaptive-btn-icon-size;
            line-height: $field-list-adaptive-icon-height;
          }
        }

        .e-cancel-btn {
          float: left;
        }
      }

      &.e-static {
        border: 0;
        padding: 0;

        .e-field-list-filters,
        .e-field-list-rows,
        .e-field-list-columns,
        .e-field-list-values {
          .e-axis-content {
            max-height: 600px;
          }
        }
      }

      &.e-rtl {
        .e-field-list-footer {
          .e-field-list-btn,
          .e-calculated-field-btn {
            float: left;
          }

          .e-cancel-btn {
            float: right;
          }
        }

        // sass-lint:disable-all
        .e-pivot-calc-outer-div {
          .e-pivot-ok-button,
          .e-pivot-add-button,
          .e-pivot-cancel-button {
            float: left !important;
            margin-left: 20px;
          }

          .e-accordion {
            .e-icons.e-frame {
              margin-left: 12px !important;
              margin-right: 0 !important;
            }
          }
        }
        // sass-lint:enable-all
      }
    }
  }

  // sass-lint:disable-all
  .e-bigger #{&}.e-pivotfieldlist-wrapper,
  .e-bigger#{&}.e-pivotfieldlist-wrapper,
  .e-bigger .e-pivotfieldlist-wrapper,
  .e-bigger.e-pivotfieldlist-wrapper {
    .e-field-table {
      .e-left-axis-fields,
      .e-right-axis-fields {
        padding-left: $field-list-default-bigger-padding-size;
      }

      .e-field-header {
        background-color: $field-list-header-background-color;
        color: $field-list-default-header-font-color;
        font-size: $field-list-bigger-header-font-size;
        font-weight: normal;
        height: $field-list-bigger-header-height;
        overflow: hidden;
        padding: $field-list-tree-header-padding 0 0 $field-list-bigger-header-padding;
      }

      .e-field-list {
        padding-left: 5px;

        ul {
          li {
            padding: 0;
          }
        }
        .e-drag {
          font-size: $field-list-bigger-icon-size !important;
          height: 24px !important;
          margin-bottom: $field-list-treeview-drag-bigger-padding !important;
          margin-right: 4px !important;
          width: 24px !important;
        }
      }

      .e-left-axis-fields .e-field-list-rows,
      .e-right-axis-fields .e-field-list-values {
        margin-top: $field-list-default-bigger-padding-size;
      }
    }

    .e-axis-table {
      .e-left-axis-fields .e-field-list-filters,
      .e-left-axis-fields .e-field-list-rows,
      .e-right-axis-fields .e-field-list-columns,
      .e-right-axis-fields .e-field-list-values {
        .e-axis-wrapper {
          height: $field-list-bigger-header-height;
          padding: 0 $field-list-bigger-header-padding 5px;

          .e-axis-icon-wrapper {
            height: 24px;
            padding-top: $field-list-bigger-header-icon-wrapper-padding;
            width: 24px;

            .e-axis-rows,
            .e-axis-columns,
            .e-axis-values,
            .e-axis-filters {
              font-size: $field-list-bigger-header-icon-size;
            }
          }

          .e-axis-header {
            font-size: $field-list-bigger-header-font-size;
            line-height: $field-list-bigger-header-content-line-height;
            margin-top: 4px;
            padding: 0 10px;
          }
        }

        .e-axis-content{
          .e-pvt-btn-div {
            .e-pivot-button {
              font-size: $field-list-bigger-button-font-size;
              height: $field-list-bigger-button-height !important;
              padding: $field-list-bigger-button-padding !important;

              .e-content {
                font-size: $field-list-bigger-button-font-size;
                line-height: $field-list-bigger-button-line-height;
                padding: 0 10px
              }

              .e-draggable {
                height: 24px;
                width: 24px;
              }

              .e-sort,
              .e-pv-filter,
              .e-pv-filtered {
                cursor: pointer;
                display: inline-block;
                font-size: $field-list-bigger-icon-size;
                height: 24px;
                width: 24px;
              }

              .e-sort {
                height: $field-list-bigger-icon-size;
              }

              .e-drag {
                font-size: $field-list-bigger-icon-size;
                width: 24px;
              }
            }
          }
        }
      }
    }

    .e-calculated-field {
      font-size: $field-list-bigger-button-font-size;
    }
    
    &.e-static {
      .e-field-list-container {
        .e-center-title {
          color: $field-list-default-header-font-color;
          font-size: $field-list-bigger-header-font-size;
        }

        .e-axis-table {
          .e-right-axis-fields {
            padding-left: $field-list-default-bigger-padding-size;
          }

          .e-left-axis-fields .e-field-list-rows,
          .e-right-axis-fields .e-field-list-values {
            margin-top: $field-list-default-bigger-padding-size;
          }

          .e-left-axis-fields .e-field-list-filters,
          .e-left-axis-fields .e-field-list-rows,
          .e-right-axis-fields .e-field-list-columns,
          .e-right-axis-fields .e-field-list-values {
            .e-axis-wrapper {
              .e-axis-icon-wrapper {
                padding-top: $field-list-static-bigger-header-icon-wrapper-padding;
              }
            }
          }
        }
      }

      &.e-rtl {
        .e-axis-table {
          .e-left-axis-fields {
            padding-left: $field-list-default-bigger-padding-size;
          }

          // sass-lint:disable-all
          .e-right-axis-fields {
            padding: 0 !important;
          }
        }
      }
    }

    &.e-rtl {
      .e-field-table {
        .e-field-list {
          padding-left: 0;
          padding-right: 5px;

          .e-drag {
            margin-left: 4px !important;
            margin-right: 0 !important;
          }
          // sass-lint:enable-all
        }
      }

      .e-axis-table {
        .e-left-axis-fields,
        .e-right-axis-fields {
          padding-left: 0;
          padding-right: $field-list-default-padding-size;
        }

        .e-left-axis-fields .e-field-list-filters,
        .e-left-axis-fields .e-field-list-rows,
        .e-right-axis-fields .e-field-list-columns,
        .e-right-axis-fields .e-field-list-values {
          .e-pivot-button {
            .e-sort,
            .e-pv-filter,
            .e-pv-filtered,
            .e-remove {
              padding-left: 0;
              padding-right: $field-list-bigger-icon-to-icon-padding;
            }
          }
        }
      }
    }
  }
  // sass-lint:enable-all
}
