@import 'definition.scss';

$drop-down-arrow-content: '\e36a';
$vertical-btn-padding: 8px 20px;
$vertical-bigger-btn-padding: 10px 24px;
$bigger-font-size: 15px;
$bigger-li-height: 48px;
$bigger-max-width: 280px;
$bigger-min-width: 112px;
$bigger-font-color: $neutral-light-font;
$color: $neutral-light-font;
$disable-text: $neutral-tertiary-alt;
$font-size: 14px;
$font-weight: normal;
$icon-margin-right: 10px;
$icon-color: $neutral-dark;
$li-bgcolor: $neutral-lighter;
$li-box-shadow: 0 0 0 1px $neutral-secondary-alt inset;
$li-border-color:  $neutral-light;
$li-border-style: solid;
$li-border-width: 1px;
$li-focus-bgcolor: none;
$li-height: 36px;
$li-padding: 0 10px;
$li-selection-bgcolor:  $neutral-tertiary-alt;
$li-selection-font-color: $theme-light-font;
$max-width: 240px;
$menu-icon-bigger-font-size: 18px;
$menu-icon-color: $neutral-light-font;
$menu-icon-disabled-color: $neutral-tertiary-alt;
$menu-icon-font-size: 16px;
$min-width: 120px;
$parent-ul-box-shadow:  0 0 10px 0 rgba($neutral-black, .2);
$selected-color: $neutral-light-font;
$seperator-padding: 0;
$subarrow-icon-ht: 32px;
$subarrow-icon-wth: 32px;
$sub-ul-box-shadow: 0 0 10px 0 rgba($neutral-black, .2);
$ul-bgcolor: $neutral-white;
$ul-border: 1px solid $neutral-light;
$ul-border-radius: 0;
$ul-padding: 0;
$ul-bigger-padding: 0;
$blank-icon: 36px;
$blank-icon-bigger: 38px;
$caret-icon-font-size: 10px;
$caret-icon-font-size-bigger: 10px;
