
$pager-font-family: sans-serif !default;
$pager-border-type: $border-type !default;
$pager-mobile-icon-size: 11px !default;
$pager-bg-color: $default-bg-color !default;
$pager-mhover-color: $default-font-color !default;
$pager-pagermessage-weight: normal !default;
$pager-last-border-size: 0 !default;
$pager-bigger-icons-align: '' !default;
$pager-numeric-font-weight: normal !default;
$pager-icon-width: 'auto' !default;
$pager-icon-height: 'auto' !default;
$pager-container-margin: 0 6px -3px !default;
$pager-navigationicon-padding: 11px 9px 8px !default;
$pager-navigationicon-right: 0 !default;
$pager-bigger-new-container-rtl-margin: 5px 0 -4px 0 !default;
$pager-navigationicon-top: 0 !default;
$pager-numericitem-padding: 0 !default;
$pager-item-hover-borders-width: 0 !default;
$pager-numericitem-border-radius: 0 !default;
$pager-messagebar-padding-bottom: 9px !default;
$pager-bigger-messagebar-padding-bottom: 8px !default;
$pager-content-opacity: 1 !default;
$pager-next-icon-margin-left: 0 !default;
$pager-container-rtl-margin: 0 6px -4px 0 !default;
$pager-rtl-navigation-icon-padding: 11px 9px 8px 2px !default;
$pager-rtl-numeric-margin: 0 !default;
$pager-bigger-icon-font-size: 13px !default;
$pager-bigger-rtl-nexticon-marign-left: 0 !default;
$pager-device-padding: 19px 0 !default;
$pager-device-messabar-padding: 0 !default;
//default 
$pager-border-color: $neutral-light !default;
$pager-border-size: 0 !default;
$pager-padding: 13px 0 12px !default;
$pager-active-bg-color: $theme-primary !default;
$pager-active-color: $theme-primary-font !default;
$pager-font-size: 13px !default;
$pager-first-content-icon: 'e999' !default;
$pager-prev-content-icon: 'e829' !default;
$pager-next-content-icon: 'e830' !default;
$pager-last-content-icon: 'e938' !default;
$pager-icon-size: 12px !default;
$pager-hover-color: $neutral-light-fontalt !default;
$pager-number-hover-bg-color: $neutral-light !default;
$pager-numeric-icon-padding: 9px 3px 8px 2px !default;
$pager-pagecontainer-icon-padding: 12px 10px 8px !default;
$pager-messagebar-padding-top: 9px !default;
$pager-messagebar-padding-right: 10px !default;
$pager-last-page-hover-border-radius: 0 !default;
$pager-first-page-hover-border-radius: 0 !default;
$pager-letter-spacing: 0 !default;
$pager-rtl-parentmsgbar-margin-left: 8px !default;
$pager-numericitem-margin-right: 0 !default;
$pager-tripledot-font-size: 20px !default;
$pager-tripledot-padding: 0 6px 10px !default;
$pager-bigger-padding: 14px 0 10px !default;
$pager-bigger-messagebar-padding-right: 13px !default;
$pager-bigger-messagebar-padding-top: 9px !default;
$pager-bigger-nexticon-marign-left: $pager-next-icon-margin-left * 1.25 !default;
$pager-bigger-rtl-nexticon-marign-right: $pager-next-icon-margin-left * 1.25 !default;
$pager-bigger-current-item-border-radius: 0 !default;
$pager-bigger-pagercontainer-margin: 5px 8px 5px 13px !default;
$pager-bigger-font-size: 14px !default;
$bigger-icon-font-size: 17px !default;
$pager-bigger-current-item-padding: 8px 11px !default;
$pager-bigger-pagercontainer-icons-marign-right: 0 !default;
$pager-bigger-pagercontainer-icons-padding: 10px !default;
$pager-bigger-rtl-parentmsgbar-margin-left: 10px !default;
$pager-bigger-rtl-activeitem-padding: 10px 14px !default;
$pager-bigger-numeric-item-margin: 0 !default;
$pager-dropdown-margin-top: -20px !default;
$pager-dropdown-margin-left: 19px !default;
$pager-dropdown-margin-right: 0 !default;
$pager-bigger-dropdown-constant-margin: 17px !default;
$pager-bigger-dropdown-margin: -44px  0 0 15px !default;
$pager-dropdown-height: 32px !default;
$pager-constant-margin: 0 0 4px 8px !default;
$pager-bigger-letter-spacing: 2px 10px 11px !default;
$pager-hover-bg-color: '' !default;
$pager-numericitem-min-width: 30px !default;
$pager-activeitem-padding: 9px 3px 8px 2px !default;
$pager-tripledot-rtl-margin-top: 2px !default;
$pager-tripledot-rtl-padding: 0 11px 9px !default;
$pager-rtl-pagerconstant-margin-top: 8px !default;
$pager-rtl-pagerdropdown-margin: -20px 25px 0 0 !default;
$pager-tripledot-rtl-bigger-margin-top: -10px !default;
$pager-bigger-rtl-numeric-margin: 0 !default;
$pager-bigger-container-rtl-margin: 0 0 -4px 0 !default;
$pager-rtl-pagerdropdown-bigger-margin: -22px 25px 0 0 !default;
$pager-rtl-pagerconstant-bigger-margin-top: 5px 10px 8px 0 !default;
$pager-bigger-rtl-parentmsgbar-margin-top: 1px !default;
$pager-bigger-rtl-pagercontainer-margin-top: 5px !default;
$pager-bigger-device-rtl-parentmsgbar-margin-top: 5px !default;
$pager-rtl-pagermsgbar-device-margin-top: 6px !default;
$pager-bigger-constant-margin-left: 10px !default;
$pager-rtl-last-content-icon: 'e999' !default;
$pager-rtl-first-content-icon: 'e938' !default;
$pager-rtl-prev-content-icon: 'e830' !default;
$pager-rtl-next-content-icon: 'e829' !default;
$pager-item-hover-border-width: 0 !default;
$pager-item-hover-border-color: $pager-border-color !default;
$pager-bigger-current-item-hover-padding: $pager-bigger-current-item-padding !default;
$pager-numeric-icon-hover-padding: $pager-numeric-icon-padding !default;
$pager-bigger-rtl-activeitem-hover-padding:  $pager-bigger-rtl-activeitem-padding !default;
$pager-activeitem-hover-padding: $pager-activeitem-padding !default;
$page-content-color: $neutral-light-font !default;
$pager-icon-color: $neutral-light-font !default;
$pager-color: $neutral-light-font !default;
$pager-bigger-dropdown-margin-top: $pager-dropdown-margin-top !default;
