@import 'definition.scss';

/*! component's theme wise override definitions and variables */
$pivotgrid-active-color: $accent;
$pivotgird-default-font-color: $content-font-color;
$pivotgrid-cell-border-color: rgba($grey-light-font, .12);
$pivotgrid-default-border-color: $grey-300;
$pivotgrid-border-type: $border-type;
$pivotgrid-border-size: 1px;
$pivotgrid-table-background-color: $grey-white;
$pivotgrid-content-font-size: 12px;
$field-list-font-family: $font-family;
$pivotgrid-grp-bg-color: $grey-100;
$pivotgrid-cell-hover-color: rgba(0, 0, 0, 0);
$pivotgrid-drag-clone-color: $grey-200;
$pivotgrid-drop-hover-color: $grey-500;
$pivotview-grid-content-opacity: .87;
$pivotview-grid-header-font-size: 12px;
$pivotview-grid-header-font-weight: 500;
$pivotview-grid-header-font-color: rgba(0, 0, 0, .54);
$pivotgrid-horizontal-button-padding: 8px;
$pivotgrid-vertical-button-padding: 6px;
$pivotgrid-grouping-height: 36px;
$pivotgrid-summary-font-weight: 500;
$pivotgrid-prompt-line-height: 36px;
$field-list-toggle-size: 40px;
$pivotgrid-button-border-color: $grey-300;
$pivotgrid-drag-clone-text-color: $pivotgrid-default-font-color;
$pivotgrid-drag-clone-font-size: 13px;
$pivotgrid-default-border-radius: 4px;
$pivotgrid-button-icon-size: 14px;
$pivotgrid-bigger-button-icon-size: 16px;
$pivotgrid-button-border-radius: 25px;
$pivotgrid-button-background-color: $grey-300;
$pivotgrid-editor-dialog-footer-padding: 8px;
$pivotgrid-button-drag-color: $accent;
$pivotgrid-expand-icon: '\e859';
$pivotgrid-expand-icon-fontsize: 10px;
$pivotgrid-expcoldiv-fontsize: 10px;
$pivotgrid-drill-margintop: 1px;
$pivotgrid-rtl-expand-icon: '\e854';
$pivotgrid-rtl-expand-icon-font-size: 10px;
$pivotgrid-collapse-icon: '\e83d';
$pivotgrid-collapse-icon-fonsize: 12px;
$pivotgrid-filter-icon: '\e909';
$pivotgrid-sorting-icon: '\e840';
$pivotgrid-remove-icon: '\e208';
$pivotgrid-filtered-icon: '\e920';
$pivotgrid-hover-color: $grey-400;
$pivotgrid-focus-color: $grey-500;
$pivotgrid-button-icon-color: rgba($grey-black, .54);
$pivotgrid-button-active-icon-color: $pivotgrid-button-icon-color;
$pivotgrid-icon-hover-color: rgba($grey-black, .87);
$pivotgrid-icon-focus-color: $pivotgrid-icon-hover-color;
$pivotgird-vsort-mouse-margin: -15px;
$pivotgird-vsort-mouse-wrap-margin: -18px;
$pivotgird-vsort-touch-margin: -17px -10px;
$pivotgird-vsort-touch-wrap-margin: -18px -15px;
$pivotgird-tooltip-padding: 3px 4px;
$pivotgird-tooltip-fontcolor: #fff;
$pivotgird-tooltip-fontsize: 14px;
$pivotgird-tooltip-fontfamily: Roboto;
$pivotgrid-member-filter-list-height: 160px;
$pivotgrid-member-filter-list-bigger-height: 125px;
$pivotview-grid-indent-padding: 8px;
$pivotview-grid-bigger-indent-padding: 10px;
$pivotview-indent-space-size: 24px;
$pivotgrid-button-font-color: $grey-light-font;
$pivotgrid-button-acitve-font-color: $pivotgrid-button-font-color;
$pivotgrid-bigger-button-line-height: 1em;
$pivotgrid-excel-member-filter-height: 147px;
$pivotgrid-excel-filter-height: 248px;
$pivotgrid-excel-member-filter-bigger-height: 100px;
$pivotgrid-excel-filter-bigger-height: 220px;
$pivotgrid-clear-filter-icon: '\ea82';
