$ribbon-border: none !default;
$ribbon-border-radius: unset !default;
$ribbon-disabled-opacity: .35 !default;
$ribbon-file-menu-border: none !default;
$ribbon-file-menu-border-width: unset !default;
$ribbon-file-menu-weight: $font-weight-normal !default;
$ribbon-file-menu-size: $text-sm !default;
$ribbon-file-menu-padding: 8px 12px !default;
$ribbon-file-menu-height: 22px !default;
$ribbon-file-menu-border-radius: unset !default;
$ribbon-file-menu-min-width-height: 14px !default;
$ribbon-help-template-padding: 12px !default;
$ribbon-help-template-height: 38px !default;
$ribbon-help-template-border: none !default;
$ribbon-toolbar-items-height: 38px !default;
$ribbon-horizontal-nav-height: 38px !default;
$ribbon-group-header-padding: 4px 11px 4px 11px !default;
$ribbon-group-header-height: 16px !default;
$ribbon-group-header-font-size: $text-xxs !default;
$ribbon-group-overflow-padding: 2px 8px !default;
$ribbon-group-content-padding: 0 8px !default;
$ribbon-group-content-height: 90px !default;
$ribbon-group-overflow-height: 90px !default;
$ribbon-group-header-margin: 20px !default;
$ribbon-group-padding: 6px !default;
$ribbon-group-height: 132px !default;
$ribbon-simplified-group-padding: 1px !default;
$ribbon-simplified-group-content-padding: 0 4px !default;
$ribbon-simplified-group-content-height: 32px !default;
$ribbon-collapse-btn-padding: 2px !default;
$ribbon-collapse-btn-height: 12px !default;
$ribbon-collapse-btn-font-weight: $font-weight-normal !default;
$ribbon-collapsible-content-width: 20px !default;
$ribbon-overflow-btn-content-width: 40px !default;
$ribbon-overflow-btn-icon-padding: 5px !default;
$ribbon-overflow-btn-padding: 0 !default;
$ribbon-overflow-btn-margin: 0 !default;
$ribbon-overflow-collapse-btn-right: 25px !default;
$ribbon-overflow-item-padding: 0 !default;
$ribbon-overflow-wrapper-item-margin: 3px 5px !default;
$ribbon-overflow-item-btn-height: 22px !default;
$ribbon-overflow-btn-height: 26px !default;
$ribbon-overflow-btn-border-radius: 2px !default;
$ribbon-overflow-header-height: 26px !default;
$ribbon-overflow-header-line-height: 18px !default;
$ribbon-overflow-header-font-size: 14px !default;
$ribbon-overflow-header-padding: 6px 0 6px 12px !default;
$ribbon-rtl-overflow-header-padding: 6px 12px 6px 0 !default;
$ribbon-overflow-header-weight: $font-weight-medium !default;
$ribbon-overflow-dropdown-btn-padding: 0 12px !default;
$ribbon-overall-overflow-btn-position: 3px !default;
$ribbon-dropdown-btn-padding: 0 12px !default;
$ribbon-dropdown-caret-btn-size: $text-xs !default;
$ribbon-dropdown-caret-btn-height: 12px !default;
$ribbon-dropdown-caret-btn-padding: 2px !default;
$ribbon-colorpicker-caret-btn-padding: $ribbon-dropdown-caret-btn-padding !default;
$ribbon-items-padding: 2px !default;
$ribbon-large-items-icon-padding: 8px 6px 4px !default;
$ribbon-large-items-btn-padding: 0 2px !default;
$ribbon-large-items-btn-height: 18px !default;
$ribbon-large-items-icon-size: $text-2xl !default;
$ribbon-large-items-max-width: 10ch !default;
$ribbon-large-items-btn-gap: 4px !default;
$ribbon-large-items-min-width-height: 24px !default;
$ribbon-items-border: none !default;
$ribbon-items-border-radius: 2px !default;
$ribbon-items-font-weight: $font-weight-normal !default;
$ribbon-items-btn-size: $text-xs !default;
$ribbon-items-label-size: $text-sm !default;
$ribbon-items-btn-icon-size: $text-sm !default;
$ribbon-overflow-items-min-width-height: $ribbon-items-btn-icon-size !default;
$ribbon-items-caret-icon-size: $text-sm !default;
$ribbon-items-margin: 5px !default;
$ribbon-checkbox-margin: 9px 0 9px 12px !default;
$ribbon-rtl-checkbox-margin: 9px 12px 9px 0 !default;
$ribbon-items-height: 18px !default;
$ribbon-items-btn-padding: 0 4px 0 0 !default;
$ribbon-items-btn-rtl-padding: 0 0 0 4px !default;
$ribbon-items-min-width-height: 16px !default;
$ribbon-items-checkbox-size: $text-xs !default;
$ribbon-items-checkbox-padding: 0 5px !default;
$ribbon-input-group-height: 26px !default;
$ribbon-input-padding: 4px 0 4px 8px !default;
$ribbon-input-size: $text-xs !default;
$ribbon-input-height: 20px !default;
$ribbon-input-weight: $font-weight-normal !default;
$ribbon-input-icon-size: $text-xs !default;
$ribbon-input-icon-height: 12px !default;
$ribbon-input-icon-padding: 7px 3px 7px 2px !default;
$ribbon-input-icon-weight: $font-weight-normal !default;
$ribbon-input-group-border-radius: 2px !default;
$ribbon-input-group-margin: 0 0 4px !default;
$ribbon-tab-border: none !default;
$ribbon-tab-border-radius: unset !default;
$ribbon-tab-text-size: $text-sm !default;
$ribbon-tab-text-padding: 8px 12px !default;
$ribbon-tab-text-height: 22px !default;
$ribbon-tab-text-weight: 400 !default;
$ribbon-active-tab-text-weight: $ribbon-tab-text-weight !default;
$ribbon-nav-arrow-size: $text-sm !default;
$ribbon-nav-arrow-height: 14px !default;
$ribbon-hscroll-padding: 0 !default;
$ribbon-hscroll-nav-arrow-padding: 0 5px !default;
$ribbon-hscroll-nav-arrow-weight: $font-weight-normal !default;
$ribbon-hscroll-nav-border-width: 1px !default;
$ribbon-hscroll-nav-border-radius: 2px !default;
$ribbon-menu-border: 1px solid !default;
$ribbon-menu-border-radius: 2px !default;
$ribbon-menu-blank-icon-padding: 26px !default;
$ribbon-launcher-icon-margin: 0 8px 4px 0 !default;
$ribbon-rtl-launcher-icon-margin: 0 0 4px 8px !default;
$ribbon-ddb-popup-font-size: 12px;
$ribbon-ddb-popup-height: 24px;
$ribbon-backstage-menu-hover-border: 0 !default;
$ribbon-backstage-menu-active-border: 0 !default;
$ribbon-backstage-menu-item-height: 38px !default;
$ribbon-backstage-menu-icon-font-size: 16px !default;
$ribbon-backstage-menu-icon-line-height: 16px !default;
$ribbon-backstage-menu-icon-padding: 11px 18px 15px 16px !default;
$ribbon-backstage-menu-blank-icon-padding: 50px !default;
$ribbon-backstage-btn-focus-border: 0 !default;
$ribbon-backstage-btn-height: 38px !default;
$ribbon-backstage-btn-line-height: 38px !default;
$ribbon-backstage-btn-icon-font-size: 16px !default;
$ribbon-backstage-btn-icon-line-height: 16px !default;
$ribbon-backstage-btn-icon-padding: 11px 18px 11px 16px !default;
$ribbon-backstage-btn-hover-border: 0 !default;
$ribbon-group-button-icon-margin: $ribbon-items-margin !default;
$ribbon-group-button-ddb-padding: 4px 9px !default;
$ribbon-group-button-icon-padding: 0 2px 0 0 !default;
$ribbon-group-button-ddb-border-radius: 4px !default;
$ribbon-group-button-padding: 0 5px 0 0 !default;
$ribbon-group-button-ddb-border: 1px solid !default;
$ribbon-groupbutton-header-padding: 3px !default;
$ribbon-items-label: 34px !default;
$ribbon-combobox-height: 32px !default;
$ribbon-medium-item-height: 32px !default;
$ribbon-button-icon-padding: 9px 8px 9px 12px !default;
$ribbon-rtl-button-icon-padding: 9px 12px 9px 8px !default;
$ribbon-caret-icon-padding: 0 12px !default;
$ribbon-rtl-caret-icon-padding: 0 12px !default;
$ribbon-gallery-popup-items-padding: 5px 0 !default;
$ribbon-gallery-header-padding: 8px 0 10px !default;
$ribbon-gallery-header-font-weight: 600 !default;
$ribbon-gallery-header-line-height: 22px !default;
$ribbon-gallery-header-fontsize: 14px !default;
$ribbon-gallery-text-size: 14px !default;
$ribbon-gallery-text-weight: 400 !default;
$ribbon-gallery-text-line-height: 22px !default;
$ribbon-gallery-simplified-items-padding: 5px 0 !default;
$ribbon-gallery-popup-padding: 8px 12px 12px !default;
$ribbon-gallery-icons-size: 20px !default;
$ribbon-gallery-icons-weight: $ribbon-gallery-text-weight !default;
$ribbon-gallery-icons-height: 20px !default;
$ribbon-gallery-items-width: 95px !default;
$ribbon-gallery-simplified-items-width: 95px !default;
$ribbon-gallery-popup-items-width: 73px !default;
$ribbon-keytip-border-radius: unset !default;
$ribbon-keytip-font-size: 14px !default;
$ribbon-keytip-line-height: 18px !default;
$ribbon-keytip-height: 20px !default;
$ribbon-keytip-min-width: 20px !default;
$ribbon-gallery-wrapper-height: 90px !default;
$ribbon-gallery-simplified-wrapper-height: 30px !default;
$ribbon-gallery-simplified-items-wrapper-height: 28px !default;
$ribbon-gallery-button-icon-padding: 0 2px !default;
$ribbon-gallery-button-icon-font-weight: 400 !default;
$ribbon-gallery-button-icon-line-height: 12px !default;
$ribbon-gallery-button-icon-font-size: 12px !default;
$ribbon-wrapper-margin: 0 !default;
$ribbon-wrapper-item-margin: 0 !default;
$ribbon-wrapper-border-radius: 2px !default;
$ribbon-wrapper-item-border-radius: 2px !default;
$ribbon-simplified-wrapper-margin: 0 !default;
$ribbon-simplified-wrapper-item-margin: 0 !default;
$ribbon-simplified-wrapper-item-border-radius: 2px !default;
$ribbon-gallery-items-wrapper-height: 89px !default;

$ribbon-bigger-content-height: 114px !default;
$ribbon-bigger-large-items-max-width: $ribbon-large-items-max-width !default;
$ribbon-bigger-group-overflow-content-height: 114px !default;
$ribbon-bigger-group-height: 150px !default;
$ribbon-bigger-file-menu-height: 125% !default;
$ribbon-bigger-file-menu-padding: 14px 15px !default;
$ribbon-bigger-file-menu-size: $text-base !default;
$ribbon-bigger-file-menu-min-width-height: 18px !default;
$ribbon-bigger-help-template-padding: 16px !default;
$ribbon-bigger-help-template-height: 48px !default;
$ribbon-bigger-toolbar-items-height: 48px !default;
$ribbon-bigger-horizontal-nav-height: 48px !default;
$ribbon-bigger-collapse-btn-padding: 5px !default;
$ribbon-bigger-collapse-btn-height: 14px !default;
$ribbon-bigger-collapse-btn-font-size: $text-sm !default;
$ribbon-bigger-collapsible-content-width: 24px !default;
$ribbon-bigger-overflow-btn-content-width: 40px !default;
$ribbon-bigger-overflow-btn-font-size: $text-xl !default;
$ribbon-bigger-overflow-btn-height: 20px !default;
$ribbon-bigger-overflow-btn-icon-padding: 7px !default;
$ribbon-bigger-overflow-collapse-btn-right: 28px !default;
$ribbon-bigger-overall-overflow-btn-height: 34px !default;
$ribbon-bigger-overall-overflow-btn-position: 3px !default;
$ribbon-bigger-overflow-wrapper-item-margin: 3px 7px !default;
$ribbon-bigger-group-header-padding: 8px 11px 4px !default;
$ribbon-bigger-group-header-height: 18px !default;
$ribbon-bigger-group-header-font-size: $text-xs !default;
$ribbon-bigger-simplified-group-content-height: 40px !default;
$ribbon-bigger-tab-text-size: $text-base !default;
$ribbon-bigger-tab-text-padding: 14px 15px !default;
$ribbon-bigger-tab-text-height: 125% !default;
$ribbon-bigger-large-items-icon-padding: 8px 3px !default;
$ribbon-bigger-large-items-icon-size: $text-4xl !default;
$ribbon-bigger-large-items-btn-padding: 0 5px !default;
$ribbon-bigger-large-items-btn-size: $text-sm !default;
$ribbon-bigger-large-items-btn-height: 125% !default;
$ribbon-bigger-large-items-min-width-height: 32px !default;
$ribbon-bigger-items-min-width-height: 20px;
$ribbon-bigger-large-items-btn-gap: 8px !default;
$ribbon-bigger-items-padding: 2px !default;
$ribbon-bigger-items-btn-size: $text-sm !default;
$ribbon-bigger-items-label-size: $text-base !default;
$ribbon-bigger-items-height: 125% !default;
$ribbon-bigger-items-icon-height: 20px !default;
$ribbon-bigger-items-icon-size: $text-xl !default;
$ribbon-bigger-items-btn-icon-size: $text-xl !default;
$ribbon-bigger-overflow-items-min-width-height: $ribbon-bigger-items-btn-icon-size !default;
$ribbon-bigger-items-margin: 7px !default;
$ribbon-bigger-checkbox-margin: 11px 0 11px 16px !default;
$ribbon-bigger-rtl-checkbox-margin: 11px 16px 11px 0 !default;
$ribbon-bigger-items-checkbox-size: $text-sm !default;
$ribbon-bigger-items-checkbox-padding: 0 7px !default;
$ribbon-bigger-input-group-height: 34px !default;
$ribbon-bigger-input-items-size: $text-sm !default;
$ribbon-bigger-input-items-height: 22px !default;
$ribbon-bigger-input-items-btn-size: $text-xs !default;
$ribbon-bigger-input-items-btn-height: 12px !default;
$ribbon-bigger-input-padding: 6px 0 6px 8px !default;
$ribbon-bigger-input-icon-padding: 11px 4px 11px 2px !default;
$ribbon-bigger-input-group-margin: 0 0 4px !default;
$ribbon-bigger-dropdown-btn-padding: 0 13px !default;
$ribbon-bigger-menu-blank-icon-padding: 38px !default;
$ribbon-bigger-dropdown-btn-size: $text-xs !default;
$ribbon-bigger-dropdown-btn-line-height: 12px !default;
$ribbon-bigger-dropdown-caret-btn-padding: 3px 2px !default;
$ribbon-bigger-colorpicker-caret-btn-padding: $ribbon-bigger-dropdown-caret-btn-padding !default;
$ribbon-bigger-dropdown-caret-btn-size: $text-sm !default;
$ribbon-bigger-dropdown-caret-icon-size: $text-lg !default;
$ribbon-bigger-dropdown-caret-btn-height: 12px !default;
$ribbon-bigger-caret-dropdown-btn-padding: 0 13px !default;
$ribbon-bigger-color-picker-height: 20px !default;
$ribbon-bigger-color-picker-width: 20px !default;
$ribbon-bigger-launcher-icon-margin: 0 8px 4px 0 !default;
$ribbon-bigger-rtl-launcher-icon-margin: 0 0 4px 8px !default;
$ribbon-bigger-ddb-popup-font-size: 14px;
$ribbon-bigger-ddb-popup-height: 32px;
$ribbon-bigger-backstage-menu-item-height: 48px !default;
$ribbon-bigger-backstage-menu-icon-font-size: 20px !default;
$ribbon-bigger-backstage-menu-icon-line-height: 20px !default;
$ribbon-bigger-backstage-menu-icon-padding: 14px 16px 18px !default;
$ribbon-bigger-backstage-menu-blank-icon-padding: 52px !default;
$ribbon-bigger-backstage-btn-height: 48px !default;
$ribbon-bigger-backstage-btn-line-height: 48px !default;
$ribbon-bigger-backstage-btn-icon-font-size: 20px !default;
$ribbon-bigger-backstage-btn-icon-line-height: 20px !default;
$ribbon-bigger-backstage-btn-icon-padding: 14px 16px !default;
$ribbon-bigger-group-button-icon-padding: 0 !default;
$ribbon-bigger-group-button-icon-margin: $ribbon-bigger-items-margin !default;
$ribbon-bigger-group-button-padding: 0 7px 0 0 !default;
$ribbon-bigger-items-label: 46px !default;
$ribbon-bigger-gallery-popup-padding: 7px 16px 16px !default;
$ribbon-bigger-gallery-header-fontsize: 16px !default;
$ribbon-bigger-gallery-header-line-height: 24px !default;
$ribbon-bigger-gallery-header-padding: 7px 0 11px !default;
$ribbon-bigger-overflow-header-line-height: 22px !default;
$ribbon-bigger-overflow-header-height: 32px !default;
$ribbon-bigger-combobox-height: 40px !default;
$ribbon-bigger-medium-item-height: 40px !default;
$ribbon-bigger-overflow-header-font-size: 16px !default;
$ribbon-bigger-overflow-header-padding: 7px 0 7px 16px !default;
$ribbon-bigger-rtl-overflow-header-padding: 7px 16px 7px 0 !default;
$ribbon-bigger-button-icon-padding: 11px 12px 11px 16px !default;
$ribbon-bigger-rtl-button-icon-padding: 11px 16px 11px 12px !default;
$ribbon-bigger-caret-icon-padding: 0 12px !default;
$ribbon-bigger-rtl-caret-icon-padding: 0 12px !default;
$ribbon-bigger-gallery-wrapper-height: 114px !default;
$ribbon-bigger-gallery-simplified-wrapper-height: 36px !default;
$ribbon-bigger-gallery-items-wrapper-height: 112px !default;
$ribbon-bigger-gallery-simplified-items-wrapper-height: 35px !default;
$ribbon-bigger-gallery-items-wrapper-width: 112px !default;
$ribbon-bigger-keytip-font-size: 14px !default;
$ribbon-bigger-keytip-line-height: 18px !default;
$ribbon-bigger-keytip-height: 20px !default;
$ribbon-bigger-keytip-min-width: 20px !default;

$ribbon-header-bg-color: $content-bg-color-alt2 !default;
$ribbon-tab-background-color: $ribbon-header-bg-color !default;
$ribbon-border-color: unset !default;
$ribbon-group-border-color: $border-dark !default;
$ribbon-input-group-border-color: $border !default;
$ribbon-input-group-background-color: $content-bg-color !default;
$ribbon-items-icon-color: $icon-color !default;
$ribbon-items-background-color: $transparent !default;
$ribbon-items-hover-background-color: $content-bg-color-alt4 !default;
$ribbon-items-focus-background-color: $content-bg-color-alt4 !default;
$ribbon-items-hover-color: $content-text-color !default;
$ribbon-items-text-hover-color: $ribbon-items-hover-color !default;
$ribbon-items-active-background-color: $content-bg-color-alt4 !default;
$ribbon-items-hover-border-color: unset !default;
$ribbon-items-focus-border-color: unset !default;
$ribbon-items-active-color: $content-text-color !default;
$ribbon-items-pressed-background-color: $ribbon-items-active-background-color !default;
$ribbon-items-text-active-color: $ribbon-items-active-color !default;
$ribbon-items-focus-color: $content-text-color !default;
$ribbon-items-icon-focus-color: $ribbon-items-focus-color !default;
$ribbon-items-text-focus-color: $ribbon-items-focus-color !default;
$ribbon-items-disabled-color: $gray120 !default;
$ribbon-collapse-btn-background: $content-bg-color-alt2 !default;
$ribbon-text-color: $content-text-color !default;
$ribbon-tab-text-color: $ribbon-text-color !default;
$ribbon-tab-text-focus-color: $primary !default;
$ribbon-tab-text-hover-color: $primary !default;
$ribbon-active-tab-color: $primary !default;
$ribbon-active-tab-indicator-color: $primary !default;
$ribbon-active-file-menu-color: $primary-text-color !default;
$ribbon-active-file-menu-background: $primary !default;
$ribbon-menu-border-color: $flyout-border !default;
$ribbon-menu-hover-background-color: $flyout-bg-color-hover !default;
$ribbon-menu-items-color: $flyout-text-color-hover !default;
$ribbon-menu-items-icon-color: $icon-color !default;
$ribbon-menu-background-color: $flyout-bg-color !default;
$ribbon-menu-items-background-color: $flyout-bg-color !default;
$ribbon-hscroll-border-color: $border !default;
$ribbon-hscroll-color: $icon-color !default;
$ribbon-hscroll-background-color: $content-bg-color-alt2 !default;
$ribbon-hscroll-hover-border-color: $border !default;
$ribbon-hscroll-hover-background-color: $content-bg-color-alt4 !default;
$ribbon-hscroll-hover-color: $icon-color !default;
$ribbon-hscroll-active-border-color: $border !default;
$ribbon-hscroll-active-background-color: $content-bg-color-alt4 !default;
$ribbon-hscroll-active-color: $icon-color !default;
$ribbon-hscroll-focus-border-color: $border !default;
$ribbon-hscroll-focus-background-color: $content-bg-color-alt4 !default;
$ribbon-hscroll-focus-color: $icon-color !default;
$ribbon-tooltip-background-color: $tooltip-bg-color !default;
$ribbon-tooltip-text-color: $toooltip-text-color !default;
$ribbon-overflow-box-shadow: $shadow-md !default;
$ribbon-backstage-menu-bg-color: $primary !default;
$ribbon-backstage-menu-items-bg-color: $primary !default;
$ribbon-backstage-items-color: $primary-text-color !default;
$ribbon-backstage-menu-icon-color: $primary-text-color !default;
$ribbon-backstage-menu-hover-bg-color: $primary-bg-color-focus !default;
$ribbon-backstage-menu-hover-border-color: unset !default;
$ribbon-backstage-menu-items-hover-color: $primary-text-color !default;
$ribbon-backstage-menu-icon-hover-color: $primary-text-color !default;
$ribbon-backstage-menu-active-bg-color: $primary-bg-color-pressed !default;
$ribbon-backstage-menu-active-border-color: unset !default;
$ribbon-backstage-menu-items-active-color: $primary-text-hover !default;
$ribbon-backstage-menu-icon-active-color: $primary-text-hover !default;
$ribbon-backstage-separator-color: $border-light !default;
$ribbon-backstage-btn-bg-color: $primary !default;
$ribbon-backstage-btn-color: $primary-text-color !default;
$ribbon-backstage-btn-focus-bg-color: $primary-bg-color-focus !default;
$ribbon-backstage-btn-focus-color: $primary-text-color !default;
$ribbon-backstage-btn-focus-border-color: unset !default;
$ribbon-backstage-btn-hover-bg-color: $primary-bg-color-pressed !default;
$ribbon-backstage-btn-hover-color: $primary-text-hover !default;
$ribbon-backstage-btn-hover-border-color: unset !default;
$ribbon-backstage-close-btn-font-weight: 400 !default;
$ribbon-group-button-dropdown-popup-background: $flyout-bg-color !default;
$ribbon-group-button-icon-hover-color: $flyout-text-color-hover !default;
$ribbon-group-button-icon-active-color: $ribbon-items-active-color !default;
$ribbon-group-button-hover-background: $flyout-bg-color-hover !default;
$ribbon-group-button-text-hover-color: $flyout-text-color-hover !default;
$ribbon-group-button-active-background: $flyout-bg-color-selected !default;
$ribbon-group-button-text-active-color: $flyout-text-color-selected !default;
$ribbon-group-button-selected-background: $flyout-bg-color-selected !default;
$ribbon-group-button-pressed-background: $ribbon-group-button-selected-background !default;
$ribbon-group-button-border-color: $secondary-border-color !default;
$ribbon-popup-common-bg-color: $flyout-bg-color !default;
$ribbon-popup-common-border-radius: 4px !default;
$ribbon-popup-common-border-color: $flyout-border !default;
$ribbon-popup-common-box-shadow: unset !default;
$ribbon-filemenu-popup-border-radius: 2px !default;
$ribbon-contextual-tab-color: $ribbon-active-tab-indicator-color !default;
$ribbon-contextual-tab-background: $ribbon-header-bg-color !default;
$ribbon-keytip-background-color: $content-text-color-dragged !default;
$ribbon-keytip-color: $content-bg-color !default;
$ribbon-gallery-popup-background-color: $flyout-bg-color !default;
$ribbon-gallery-popup-item-background-color: $transparent !default;
$ribbon-gallery-wrapper-background-color: $content-bg-color !default;
$ribbon-gallery-wrapper-item-background-color: $transparent !default;
$ribbon-gallery-hover-background-color: $content-bg-color-hover !default;
$ribbon-gallery-item-selected-color: $content-bg-color-selected !default;
$ribbon-gallery-button-icon-color: $icon-color !default;
$ribbon-gallery-button-selected-icon-color: $icon-color !default;
$ribbon-gallery-button-selected-color: $content-bg-color-alt4 !default;
$ribbon-gallery-item-disabled-color: $transparent !default;
$ribbon-gallery-item-focus-border-color: $content-bg-color-focus !default;
$ribbon-gallery-item-border-color: $border !default;
$ribbon-gallery-header-color: $ribbon-text-color !default;
$ribbon-gallery-item-text-color: $ribbon-text-color !default;
$ribbon-gallery-item-disabled-text-color: $content-text-color-disabled !default;
$ribbon-gallery-icons-color: $ribbon-items-icon-color !default;
$ribbon-gallery-item-disabled-icons-color: $icon-color-disabled !default;
$ribbon-gallery-item-selected-text-color: $ribbon-text-color !default;
$ribbon-gallery-item-selected-icons-color: $ribbon-items-icon-color !default;
$ribbon-gallery-popup-box-shadow: $shadow-lg !default;
$ribbon-group-button-item-border: 1px solid $ribbon-group-button-border-color !default;
$ribbon-items-focus-box-shadow: none !default;
$ribbon-skeleton-wave-color: linear-gradient(90deg, rgba(255, 255, 255, 0) 35%, $content-bg-color 46%, rgba(255, 255, 255, 0) 57%) !default;
$ribbon-skeleton-bg-color: rgba(217, 217, 217, 1) !default;
