@mixin multicolumn-combobox-styles($margin-top-value) {
  &.e-multicolumn-list {
    margin-top: $margin-top-value;
  }
}

@include export-module('multicolumn-combobox-layout') {
  .e-multicolumn-grid tr.e-groupcaptionrow {
    position: sticky;
    top: 0;
  }
  .e-multicolumn-grid th.e-grouptopleftcell.e-lastgrouptopleftcell,
  .e-multicolumn-grid td.e-recordplusexpand,
  .e-multicolumn-grid td.e-indentcell,
  .e-multicolumn-grid col.e-group-intent,
  .e-multicolumn-list .e-no-records + .e-grid {
    display: none;
  }
  .e-multicolumn-grid .e-gridheader .e-headercelldiv {
    overflow: hidden;
  }
  .e-multicolumn-list .e-popup-footer {
    vertical-align: middle;
    border-style: solid;
    border-width: $footer-border-width;
    font-size: 14px;
    height: $multicolumn-grid-height;
    display: flex;
    align-items: center;
  }
  .e-multicolumn-grid.e-grid {
    border-width: $grid-border-width;
  }
  .e-input-group.e-multicolumn-list {
    input[readonly].e-input {
      pointer-events: none;
    }
  }
  .e-multicolumn-list {
    &.e-icon-anim .e-multicolumn-list-icon::before {
      transform: rotate(180deg);
    }
    &:not(.e-icon-anim) .e-multicolumn-list-icon::before {
      transform: rotate(0deg);
    }
    .e-multicolumn-list-icon::before {
      transition: transform 300ms ease;
    }
  }
  .e-multicolumn-grid .e-grid {
    overflow: auto;
  }
  .e-multicolumn-grid .e-row,
  .e-multicolumn-grid .e-emptyrow {
    height: $multicolumn-grid-height;
  }
  .e-multicolumn-group .e-sortnumber {
    display: none;
  }
  .e-popup.e-multicolumn-list {
    position: absolute;
    border-radius: 4px;
    margin-top: $multicolumn-margin-top-value;
    .e-nodata {
      cursor: default;
      font-family: inherit;
      font-size: 14px;
      padding: 14px 16px;
      text-align: center;
      border-radius: inherit;
    }
    .e-headertext {
      font-weight: $header-font-weight;
    }
    .e-gridheader {
      position: sticky;
      top: 0;
      z-index: 1;
    }
  }

  .e-multicolumn-grid .e-headercontent {
    border-right-width: inherit !important; /* stylelint-disable-line declaration-no-important */
  }

  .e-multicolumn-grid.e-rtl .e-headercontent {
    border-left-width: inherit !important; /* stylelint-disable-line declaration-no-important */
  }

  .e-multicolumn-grid .e-content {
    overflow: auto !important; /* stylelint-disable-line declaration-no-important */
  }

  .e-small.e-popup,
  .e-small .e-popup {
    .e-multicolumn-grid .e-headercelldiv,
    .e-multicolumn-grid .e-rowcell,
    &.e-multicolumn-list .e-popup-footer {
      font-size: 12px;
    }
    &.e-multicolumn-list .e-popup-footer,
    .e-multicolumn-grid .e-row,
    .e-multicolumn-grid .e-emptyrow {
      height: $multicolumn-grid-small-height;
    }
    @include multicolumn-combobox-styles($multicolumn-margin-top-small-value);
  }

  .e-bigger.e-popup,
  .e-bigger .e-popup {
    &.e-multicolumn-list .e-popup-footer {
      font-size: 16px;
    }
    &.e-multicolumn-list .e-popup-footer,
    .e-multicolumn-grid .e-row,
    .e-multicolumn-grid .e-emptyrow {
      height: $multicolumn-grid-bigger-height;
    }
    @include multicolumn-combobox-styles($multicolumn-margin-top-bigger-value);
  }

  .e-bigger.e-small.e-popup,
  .e-bigger.e-small .e-popup,
  .e-bigger .e-small.e-popup,
  .e-small .e-bigger.e-popup {
    .e-multicolumn-grid .e-headercelldiv,
    .e-multicolumn-grid .e-rowcell,
    &.e-multicolumn-list .e-popup-footer {
      font-size: 14px;
    }
    &.e-multicolumn-list .e-popup-footer,
    .e-multicolumn-grid .e-row,
    .e-multicolumn-grid .e-emptyrow {
      height: $multicolumn-grid-bigger-small-height;
    }
    @include multicolumn-combobox-styles($multicolumn-margin-top-bigger-small-value);
  }
}
