@use 'ej2-base/styles/definition/bds' as *;
@forward 'ej2-base/styles/definition/bds';
$signature-border: 1px solid !default;
$signature-border-color: $border-light !default;
$signature-background-color: $white !default;
