$selection-bg: #400074 !default;
$selection-font: #fff !default;
$selection-border: #400074 !default;
$hover-bg: #ecf !default;
$hover-font: #000 !default;
$hover-border: #000 !default;
$border-default: #757575 !default;
$border-alt: #4d4d4d !default;
$border-fg: #000 !default;
$border-fg-alt: #400074 !default;
$bg-base-0: #fff !default;
$bg-base-5: #f1f1f1 !default;
$bg-base-10: #e4e4e4 !default;
$bg-base-15: #d8d8d8 !default;
$bg-base-20: #ccc !default;
$bg-base-75: #3d3d3d !default;
$bg-base-100: #000 !default;
$header-font: #23726c !default;
$header-font-alt: #000 !default;
$content-font: #000 !default;
$content-font-alt: #4f4f4f !default;
$link: #8a8aff !default;
$invert-font: #fff !default;
$success-bg: #166600 !default;
$error-bg: #b30900 !default;
$message-font: #000 !default;
$alert-bg: #944000 !default;
$info-bg: #0056b3 !default;
$success-alt: #2bc700 !default;
$error-alt: #ff6161 !default;
$alert-alt: #ff7d1a !default;
$info-alt: #66b0ff !default;
$disable: #757575 !default;
$shadow: #000 !default;
$skin-name: 'highcontrast-light' !default;
