//default 
$range-bg-color: $grey-white !default;
$range-primary-color: $primary !default;
$range-primary-font-color: $primary-font !default;
$range-presets-bg: $grey-800 !default;
$range-preset-normal-font-color: $grey-dark-font !default;
$range-font-color: $accent !default;
$range-background: $grey-800 !default;
$range-footer-background: $range-background !default;
$range-header-bg-color: $range-background !default;
$range-active-icon-color: $accent !default;
$range-active-state-icon-color: $accent !default;
$range-hover-color: $grey-700 !default;
$range-hover-content-color: darken($range-hover-color, 15%) !default;
$range-today-color: transparent !default;
$range-selection-bg: $accent !default;
$range-other-hover-color: transparent !default;
$range-other-month-date: rgba($grey-dark-font, .38) !default;
$range-box-shadow: 0 5px 5px -3px rgba($grey-light-font, .2), 0 8px 10px 1px rgba($grey-light-font, .14), 0 3px 14px 2px rgba($grey-light-font, .12) !default;
$range-box-shadow-none: none !default;
$range-btn-font-weight: 500 !default;
$range-btn-width: 50% !default;
$range-btn-normal-height: 27px !default;
$range-btn-bigger-height: 36px !default;
$range-btn-normal-line-height: 27px !default;
$range-btn-bigger-line-height: 36px !default;
$range-max-width: 730px !default;
$range-device-max-width: 298px !default;
$range-bigger-max-width: 770px !default;
$range-max-height: 500px !default;
$range-normal-nav-icon-width: 36px !default;
$range-normal-nav-icon-height: 36px !default;
$range-calendar-dark-color: $grey-dark-font !default;
$range-lg-day-header-format-width: 100% !default;
$range-calendar-header-text-color: $grey-dark-font !default;
$range-calendar-header-dark-color: $grey-dark-font !default;
$range-calendar-medium-color: rgba($grey-dark-font, .7) !default;
$range-calendar-light-color: rgba($grey-dark-font, .38) !default;
$range-calendar-medium-font-size: 14px !default;
$range-calendar-btn-font-size: 14px !default;
$range-presets-normal-list-font-size: 13px !default;
$range-presets-bigger-list-font-size: 14px !default;
$range-range-btn-font-weight: 500 !default;
$range-header-label-size: 18px !default;
$range-calendar-small-font-size: 13px !default;
$range-calendar-bigger-font-size: 20px !default;
$range-calendar-header-padding: 10px 5px 0 5px !default;
$range-e-bigger-header-padding: 10px 5px 0 5px !default;
$range-device-control-header-margin: 20px 16px 0 16px !default;
$range-device-control-header-padding: 0 !default;
$range-control-header-margin: 16px 16px 0 16px !default;
$range-indicator-margin: 0 0 15px 0 !default;
$range-btn-border-transparent: 1px solid transparent !default;
$range-control-header-width: auto !default;
$range-font-weight-normal: normal !default;
$range-flex-style: flex !default;
$range-flex-justify-content: flex-end !default;
$range-inline-block-style: inline-block !default;
$range-block-style: block !default;
$range-table-style: table !default;
$range-display-none:  none !default;
$range-align-center: center !default;
$range-float-right: right !default;
$range-float-left: left !default;
$range-float-none: none !default;
$range-float-clear: both !default;
$range-start-end-container-height: 35px !default;
$range-calendar-border: none !default;
$range-calendar-selection-border: none !default;
$range-calendar-hover-border: none !default;
$range-calendar-hover-border-color: none !default;
$range-calendar-other-month-border: none !default;
$range-calendar-margin: 0 !default;
$range-cursor-default-style: default !default;
$range-cursor-pointer-style: pointer !default;
$range-start-end-label-width: 48% !default;
$range-browser-select-none:  none !default;
$range-change-icon-width: 4% !default;
$range-font-weight-bold: 500 !default;
$range-font-size: 15px !default;
$range-change-icon-color: rgba($grey-dark-font, .7) !default;
$range-indicator-label-width: 100% !default;
$range-device-indicator-margin: 10px 0 !default;
$range-separator-height: 1px !default;
$range-border-value: 1px solid $grey-700 !default;
$range-separator-color: $grey-700 !default;
$range-separator-margin: 0 16px !default;
$range-footer-height: 48px !default;
$range-bigger-footer-height: 58px !default;
$range-flex-direction-row-reverse: row-reverse !default;
$range-flex-direction-row: row !default;
$range-btn-height: 36px !default;
$range-btn-padding: 0 16px !default;
$range-normal-footer-margin: 0 8px 0 8px !default;
$range-bigger-footer-margin: 0 8px 0 8px !default;
$range-normal-rtl-footer-margin: 0 8px 0 8px !default;
$range-bigger-rtl-footer-margin: 0 8px 0 8px !default;
$range-presets-height: 192px !default;
$range-bigger-presets-height: 240px !default;
$range-calendar-container-height: 100% !default;
$range-list-item-height: 48px !default;
$range-list-item-padding: 0 24px !default;
$range-listview-padding: 4px 0 !default;
$range-width-auto: auto !default;
$range-list-item-line-height: 47px !default;
$range-device-medium-font-size: 13px !default;
$range-device-medium-header-font-size: 13px !default;
$range-device-small-font-size: 11px !default;
$range-week-header-font-size: 13px !default;
$range-device-header-container-height: 36px !default;
$range-device-header-container-width: 100% !default;
$range-device-list-item-padding: 0 16px !default;
$range-value-zero: 0 !default;
$range-value-none: none !default;
$range-btn-border-value: 1px solid $primary !default;
$range-btn-left-radius: 2px 0 0 2px !default;
$range-btn-right-radius: 0 2px 2px 0 !default;
$range-visibility-hidden: hidden !default;
$range-indicator-size: 1px !default;
$range-text-nowrap: nowrap !default;
$range-day-span-height: 14px !default;
$range-direction-left: ltr !default;
$range-preset-min-width: 625px !default;
$range-header-btn-max-width: 116px !default;
$range-header-btn-bigger-max-width: 141px !default;
$range-presets-width: 160px !default;
$range-hover-start-radius: 50% 0 0 50% !default;
$range-hover-end-radius: 0 50% 50% 0 !default;
$range-text-overflow: ellipsis !default;
$range-btn-height: 36px !default;
$range-device-btn-line-height: 34px !default;
$range-icon-hover-color: $hover-bg-color !default;
$range-icon-border-radius: 50% !default;
$range-icon-container-min-height: 24px !default;
$range-icon-container-min-width: 24px !default;
$range-icon-bottom-right-radius: 0 !default;
$range-icon-top-right-radius: 0 !default;
$range-bigger-icon-container-min-height: 24px !default;
$range-bigger-icon-container-min-width: 24px !default;
$range-icon-margin: 0 0 4px 0 !default;
$range-sart-end-btn-padding: 1px 6px !default;
// new variable
$range-icon: '\e245' !default;
$range-icon-font-size: 16px !default;
$range-bigger-icon-font-size: 20px !default;
$range-icon-next: '\e913' !default;
$range-icon-prev: '\e921' !default;
$range-change-icon: '\e85f' !default;
$range-rtl-icon-next: '\e921' !default;
$range-rtl-icon-prev: '\e913' !default;
$range-rtl-icon-change: '\e85b' !default;
$range-popup-border: $grey-700 !default;
$range-overlay: rgba($grey-black, .6) !default;
$range-popup-padding: 0 !default;
$range-presets-bg-color: transparent !default;
$range-icon-bigger-margin: 0 0 2px 0 !default;
$range-presets-font-color: $accent !default;
$range-calendar-normal-table-padding: 0 10px 10px !default;
$range-calendar-bigger-table-padding: 0 15px 15px !default;
$range-popup-border-radius: 0 !default;
$range-list-border-radius: 0 !default;
$range-presets-hover-bg: rgba($grey-white, .1) !default;
$range-bigger-nav-icon-width: 48px !default;
$range-bigger-nav-icon-height: 48px !default;
$range-calendar-popup-padding: 0 !default;
$range-icon-bigger-padding: 15px !default;
$range-icon-normal-padding: 10px !default;
$range-preset-normal-list-height: 36px !default;
$range-preset-bigger-list-height: 48px !default;
$range-list-hover-color: $range-calendar-header-dark-color !default;
$range-calendar-active-border: 1px solid $accent !default;
$range-today-border-color: $range-calendar-active-border !default;
$range-calendar-today-color: $accent !default;
$range-calendar-today-start-color: $range-calendar-active-border !default;
$range-calendar-other-normal-border: none !default;
$range-calendar-bigger-max: 296px !default;
$range-active-font-color: $accent-font !default;
// Mouse small size
$range-small-header-label-size: 16px !default;
$range-small-font-size: 12px !default;
$range-start-end-container-small-height: 32px !default;
$range-calendar-mouse-small-font-size: 12px !default;
$range-indicator-small-margin: 0 0 10px 0 !default;
$range-control-small-header-margin: 10px 10px 0 10px !default;
$range-separator-small-margin: 0 10px !default;
$range-small-footer-margin: 10px 10px 10px 8px !default;
$range-preset-small-list-height: 26px !default;
$range-presets-small-list-font-size: 12px !default;
$calendar-bigger-small-max-width: 246px !default;
// mouse small icon
$range-small-icon-font-size: 14px !default;
// touch small icon
$range-bigger-small-icon-font-size: 18px !default;
//enddefault
