@mixin ddt-rotate($position) {
  transform: rotate($position);
  transition: transform 300ms ease;
}

@include export-module('dropdowntree-layout') {

  .e-ddt {
    cursor: pointer;
    outline: none;

    .e-ddt-icon::before {
      @include ddt-rotate(0deg);
    }

    &.e-icon-anim {
      .e-ddt-icon::before {
        @include ddt-rotate(180deg);
      }
    }

    .e-ddt-hidden {
      border: 0;
      height: 0;
      visibility: hidden;
      width: 0;
    }

    &.e-input-group.e-control-wrapper,
    &.e-float-input.e-control-wrapper {
      .e-clear-icon {
        box-sizing: content-box;
        @if $ddt-skin-name != 'tailwind' and $ddt-skin-name != 'bootstrap5' {
          min-height: $ddt-close-icon-min-height;
        }
      }

      .e-input-group-icon.e-ddt-icon {
        border: 0;

        @if $ddt-skin-name == 'bootstrap4' {
          font-size: 8px;
        }
        @if $ddt-skin-name == 'bootstrap5' {
          font-size: 20px;
        }
      }

      .e-icon-hide {
        display: none;
      }

      &.e-show-chip,
      &.e-show-text  {
        .e-clear-icon {
          bottom: $ddt-close-icon-bottom;
          position: absolute;
          right: 0;
        }

        &.e-show-dd-icon .e-clear-icon {
          @if $ddt-skin-name == 'tailwind' {
            right: 28px;
          }
          @else {
            right: $ddt-dd-icon-width;
          }
        }

        .e-ddt-icon {
          bottom: $ddt-dd-icon-bottom;
          position: absolute;
          right: 0;
        }

        &.e-input-focus input.e-dropdowntree.e-chip-input,
        input.e-dropdowntree.e-chip-input {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }

    .e-chips-wrapper {
      width: 100%;
    }

    &.e-show-chip {

      .e-chips-close {
        @if $ddt-skin-name != 'bootstrap5' {
          line-height: $ddt-chip-icon-line-height;
        }
        min-height: $ddt-chip-close-height;
        min-width: $ddt-chip-close-width;
        text-align: center;

        &::before {
          font-size: $ddt-chip-close-font;
          @if $ddt-skin-name != 'bootstrap5' and $ddt-skin-name != 'material' and $ddt-skin-name != 'material-dark' {
            vertical-align: middle;
          }
        }
      }

      .e-chips {
        align-items: center;
        border-radius: $ddt-chip-radius;
        box-sizing: border-box;
        display: inline-flex;
        float: left;
        height: $ddt-chip-height;
        margin: $ddt-chip-margin;
        max-width: $ddt-chip-width;
        overflow: hidden;
        padding: $ddt-chip-padding;
        text-overflow: ellipsis;
        white-space: nowrap;

        & > .e-chipcontent {
          max-width: 100%;
          overflow: hidden;
          padding: $ddt-chip-content-padding;
          text-indent: 0;
          text-overflow: ellipsis;
          white-space: nowrap;

          @if $ddt-skin-name == 'fabric' or $ddt-skin-name == 'fabric-dark' or $ddt-skin-name == 'highcontrast' or $ddt-skin-name == 'highcontrast-light' {
            line-height: $ddt-chip-text-line-height;
          }
        }
      }
    }
    @if $ddt-skin-name == 'material' or $ddt-skin-name == 'material-dark' {
      &.e-outline {
        .e-overflow {
          &.e-show-text {
            padding: 10px 12px 9px;
          }

          &.e-total-count {
            padding: $ddt-outline-padding;
          }
        }

        &.e-input-group.e-control-wrapper,
        &.e-float-input.e-control-wrapper {
          &.e-show-dd-icon .e-clear-icon {
            right: 30px;
          }
        }

        &.e-input-group.e-control-wrapper:not(.e-show-chip),
        &.e-float-input.e-control-wrapper:not(.e-show-chip) {
          &.e-show-dd-icon.e-input-focus .e-clear-icon  {
            min-height: 20px;
          }
        }
      }

      &.e-outline.e-show-chip {
        .e-overflow {
          padding: $ddt-outline-chip-padding;
        }

        .e-chips-wrapper {
          padding: $ddt-outline-chip-padding;
        }
      }

      &.e-filled {
        &.e-float-input.e-control-wrapper {
          .e-overflow {
            &.e-show-text {
              line-height: 21px;
              padding: 14px 2px 5px 0;
            }

            .e-remain {
              &.e-wrap-count {
                padding-top: 10px;
              }
            }
          }
        }

        &.e-float-input.e-control-wrapper:not(.e-show-chip) {
          .e-ddt-icon,
          &.e-show-dd-icon .e-clear-icon {
            padding-top: 8px;
          }
        }

        &.e-float-input.e-control-wrapper.e-show-chip,
        &.e-float-input.e-control-wrapper.e-show-text {
          .e-ddt-icon {
            bottom: 6px;
            right: 10px;
          }

          .e-clear-icon {
            bottom: 5px;
            right: 38px;
          }

          &:not(.e-show-dd-icon) .e-clear-icon {
            bottom: 9px;
            right: 10px;
          }
        }

        .e-chips-wrapper,
        .e-overflow {
          .e-chips {
            margin-top: 8px;
            padding: 0 8px;
          }
        }

        &.e-float-input.e-control-wrapper.e-show-chip {
          .e-chips-wrapper,
          .e-overflow {
            padding-top: 8px;

            .e-chips {
              height: 18px;
            }

            .e-chips > .e-chipcontent {
              font-size: 12px;
              padding: 0 4px 0 0;
            }

            .e-chips-close::before  {
              font-size: 12px;
              height: 12px;
              width: 12px;
            }
          }
        }

        &.e-input-group.e-control-wrapper:not(.e-float-input) {
          .e-overflow {
            &.e-show-text {
              line-height: 39px;
              padding: 0;
            }

            .e-remain {
              &.e-wrap-count {
                line-height: 39px;
                padding-top: 0;
              }
            }
          }

          &.e-show-chip {
            .e-chips-wrapper,
            .e-overflow {
              .e-chips {
                height: 28px;
                margin-top: 8px;
                padding: 0 8px;
              }

              .e-chips > .e-chipcontent {
                font-size: 13px;
                padding: 0 8px 0 0;
              }

              .e-chips-close::before  {
                font-size: 14px;
                height: 14px;
                width: 14px;
              }
            }
          }

          &.e-show-dd-icon.e-show-text,
          &.e-show-dd-icon.e-show-chip {
            .e-ddt-icon {
              bottom: 10px;
              right: 10px;
            }
          }

          .e-clear-icon {
            bottom: 9px;
            right: 38px;
          }

          &:not(.e-show-dd-icon) .e-clear-icon {
            bottom: 9px;
            right: 10px;
          }
        }
      }
    }

    .e-overflow {
      white-space: nowrap;

      &.e-show-text {
        padding: $ddt-delim-padding;
        @if $ddt-skin-name == 'tailwind' {
          line-height: 22px;

          .e-remain {
            padding-left: 8px;
          }
        }
        @if $ddt-skin-name == 'bootstrap5' {
          line-height: 30px;
        }
      }

      &.e-total-count {
        box-sizing: border-box;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;

        .e-remain {
          @if $ddt-skin-name == 'bootstrap5' {
            line-height: 30px;
          }
          @else {
            padding: $ddt-rtl-remains-padding;
          }
        }
      }

      &.e-wrap-count {
        @if $ddt-skin-name != 'bootstrap5' {
          padding-top: $ddt-remains-count-padding-top;
        }
      }

      .e-remain {
        cursor: pointer;
        display: inline-block;
        font-size: $ddt-chip-font-size;
        padding: $ddt-remains-padding;

        &.e-wrap-count {
          @if $ddt-skin-name == 'bootstrap5' {
            padding: $ddt-overflow-count-padding;
          }
          @else {
            padding-top: $ddt-overflow-count-padding-top;
          }
        }
      }
    }

    &.e-show-chip {
      .e-overflow {
        &.e-total-count {
          .e-remain {
            padding: $ddt-delim-padding;
          }
        }
      }
    }

    &.e-show-dd-icon .e-chips-wrapper .e-chips:last-child {
      @if $ddt-skin-name == 'tailwind' {
        margin-right: 18px;
      }
      @else {
        margin-right: $ddt-dd-icon-width;
      }
      max-width: $ddt-chip-ddi-width;
    }

    &.e-show-clear .e-chips-wrapper .e-chips:last-child {
      @if $ddt-skin-name == 'tailwind' {
        margin-right: 18px;
      }
      @else {
        margin-right: $ddt-close-icon-width;
      }
      max-width: $ddt-chip-ci-width;
    }

    &.e-show-clear.e-show-dd-icon .e-chips-wrapper .e-chips:last-child {
      margin-right: $ddt-last-chip-right-margin;
      max-width: $ddt-chip-ddi-ci-width;
    }

    input[readonly],
    .e-dropdowntree,
    input[readonly].e-input {
      pointer-events: none;

      &.e-chip-input {
        width: 0;
      }
    }

    &.e-popup {
      @if $skin-name != 'material' {
        border: 1px solid $ddt-popup-border-color;
      }

      @if $ddt-skin-name == 'tailwind' or $ddt-skin-name == 'bootstrap5' {
        border-radius: 4px;
        margin-top: 4px;
      }

      @if $skin-name == 'bootstrap4' {
        border-radius: $ddt-chip-radius;
      }

      box-shadow: $ddt-box-shadow;
      position: absolute;

      .e-selectall-parent {
        border-bottom: 1px solid;
        cursor: pointer;
        display: block;
        @if $ddt-skin-name != 'tailwind' {
          line-height: $ddt-select-all-height;
        }
        overflow: hidden;
        position: relative;
        text-indent: $ddt-select-all-text-indent;
        white-space: nowrap;
        width: 100%;
        @if $ddt-skin-name == 'tailwind' {
          padding: 8px 12px;
        }
        @else if $ddt-skin-name == 'bootstrap5' {
          padding: 0 8px;
        }

        &.e-hide-selectall {
          display: none;
        }

        .e-checkbox-wrapper {
          position: relative;
          text-indent: 0;

          .e-frame {
            @if $ddt-skin-name == 'tailwind' or $ddt-skin-name == 'bootstrap5' {
              margin-top: -3px;
            }
          }
        }

        .e-all-text {
          font-family: inherit;
          font-size: 14px;
          margin: $ddt-select-all-checkbox-margin;
          @if $ddt-skin-name == 'tailwind' {
            line-height: $ddt-select-all-height;
          }
        }
      }

      & .e-filter-wrap .e-input,
      & .e-filter-wrap .e-input:focus {
        @if $ddt-skin-name != 'tailwind' and $ddt-skin-name != 'bootstrap5' {
          padding: $ddt-list-filter-text-indent;
        }
      }

      .e-filter-wrap {
        @if $ddt-skin-name == 'tailwind' {
          border-bottom: $ddt-filter-border;
        }
        @else {
          border: $ddt-filter-border;
        }
        border-top-width: $ddt-filter-top-border;
        display: block;
        padding: $ddt-filter-padding;
      }

      .e-filter-wrap {
        @if $ddt-skin-name == 'fabric' or $ddt-skin-name == 'fabric-dark' or $ddt-skin-name == 'highcontrast' or $ddt-skin-name == 'highcontrast-light' {
          border-left-width: 0;
          border-right-width: 0;
        }

        @if $ddt-skin-name == 'bootstrap-dark' or $ddt-skin-name == 'bootstrap' {
          border-bottom: $ddt-filter-border-bottom-color;
        }

        @if $ddt-skin-name == 'bootstrap4' {
          background: $ddt-filter-bg;
        }

        .e-input-group:not(.e-disabled):not(.e-float-icon-left)::before,
        .e-input-group:not(.e-disabled):not(.e-float-icon-left)::after,
        .e-input-group.e-control-wrapper:not(.e-disabled):not(.e-float-icon-left)::before,
        .e-input-group.e-control-wrapper:not(.e-disabled):not(.e-float-icon-left)::after {
          @if $ddt-skin-name == 'material' {
            bottom: -1px;
            height: 1px;
          }
        }
      }

      .e-filter-wrap .e-input-group {
        margin-bottom: 0;

        @if $ddt-skin-name == 'tailwind' {
          border: 1px solid $border;
          border-radius: 4px;
        }

        @if $ddt-skin-name == 'bootstrap4' {
          background: $ddt-filter-bg;
        }

        .e-clear-icon {
          @if $ddt-skin-name == 'material' or $ddt-skin-name == 'material-dark' {
            margin: 6px 6px 5px;
            min-height: 12px;
            min-width: 12px;
            padding: 6px;
          }
        }
      }

      .e-popup-content {
        overflow: auto;
        position: relative;

        .e-ddt-nodata {
          display: none;
        }

        &.e-no-data {
          cursor: default;
          font-family: inherit;
          font-size: 14px;
          @if $ddt-skin-name == 'tailwind' {
            padding: 8px 16px;
          }
          @else if $ddt-skin-name == 'bootstrap5' {
            padding: 7px 16px;
          }
          @else {
            padding: 14px 16px;
          }
          text-align: center;

          .e-treeview {
            display: none;
          }

          .e-ddt-nodata {
            display: block;
            @if $ddt-skin-name == 'tailwind' or $ddt-skin-name == 'bootstrap5'  {
              line-height: 22px;
            }
          }
        }
      }

      .e-treeview {
        display: inline-table;
        width: 100%;

        .e-list-item {
          padding: 0;

          .e-ul {
            margin: 0;
            padding: 0 0 0 14px;
          }
        }

        .e-fullrow {
          @if $ddt-skin-name == 'highcontrast' or $ddt-skin-name == 'highcontrast-light' {
            border-width: 2px;
          }
          @if $ddt-skin-name != 'tailwind' and $ddt-skin-name != 'bootstrap5' {
            height: $ddt-treeview-fullrow-height;
          }
        }

        & > .e-ul {
          overflow: hidden;
          @if $ddt-skin-name != 'tailwind' {
            padding: $ddt-treeview-padding;
          }
        }

        &.e-fullrow-wrap .e-text-content {
          @if $ddt-skin-name != 'tailwind' and $ddt-skin-name != 'bootstrap5' {
            padding-bottom: $ddt-treeview-content-padding-top;
            padding-top: $ddt-treeview-content-padding-bottom;
          }
        }
      }

      .e-ddt-footer,
      .e-ddt-header {
        cursor: default;
      }
    }

    &.e-rtl {
      &.e-show-chip {
        .e-chips {
          float: right;
          @if $ddt-skin-name == 'tailwind' or $ddt-skin-name == 'bootstrap5' {
            & > .e-chipcontent {
              padding: $ddt-rtl-chip-content-padding;
            }
          }
        }
      }

      &.e-show-chip,
      &.e-show-text {
        .e-overflow {
          .e-remain {
            padding: $ddt-rtl-remains-padding;

            &.e-wrap-count {
              @if $ddt-skin-name == 'bootstrap5' {
                padding-top: 5px;
              }
              @else {
                padding-top: $ddt-remains-count-padding-top;
              }
            }
          }

          &.e-wrap-count {
            position: absolute;
            right: auto;
          }
        }
      }

      &.e-show-text {
        .e-overflow {
          &.e-total-count {
            .e-remain {
              padding: $ddt-remains-padding;
            }
          }
        }
      }

      &.e-show-text {
        .e-overflow {
          &.e-wrap-count {
            .e-remain {
              @if $ddt-skin-name == 'tailwind' {
                padding-right: 8px;
              }
            }
          }
        }
      }

      &.e-show-chip {
        .e-overflow {
          &.e-total-count {
            .e-remain {
              padding: $ddt-delim-padding;
            }
          }
        }
      }

      @if $ddt-skin-name == 'material' or $ddt-skin-name == 'material-dark' {
        &.e-outline {
          &.e-input-group.e-control-wrapper,
          &.e-float-input.e-control-wrapper {
            &.e-show-dd-icon .e-clear-icon,
            &.e-show-dd-icon.e-show-text .e-clear-icon,
            &.e-show-dd-icon.e-show-chip .e-clear-icon {
              left: 30px;
            }
          }
        }

        &.e-filled {
          &.e-float-input.e-control-wrapper {
            .e-overflow {
              &.e-show-text {
                padding: 14px 0 5px 2px;
              }
            }
          }

          &.e-float-input.e-control-wrapper.e-show-chip,
          &.e-float-input.e-control-wrapper.e-show-text {
            .e-ddt-icon {
              left: 10px;
              right: auto;
            }

            &.e-show-dd-icon .e-clear-icon {
              left: 38px;
              right: auto;
            }

            &:not(.e-show-dd-icon) .e-clear-icon {
              left: 10px;
              right: auto;
            }
          }

          &.e-float-input.e-control-wrapper.e-show-chip {
            .e-chips-wrapper,
            .e-overflow {
              .e-chips > .e-chipcontent {
                padding: 0 0 0 4px;
              }
            }
          }

          &.e-input-group.e-control-wrapper:not(.e-float-input) {
            &.e-show-chip {
              .e-chips-wrapper,
              .e-overflow {
                .e-chips > .e-chipcontent {
                  padding: 0 0 0 8px;
                }
              }
            }

            &.e-show-dd-icon.e-show-text,
            &.e-show-dd-icon.e-show-chip {
              .e-ddt-icon {
                left: 10px;
                right: auto;
              }
            }

            &.e-show-dd-icon .e-clear-icon {
              left: 38px;
              right: auto;
            }

            &:not(.e-show-dd-icon) .e-clear-icon {
              left: 10px;
              right: auto;
            }
          }
        }
      }

      &.e-show-dd-icon .e-chips-wrapper .e-chips:last-child {
        @if $ddt-skin-name == 'tailwind' or $ddt-skin-name == 'bootstrap5' {
          margin-left: 18px;
          margin-right: 4px;
        }
        @else {
          margin-left: $ddt-dd-icon-width;
          margin-right: 1px;
        }
      }

      &.e-show-clear .e-chips-wrapper .e-chips:last-child {
        @if $ddt-skin-name == 'tailwind' or $ddt-skin-name == 'bootstrap5' {
          margin-left: 18px;
          margin-right: 4px;
        }
        @else {
          margin-left: $ddt-close-icon-width;
          margin-right: 1px;
        }
      }

      &.e-show-clear.e-show-dd-icon .e-chips-wrapper .e-chips:last-child {
        margin-left: $ddt-last-chip-right-margin;
        @if $ddt-skin-name == 'tailwind' or $ddt-skin-name == 'bootstrap5' {
          margin-right: 4px;
        }
        @else {
          margin-right: 1px;
        }
      }

      &.e-input-group.e-control-wrapper,
      &.e-float-input.e-control-wrapper {

        &.e-show-chip,
        &.e-show-text  {

          .e-clear-icon,
          .e-ddt-icon {
            left: 0;
            right: auto;
          }

          &.e-show-dd-icon .e-clear-icon {
            @if $ddt-skin-name == 'tailwind' {
              left: 28px;
            }
            @else {
              left: $ddt-dd-icon-width;
            }
          }
        }
      }

      &.e-popup {

        .e-treeview .e-list-item .e-ul {
          padding: 0 14px 0 0;
        }
      }
    }
  }

  .e-ddt-icon-hide {
    display: none;
  }

  .e-bigger .e-ddt,
  .e-ddt.e-bigger {

    .e-chips {
      height: $ddt-chip-bigger-height;

      @if $ddt-skin-name == 'tailwind' {
        padding: 3px 8px;

        & > .e-chipcontent {
          padding: $ddt-big-chip-content-padding;
        }
      }
    }

    &.e-input-group.e-control-wrapper,
    &.e-float-input.e-control-wrapper {

      &.e-show-chip,
      &.e-show-text  {
        &.e-show-dd-icon .e-clear-icon {
          @if $ddt-skin-name == 'tailwind' {
            bottom: 3px;
            right: 32px;
          }
          @else if $ddt-skin-name == 'bootstrap4' {
            right: 33px;
          }
          @else if $ddt-skin-name == 'bootstrap5' {
            bottom: auto;
            right: 36px;
          }
          @else {
            right: $ddt-dd-icon-bigger-width;
          }
        }

        @if $ddt-skin-name == 'bootstrap5' {
          &.e-show-chip {
            &.e-show-dd-icon .e-clear-icon {
              bottom: 0;
            }
          }
        }

        .e-ddt-icon {
          bottom: $ddt-dd-icon-bigger-bottom;
        }
      }

      .e-input-group-icon.e-ddt-icon {
        @if $ddt-skin-name == 'bootstrap4' {
          font-size: 10px;
        }
      }

      .e-clear-icon {
        @if $ddt-skin-name == 'tailwind' {
          min-width: 0;
          padding: 6px;
        }
        @else {
          min-height: $ddt-close-icon-bigger-min-height;
        }
      }
    }

    &.e-show-chip {
      .e-chips-close {
        @if $ddt-skin-name == 'bootstrap4' {
          line-height: 27px;
          min-height: 30px;
          min-width: 30px;

          &::before {
            font-size: 10px;
          }
        }
        @if $ddt-skin-name == 'tailwind' {
          line-height: 18px;
          min-height: 24px;
          min-width: 24px;

          &::before {
            font-size: 20px;
          }
        }
        @if $ddt-skin-name == 'bootstrap5' {
          min-height: 24px;
          min-width: 24px;

          &::before {
            font-size: 12px;
            vertical-align: middle;
          }
        }
      }
    }

    .e-overflow {

      &.e-show-text {
        padding: $ddt-delim-bigger-padding;
        @if $ddt-skin-name == 'bootstrap5' {
          line-height: 37px;
        }
      }

      .e-remain {
        @if $ddt-skin-name == 'tailwind' or $ddt-skin-name == 'bootstrap5' {
          font-size: $text-base;
        }
      }
    }

    @if $ddt-skin-name == 'material' or $ddt-skin-name == 'material-dark' {
      &.e-outline {
        .e-overflow {
          &.e-show-text {
            padding: $ddt-outline-bigger-padding;
          }

          &.e-total-count {
            padding: $ddt-outline-bigger-padding;
          }
        }

        &.e-input-group.e-control-wrapper,
        &.e-float-input.e-control-wrapper {
          &.e-show-dd-icon .e-clear-icon {
            right: 36px;
          }
        }
      }

      &.e-outline.e-show-chip {
        .e-overflow {
          padding: $ddt-bigger-outline-chip-padding;

          &.e-total-count {
            .e-remain {
              padding-top: 10px;
            }
          }

          .e-remain {
            &.e-wrap-count {
              padding-top: 10px;
            }
          }
        }

        .e-chips-wrapper {
          padding: $ddt-bigger-outline-chip-padding;
        }
      }

      &.e-filled {
        &.e-float-input.e-control-wrapper {
          .e-overflow {
            &.e-show-text {
              line-height: 30px;
              padding: 19px 12px 0 0;
            }

            .e-remain {
              &.e-wrap-count {
                padding-top: 14px;
              }
            }
          }
        }

        &.e-float-input.e-control-wrapper:not(.e-show-chip) {
          .e-ddt-icon,
          &.e-show-dd-icon .e-clear-icon {
            padding-top: 8px;
          }
        }

        &.e-float-input.e-control-wrapper.e-show-chip,
        &.e-float-input.e-control-wrapper.e-show-text {
          .e-ddt-icon {
            bottom: 12px;
            right: 12px;
          }

          .e-clear-icon {
            bottom: 11px;
            right: 44px;
          }

          &:not(.e-show-dd-icon) .e-clear-icon {
            bottom: 14px;
            right: 12px;
          }
        }

        .e-chips-wrapper,
        .e-overflow {
          .e-chips {
            margin-top: 8px;
            padding: 0 8px;
          }
        }

        &.e-float-input.e-control-wrapper.e-show-chip {
          .e-chips-wrapper,
          .e-overflow {
            padding-top: 19px;

            .e-chips {
              height: 24px;
            }

            .e-chips > .e-chipcontent {
              font-size: 13px;
            }

            .e-chips-close::before  {
              font-size: 14px;
              height: 14px;
              width: 14px;
            }
          }
        }

        &.e-input-group.e-control-wrapper:not(.e-float-input) {
          .e-overflow {
            &.e-show-text {
              line-height: 55px;
            }

            .e-remain {
              &.e-wrap-count {
                line-height: 55px;
                padding-top: 0;
              }
            }
          }

          &.e-show-chip {
            .e-chips-wrapper,
            .e-overflow {
              .e-chips {
                height: 32px;
                padding: 0 12px;
              }

              .e-chips > .e-chipcontent {
                font-size: 14px;
              }

              .e-chips-close::before  {
                font-size: 16px;
                height: 16px;
                width: 16px;
              }
            }
          }

          &.e-show-dd-icon.e-show-text,
          &.e-show-dd-icon.e-show-chip {
            .e-ddt-icon,
            &:not(.e-show-dd-icon) .e-clear-icon {
              bottom: 16px;
              right: 12px;
            }
          }

          .e-clear-icon {
            bottom: 15px;
            right: 44px;
          }
        }
      }
    }

    &.e-show-chip {
      .e-overflow {
        .e-remain {
          &.e-wrap-count {
            @if $ddt-skin-name == 'tailwind' {
              line-height: 22px;
              padding-top: 7px;
            }
          }
        }

        &.e-total-count {
          .e-remain {
            @if $ddt-skin-name == 'bootstrap5' {
              line-height: 36px;
              padding: 0 12px;
            }
            @else if $ddt-skin-name == 'tailwind' {
              padding: 8px 12px;
            }
          }
        }
      }
    }

    &.e-show-dd-icon .e-chips-wrapper .e-chips:last-child {
      @if $ddt-skin-name != 'tailwind' and $ddt-skin-name != 'bootstrap5' {
        margin-right: $ddt-dd-icon-bigger-width;
      }
      max-width: $ddt-big-chip-ddi-width;
    }

    &.e-show-clear .e-chips-wrapper .e-chips:last-child {
      @if $ddt-skin-name != 'tailwind' and $ddt-skin-name != 'bootstrap5' {
        margin-right: $ddt-close-icon-bigger-width;
      }
      max-width: $ddt-big-chip-ci-width;
    }

    &.e-show-clear.e-show-dd-icon .e-chips-wrapper .e-chips:last-child {
      margin-right: $ddt-last-chip-bigger-right-margin;
      max-width: $ddt-big-chip-ddi-ci-width;
    }

    &.e-popup {
      @if $ddt-skin-name == 'tailwind' {
        margin-top: 8px;
      }
      @else if $ddt-skin-name == 'bootstrap5' {
        margin-top: 4px;
      }

      .e-selectall-parent {
        text-indent: $ddt-select-all-bigger-text-indent;
        @if $ddt-skin-name == 'tailwind' or $ddt-skin-name == 'bootstrap5' {
          @if $ddt-skin-name == 'bootstrap5' {
            padding: 3px 12px;
          }
          @else {
            padding: 12px 16px;
          }

          .e-all-text {
            font-size: $text-base;
            line-height: 24px;
            @if $ddt-skin-name == 'bootstrap5' {
              margin: 0 12px;
            }
            @else {
              margin: 0 16px;
            }
          }
        }
      }

      @if $ddt-skin-name == 'tailwind' or $ddt-skin-name == 'bootstrap5' {
        .e-popup-content {
          &.e-no-data {
            @if $ddt-skin-name == 'bootstrap5' {
              padding: 9px 16px;
            }
            @else {
              padding: 10px 16px;
            }

            .e-ddt-nodata {
              font-size: $text-base;
              line-height: 24px;
            }
          }
        }

        .e-filter-wrap {
          padding: 8px;
        }
      }

      .e-treeview .e-fullrow {
        @if $ddt-skin-name != 'tailwind' and $ddt-skin-name != 'bootstrap5' {
          height: $ddt-treeview-fullrow-bigger-height;
        }
      }

      .e-treeview > .e-ul {
        @if $ddt-skin-name == 'bootstrap5' {
          padding: 0 16px;
        }
      }
    }

    &.e-rtl {
      .e-chips {
        @if $ddt-skin-name == 'tailwind' {
          & > .e-chipcontent {
            padding: $ddt-rtl-big-chip-content-padding;
          }
        }
      }

      @if $ddt-skin-name == 'material' or $ddt-skin-name == 'material-dark' {
        &.e-outline {
          &.e-input-group.e-control-wrapper,
          &.e-float-input.e-control-wrapper {
            &.e-show-dd-icon .e-clear-icon,
            &.e-show-dd-icon.e-show-text .e-clear-icon,
            &.e-show-dd-icon.e-show-chip .e-clear-icon {
              left: 36px;
            }
          }
        }

        &.e-filled {
          &.e-float-input.e-control-wrapper {
            .e-overflow {
              &.e-show-text {
                padding: 19px 0 0 12px;
              }
            }
          }

          &.e-float-input.e-control-wrapper.e-show-chip,
          &.e-float-input.e-control-wrapper.e-show-text {
            .e-ddt-icon,
            &:not(.e-show-dd-icon) .e-clear-icon {
              left: 12px;
              right: auto;
            }

            &.e-show-dd-icon .e-clear-icon {
              left: 44px;
              right: auto;
            }
          }

          &.e-input-group.e-control-wrapper:not(.e-float-input) {
            &.e-show-dd-icon:not(.e-input-focus),
            &.e-show-dd-icon.e-show-chip {
              .e-ddt-icon,
              &:not(.e-show-dd-icon) .e-clear-icon {
                left: 12px;
                right: auto;
              }
            }

            .e-clear-icon {
              left: 44px;
              right: auto;
            }
          }
        }
      }

      &.e-show-dd-icon .e-chips-wrapper .e-chips:last-child {
        @if $ddt-skin-name == 'tailwind' or $ddt-skin-name == 'bootstrap5' {
          margin-right: 4px;
        }
        @else {
          margin-left: $ddt-dd-icon-bigger-width;
          margin-right: 1px;
        }
      }

      &.e-show-clear .e-chips-wrapper .e-chips:last-child {
        @if $ddt-skin-name == 'tailwind' or $ddt-skin-name == 'bootstrap5' {
          margin-right: 4px;
        }
        @else {
          margin-left: $ddt-close-icon-bigger-width;
          margin-right: 1px;
        }
      }

      &.e-show-clear.e-show-dd-icon .e-chips-wrapper .e-chips:last-child {
        margin-left: $ddt-last-chip-bigger-right-margin;
        @if $ddt-skin-name == 'tailwind' or $ddt-skin-name == 'bootstrap5' {
          margin-right: 4px;
        }
        @else {
          margin-right: 1px;
        }
      }

      &.e-show-chip,
      &.e-show-text  {
        &.e-input-group.e-show-dd-icon .e-clear-icon {
          @if $ddt-skin-name != 'tailwind' and $ddt-skin-name != 'bootstrap5' {
            left: $ddt-dd-icon-bigger-width;
          }
          right: auto;
        }
      }
    }
  }
}
