//default
$treegrid-right-arrow-icon: '\e848' !default;
$treegrid-toolbar-expand-icon: '\e556' !default;
$treegrid-toolbar-collapse-icon: '\e554' !default;
$treegrid-right-arrow-icon-color: $grey-dark-font !default;
$treegrid-right-arrow-icon-font-size: 10px !default;
$treegrid-right-arrow-icon-padding: 0 !default;
$treegrid-right-arrow-icon-height: 16px !default;
$treegrid-right-arrow-icon-width: 16px !default;
$treegrid-right-arrow-icon-vertical-align: middle;
$treegrid-content-right-padding: 21px !default;
$treegrid-bigger-icon-size: 18px !default;
$treegrid-smaller-icon-size: 16px !default;
$treegrid-bigger-icon-font-size: 10px !default;
$treegrid-right-arrow-hover-color: $grey-dark-font !default;
$treegrid-toolbar-indent-icon: '\e33f' !default;
$treegrid-toolbar-outdent-icon: '\e35d' !default;
$treegrid-rowdrag-childborder-border: 1px solid $accent;
$childborder-color: $accent;
$error-elem-color: #e3165b;
$error-elem-content: '\e22a' !default;
$treegrid-frame-bigger-icon-height: 20px !default;
$treegrid-frame-bigger-icon-width: 20px !default;
$treegrid-frame-icon-height: 18px !default;
$treegrid-frame-icon-width: 18px !default;
$treegrid-rowdd-topbottom-border: 1px solid #00b0ff !default;
$treegrid-rowdd-boxshadow: #00b0ff !default;
$treegrid-rowdd-childborder-width: 1px 0 0 !default;
$treegrid-lastrowdd-childborder-width: 1px 0 !default;
$treegrid-rtl-rowdd-childborder-width: 1px 0 0 !default;
