$qrybldr-width: auto !default;
$qrybldr-height: auto !default;
$qrybldr-brdr: 1px solid !default;
$qrybldr-btngrp-brdr: none !default;
$grpcon-padding: 12px !default;
$qrybldr-device-diaplay: inline-block !default;
$group-action-margin: 12px !default;
$group-action-widthhgt: 1.7em !default;
$groupbody-paddingleft: 20px !default;
$rulecon-height: auto !default;
$rulecon-padding: 12px 0 12px 12px !default;
$hrmode-ruledlt-mrgn: 12px !default;
$vrmode-ruledlt-mrgnpos: absolute !default;
$qrybldr-rulelist-grcon-float: right !default;
$qrybldr-rulelist-grcon-width: 100% !default;
$qrybldr-button-hide: none !default;
$qrybldr-field: left !default;
$ruledelete-margin: 12px !default;
$radio-wrapper-margin: 15px !default;
$ruledelete-shadow: none !default;
$qrybldr-group-container-margin-top: 12px !default;
$qrybldr-group-container-margin-left: 0 !default;
$qrybldr-posn-relative: relative !default;
$rule-boxshadow:  0 2px 6px $grey-800 !default;
$qrybldr-rule-list-first-left: -12px !default;
$qrybldr-rule-list-first-right: -12px !default;
$qrybldr-rule-list-before-top: -10px !default;
$qrybldr-rule-list-after-border: 0 0 0 2px !default;
$qrybldr-rule-list-before-border: 0 0 2px 2px !default;
$qrybldr-rule-list-rtl-after-border: 0 2px 0 0 !default;
$qrybldr-rule-list-rtl-before-border: 0 2px 2px 0 !default;
$qrybldr-rule-list-border-style: dotted !default;
$group-action-mrgntop: 0 !default;
$before-border-height: calc(50% + 14px) !default;
$after-border-height: calc(50% + 8px) !default;
$qrybldr-add-icon: '\e963' !default;
$qrybldr-delete-icon: '\e945' !default;
$bigger-group-action-margin: 16px !default;
$bigger-groupbody-paddingleft: 24px !default;
$bigger-hrmode-ruledlt-mrgn: 16px !default;
$bigger-rulecon-padding: 16px 0 16px 16px !default;
$device-rule-padding: 16px 0 0 16px !default;
$bigger-ruledelete-marginleft: 8px !default;
$qrybldr-brdr-color: $grey-700 !default;
$qrybldr-bg-color: $grey-dark !default;
$qrybldr-color: $grey-dark-font !default;
$qrybldr-btngroup-active-bgcolor: $accent !default;
$qrybldr-btngroup-active-color:  $accent-font !default;
$qrybldr-rule-list-border-color: $grey-700 !default;
$groupborder-color: $grey-700 !default;
$groupfill-color: $grey-800 !default;
$groupfill-bgcolor: $groupfill-color !default;
$qrybldr-rule-border: none !default;
$qrybldr-rule-list-after-height: calc(100% - 17px) !default;
$qrybldr-rule-list-height: 25px !default;
$qrybldr-rule-list-top: 17px !default;
$qrybldr-nav-width: 10px !default;
$qrybldr-rule-container-after-height: calc(50% + 6px) !default;
$qrybldr-rule-container-after-top: calc(50% - 3px) !default;
$qrybldr-grpcon-brder-left: -12px !default;
$bigger-rule-list-first-top: -16px !default;
$qrybldr-rulecont-margin: 0 !default;
$device-rulecon-padding: 16px !default;
$qrybldr-rulelist: 12px 0 12px 0 !default;
$qrybldr-bigger-rulelist: 15px 0 15px 0 !default;
$qrybldr-add-mrgn-btm: 2px !default;
$device-rulecon-right-padding: 0 !default;
$qrybldr-summary-padding: 12px !default;
$qrybldr-summary-btn-padding: 8px 0 5px 8px !default;
$qrybldr-bigger-summary-padding: 16px !default;
$qrybldr-bigger-summary-btn-padding: 8px 0 5px 8px !default;
$qrybldr-summary-text-width: 100% !default;
$qrybldr-clspe-rule-pos: absolute !default;
$qrybldr-btngrp-shadow: none !default;
$qrybldr-multi-width: 190px !default;
$qrybldr-device-value-width: 100% !default;
$qrybldr-btngroup-display: inline-block !default;
$qrybldr-grpcon-aftrbrder-left: -12px !default;
$after-ruleborder-height: calc(50% + 12px) !default;
$qrybldr-val-error-bg-color: #fcdbe4 !default;
$qrybldr-val-error-color: #f44336 !default;
$qrybldr-val-error-border: 8px solid !default;
$biggerafter-ruleborder-height: calc(50% + 12px) !default;
$qrybldr-bigger-rule-list-before-top: -12px !default;
$qrybldr-rule-list-first-top: -15px !default;
$qrybldr-collapse-rule-padding: 0 14p !default;
$qrybldr-multi-maxwidth: 200px !default;
$qrybldr-device-multi-maxwidth: 100% !default;
$qrybldr-btn-left: 0 !default;
$qrybldr-touch-btn-left: 0 !default;
$qrybldr-collapse-font-size: 20px !default;
$qrybldr-collapse-padding: 5px !default;
$qrybldr-collapse-box-shadow: -1px 1px 4px 0 rgba($shadow, .12) !default;
$qrybldr-collapse-brdr-color: rgba($grey-black, .12) !default;
$qrybldr-collapse-txtarea-margin: 8px !default;
$qrybldr-brdr-radius: 0 !default;
$qrybldr-summary-line-height: 1.5em !default;
$qrybldr-smrytxt-font-size: 14px !default;
$qrybldr-bigger-smrytxt-font-size: 16px !default;
$qrybldr-spinner-right: 5px !default;
$qrybldr-spinner-left: auto !default;
$qrybldr-rtl-spinner-right: auto !default;
$qrybldr-rtl-spinner-left: 5px !default;
$qrybldr-btngrp-brdr-radius: 2px !default;
