$skin-name: 'highcontrast' !default;
$listview-font-family: $font-family !default;
$listview-text-color: $content-font !default;
$listview-text-disabled: rgba($disable, .54) !default;
$listview-icon-color: $content-font !default;
$listview-icon-disabled: rgba($disable, .54) !default;
$listview-icon-margin-right: 16px !default;
$listview-icon-line-height: 28px !default;
$listview-icon-back-margin: 2px !default;
$listview-rtl-icon-back-margin: 1px !default;
$listview-background: $bg-base-0 !default;
$listview-line-color: $default-bg-color !default;
$listview-item-hover-bg: $hover-bg !default;
$listview-item-height: 36px !default;
$listview-item-line-height: 30px !default;
$listview-item-padding: 0 12px !default;
$listview-text-hover-color: $hover-font !default;
$listview-item-active-bg: $selection-bg !default;
$listview-text-active-color: $selection-font !default;
$listview-header-text-color: $selection-bg !default;
$listview-header-text-padding: 16px !default;
$listview-header-text-disabled: $disable !default;
$listview-header-bg: $bg-base-0 !default;
$listview-header-icon-color: $header-icon-color !default;
$listview-header-icon-disabled: $disable !default;
$listview-header-border: $border-default !default;
$listview-header-font-size: 14px !default;
$listview-header-height: 36px !default;
$listview-header-font-weight: 600 !default;
$listview-header-line-height: 21px !default;
$listview-header-padding-bottom: 0 !default;
$listview-group-first-border-bottom: 0 !default;
$listview-group-border-top: 1px !default;
$listview-group-border-bottom: 0 !default;
$listview-groupheader-text-color: $header-font !default;
$listview-groupheader-bg: $bg-base-0 !default;
$listview-groupheader-border: $header-bg-color !default;
$listview-groupheader-icon: $header-icon-color !default;
$listview-groupheader-item-height: 36px !default;
$listview-groupheader-item-line-height: 30px !default;
$listview-groupheader-font-size: 14px !default;
$listview-border-size: 0 !default;
$listview-font-size: 13px !default;
$checkmark-bgcolor: $bg-base-0 !default;
$checkmark-border-color: $bg-base-0 !default;
$checkmark-color: $header-font !default;
$listview-border-bottom: 2px !default;
$listview-border-top: 2px !default;
$listview-border-left: 2px !default;
$listview-border-right: 2px !default;
$listview-hover-border-color: $hover-border !default;
$listview-border-bottom-color: transparent !default;
$listview-border-top-color: transparent !default;
$listview-border-right-color: transparent !default;
$listview-border-left-color: transparent !default;
$listview-back-padding-right: 20px !default;
$listview-back-icon-height: 0 !default;
$listview-back-icon-font-size: 18px !default;
$listview-touch-item-height: 45px !default;
$listview-touch-item-line-height: 38px !default;
$listview-touch-item-font-size: 15px !default;
$listview-touch-back-icon-padding: 0 !default;
$listview-touch-groupheader-height: 45px !default;
$listview-touch-groupheader-line-height: 45px !default;
$listview-touch-header-height: 45px !default;
$listview-touch-header-font-weight: 600 !default;
$listview-touch-header-font-size: 15px !default;
$listview-touch-header-line-height: 11px !default;
$listview-touch-header-icon-margin-top: 0 !default;
$listview-checkbox-right-margin: -2px 0 0 10px !default;
$listview-checkbox-left-margin: -2px 10px 0 0 !default;
$listview-rtl-checkbox-left-margin: -2px 0 0 10px !default;
$listview-rtl-checkbox-right-margin: -2px 10px 0 0 !default;
//ListView In-built template variables
$listview-template-padding: .6153em .923em !default;
$listview-template-avatar-padding-right: .923em !default;
$listview-template-avatar-padding-left: 4.923em !default;
$listview-template-avatar-rightposition-padding-right: 4.923em !default;
$listview-template-avatar-rightposition-padding-left: .923em !default;
$listview-template-avatar-size: 3.0769em !default;
$listview-template-avatar-top: .6153em !default;
$listview-template-avatar-left: .923em !default;
$listview-template-avatar-rightposition-right: .923em !default;
$listview-template-badge-height: 1.5384em !default;
$listview-template-badge-width: 1.5384em !default;
$listview-template-badge-line-height: 1.3384em !default;
$listview-template-badge-font-size: 13px !default;
$listview-template-badge-right: .923em !default;
$listview-template-avatar-badge-padding-right: 3.3846em !default;
$listview-template-avatar-badge-padding-left: 4.923em !default;
$listview-template-badgewithoutavatar-padding-right: 3.3846em !default;
$listview-template-badgewithoutavatar-padding-left: .923em !default;
$listview-template-item-padding: .867em 0 !default;
$listview-template-multiline-header-color: $content-font !default;
$listview-template-multiline-content-color: $content-font !default;
$listview-template-multiline-header-padding: .093em 0 !default;
$listview-template-multiline-content-padding: .093em 0 !default;
$listview-template-multiline-header-font-size: 13px !default;
$listview-template-multiline-padding: .6153em .923em !default;
$listview-template-multiline-content-font-size: 13px !default;
$listview-template-multiline-avatar-top: .6153em !default;

$listbox-border-color: $border-default;
$badge-color: $selection-font !default;
$badge-bgcolor: $selection-bg !default;

$select-all-border-color: $content-font !default;
