/* stylelint-disable */
$ddt-skin-name: $skin-name !default;
$ddt-box-shadow: $shadow-md !default;
$ddt-close-icon-bottom: 10px !default;
$ddt-dd-icon-width: 30px !default;
$ddt-close-icon-width: 20px !default;
$ddt-dd-icon-bigger-bottom: 0 !default;
$ddt-filter-border: 1px solid $border-light !default;
$ddt-filter-top-border: 0 !default;
$ddt-filter-padding: 4px 12px !default;
$ddt-chip-margin: 3px 4px !default;
$ddt-chip-padding: 0 4px 0 4px !default;
$ddt-chip-radius: 0 !default;
$ddt-chip-height: 24px !default;
$ddt-chip-bigger-height: 32px !default;
$ddt-chip-content-padding: 0 4px 0 0 !default;
$ddt-rtl-chip-content-padding: 0 0 0 4px !default;
$ddt-big-chip-content-padding: 0 8px 0 0 !default;
$ddt-rtl-big-chip-content-padding: 0 0 0 8px !default;
$ddt-chip-close-font: 10px !default;
$ddt-chip-close-height: 24px !default;
$ddt-chip-close-width: 24px !default;
$ddt-last-chip-right-margin: 54px !default;
$ddt-last-chip-bigger-right-margin: 58px !default;
$ddt-select-all-height: 36px !default;
$ddt-select-all-checkbox-margin: 0 12px !default;
$ddt-select-all-text-indent: 0 !default;
$ddt-select-all-bigger-text-indent: 0 !default;
$ddt-select-all-text-font-size: $text-sm !default;
$ddt-popup-reorder-border: $border-light !default;
$ddt-chip-width: calc(100% - 8px) !default;
$ddt-chip-ddi-width: calc(100% - 31px) !default;
$ddt-chip-ci-width: calc(100% - 31px) !default;
$ddt-chip-ddi-ci-width: calc(100% - 65px) !default;
$ddt-big-chip-ddi-width: calc(100% - 39px) !default;
$ddt-big-chip-ci-width: calc(100% - 39px) !default;
$ddt-big-chip-ddi-ci-width: calc(100% - 78px) !default;
$ddt-remains-padding: 0 0 0 8px !default;
$ddt-rtl-remains-padding: 0 8px 0 0 !default;
$ddt-chip-font-size: $text-sm !default;
$ddt-overflow-count-padding: 5px 4px !default;
$ddt-delim-padding : 0 8px !default;
$ddt-delim-bigger-padding: 0 12px !default;
$ddt-remains-count-padding-top: 0 !default;
$ddt-close-icon-min-height: 32px !default;
$ddt-chip-icon-line-height: 20px !default;
$ddt-list-filter-text-indent: 0 20px !default;
$ddt-treeview-fullrow-height: 38px !default;
$ddt-dd-icon-bigger-width: 38px !default;
$ddt-close-icon-bigger-min-height: 38px !default;
$ddt-close-icon-bigger-width: 38px !default;
$ddt-treeview-fullrow-bigger-height: 44px !default;
$ddt-icon-bg-color: $content-bg-color !default;

// color variables
$ddt-chip-bg-color: $content-bg-color-alt2!default;
$ddt-popup-background-color: $flyout-bg-color !default;
$ddt-popup-border-color: $border-light !default;
$ddt-chip-close: $icon-color !default;
$ddt-chip-font-color: $content-text-color !default;
$ddt-chip-hover-bg-color: $content-bg-color-alt3 !default;
$ddt-chip-hover-font-color: $content-text-color-hover !default;
$ddt-nodata-font-color: $content-text-color-alt2 !default;
$ddt-select-all-font-color: $content-text-color !default;
$ddt-remains-font-color: $content-text-color-alt3 !default;
$ddt-readonly-input-bg-color: $content-bg-color !default;