$file-menu-wrap-padding: 0 !default;
$drop-icon-margin: 8px 4px !default;
$bigger-drop-icon-margin: 16px 5px !default;
$ribbon-border-color: $border-light !default;
$ribbon-border: 1px solid $ribbon-border-color !default;
$ribbon-content-bg-color: $content-bg-color-alt2 !default;
$ribbon-header-bg-color: $content-bg-color-alt2 !default;
$separator-border-color: $border-light !default;
$expand-icon-color: $icon-color !default;
