@use 'ej2-base/styles/definition/material' as *;
@forward 'ej2-base/styles/definition/material';
$timeline-dot-size: 16px !default;
$timeline-content-font-size: 14px !default;
$timeline-dot-font-size: 16px !default;
$timeline-opposite-content-font-size: 12px !default;
$timeline-dot-icon-size: 32px !default;

$timeline-bigger-dot-size: 20px !default;
$timeline-bigger-content-font-size: 16px !default;
$timeline-bigger-opposite-content-font-size: 14px !default;
$timeline-bigger-dot-font-size: 18px !default;
$timeline-bigger-dot-icon-size: 40px !default;
$timeline-content-font-weight: 500 !default;

$timeline-dot-color: $base-font !default;
$timeline-dot-background-color: $primary-300-font !default;
$timeline-dot-border-color: $grey-200 !default;
$timeline-content-font-color: $base-font !default;
$timeline-opposite-content-font-color: $base-font !default;
$timeline-item-disabled-color: rgba($grey-black, .38) !default;

$timeline-dot-border: 1px !default;
$timeline-dot-radius: 50% !default;
$timeline-list-padding: 0 !default;
$timeline-inherit-height: inherit !default;
$timeline-auto-height: auto !default;
$timeline-height-none: 0 !default;
