$recurrence-label-bottom: 1px;
$recurrence-month-label-bottom: 1px;
$recurrence-week-label-bottom: 10px;
$recurrence-end-font-weight: 400;
$recurrence-end-font-size: 12px;
$recurrence-week-expander-label-font-size: 12px;
$recurrence-month-expander-label-font-size: 12px;
