/*! calendar default definitions and variables */

$calendar-title-hover-color: $content-bg-color;
$calendar-icon-hover-color: $content-bg-color;
$calendar-light-font: $content-bg-color;
$calendar-bg-color: $content-bg-color;
$calendar-active-font-color: $content-bg-color;
$calendar-active-bg-color: $content-bg-color;
$calendar-active-bg-border-color: 1px solid $content-bg-color;
$calendar-hover-color: $content-bg-color;
$calendar-header-font-color: rgba($content-bg-color, .87);
$calendar-header-icon-color: rgba($content-bg-color, .54);
$calendar-week-header-font-color: rgba($content-bg-color, .54);
$calendar-title-font-color: rgba($calendar-header-icon-color, .74);
$calendar-icon-font-color: rgba($calendar-header-icon-color, .74);
$calendar-focus-date-color: rgba($content-bg-color, .12);
$calendar-other-month-date: rgba($content-bg-color, .38);
$calendar-text-color: rgba($content-bg-color, .87);
$calendar-focus-bg-color: rgba($content-bg-color, .12);
$calendar-border-style: 1px solid rgba(0, 0, 0, .12);
$calendar-none-style: '';
$calendar-cursor-default-style: default;
$calendar-cursor-pointer-style: pointer;
$calendar-block-style: block;
$calendar-inline-block-style: inline-block;
$calendar-wrapper-border-radius: 0;
$calendar-box-shadow: rgb(224, 224, 224);
$calendar-full-width: 100%;
$calendar-header-font-size: 14px;
$calendar-title-font-size: 16px;
$calendar-focused-state-color: $content-bg-color;
$calendar-bigger-header-padding: 10px 10px 0 16px;
$calendar-bigger-icon-size: 48px;
$calendar-bigger-max-width: 328px;
$calendar-bigger-min-width: 320px;
$calendar-bigger-month-view-height: 40px;
$calendar-bigger-day-header-height: $calendar-bigger-month-view-height;
$calendar-bigger-year-decade-height: 75px;
$calendar-bigger-header-height: 48px;
$calendar-bigger-today-button-height: 48px;
$calendar-normal-header-padding: 10px 10px 0 14px;
$calendar-normal-max-width: 246px;
$calendar-normal-min-width: 240px;
$calendar-normal-month-view-height: 30px;
$calendar-normal-day-header-height: $calendar-normal-month-view-height;
$calendar-normal-year-decade-height: 45px;
$calendar-normal-header-height: 36px;
$calendar-normal-icon-size: 36px;
$calendar-normal-today-button-height: 36px;
$calendar-border-radius: 0;
$calendar-pointer-events: initial;
$calendar-float-right-style: right;
$calendar-float-left-style: left;
$calendar-table-padding: 0 7.5px 7.5px;
$calendar-next-prev-icon-size: 13px;
$calendar-prev-icon: '\e839';
$calendar-next-icon: '\e844';
$calendar-date-font-size: 13px;
$calendar-yeardecade-bg-color: $content-bg-color;
$calendar-yeardecade-hover-color: $content-bg-color;
// newly added for fabric
$calendar-title-font-weight-style: normal;
$calendar-spanicon-font-weight-style: bold;
$calendar-title-margin-left-style: 0;
$calendar-normal-year-decade-padding: 6px;
$calendar-box-shadow: 1px solid rgba(0, 0, 0, .12);
$calendar-icon-font-size-style: 13px;
$calendar-link-font-weight-style: normal;
$calendar-focused-date-bg-style: none;
$calendar-yeardecade-bg-color: none;
$calendar-yeardeacde-span-padding: 0;
$calendar-yeardecade-padding: 10px;
$calendar-yeardecade-header-padding: 10px 10px 0 14px;
$calendar-week-header-bg-style: none;
$calendar-today-bg-style: none;
$calendar-disable-font-weight-style: normal;
$calendar-other-month-display-style: block;
$calendar-other-month-row-display-style: none;
$calendar-week-number-font-style: italic;
$calendar-week-number-color-style: $calendar-text-color;
$calendar-week-number-font-size-style: 13px;
$calendar-normal-month-cell-padding: 2px;
$calendar-bigger-table-month-padding: 0 7.5px 7.5px;
$calendar-bigger-table-yeardecade-padding: 0 7.5px 7.5px;
$calendar-bigger-header-font-size: 14px;
$clendar-bigger-month-font-size: 13px;
$calendar-bigger-yeardecade-header-padding: 10px 10px 0 16px;
$calendar-bigger-year-decade-padding: 2px;
$calendar-yeardecade-hover-bg: $calendar-yeardecade-bg-color;
$clendar-bigger-yeardecade-font-size: $clendar-bigger-month-font-size;
$clendar-bigger-yeardecade-font-weight: $clendar-bigger-month-font-size;
$clendar-bigger-yeardecade-font-weight: normal;
$calendar-normal-day-header-font-weight: normal;
$calendar-other-month-date-hover-bg: $calendar-other-month-date;
$calendar-yeardecade-selected-hover-bg: $calendar-active-bg-color;
$calendar-bigger-day-font-size: 13px;
$calendar-yeardecade-font-weight: normal;
$calendar-today-color-font-style: $calendar-active-bg-color;
$calendar-today-color: $calendar-active-bg-color;
$calendar-bigger-icon-font-size: 13px;
$calendar-bigger-month-view-padding: 2px;
$calendar-bigger-week-header-font-size: 15px;
$calendar-today-border-color: none;
$calendar-focus-border-color: none;
$calendar-normal-month-view-width: $calendar-normal-month-view-height;
$calendar-normal-year-decade-width: $calendar-normal-year-decade-height;
$calendar-popup-padding: 0;
$calendar-popup-bigger-padding: 0;
$calendar-thead-padding: 0;
$calendar-week-normal-max-width: $calendar-normal-max-width;
$calendar-week-normal-min-width: $calendar-normal-min-width;
$calendar-week-bigger-max-width: $calendar-bigger-max-width;
$calendar-week-bigger-min-width: $calendar-bigger-min-width;
$calendar-bigger-month-view-width: $calendar-bigger-month-view-height;
$calendar-bigger-year-decade-width: $calendar-bigger-year-decade-height;
$calendar-active-state-icon-bg-color: $content-bg-color;
$calendar-icon-hover-bg-color: none;
$calendar-today-bg-hover-color: none;
$calendar-disable-font-color: $calendar-light-font;
$calendar-disable-opacity: none;
$calendar-active-hover-bg-color: $calendar-active-bg-color;
$calendar-other-decade-cell-color: $calendar-text-color;
$calendar-decade-title-left-margin-style: $calendar-title-margin-left-style;
$calendar-disabled-background-style: transparent;
