@include export-module('dropdownlist-fabric-icons') {
  .e-ddl .e-search-icon::before {
    content: '\e97d';
  }

  .e-ddl .e-back-icon::before {
    content: '\e962';
  }

  .e-ddl.e-input-group.e-control-wrapper .e-ddl-icon::before {
    content: '\e966';
    font-family: 'e-icons';
  }
}
  