$datepicker-icon-color: $content-font !default;
$datepicker-active-icon-color: $content-font !default;
$datepicker-popup-box-shadow: none !default;
$datepicker-input-border-style: 2px solid $border-fg !default;
$datepicker-calendar-border-style: none !default;
$datepicker-icon: '\e93a' !default;
$datepicker-popup-bg-color: $bg-base-0 !default;
$datepicker-popup-border: 1px solid $border-default !default;
$datepicker-icon-font-size: 16px !default;
$datepicker-bigger-icon-font-size: 20px !default;
$datepicker-overlay: rgba($bg-base-0, .6) !default;
$datepicker-icon-normal-margin: 0 !default;
$datepicker-icon-bigger-margin: 0 !default;
$datepicker-icon-margin: 0 !default;
$datepicker-icon-hover-color: $hover-bg !default;
$datepicker-icon-border-radius: 0 !default;
$datepicker-popup-border-radius: 0 !default;
$datepicker-box-sizing: border-box !default;
$datepicker-othermonth-row: table-row !default;
$datepicker-modal-header-bg: $header-font !default;
$datepicker-modal-header-color: $header-font-alt !default;
$datepicker-modal-header-display: none !default;
$datepicker-calendar-tbody-landscape-height: 150px !default;
// mouse small icon
$datepicker-small-icon-font-size: 14px !default;
// Touch small icon
$datepicker-bigger-small-icon-font-size: 18px !default;
