$gantt-header-bg-color: $neutral-white !default;
$gantt-header-border-color: $neutral-light !default;
$gantt-header-color: $neutral-secondary !default;
$gantt-context-menu-icon-color: $neutral-secondary !default;
$gantt-grid-line-color: #e0e0e0 !default;
$gantt-label-color: $neutral-light-font !default;
$gantt-content-color: rgb(0, 0, 0) !default;
$holiday-background: $neutral-lighter !default;
$holiday-label-color: $neutral-light-font !default;
$holiday-label-font-size: 13px !default;
$weekend-background: $neutral-lighter-alt !default;
$event-marker-line-color: $theme-primary !default;
$event-marker-label-color: #cae8ff !default;
$event-marker-label-font-color: #005a9e !default;
$event-marker-label-font-size: 12px !default;
$event-marker-label-padding: 7px 12px !default;
$event-marker-label-height: 30px !default;
$event-marker-label-arrow-top: 60px !default;
$connector-line-color: $theme-darker !default;
$connector-line-hover-color: $theme-dark !default;
$connector-false-line-color: $theme-primary !default;
$connector-point-hover-color: $neutral-secondary !default;
$connector-point-border-color: #fff !default;
$connector-point-hover-bg-color: $neutral-white !default;
$connector-point-hover-border-color: $theme-darker !default;
$gantt-connector-point-margin-top: 7.5px !default;
$gantt-connector-point-margin-radius: 4px !default;
$gantt-connector-point-left: 8px !default;
$gantt-unscheduled-taskbar-left: 3px !default;
$gantt-unscheduled-taskbar-right-radius: 2px !default;
$gantt-label-size: 13px !default;
$gantt-header-border-spacing: 0 !default;
$gantt-line-container-cell-border-color: #e0e0e0 !default;
// sass-lint:disable-all
$gantt-unscheduled-taskbar-background: linear-gradient(to right, rgba(darken($theme-primary, 10%), 0.2), darken($theme-primary, 10%) 30%, darken($theme-primary, 10%) 70%, darken($theme-primary, 10%) 70%, rgba(darken($theme-primary, 10%), 0.2) 100%) !default;
$gantt-unscheduled-taskbar-background-color: rgba(darken($theme-primary, 10%), .2) !default;
$gantt-unscheduled-milestone-top-border: rgba(51, 51, 51, .6) !default;
$gantt-unscheduled-milestone-bottom-border: rgba(51, 51, 51, .6) !default;
$gantt-resize-gripper: rgba(249, 146, 11, .2) !default;
$gantt-child-task-bar: $theme-primary !default;
$gantt-child-progress-bar: $theme-dark !default;
$gantt-child-task-bar-border: 1px solid $theme-dark !default;
$gantt-manualchild-task-bar: #9A38BA;
$gantt-manualchild-task-bar-border: 1px solid #6D1888;
$gantt-manualchild-progress-bar: #6D1888;
$gantt-manualchild-progress-bar-border: 0px !default;
$gantt-manualparent-background-color: #989A9C;
$gantt-unscheduledmanualparent-background-color: linear-gradient(to right, rgba(63, 81, 181, 0.2), #989A9C 30%, #989A9C 70%, #989A9C 70%, rgba(63, 81, 181, 0.2) 100%) !default;
$gantt-unscheduled-manualtaskbar-background: linear-gradient(to right, rgba(63,81,181, 0.2), #9A38BA 30%, #9A38BA 70%, #9A38BA 70%, rgba(63,81,181, 0.2) 100%) !default;
$gantt-child-progress-bar-border: 0px !default;
$gantt-parent-task-bar: $neutral-secondary-alt !default;
$gantt-parent-progress-bar: darken($neutral-secondary-alt, 15%) !default;
$gantt-milestone-border-color: darken($neutral-secondary-alt, 15%) !default;
$gantt-parent-milestone-border-color: darken($neutral-secondary-alt, 15%) !default;
$gantt-parent-task-bar-border: 1px solid darken($neutral-secondary-alt, 15%) !default;
$gantt-parent-progress-bar-border: 0px !default;
$gantt-progress-bar-left-radius: 2px !default;
$gantt-unscheduled-taskbar-left-radius: 0px !default;
$gantt-connector-point-right-margin-left: 2px !default;
$gantt-right-label-container-margin-left: 25px !default;
$gantt-task-label-font-size: 12px !default;
$gantt-task-label-font-color: $theme-primary-font !default;
$gantt-label-font-size: 13px !default;
$gantt-bigger-label-font-size: 14px !default;
$gantt-label-font-color: $neutral-primary !default;
$gantt-tab-header-active-font-color: $theme-primary-font !default;
$gantt-tab-header-font-color: rgba($theme-primary-font, .80) !default;
$gantt-edit-icon-color: $neutral-white !default;
$gantt-icons-color: rgba(0, 0, 0, .87) !default;
$gantt-unscheduled-taskbar-border: 0px !default;
$gantt-unscheduled-taskbar-border-radius: 0px !default;
$gantt-dialog-general-height: 241px !default;
$gantt-dialog-edit-form-odd-padding: 15px 20px 0 18px !default;
$gantt-dialog-edit-form-even-padding: 16px 16px 0 0 !default;
$gantt-dialog-edit-form-scroll-padding: 16px 16px 0 0 !default;
$gantt-dialog-dependent-height: 161px !default;
$gantt-dialog-resource-height: 202px !default;
$gantt-dialog-rte-height: 241px !default;
$gantt-dialog-rte-content-height: 200px !default;
$gantt-dialog-padding-bottom: 4px !default;
$gantt-dialog-active-tab-background: transparent;
$gantt-dialog-tab-padding-left: 13px !default;
$gantt-dialog-tab-background: $theme-primary !default;
$gantt-dialog-header-font-color: $theme-primary-font !default;
$gantt-dialog-icon-color: $theme-primary-font !default;
$gantt-dialog-icon-hover-color: #eaeaea !default;
$gantt-dialog-close-icon-hover-color: #0078d6 !default;
$gantt-dialog-tab-hover-border-color: transparent !default;
$gantt-dialog-tab-header-border-no-color: transparent !default;
$gantt-tab-header-border-width: 0px;
$gantt-depedent-div-border-bottom: 1px !default;
$gantt-resource-div-border-bottom: 1px !default;
$gantt-richtext-border-bottom: 1px !default;
$gantt-richtext-content-border-bottom: 0px !default;
$gantt-tab-selection-indicator-color: $theme-primary-font !default;
$gantt-tab-header-hover-color: transparent !default;
$gantt-tab-header-hover-font-color: lighten($theme-primary-font, 10%) !default;
$gantt-connector-point-width: 12px !default;
$gantt-connector-point-height: 8px !default;
$gantt-connector-left-point-left: -12px !default;
$gantt-parent-progress-bar-border-radius: 0px !default;
$gantt-timeline-top-headercell-font-size: 14px !default;
$gantt-timeline-top-headercell-font-weight: 400 !default;
$gantt-active-background: rgb(209, 235, 255)!default;
$gantt-active-color: $neutral-primary !default;
$gantt-active-color-opacity: 1 !default;
$gantt-table-background: #fff !default;
$gantt-baseline-color: #FF9800 !default;
$gantt-child-progress-margin-left: 0.5px !default;
$gantt-timeline-single-header-outer-div: 45px !default;
$progress-handler-background: #222 !default;
$progress-handler-outline: #fff !default;
$gantt-chart-timeline-single-header-outer-div: 46px !default;
$gantt-timeline-top-header-cell-height: 32px !default;
$gantt-header-border-height: 64px !default;
$gantt-treegrid-header-border-height: 63px !default;
$gantt-header-border-bottom-width: 1px !default;
$gantt-header-border-radius: 0px !default;
$gantt-splitter-border-top-right-radius: 0px !default;
$gantt-splitter-border-top-left-radius: 0px !default;
$gantt-splitter-height: calc(100% - 40px) !important;
$gantt-dialog-general-padding-bottom: 16px !default;
$gantt-filter-menu-value-div-padding: 24px !default;
$gantt-dialog-tab-hover-border-bottom: 0px !default;
$gantt-dialog-tab-hover-border-bottom-radius: 0px !default;
$gantt-dialog-border-radius: 0px !default;
$event-marker-line-height: 1.2 !default;
$gantt-inactive-parent: #8A8A8A !default;
$gantt-inactive-child: #D5D5D5 !default;
$gantt-connected-task: lighten($theme-primary, 20%) !default;
$gantt-active-parent-task: lighten(#000000, 10%) !default;
$gantt-uptail-border:  #e0e0e0 !default;
$gantt-gridpopup-span: #000 !default;
$gantt-active-parent-shadow: rgba($gantt-gridpopup-span, 0.5) !default;
$gantt-left-resize-gripper-border: #9e9e9e !default;
$gantt-left-resize-gripper-color: #eee !default;
$gantt-clone-padding: 4px 5px !default;
$gantt-bigger-clone-padding: $gantt-clone-padding !default;
$gantt-cell-border-color: $neutral-light !default;
$gantt-group-clone-box-shadow: 0 0 !default;
$gantt-header-font-size: 12px !default;
$gantt-header-font-weight: 500 !default;
$gantt-drag-clone-font-weight: $gantt-header-font-weight !default;
$gantt-drag-clone-opacity: 1 !default;
$gantt-group-clone-text-align: center !default;
$gantt-clone-prop-box-shadow: 0 0 10px 0 rgba($neutral-black, .2) !default;
$gantt-drag-clone-bg-color: $theme-lighter !default;
$gantt-drag-clone-border-color: $neutral-light !default;
$gantt-drag-clone-color: $theme-light-font !default;
$gantt-content-font-color: $neutral-light-font !default;
$gantt-table-background-color: $content-bg-color !default;
$gantt-clone-dragdrop-bg-color: $gantt-table-background-color !default;
$error-elem-color: #e3165b;
$gantt-border-size: $border-size !default;
$gantt-active-container-border: $neutral-secondary !default;
$grid-active-container-border: 0 0 0 1px $neutral-secondary inset !default;
$gantt-collapse-progress-width: 0px !important;
$rangecontainer-border-color: #FC7A05;
$gantt-range-container-arc-radius: 0px !default;