@import 'definition.scss';

/*! component's theme wise override definitions and variables */
$pivotgrid-active-color: $theme-primary;
$pivotgird-default-font-color: $content-font-color;
$pivotgrid-cell-border-color: rgba($neutral-black, .12);
$pivotgrid-default-border-color: $neutral-quintenaryalt;
$pivotgrid-border-type: $border-type;
$pivotgrid-border-size: $border-size;
$pivotgrid-table-background-color: $neutral-white;
$pivotgrid-content-font-size: 12px;
$field-list-font-family: $font-family;
$pivotgrid-grp-bg-color: $neutral-lighter;
$pivotgrid-cell-hover-color: rgba(0, 0, 0, 0);
$pivotgrid-drag-clone-color: $neutral-white;
$pivotgrid-drop-hover-color: $neutral-light;
$pivotview-grid-content-opacity: 1;
$pivotview-grid-header-font-size: 14px;
$pivotview-grid-header-font-weight: 400;
$pivotview-grid-header-font-color: rgb(102, 102, 102);
$pivotgrid-horizontal-button-padding: 8px;
$pivotgrid-vertical-button-padding: 6px;
$pivotgrid-grouping-min-height: 56px;
$pivotgrid-prompt-line-height: 50px;
$pivotgrid-summary-font-weight: 600;
$field-list-toggle-size: 40px;
$pivotgrid-button-border-color: $neutral-quintenaryalt;
$pivotgrid-drag-clone-text-color: $pivotgrid-default-font-color;
$pivotgrid-drag-clone-font-size: 13px;
$pivotgrid-default-border-radius: 4px;
$pivotgrid-button-icon-size: 14px;
$pivotgrid-bigger-button-icon-size: 16px;
$pivotgrid-button-border-radius: 0;
$pivotgrid-button-background-color: $neutral-quintenaryalt;
$pivotgrid-editor-dialog-footer-padding: 5px;
$pivotgrid-button-drag-color: $theme-primary;
$pivotgrid-expand-icon: '\e219';
$pivotgrid-rtl-expand-icon: '\e98f';
$pivotgrid-collapse-icon: '\e84f';
$pivotgrid-expand-icon-fontsize: 12px;
$pivotgrid-drill-margintop: 2px;
$pivotgrid-rtl-expand-icon-font-size: 12px;
$pivotgrid-collapse-icon-fonsize: 12px;
$pivotgrid-expcoldiv-fontsize: 13px;
$pivotgrid-filter-icon: '\ea7e';
$pivotgrid-sorting-icon: '\ea7c';
$pivotgrid-remove-icon: '\ea7f';
$pivotgrid-filtered-icon: '\ea7a';
$pivotgird-vsort-mouse-margin: -21px 0;
$pivotgird-vsort-mouse-wrap-margin: -17px 0;
$pivotgird-vsort-touch-margin: -23px -5px;
$pivotgird-vsort-touch-wrap-margin: -17px -5px;
$pivotgird-tooltip-padding: 3px 3px;
$pivotgird-tooltip-fontcolor: #333;
$pivotgird-tooltip-fontsize: 13px;
$pivotgird-tooltip-fontfamily: Segoe UI;
$pivotgrid-member-filter-list-bigger-height: 135px;
$pivotgrid-member-filter-list-height: 155px;
$pivotgrid-button-font-color: $theme-light-font;
$pivotgrid-button-acitve-font-color: $pivotgrid-button-font-color;
$pivotgrid-button-icon-color: $neutral-secondary;
$pivotgrid-button-active-icon-color: $pivotgrid-button-icon-color;
$pivotgrid-icon-hover-color: $neutral-secondary;
$pivotgrid-icon-focus-color: $pivotgrid-button-icon-color;
$pivotgrid-hover-color: $neutral-quintenary;
$pivotgrid-focus-color: $neutral-tertiary-alt;
$pivotgrid-excel-member-filter-height: 118px;
$pivotgrid-excel-filter-height: 215px;
$pivotgrid-excel-member-filter-bigger-height: 81px;
$pivotgrid-excel-filter-bigger-height: 195px;
$pivotgrid-clear-filter-icon: '\ea83';
$pivotgrid-bigger-excel-dialog-min-width: 380px;
