@import 'definition.scss';

$skin-name: 'material';
$tooltip-drop-shadow: none;
$tooltip-content-bg-color: $grey-700;
$tooltip-content-border-color: $grey-700;
$tooltip-content-font-color: $grey-dark-font;
$tooltip-default-icon-color: $grey-700;
$tooltip-icon-bg-normal: $primary-font;
$tooltip-hover-icon-color: $grey-700;
$tooltip-icon-bg-hover: $primary-font;
$tooltip-font-size: 11px;
$tooltip-mobile-font-size: 14px;
$tooltip-border-radius: 2px;
$tooltip-opacity: .9;
$tooltip-arrow-outer-border: 8px;
$tooltip-arrow-inner-border: 7px;
$tooltip-horizontal-padding: 3px;
$tooltip-vertical-padding: 6px;
$tooltip-mobile-horizontal-padding: 5px;
$tooltip-mobile-vertical-padding: 8px;
$tooltip-line-height: 16px;
$tooltip-arrow-icon-font-size: 16px;
$tooltip-icon-border-color: transparent;
