@use 'ej2-base/styles/common/mixin' as *;
@use '../tailwind3-definition' as *;
@include export-module('breadcrumb-tailwind3-icons') {
  .e-breadcrumb {
    .e-breadcrumb-collapsed::before,
    .e-breadcrumb-menu::before {
      content: '\e71c';
    }

    .e-home::before {
      content: '\e87b';
    }

    .e-home {
      height: $breadcrumb-home-icon-height;
    }
  }

  .e-bigger .e-breadcrumb,
  .e-bigger.e-breadcrumb {
    .e-home {
      height: $breadcrumb-home-icon-height;
    }
  }
}
