/*! component's default definitions and variables */
$tooltip-drop-shadow: none;
$tooltip-content-bg-color: $content-bg-color;
$tooltip-content-border-color: $content-border-color;
$tooltip-content-font-color: $content-font-color;
$tooltip-default-icon-color: $default-icon-color;
$tooltip-icon-bg-normal: $default-bg-color;
$tooltip-hover-icon-color: $hover-icon-color;
$tooltip-icon-bg-hover: $hover-bg-color;
$tooltip-font-size: 11px;
$tooltip-mobile-font-size: 14px;
$tooltip-border-radius: 0;
$tooltip-opacity: 1;
$tooltip-arrow-outer-border: 8px;
$tooltip-arrow-inner-border: 7px;
$tooltip-horizontal-padding: 3px;
$tooltip-vertical-padding: 6px;
$tooltip-mobile-horizontal-padding: 5px;
$tooltip-mobile-vertical-padding: 8px;
$tooltip-line-height: 16px;
