<!DOCTYPE html>
<html lang="en">

<head>
    <title> Typescript Components</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Typescript UI Controls" />
    <meta name="author" content="Syncfusion" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
    <link id="theme" href="../../theme-files/material.css" rel="stylesheet" />
    <script>
        window.require = {
            config: function (json) {
                window.rsConfig = json;
                window.rsConfig.baseUrl = '';
            }
        };
    </script>
    <script src="./../../demo-config.js"></script>
    <script src="./../../../node_modules/requirejs/require.js" data-main="./default"></script>
    <script>
        require.config(window.rsConfig);
    </script>
    <style>
        .e-control-wrapper.e-slider-container.e-horizontal {
            width: 219px;
            height: 0;
        }

        .e-query-builder {
            margin: 3% auto;
        }
    </style>

</head>

<body>

    <div id="querybuilder" class="col-lg-8 control-section"> </div>
</body>

</html>