$dialog-btn-bg-bgcolor: transparent !default;
$dialog-btn-box-shadow: none !default;
$dialog-resize-handler-width: 15px;
$dialog-resize-handler-height: 15px;
$dialog-resize-handler-position: 0;
$resize-hanlder-bottom-rtl: 2px;

//default 
$dialog-bg-color: $grey-800 !default;
$dialog-icon-color: $grey-dark-font !default;
$dialog-active-icon-color: $grey-dark-font !default;
$dialog-close-button-left: 6px !default;
$dialog-close-button-right: 8px !default;
$dialog-header-border: none !default;
$dialog-border: none !default;
$dialog-footer-content-border-top: none !default;
$dialog-close-icon-normal-opacity: initial !default;
$dialog-close-icon-active-opacity: initial !default;
$dialog-close-icon-content: '\e7fc' !default;
$dialog-close-icon-font-size: 12px !default;
$header-content-border-radius: 1px 1px 0 0 !default;
$dialog-header-line-height: 30px !default;
$dialog-content-padding-top: 0 !default;
$dialog-bigger-content-padding-top: 0 !default;
$footer-content-border-radius: 0 !default;
$dialog-close-icon-button-padding: 0 12px !default;
$dialog-bigger-close-icon-button-padding: 0 12px !default;
$dialog-bigger-close-icon-font-size: 12px !default;
$dialog-hover-icon-color: $grey-dark-font !default;
$dialog-icon-bg-normal: $grey-dark-font !default;
$dialog-header-bg-color: $grey-800 !default;
$dialog-overlay-opacity: .7 !default;
$dialog-content-bg-color: $grey-800 !default;
$dialog-footer-bg-color: $grey-800 !default;
$dialog-shadow-color: 0 12px 40px 5px rgba($grey-light-font, .26) !default;
$dialog-header-font-size: 18px !default;
$dialog-header-font-weight: normal !default;
$dialog-overlay-bg-color: $grey-black !default;
$dialog-header-font-color: $grey-dark-font !default;
$dialog-content-font-size: 13px !default;
$dialog-content-line-height: normal !default;
$dialog-content-font-weight: normal !default;
$dialog-device-content-font-size: 14px !default;
$dialog-content-font-color: rgba($grey-dark-font, .7) !default;
$dialog-border-radius: 2px !default;
$dialog-header-icon-hover-border-radius: 50% !default;
$dialog-closeicon-btn-hover-color: rgba($grey-white, .1) !default;
$dialog-closeicon-btn-active-color: rgba($grey-white, .18) !default;
$dialog-close-button-height: 30px !default;
$dialog-close-button-width: 30px !default;
$dialog-header-content-padding: 18px !default;
$dialog-content-padding: 18px !default;
$dialog-footer-content-padding: 8px !default;
$dialog-bigger-header-content-padding: 24px 24px 20px !default;
$dialog-bigger-content-padding: 24px !default;
$dialog-bigger-footer-content-padding: 8px !default;
$dialog-footer-button-margin-left: 6px !default;
$dialog-bigger-footer-button-margin-left: 8px !default;
$dialog-footer-button-margin-right: 6px !default;
$dialog-bigger-footer-button-margin-right: 8px !default;
$dialog-close-icon-margin-left: -4px !default;
$dialog-close-icon-height: 24px !default;
$dialog-close-icon-width: auto !default;
$dialog-bigger-close-icon-height: 34px !default;
$dialog-bigger-close-icon-width: auto !default;
$dialog-close-icon-top: 0 !default;
$dialog-bigger-header-content-font-size: 18px !default;
$dialog-bigger-content-font-size: 13px !default;
$dialog-bigger-close-icon-top: -1px !default;
$dialog-bigger-close-icon-margin-left: -5px !default;
$dialog-bigger-close-icon-margin-right: -5px !default;
$dialog-bigger-close-button-bottom: 3px !default;
$dialog-bigger-close-button-height: 36px !default;
$dialog-bigger-close-button-left: 6px !default;
$dialog-bigger-close-button-width: 36px !default;
$dialog-btn-border-color: transparent !default;
$dialog-btn-bg-color: transparent !default;
$dialog-active-btn-border-color: transparent !default;
$dialog-hover-focus-btn-bg-color: rgba($grey-white, .18) !default;
$dialog-active-btn-bg-color: rgba($grey-white, .18) !default;
$dialog-headericon-bottom: 0 !default;
$dialog-enable-resize-padding-bottom: 15px !default;
//enddefault
