@import 'definition.scss';

$pager-bg-color: $grey-white;
$pager-active-bg-color: $accent;
$pager-hover-bg-color: $grey-white;
$pager-number-hover-bg-color: $grey-200;
$pager-border-size: 0;
$pager-icon-width: 18px;
$pager-icon-height: 18px;
$pager-container-margin: 5px 6px 5px 18px;
$pager-navigationicon-padding: 5px;
$pager-navigationicon-right: 12px;
$pager-navigationicon-top: 5px;
$pager-numericitem-padding: 5px 8px;
$pager-numericitem-margin-right: 4px;
$pager-numericitem-border-radius: 12px;
$pager-icon-size: 9px;
$pager-messagebar-padding-top: 14px;
$pager-messagebar-padding-right: 18px;
$pager-padding: 0;
$pager-border-color: $grey-300;
$pager-color: $grey-light-font;
$pager-active-color: $accent-font;
$pager-content-opacity: .87;
$pager-next-icon-margin-left: 18px;
$pager-numeric-icon-padding: 6px;
$pager-container-rtl-margin: 5px 6px 5px 18px;
$pager-rtl-navigation-icon-padding: 9px 8px;
$pager-activeitem-padding: 6px;
$pager-bigger-rtl-activeitem-padding: 10px 13px;
$pager-rtl-numeric-margin: 11px 4px 0 0;
$pager-next-icon-margin-left: 9px;
$pager-tripledot-font-size: 22px;
$pager-tripledot-padding: 0 6px;
$pager-first-content-icon: '\e896';
$pager-prev-content-icon: '\e904';
$pager-next-content-icon: '\e913';
$pager-last-content-icon: '\e897';
$pager-dropdown-margin-left: 12px;
$pager-dropdown-margin-top: -22px;
$pager-bigger-dropdown-constant-margin: 15px;
$pager-bigger-dropdown-margin: -40px  0 0 16px;
$pager-dropdown-height: 32px;
$pager-constant-margin: 0 0 11px 12px;
$pager-tripledot-rtl-margin-top: -2px;
$pager-tripledot-rtl-padding: 3px 11px 9px;
$pager-rtl-pagerconstant-margin-top: 14px;
$pager-rtl-pagerdropdown-margin: -30px 18px 0 10px;
$pager-tripledot-rtl-bigger-margin-top: -10px;
$pager-bigger-rtl-numeric-margin: 0 8px;
$pager-bigger-container-rtl-margin: 5 0 -4px 0;
$pager-rtl-pagerdropdown-bigger-margin: -38px 18px 0 0;
$pager-rtl-pagerconstant-bigger-margin-top: 8px 16px 14px 0;
$pager-bigger-rtl-parentmsgbar-margin-top: -3px;
$pager-bigger-rtl-pagercontainer-margin-top: 5px;
$pager-bigger-device-rtl-parentmsgbar-margin-top: 5px;
$pager-rtl-pagermsgbar-device-margin-top: 7px;
$pager-bigger-constant-margin-left: 16px;
$pager-rtl-last-content-icon: '\e896';
$pager-rtl-first-content-icon: '\e897';
$pager-rtl-prev-content-icon: '\e913';
$pager-rtl-next-content-icon: '\e904';
$pager-bigger-messagebar-padding-right: $pager-messagebar-padding-right / .75;
$pager-bigger-messagebar-padding-top: $pager-messagebar-padding-top / .75;
$pager-bigger-nexticon-marign-left: $pager-next-icon-margin-left / .75;
$pager-bigger-rtl-nexticon-marign-right: $pager-next-icon-margin-left / .75;
$pager-bigger-current-item-border-radius: $pager-numericitem-border-radius / .75;
$pager-item-hover-border-width: 0;
$pager-item-hover-border-color: $pager-border-color;
$pager-bigger-current-item-hover-padding: $pager-bigger-current-item-padding;
$pager-numeric-icon-hover-padding: $pager-numeric-icon-padding;
$pager-bigger-rtl-activeitem-hover-padding:  $pager-bigger-rtl-activeitem-padding;
$pager-activeitem-hover-padding: $pager-activeitem-padding;
